[2022-01-18 23:03] brendanfalk opened #790 "Make it easier to see generators logs"
Currently, it's not particularly clear in our docs how to see the logs / output from generators used in an autocomplete spec.

https://fig.io/docs/concepts/logging-guide

We should make this very very clear and easy and give examples!

[2022-01-18 23:04] mschrage opened #791 "Switching from iTerm popup window to a different application and back breaks autocomplete"
https://user-images.githubusercontent.com/3155109/150032798-5e4cb331-eada-4208-ad85-3332faf73514.mov

<summary><code>fig diagnostic</code></summary>

[code]

[2022-01-18 23:39] brendanfalk opened #792 "Aliases not being recognised by Fig"
Users have aliases defined like `alias gcd=git checkout develop`.

Fig should be picking up aliases (we have worked hard over the past several months to make sure we do). e.g. if someone had `alias g=git` in their dotfiles and then typed `g[space]`, Fig should offer suggestions as if the user had typed `git[space]`.

However, sometimes Fig is not capturing the fact that you have aliases. We either

[2022-01-19 00:14] SeparateRecords opened #793 "Fig creates bashrc when none existed before"

[2022-01-19 02:20] SeparateRecords opened #794 "UI for editing themes"

[2022-01-19 02:22] drewauff opened #795 "Nerd Fonts usage & fzf integration"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

I lot of cli users also use Nerd Fonts, these fonts as you know already contain icons for file types, folders etc.

I would like to suggest that an option be added to allow for usage of these Nerd Font icons.

Also, I wou

[2022-01-19 02:53] peterjbachman opened #796 "Brew autocomplete doesn't show up"
### Description:

The autocomplete popup does not show up for brew commands when using Fig, but other autocomplete functions appear to work. I've tried restarting and also reinstalling Fig. I installed Fig through Homebrew if that's important.

https://user-images.githubusercontent.com/46987067/150054136-b31e0ddc-8275-4a80-8826-09c1ce3b5e29.mov

Let me know if there's anything else you need from m

[2022-01-19 03:06] drewauff commented on #787
Interesting, I just installed Fig via Homebrew...

[2022-01-19 03:20] SeparateRecords opened #797 "Case sensitive autocomplete suggestions"
Case insensitive suggestions break some users muscle memory, so it would be good to be able to disable case insensitivity.

An example is two folders:
[code]

Currently typing `abc` would suggest both of these items.

[2022-01-19 04:06] mschrage commented on #787
@drewauff to be clear: installation via brew is already possible, but we don’t have a code snippet you can copy on the landing page.

[2022-01-19 08:19] Eugeny opened #798 "Tabby integration slows down tab switching"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

Switching between tabs takes 6 seconds.

Fig integr

[2022-01-19 08:19] Eugeny commented on #798
[Profile-20220119T091440.json.zip](https://github.com/withfig/fig/files/7895258/Profile-20220119T091440.json.zip)

[2022-01-19 09:11] Bringoff commented on #771
@mschrage well, it almost works 🙂 Now I see the suggestion, but it does not run on enter. It just inserts `-ll`, and I cannot run it immediately, because suggestion with `-ll@` pops up

[2022-01-19 11:31] hoegertn commented on #759
Sorry, I meant Sean's code

[2022-01-19 11:50] ShawnCockburn commented on #635
i'm closing this, seems to be fixed.

@NoirJ0e are you still experiencing this?

[2022-01-19 11:50] #635 closed

[2022-01-19 11:52] ShawnCockburn commented on #636
I'm closing this issue, seems to be fixed.

@DRenaud is this still borked for you?

[2022-01-19 11:52] #636 closed

[2022-01-19 12:45] Ronserruya commented on #706
Looking good, thanks!
I encountered another bug while updating, but I'll open a separate issue for this

[2022-01-19 13:09] Ronserruya opened #799 "Fig asks for the accessibility permission again (and files permission) after update"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
After #706 was solved(thanks!) I u

[2022-01-19 14:02] dbrack commented on #754
@mschrage hey Matt! I just re-tested and  can confirm v1.0.54 fixes the described issue without changing `Close windows when quitting an app`.

Great job!

[2022-01-19 14:06] dserodio commented on #746
I like this syntax.

I tried following the dev environment guide to create the `g` completion spec like you suggested but couldn't make it work :(

[2022-01-19 15:31] jonas-zebari opened #800 "Autocomplete window stays visible after executing command"
### Description:

This is more apparent for commands that wouldn't necessarily complete immediately. In the video I am trying to `git pull` and the autocomplete window jumps to the bottom left (where the cursor is) until the pull is completed.

https://user-images.githubusercontent.com/38041304/150162280-b50cdee2-a13d-40bf-bd5a-f3a9cb8b2071.mov

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.0.1|Versi

[2022-01-19 16:40] davidalpert commented on #790
when I was troubleshooting my initial `fig` install, the issue wound up being that:
- the generators were invoking shell commands to populate their suggestions
- in my environment those shell commands were loading my init scripts
- my init scripts had some bugs and were doing silly things like running `docker ps` commands (whether docker was running or not) and initializing my `ssh-agent` _in each

[2022-01-19 16:53] mschrage commented on #759
Can you upgrade to v1.0.54 and see if this resolves the issue. If not, would you mind sharing your bashrc file?

[2022-01-19 17:12] mschrage commented on #754
Amazing! Will close this issue now.

[2022-01-19 17:12] #754 closed

[2022-01-19 18:30] mschrage commented on #790
@davidalpert this problem is especially acute for developers building completion specs. Currently it is challenging to see the output if you add a `console.log` while contributing.

I think the ideal behavior from a developer perspective would be for logging to appear directly in the terminal.

<img width="444" alt="Screen Shot 2022-01-19 at 10 14 19 AM" src="https://user-images.githubusercontent.

[2022-01-19 18:44] mschrage commented on #798
Whoops! We invoke the `fig` CLI using the following code in order to communicate with the macOS app:

[code]

How would you recommend incorporating the `@tabby-gang/node-pty` workaround?

[2022-01-19 18:49] Eugeny commented on #798
Both Hyper and VSCode are using an older Electron version which in turn uses an older libuv, which itself uses `posix_spawn` which is fast. Recent `libuv` releases moved to `fork/exec` due to some of their use cases not working with `posix_spawn` which brings this slowdown to all Electron apps.

node-pty is similar really:

[code]

See https://github.com/microsoft/node-pty#example-usage

Note that

[2022-01-19 18:51] Eugeny commented on #798
Side note: you should publish the plugin to NPM, otherwise it's impossible for the users to uninstall it through Tabby itself.

[2022-01-19 19:27] mschrage commented on #798
Thanks for the help! I'll swap this out now ^

Also thanks for the heads up re: Hyper & VSCode, since we'll need to fix our plugins for those emulators as well.

- [ ] Publish Tabby plugin to `npm`

[2022-01-19 19:30] mschrage commented on #799
Hey @Ronserruya! This is a known issue for this update since we switched from my personal Apple Developer account to a company account.

Shouldn't happen going forward. But I'll leave this issue open for now.

[2022-01-19 19:32] mschrage commented on #796
First off @peterjbachman, thanks for adding this screen recoding! It helps diagnose what is going on so much quicker.

Can you run `which brew`? My guess is that you have some alias/function defined that Fig isn't able to interpret.

PS. love the terminal theme + your desktop background. So ~aesthetic~

[2022-01-19 21:12] mschrage commented on #800
Hey @jonas-zebari! Thank you for reporting this. I can't seem to reproduce on my machine.

Could you make another screen recording where you have one terminal running `fig debug logs` and then reproduce it this behavior in a different terminal session?

[2022-01-19 21:19] mschrage commented on #795
Hey @drewauff! Thank you so much for these suggestions.

Would you like to replace the icons in the Fig popup with the Nerd Font equivalents? This is definitely possible.

Porting the autocomplete experience to `fzf`, would be difficult to implement. I think this is out of scope for us right now.

However, I'd love to understand your preference for `fzf` over the popup window. Do you just prefer t

[2022-01-19 21:38] jonas-zebari commented on #800
@mschrage No problem. Unfortunately the issue has mysteriously disappeared :( If I encounter it again soon I will update this issue.

[2022-01-19 21:46] mschrage commented on #35
Hey everyone! Thank you for your patience. We are super excited about bringing Fig to Windows, but there is **lots of work** to do before this is possible.

There are at least 7 core functions that need to be built out in order for us to release autocomplete to Windows.

1. We need to be able to **determine the location of the cursor** in a 3rd party app.

2. We need to be able to **determine what

[2022-01-19 22:21] drewauff commented on #795
Its the aesthetics,  seeing the standard "Finder" style icons in the popup just doesn't look, well, right. It "cheapens" the look, hence using Nerd Fonts. So a big YES to wanting to use Nerd Fonts for the popup icons and why not the text too.

As for fzf, simple, extensibility, appearance and performance. Also this would make the use of Nerd Fonts easier to implement.

I dont think porting to fzf,

[2022-01-19 22:59] mschrage commented on #795
I think we can add a setting like `autocomplete.icons [ glyph | native ]`that configures whether we use Nerd Fonts or the current icons. We can pull in [Nerd Fonts as a web font](https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Hack/readme.md#web-font-usage), so no changes are required to core macOS app.

To clarify, do you want all of the icons to be based on Nerd Fonts or just t

[2022-01-19 23:30] hoegertn commented on #759
At first, it did not auto-complete at all, but I think I found the offending line in my profile by commenting it out line by line.

I had `PROMPT_COMMAND='history -a'` set and that seems to break fig.

[2022-01-19 23:32] sullivan-sean commented on #771
If you always execute the command with the `-ll` flag (and don't add any other options afterwards) you could set the `insertValue` for the `additionalSuggestion` to be `-ll\n` instead of the default `-ll`, i.e. change Matt's snippet above to

[code]

This would make sure the command is run on enter instead of just being inserted.

[2022-01-19 23:37] peterjbachman commented on #796
Happy to help the process go smoother! Also thanks for noticing my setup!

So I blanked checking my aliases configuration, and when I commented out the one I had for `brew` it cleared up immediately.

Here's what I had for the output `which brew` if you're curious:

`brew: aliased to env PATH="${PATH//$(pyenv root)\/shims:/}" brew`

Dunno why I had that in the first place but it has now been remov

[2022-01-19 23:37] #796 closed

[2022-01-20 01:35] SeparateRecords opened #801 "Videos introducing how to create specs / personal shortcuts, etc"
Video tutorials would help a lot of people that prefer to learn through watching instead of reading or doing.

I'll take this on.

[2022-01-20 01:44] mschrage opened #802 "Installation errors when dotfiles don't exist or are not the expected filetype"
![image](https://user-images.githubusercontent.com/3155109/150247253-28ae7e89-7478-4f61-9af6-651c9d16813f.png)

[code]

[2022-01-20 02:07] brendanfalk opened #803 "Autocomplete popping up noticeably slowly"
For certain users the autocomplete window pops up perceptibly slowly. The small lag breaks their workflow and is a bad experience.

We haven't been able to reproduce. If you have this issue, could you please comment your dotfiles (.zshrc/.bashrc etc) and your mac specs (ram,cpu, year)

[2022-01-20 02:09] brendanfalk commented on #803
One user experienced this issue with these specs

[2022-01-20 02:12] montaro opened #804 "fish shell is very slow to run any command and prompt also very slow to appear after the command run output"
### Description:
fish shell is very slow to run any command and prompt also very slow to appear after the command run output
Trying to comment the `~/.config/fish/conf.d/99_fig_post.fish` made everything fast again!

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.54|/usr/local/Cellar/fish/3.3.1/bin/fish|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version

[2022-01-20 02:18] drewauff commented on #795
Sounds good, I would think that the change would be "global" .

How about this, when listing flags just list flags no icon needed, the same for generic things that do not have or really need an icon, of course
this can be an optional setting but one that would very much "declutter" the popup.

I must say the world needs more devs. I like you. Ready and willing to do what it takes to make a better

[2022-01-20 04:13] mschrage commented on #739
This is fixed as of v1.0.54. You can update by running `fig update` in your terminal.

[2022-01-20 04:13] #739 closed

[2022-01-20 05:37] mschrage opened #806 "ASCII garbage like "11;rgb:0000/0000/0000;1R" printed when running `fig settings`"
This is quite reproducible.
<img width="443" alt="Screen Shot 2022-01-19 at 9 36 48 PM" src="https://user-images.githubusercontent.com/3155109/150279884-29a7e125-016c-4ab1-bce8-7ccd88e74293.png">

[2022-01-20 05:37] mschrage commented on #795
Thanks for the kind words @drewauff!

This seems like a regression with the latest build. I've opened a new issue #806

[2022-01-20 06:19] SeparateRecords commented on #802
This panic also happens when the fig source lines are commented out, easy to reproduce

[2022-01-20 06:53] mschrage commented on #802
Something to look into @grant0417 👀

[2022-01-20 08:38] a7med-mahmoud commented on #724
I think this is fixed now in Fig 1.0.54, I'll close it. Thanks for the whole Fig team!

[2022-01-20 08:38] #724 closed

[2022-01-20 08:40] levrik commented on #35
@mschrage
I think UNIX domain sockets are available on Windows: https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/

[2022-01-20 08:53] BasixKOR commented on #35
I think [winpty](https://github.com/rprichard/winpty) could be a great starting point for pseudo-console implementation. It is known to work well with other UNIX-like software as well.

[2022-01-20 11:15] ShawnCockburn opened #807 "fig auto complete list directories and files after choosing one from list issue"
### Description:

when using a terminal command that uses a path to a directory or file (eg. `cd`) the auto complete does not load on pressing enter on the initial directory.

### example:

I would like to `cd` to `Desktop/somefolder/` but when I type `cd ` and then select the Desktop folder from the fig menu. fig enters the selected directory so it looks like this `cd Desktop/` but the menu does

[2022-01-20 11:55] fedeci commented on #790
It shouldn't be difficult to implement. I need to check a few things in the AE codebase before giving a feedback on implementation.

[2022-01-20 14:57] hakamadare commented on #347
let me add a 👍  to this issue, it's misleading to offer completions for executables that are not present, and does not follow principle of least surprise.
![Screen Shot 2022-01-20 at 9 54 05 AM](https://user-images.githubusercontent.com/154395/150362734-dd8d069c-b5da-4629-b3c3-3c07f6a2599a.png)
![Screen Shot 2022-01-20 at 9 54 25 AM](https://user-images.githubusercontent.com/154395/150362771-f5ccd

[2022-01-20 15:42] NoirJ0e commented on #635
Unfortunately yes, I don't have any idea about this, whatever the I use the cd command or  [zoxide](https://github.com/ajeetdsouza/zoxide)

[2022-01-20 18:20] grant0417 commented on #802
This should be fixed in next build.

[2022-01-20 18:20] #802 closed

[2022-01-20 21:54] ShawnCockburn commented on #635
It seems to be fixed for me after the last update (1.0.54 B359), I'm sorry to hear your still having an issue mate :(

![This helped me](https://github.com/withfig/fig/issues/476#issuecomment-934680931) with a similar issue, however not this one; maybe it'll help you.

if you haven't already then open a new issue for the devs, @mschrage is very helpful.

`fig issue`

good luck!

[2022-01-20 21:56] mschrage commented on #635
@NoirJ0e can you create a new issue? I'd love to get Fig working for you :)

[2022-01-21 00:41] mschrage opened #808 "Improve `fig doctor` UX if shell integration is not set up correctly."
Currently, this is the output from `fig doctor` if the shell integration is not sourced correctly:

<img width="648" alt="Screen Shot 2022-01-20 at 4 22 45 PM" src="https://user-images.githubusercontent.com/3155109/150443360-f2c962a5-e085-4d77-bb8b-b3fa344097ca.png">

Also `fig doctor` continues with other diagnostic checks and this this message isn't visible when the script finishes.

**Fix:**
Co

[2022-01-21 01:16] NoirJ0e opened #809 "Path suggestion still not working"
### Description:

Path suggestion for whatever `cd` or [z](https://github.com/ajeetdsouza/zoxide) is not working, the loading icons appear first but keep loading and then just disappear.

[Video link here](https://youtu.be/IvxDVuSwiQE)
### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.15.7 19H1615|1.0.54|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.5

[2022-01-21 03:19] SeparateRecords opened #810 ""Unix socket does not exist" after sleep"
This is on 1.0.54:

<img width="738" alt="CleanShot 2022-01-20 at 09 20 43@2x" src="https://user-images.githubusercontent.com/52195359/150459719-24845d98-5dfc-42f8-a679-4eb657b71150.png">

Could possibly be related to power settings - on a Mac mini so I can't test that.

[2022-01-21 18:17] brendanfalk commented on #789
Need more info from user - e.g. shell config (.zshrc, .bashrc etc) + vscode settings file + any other special vscode additions e.g. tasks, installed plugins

[2022-01-21 18:19] brendanfalk commented on #786
This will hopefully be fixed in fig's next build (v1.0.55) when we replace our pseudoterminal code with rust

[2022-01-21 18:20] brendanfalk commented on #759
@hoegertn would you please be able to share your bashrc with us here or via email (hello@fig.io) and reference this issue. We will investigate and hopefully get this fixed!

[2022-01-21 18:27] brendanfalk commented on #660
This should be fixed!

[2022-01-21 18:27] #660 closed

[2022-01-21 18:28] brendanfalk commented on #429
Integration is live as of v1.0.54!

[2022-01-21 18:28] #429 closed

[2022-01-21 18:30] brendanfalk commented on #809
Hi @NoirJ0e could you please try running `fig app set-path`, then restarting Fig and see if it works? Thanks for the video!

[2022-01-21 22:05] ntindle commented on #35
Regarding #1 in the list above, it may be worthwhile to add native support to windows terminal rather than have it be an accessibility hack

[2022-01-22 02:47] zhiweiUU9 opened #811 "fig"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.4.0|Version 1.0.54 (B359)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.54 (B359) [搜狗拼音]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/youxuntiyun/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux

[2022-01-22 02:48] #811 closed

[2022-01-22 07:06] eIiot commented on #809
Also getting this issue

[2022-01-22 08:10] eIiot opened #812 "11;rgb:0000/0000/0000 after Fig Executes a Command"
### Description:

Whenever fix executes a command (like when the red box pops up), I get a strange output in the terminal after the command completes:
[code]

Video (Google Drive): https://drive.google.com/file/d/1y_rnLt46-dbJANfBcaHubEI3uubswZ4B/view?usp=sharing

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.21D48|1.0.53|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fi

[2022-01-22 08:17] eIiot commented on #812
See #806

[2022-01-22 08:21] eIiot commented on #809
I've been troubleshooting this a bit, and here's what I've found:

This error shows up in the console:
[code]

[2022-01-22 08:39] NoirJ0e commented on #809
Sadly no, the problem still exist.

[2022-01-23 11:31] jonbackhaus commented on #781
Seems much better! Thank you!

[2022-01-23 23:32] SeparateRecords commented on #781
Probably not super helpful but I actually ran into this on 1.0.54 last night while testing some updates to the deno spec. Noticed while using `git` completions in my fork of https://github.com/withfig/autocomplete

[code]

[2022-01-23 23:58] brendanfalk commented on #809
@eIiot @NoirJ0e could you please confirm if `git`, `docker`, and `ls` are suggestions?

[2022-01-24 00:19] mschrage commented on #759
@hoegertn this issue is likely related: #505

Can you share your bashrc file there?

[2022-01-24 00:20] mschrage commented on #429
A few tweaks still need to be made #798.

[2022-01-24 03:07] NoirJ0e commented on #809
yes, they have.

git:
![image](https://user-images.githubusercontent.com/60462008/150715652-30346406-c976-4c19-bb09-8cda6b6daa3b.png)

docker:
![image](https://user-images.githubusercontent.com/60462008/150715673-ab8f779a-b321-4b14-8808-634052162d2b.png)

ls:
![image](https://user-images.githubusercontent.com/60462008/150715691-cd813ee4-5517-4044-91e2-43ce754c7fce.png)

[2022-01-24 03:34] BestWaveRock opened #813 "Always prompted to update to a new version, even when running latest version"
### Description:

look this

<img width="372" alt="截屏2022-01-24 AM11 29 04" src="https://user-images.githubusercontent.com/36351805/150717860-be52b969-22c2-4a56-b490-319f9ca55715.png">
<img width="882" alt="截屏2022-01-24 AM11 29 17" src="https://user-images.githubusercontent.com/36351805/150717869-9c159ad1-b112-42ff-b21c-4b9695c49b43.png">
<img width="1145" alt="截屏2022-01-24 AM11 29 30" src="https:

[2022-01-24 03:37] BestWaveRock commented on #813
When I turn off the AutoUpdate switch, the update message indicates that the problem still exists!
<img width="882" alt="截屏2022-01-24 AM11 36 31" src="https://user-images.githubusercontent.com/36351805/150718073-192b4091-99ab-4721-9849-3c897a61da6b.png">
<img width="992" alt="截屏2022-01-24 AM11 36 43" src="https://user-images.githubusercontent.com/36351805/150718079-129e29bb-e5b2-4b79-9b20-d5dc5448

[2022-01-24 03:41] BestWaveRock commented on #813
Just have a switch in the setting that can turn off the prompt :)

[2022-01-24 13:54] scottwestover commented on #778
I am currently using `Version 14.1.2 (14611.3.10.1.7)` of Safari.

It looks like the issue is no longer happening on my end, and I have been able to use Fig without any issues for the last few days.

Thanks again for your help on this issue!

[2022-01-24 19:48] grant0417 commented on #808
Fixed, made this more clear in wording and wait for user to confirm.

[2022-01-24 19:48] #808 closed

[2022-01-24 19:57] #686 closed

[2022-01-24 19:57] #780 closed

[2022-01-24 20:32] mschrage commented on #813
Hey @BestWaveRock! Thanks for reporting this. I think the issue is that the shell is not aware that the update has been applied.

We update `~/.fig/user/config` when an update is available and it seems like we don't reset this in certain (unknown) cases. I'm investigating today.

[2022-01-24 20:34] mschrage commented on #812
Thanks for reporting @eIiot! We're investigating this today.

[2022-01-24 20:35] mschrage commented on #809
@NoirJ0e can you run `fig debug logs c_pty unix pty` and take a screen recording of this output while you type `ls ` in a separate terminal session?

[2022-01-24 21:07] jonbackhaus commented on #781
I saw other anomalous behavior this morning. I typed `ssh ` and pressed [Return] to select the first entry in the Fig menu. But instead of inserting "plex" it inserted "plexex" with a slight delay between drawing "plex" and the trailing "-ex" suffix. This isn't consistently repeatable so it's some kind of weird bug.

[code]

[2022-01-24 23:23] SeparateRecords commented on #794
I think this is a list of everything that can't currently be changed with a theme that would be good to expose.

* Autocomplete popup border radius
* Autocomplete popup border
* Autocomplete popup background transparency
* Suggestion margin
* Suggestion padding
* Suggestion border radius
* Suggestion border
* Suggestion icon style (native | nerdfonts)

I don't think we would need to expose full CS

[2022-01-25 01:37] grant0417 commented on #764
Issues that come from having to do this in the psudoterminal level:

- No way to intercept ⌘
- Needs to communicate over IPC for every character
- Pasting values in the terminal will act the same as pressing the key, with a clipboard of a single tab ⌘+v and <tab> will both be seen the same.

[2022-01-25 03:23] SeparateRecords commented on #406
Would also be good to include vscode.dev in this. Both are in-browser instances of vscode and likely very similar to support with a chrome/firefox extension

[2022-01-25 09:08] NoirJ0e commented on #809
[Here's the video link](https://youtu.be/RThZ_o7gb5w)

[2022-01-25 15:10] max-programming opened #814 "Can it be used with oh-my-posh on Windows?"
I recently discovered this amazing plugin and I really wanna use it. Unfortunately, my experience with WSL on Windows hasn't been good enough.

So I use [ohmyposh](https://ohmyposh.dev/) in place of ZSH on Powershell. I wonder if there's a way to use this autocomplete with oh my posh

[2022-01-25 18:30] mschrage commented on #814
Hey @max-programming, currently Fig only works on macOS. (We do support oh-my-posh.)

I'm going to close this issue in favor of #35.

[2022-01-25 18:35] mschrage commented on #35
@levrik I didn't know about that Windows had added support for `AF_UNIX` socket networking. That's awesome.

@BasixKOR I will look into `winpty`! Our pseudoterminal is written in Rust, so we'll need to figure the right approach / library.

@ntindle does Windows Terminal have support for GUI plugins like Fig? If you have any links to documentation on this or thoughts on how to implement native supp

[2022-01-25 21:05] DRenaud commented on #636
It's fixed for me :)

[2022-01-25 21:43] Sufiane opened #815 "`npm run` shows no autocomplete"
### Description:

npm scripts autocomplete not working even though i followed the tutorial on fig.io

nothing is showed when typing: npm run

might be related to the use of volta in the project

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6 20G165|1.0.54|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.54 (B359) [French]
UserShell: /bin/zsh
Bundle

[2022-01-25 21:58] fedeci commented on #815
Do you have a `package.json` in your project directory?

[2022-01-25 21:59] drewauff commented on #795
Sadly I've had to uninstall Fig (at least for the time being) reasons being :

- kernel_task pegs at over 250% cpu usage, spiked at must over 6000%
- figterm constantly around %100 cpu or far above
- system crawls (literally everything crawls)
- memory usage for the above is far to high

I loved using Fig, but right now, at least for me its relatively unusable. Sorry.

[2022-01-25 22:37] brendanfalk opened #816 "Prompt Loading Slower"
After installing Fig, a user's prompt starts loading slower than before.

Interestingly, we spend a ton of time making sure Fig is incredibly performant, especially on new shell session load and prompt load. I would be surprised if Fig were the issue, but it's not impossible.

[2022-01-25 22:38] brendanfalk commented on #816
One example: http://github.com/podkovyrin/dotfiles

Hardware: MBP14, M1 Max, 64gb RAM

[2022-01-25 22:49] brendanfalk opened #817 "Terminal / shell startup time is slow"
Users are reporting that new shell sessions are loading slower than they were before installing Fig.

This is somewhat similar to: https://github.com/withfig/fig/issues/816

Interestingly, we spend a ton of time making sure Fig is incredibly performant, especially on new shell session load and prompt load. I would be surprised if Fig were the issue, but it's not impossible.

If you are facing this

[2022-01-25 22:51] mschrage commented on #795
Hey @drewauff, thanks for letting us know. This is definitely not the expected behavior.

Would you be free to jump on a 1:1 debugging call? I'd love to figure out what's going on here. https://calendly.com/mschrage/30min

[2022-01-25 23:01] brendanfalk opened #818 "Fig is randomly quitting"
Need more information - is it the desktop app that's quitting or the autocomplete app?

[2022-01-25 23:06] mschrage opened #819 ""Not linked to terminal session""
Several users have reported seeing this error recently:
![image](https://user-images.githubusercontent.com/3155109/151074698-e0d1e31c-740c-452c-90a4-ef4f0324c2c2.png)

[2022-01-25 23:20] brendanfalk opened #820 "Company does not let me turn off secure keyboard entry"
A variety of companies mandate that their employees turn on secure keyboard entry.

Fig uses the functionality that secure keyboard entry blocks for hotkey management (e.g. tab/enter insert text, up and down arrows navigate, cmd+i toggles description).

If your company asks you to use secure keyboard entry but you want to use Fig, just email brendan AT fig.io.

Brendan will usually email the CEO /

[2022-01-25 23:35] mschrage commented on #820
Closing as duplicate of #764

[2022-01-25 23:35] #820 closed

[2022-01-25 23:35] brendanfalk opened #821 "Fig doctor says PATH is broken but then doesn't fix it"
The below is showing up every time a user runs fig doctor (this is recreate from Brendan's computer)
![CleanShot 2022-01-25 at 15 34 46](https://user-images.githubusercontent.com/4949076/151077556-4a2328b9-3ef5-4eee-8e88-1881f4f24ab0.png)

[2022-01-25 23:37] #449 closed

[2022-01-25 23:48] mschrage commented on #815
@Sufiane do other dynamic completions work? eg. If you type `cd `, does Fig show folder suggestions?

[2022-01-26 00:59] amjerm commented on #58
+1. I have been using Wezterm for a while and love it. It would be great to be able to use Fig with it.

[2022-01-26 01:46] jakemalachowski opened #822 "Typing the full command suggested by Fig no longer causes the suggestion selector to disappear"
### Description:

Until recently, typing the full command would cause the suggestion options to disappear, so pressing enter once executed the command. The suggestion now remains after finishing the command.  This means that I need to press enter once to select the option, with no effect, then a second time to execute the command.

Example:
![image](https://user-images.githubusercontent.com/576623

[2022-01-26 05:09] mschrage commented on #822
Hey @jakemalachowski, pressing enter in this case should still cause the command to execute. If the red arrow icon is visible, Fig will execute the command immediately if you pressed enter.

Does this not happen?

[2022-01-26 06:02] Sufiane commented on #815
I do have a `package.json` with the same scripts name avec the one in fig (even tried with only one script)

[2022-01-26 06:05] Sufiane commented on #815
when i type `cd ` fig works properly yes !

`{
  "name": "api",
  "version": "3.1.1",
  "description": "",
  "author": "",
  "private": true,
  "license": "UNLICENSED",
  "scripts": {
    "test": "jest --runInBand"
  },
  "fig": {
    "test": {
      "description": "Run all tests",
      "icon": "🧪",
      "priority": 100
    }
  },
  "lint-staged": {
    "*.ts": [
      "eslint --fix",
      "pre

[2022-01-26 06:06] Sufiane commented on #815
@mschrage
when i type cd fig works properly yes !

[code]

i left only one script as i tested

(i just removed the dependencies, devdependencies and jest config)

[2022-01-26 06:30] mschrage commented on #815
@Sufiane can you right click on the autocomplete window and bring up the web inspector, then go to Console and share the logs that appear when you type `npm run ` in your project directory.

[2022-01-26 07:19] BestWaveRock commented on #813
`cat .fig/user/config`

APP_TERMINATED_BY_USER=1DOWNLOAD_TIME=1632382789
LAST_UPDATE=1642994149
FIG_ONBOARDING=1
DONT_SHOW_DRIP=0
DRIP_ONE=0
DRIP_TWO=0
DRIP_THREE=0
DRIP_FOUR=0
DRIP_FIVE=0
DRIP_SIX=0
DRIP_SEVEN=0
DISPLAYED_AUTOUPDATE_SETTINGS_HINT=1
FIG_LOGGED_IN=1
NEW_VERSION_AVAILABLE=1.0.52%

@mschrage
1.0.52% :)

[2022-01-26 07:40] mschrage commented on #813
This should be fixed if you update to the latest version (v1.0.55). Run `fig update` in your terminal :)

[2022-01-26 07:40] #813 closed

[2022-01-26 07:51] mschrage commented on #765
This is available as of v1.0.55 (`autocomplete.preferVerboseSuggestions`).

[2022-01-26 07:52] BestWaveRock commented on #813
binggo, tks!

[2022-01-26 07:53] mschrage commented on #753
This is should be working as of v1.0.54. ✨

You can update by running `fig update`

[2022-01-26 07:53] #753 closed

[2022-01-26 09:08] zedtux commented on #34
2022 is here now, what is the status of this issue please?

[2022-01-26 09:59] Sufiane commented on #815
@mschrage the thing is the autocomplete window is not shown.

here is a video:

https://user-images.githubusercontent.com/10711632/151142456-144fa9fe-cdef-4f0f-890b-b41e26a13fb0.mov

[2022-01-26 10:23] fedeci commented on #815
What happens if you remove the `fig` property from your package.json?

[2022-01-26 11:02] mschrage commented on #815
@Sufiane can you run `which npm`?

[2022-01-26 11:22] ShawnCockburn commented on #807
@mschrage I just updated to `1.0.55 B365` and it's still broken.

[2022-01-26 11:50] Sufiane commented on #815
nothing happens

[2022-01-26 11:53] Sufiane commented on #815
@mschrage oh you might have got something here, i forgot that i use `npq-hero`: https://github.com/lirantal/npq
which will alias my npm to run some tests before installs and then let the rest to "npm"

the npm version i use is: 6.14.15 as stated in the volta configuration

[2022-01-26 13:07] Mgotya opened #823 "Unable to complete fig setup"
### Description:

![image](https://user-images.githubusercontent.com/5673032/151168087-0ca462a0-d0f9-4c59-a573-ab6ec77bf14d.png)

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1.0|Version 1.0.55 (B365)|/usr/local/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B365) [ABC]
UserShell: /usr/local/bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Sett

[2022-01-26 13:07] CKrevan opened #824 "Problem installing Fig in iterm2"
I´m a noob and I just installed Fig and I get an error and I don't know why...

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Spanish]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/kevind

[2022-01-26 15:18] 6ui11em commented on #819
I have same issue. Fig was working fine but some time ago can not link to terminal anymore. I try to re-install it but not working.

fig diagnostic:

Fig Version: Version 1.0.55 (B365) [Spanish - ISO]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true
Number of specs: 0
SSH Integra

[2022-01-26 16:47] matiaspan opened #825 "Auto reported"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.5.2 20G95|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/matiaspan/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Inte

[2022-01-26 16:58] rappasoft opened #826 "Fig errors & iterm"
### Description:

Fig is installed and working, however, I have 2 issues:

1. Every command I run is followed by this output:

`fig_precmd:cd:1: no such file or directory: LAST_STATUS=0/PATH_TO_CURRENT_DIRECTORY`

2. When I run fig doctor I get this:

❌ Could not get iTerm version

❌ Doctor found errors. Please fix them and try again.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin

[2022-01-26 17:26] mschrage commented on #826
Hey @rappasoft! Thanks for reporting this. Can you share your `zshrc` file and also share what version of iTerm you are using?

[2022-01-26 17:27] mschrage commented on #825
Hey @matiaspan, what seems to be the issue? Is Fig not working for your?

[2022-01-26 17:30] rappasoft commented on #826
Sure @mschrage,

It's iTerm 3.4.14

Heres the (messy) zshrc file:

<details><summary><code>zshrc</code></summary>

#### FIG ENV VARIABLES ####
# Please make sure this block is at the start of this file.
[ -s ~/.fig/shell/pre.sh ] && source ~/.fig/shell/pre.sh
#### END FIG ENV VARIABLES ####
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

#

[2022-01-26 17:34] matiaspan commented on #825
It's absolutely working, but the installer/onboarding seemed to think there
was an error with the PATH right at the end of the process.
Reporting in case you guys want to take a look.

[2022-01-26 17:38] szympajka commented on #551
I have the same problem, and I run the command mentioned in the tweet. This is what I've got back:

[code]

[2022-01-26 18:31] jakemalachowski commented on #822
I see. I was misremembering what the behavior was from before the issue occurred.

When I pressed enter with the red arrow icon, the selection would disappear but the command would not execute. Strangely I reproduced the issue, selected `Web Inspector > Console`, and immediately tried to reproduce again but couldn't. I'm not sure why that triggered a change in behavior, but I suppose that makes it

[2022-01-26 18:38] mschrage commented on #826
Hmm nothing is standing out immediately. Can you share your `.bash_profile` as well?

Also you could try commenting out `source ~/.bash_profile` this line and launch a new terminal session to see if this 'resolves' the issue. This would narrow the root cause to something in your `~/.bash_profile`

[2022-01-26 18:39] brendanfalk commented on #34
We are prioritising Linux and the Fig.js API after launching our next product in mid Feb. So aiming for an early April launch date. Stay tuned!

[2022-01-26 18:39] mschrage commented on #825
Ah okay! Thanks for letting us know. This is actually expected.

[2022-01-26 18:39] #825 closed

[2022-01-26 18:39] mschrage commented on #824
Hey @CKrevan can you share the error that you get?

[2022-01-26 18:40] kingluddite commented on #26
I followed all the instructions above but fig still says kitty is not supported. I upgraded kitty with brew to latest version. I reinstalled fig. No luck. Fig works in iTerm but wish I could get it working in Kitty (FYI - fig also not working in Alacritty)

[2022-01-26 18:40] mschrage commented on #819
@6ui11em can you run `fig doctor` in the effected terminal session?

[2022-01-26 18:43] rappasoft commented on #826
You're right I narrowed it down to this line in the bash profile, but I don't know why it's throwing the error it is:

`alias local="cd ~/Documents/Programming/Local"`

[2022-01-26 18:51] tomsvogel commented on #26
@kingluddite you tried kitty knightly and fig beta?

[2022-01-26 18:56] mschrage commented on #826
`local` is a [keyword](https://tldp.org/LDP/abs/html/localvar.html) in `bash`. We use this functionality in our shell integration.

We can fix on our end by running `command local` rather than `local`, but my advice would be to rename this alias as other scripts will break sporadically.

[2022-01-26 18:57] rappasoft commented on #826
Oh yeah no worries i'll rename mine! Thanks for the help.

[2022-01-26 19:04] mschrage commented on #826
Great to hear! Glad we could figure out what was going wrong. :)

We'll make our scripts handle this case as well in the next release

[2022-01-26 19:06] mschrage commented on #807
Hmm, we thought we'd pushed a fix for this. Can you open up the web inspector (right click on the autocomplete window) and the share the output of the console when you insert something using Fig?

 cc @sullivan-sean

[2022-01-26 19:07] #766 closed

[2022-01-26 19:07] #765 closed

[2022-01-26 19:07] #412 closed

[2022-01-26 19:08] #703 closed

[2022-01-26 19:08] #783 closed

[2022-01-26 19:08] mschrage commented on #100
This is implemented as of v1.0.55 :)

[2022-01-26 19:08] #100 closed

[2022-01-26 19:10] mschrage commented on #26
We are going to do a sprint on this next week. I believe that I've figured out a reliable way install (and enable) the input method.

[2022-01-26 19:19] matsdahlin commented on #26
That sounds promising! Thanks for all your hard work ❤️

[2022-01-26 19:30] kingluddite commented on #26
Not yet. @tomsvogel Is there a link to the fig beta install? Can't seem to locate it.

I found that the kitty nighly can be installed with:

[code]
[source](https://sw.kovidgoyal.net/kitty/binary/)

[2022-01-26 19:39] mschrage commented on #26
Instructions for those who are brave enough to attempt it:

1. Run `fig settings integrations.experimental true` and then restart the Fig app
2. Click the Fig menubar icon > Integrations > Kitty > "Attempt to Install"
3. Go to a terminal and run `fig debug ime enable`. A System Preferences window will appear and prompt you to install a third party Input Method.
4. Run `fig debug ime select`
5. Res

[2022-01-26 19:42] jakemalachowski commented on #822
After upgrading to 1.0.55, the issue briefly resurfaced for a few commands before returning to normal.

[2022-01-26 19:42] mschrage commented on #823
Hey @Mgotya, so sorry that you're running into issues here. If you restart Fig and go through the onboarding flow again, is this reproducible?

[2022-01-26 19:58] DKroot opened #827 "`fig doctor` complains that "iTerm integration fail" in iTerm2"
### Description:

I'm using iTerm2 with its Shell Integration as my terminal. I've installed Fig OK and auto-complete is working.
`fig doctor` though produces this:

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.2 20G314|1.0.55|/usr/local/Cellar/bash/5.1.12/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /usr/lo

[2022-01-26 20:10] mschrage commented on #551
The first time the `python` executable is from a process, this '"fig" needs to be updated' dialog is triggered.

What's tricky is since Fig runs a pseudoterminal, scripts and executables from your zshrc/bashrc can trigger this. I'm pretty sure that Fig does not actually have any first party dependencies that use Python.

[2022-01-26 20:13] tesh254 commented on #34
Calendar marked

[2022-01-26 20:18] mschrage commented on #798
If you run into this before we push the next release, a temporary fix is to remove the Fig's Tabby plugin by running:
[code]

[2022-01-26 20:19] mschrage commented on #827
Hey @DKroot! Thanks for reporting this. I think that restarting iTerm may resolve this issue. Either way, if Fig is working for you, then something is wrong with our diagnostic.

[2022-01-26 20:28] matsdahlin commented on #26
@mschrage the instructions worked fine for me! Seems to be working as expected so far 👌🏻
Thank you!

[2022-01-26 20:29] mschrage commented on #798
@Eugeny is this true even if the plugin is sideloaded (I just create a new folder, that contains `package.json` and a js entrypoint)?

This approach is nice because then we can tie the plugin version to the version of Fig that is installed locally.

[2022-01-26 20:36] mschrage opened #828 "Add `caveat` stanza that tells users to launch app after installing with `brew`"

[2022-01-26 20:54] DKroot commented on #827
Tried to restart, of course: it was not working. I fixed the issue by uninstalling Fig then installing via Homebrew. Somehow it fixed the issue.

[2022-01-26 20:56] mschrage opened #829 "`fig theme` should customize terminal theme"
User expects color scheme of terminal to change when running `fig theme`.

[2022-01-26 21:01] kingluddite commented on #26
@mschrage You rock! Works like a charm!!!

[2022-01-26 21:04] CKrevan commented on #824
Well... I just solved it. Sorry for wasting your time and thanks for your reply.

[2022-01-26 21:04] #824 closed

[2022-01-26 21:11] mschrage commented on #827
Hmm interesting. So previously you'd installed directly from the website?

[2022-01-26 21:11] mschrage commented on #824
No worries! And I'd still love to understand what was going on - maybe we can make the UX better?

[2022-01-26 21:18] jakemalachowski commented on #822
I managed to capture a reproduction with the logs.

https://user-images.githubusercontent.com/5766239/151248415-f0093c06-4fa7-498b-bec2-7b5af6614f10.mov

[2022-01-26 21:20] jakemalachowski commented on #822
I managed to capture a reproduction with the logs.

https://user-images.githubusercontent.com/5766239/151248732-8e2571d6-26e3-46e3-8424-00d8636fdf53.mov

[2022-01-26 21:31] DKroot commented on #827
Yes, correct.

[2022-01-26 22:18] fedeci commented on #755
/cc @brendanfalk is this what you meant? On insert common prefix (tab command for my keybindings) it does no longer execute the command if it is already complete. Insert text (enter key by default) instead continues to execute it.
@SeparateRecords this actually should be better than adding another option that may be confusing IMHO

https://user-images.githubusercontent.com/38510000/151256385-b01e1

[2022-01-26 22:20] huttli commented on #562
I cannot reproduce with this version anymore either.
1.0.54 (B359)

I suppose it's fixed somewhere along the line. :D

[2022-01-26 22:26] mschrage commented on #562
Amazing! I'll close this issue now.

PS. it seems like you're still one version behind the latest. Try running `fig update`  to download the latest build.

[2022-01-26 22:26] #562 closed

[2022-01-26 22:30] brendanfalk commented on #755
@fedeci This makes sense to me! @sullivan-sean @SeparateRecords @mschrage what do you think?

Some other use cases I think we need to think through for the insert shared prefix option:

![CleanShot 2022-01-26 at 14 26 31](https://user-images.githubusercontent.com/4949076/151257540-cecc7167-d3bd-4e40-a1ec-7c56b202ae1b.png)
Hitting tab should insert the slash rather than shake

![CleanShot 2022-01-2

[2022-01-26 22:34] SeparateRecords commented on #755
I also use insertSelected for tab but generally don't want things to be executed unless I hit enter, so this probably comes down to a UX preference.

Not sure about this but it may also break peoples muscle memory where they used to be able to execute with tab but can't any more.

@brendanfalk I've heard from a few people doing 'tab-tab' to insert then execute the first option (not sure which sett

[2022-01-26 22:42] fedeci commented on #790
Since specs are TS files that we dynamically import in the AE we can't pipe the output of the console to a file as we would do for files executed with ts-node. We should actually expose a `console.out` (non-existent method in JS) that allows to output to a file the message and then watch it or do whatever we want.
/cc @mschrage

[2022-01-26 22:49] fedeci commented on #755
That's definitely a drawback, for existing users, but what for people that just downloaded Fig and were accustomed to running with enter and tabbing between choices? Probably we should try to create a poll on discord to see what the community uses to run (tab or enter).

[2022-01-26 23:30] Eugeny commented on #798
Don't you just sideload it already? I'm specifically referring to the fact that it's "installed" locally, but doesn't exist in the registry, which leads to `npm` (which Tabby uses for plugin management) to fail to remove it:

[code]

[2022-01-26 23:45] mschrage commented on #798
Ah I see. Yes that makes sense.

[2022-01-27 00:26] mschrage commented on #790
This makes sense to me. Also we can just replace `console.log` with a custom function before running the generator and then switch back after. https://stackoverflow.com/a/7042634

And we can add a Fig.js API for appending to a file.

[2022-01-27 01:17] btmurrell opened #830 "Unable to get diagnostics"
### Description:

I ran `fig doctor` and it said "Unable to get diagnostics", so I ran `fig restart` and ran `fig doctor` again, and got the same error.  I just installed fig, and kicking the tires.  I am using Hyper v3.1.5.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.15.7 19H1419|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>
It looks like Fig is not running.
T

[2022-01-27 01:23] mschrage commented on #830
@btmurrell is autocomplete working besides these `fig doctor` errors?

[2022-01-27 01:39] mmoncera opened #831 "PATH and PseudoTerminal PATH do not match"
![Screen Shot 2022-01-26 at 5 38 40 PM (2)](https://user-images.githubusercontent.com/67080126/151275980-451edf8b-40fa-46bb-aa83-d81040bb4f1e.png)
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Aut

[2022-01-27 03:06] SeparateRecords commented on #826
Actually this can also fail if `command` is an alias, so best thing to do would be `\local name=value`. Even if it's a keyword, it can still be aliased if it's not a _reserved_ word. Oh, POSIX... 🙃

[2022-01-27 03:38] mschrage commented on #826
@SeparateRecords you want to make this PR in withfig/macos? (All of the shell integrations code is in /config/shell)

[2022-01-27 05:02] ilovefreesw commented on #34
Noice to see so many people rooting for Fig for Linux <3

[2022-01-27 05:08] bjvalmaseda92 commented on #34
Me too 🎉😅

[2022-01-27 06:04] etcook commented on #49
Would love to see IntelliJ support

[2022-01-27 06:29] mschrage commented on #798
I'm trying to run `yarn build` after having added `@tabby-gang/node-pty` as a dependency.

[code]

Seems like an issue with my webpack configuration. Any ideas how to fix it?

[2022-01-27 06:34] SeparateRecords commented on #826
This is a fun hole to go down. In bash/zsh, **only these** exact words are reserved.
[code]

Escaping a word only prevents alias substitution, so that doesn't help if it's redefined as a function eg `function cp() { :; }`.

The **only way** to ensure predictable behaviour regardless of the environment is either:
1. Escape everything with `\command` or `\builtin` -- **This makes everything ugly**
2

[2022-01-27 06:39] mschrage commented on #807
@ShawnCockburn I've pushed a fix for this to the beta channel of the macOS app.

`fig setting app.beta true`

[2022-01-27 06:45] opensas commented on #34
That's some really awesome news! I hope you can show some proptotype or at least blog about it pretty soon

[2022-01-27 06:46] mschrage commented on #798
Also it looks like this is getting fixed [waaay](https://github.com/libuv/libuv/pull/3257) upstream. 🤞

[2022-01-27 06:56] ejkkan commented on #829
Would be cool if it could in some way be imported from, for example, Vs Code themes to sync terminal with the rest of the development environment and workflow 🙂

[2022-01-27 07:37] olivernybroe commented on #734
A solution that we had to do because I had accidentally enabled debugging while disabling the menu, was to go into ~/.fig/settings.json and change the settings 👍  No issues with doing that at all

[2022-01-27 08:26] LBeul opened #832 "iTerm 2 integration failed although updated via homebrew"
### Description:
Every time I start iTerm2, there's a notification popping up saying the integration failed.

![image](https://user-images.githubusercontent.com/37245841/151320122-2a3b676a-9598-434b-9a3c-6e8d2b6387b0.png)

`fig doctor` returns
`❌ iTerm integration fail - Your iTerm version is incompatible with Fig. Please update iTerm to latest version`

According to homebrew, latest iTerm release

[2022-01-27 08:53] 6ui11em commented on #819
Hi @mschrage ,
Yes I ran `fig doctor` on affected terminal and everything it's ok:

[code]

Fig only works when re-install it again and run the termina to do the step by step intro. When I close this terminal don't work anymore.

[2022-01-27 09:14] Eugeny commented on #798
You're right - sorry, it totally slipped my mind that native modules won't work in 3rd party plugins. You can still leverage the `node-pty` that's built into Tabby via

[code]

You'll need to add `electron` to `externals` in your Webpack config.

[2022-01-27 09:27] klueless-io opened #833 "Can Community Completions be disabled?"
### Description:

I am attempting to create a personal shortcut which I believe conflicts with a community short cut.

**If I do the following**

[code]

I get a shortcut working for the letter `s`

![image](https://user-images.githubusercontent.com/2956762/151329858-dc30df7e-0671-496c-be89-bd3ec1b53141.png)

**If I do this slight change**

[code]

`j` does not provide intellisense

![image](https

[2022-01-27 09:51] ShawnCockburn commented on #807
this fixed my issue

[2022-01-27 09:53] ShawnCockburn commented on #807
I didn't see this comment until after I did the _fig beta true..._ and setting it to false does not downgrade.

let me know if you still want the screenshot

[2022-01-27 10:41] david-moskovitz commented on #823
Having the same issue
@mschrage I tried restarting but with no success

This is the output:
[code]

[2022-01-27 11:42] fedeci commented on #790
I thought at replacing `console.log` too and I was wondering if we really want all the autocomplete messages (not only in development but also in production) to be piped to a `file.log` and not to the browser console.
The DX would definitely get benefits from replacing `console.log` and companion methods!

[2022-01-27 11:48] drewauff commented on #795
I have just spent the last few hours going through system logs etc..as a former systems admin, I can tell you I have gone through everything I can think of.

The only conclusion is that my system is buttery smooth in all regards. No cpu or memory spikes.

Fig was perfect in the beginning, although I have to say that I did notice a little system wide lag, but nothing terrible. As time pass it got w

[2022-01-27 13:33] rlabhti opened #834 "fig app set-path not working"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/techolution/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Inte

[2022-01-27 13:35] rlabhti commented on #834
Running fine now. Had to restart the terminal/item2.

[2022-01-27 13:35] #834 closed

[2022-01-27 14:33] wallie-pl opened #835 "[Secure Keyboard] fig is not giving any suggestions"
### Description:

https://user-images.githubusercontent.com/2690349/151379161-0ca37598-21d4-4799-852b-8a397fd439d8.mov

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.2 20G314|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Polish - Pro]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true

[2022-01-27 15:30] kubahasek opened #836 "Socket does not exist"
### Description:

When I tried to use Fig today it wouldn't work, when I ran fig doctor I got:
❌ Fig socket does not exist at /var/folders/_f/4srdmrkx13105vzysbz3ctgh0000gn/T/fig.socket
❌ Unable to get diagnostics
   Try restarting Fig by running: fig restart

Restarting it from the menubar helped, but this same message is still there when I run fig doctor

### Details:
|macOS|Fig|Shell|
|-|-|-|
|

[2022-01-27 16:03] harrytran998 opened #837 "[Q&A] Intergrate with Alacritty + Tmux"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:
Currently, I cannot found any guide for this! Hope your team can make this sooner 😆. I fuc*** love this tool! Thanks your team <3

[2022-01-27 16:36] paulrostorp commented on #792
@brendanfalk Just discovered fig and loving it ! The suggested workaround doesn't work for me for my `kubectl` alias

I am using zsh with iterm2 on macOS. Autocompletion might be interfering, this is my config related to `kubectl` and my `k` alias. From my `.zshrc` file:
[code]

[2022-01-27 17:24] #778 closed

[2022-01-27 18:33] Upperholme opened #839 "PATH and PseudoTerminal PATH do not match"
### Description:

ran fig doctor

got:

❌ PATH and PseudoTerminal PATH do not match

I can fix this!
Running > fig app set-path

Setting $PATH variable in Fig pseudo-terminal...

Fig will now use the following path to locate the fig executable:
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/graham/.fig/bin

Fix applied!
Rerunning fig doctor to see if the problem is reso

[2022-01-27 18:39] mschrage commented on #807
^^ That was in reference to a similar, but unrelated bug.

If everything is working on the beta, then the new fix worked.

[2022-01-27 18:40] Upperholme commented on #839
Restarted Fig. Restarted terminal
Re-run fig doctor
all looks good.

[2022-01-27 18:40] #839 closed

[2022-01-27 18:44] btmurrell commented on #830
yes, afaik, everything is working fine (but i'm a noob)... y'all make it so easy to log an issue (👏 ), i just wanted to let you know. 😉  you can handle this one any way you see fit.

[2022-01-27 19:20] fedeci commented on #790
We are already using `autocomplete.log` file, right?
https://user-images.githubusercontent.com/38510000/151428709-8b9c42c7-a9d9-45e6-8daf-f78523aa1779.mov

[2022-01-27 20:30] ShawnCockburn commented on #807
thanks @mschrage ❤️

[2022-01-27 20:30] #807 closed

[2022-01-27 21:18] mschrage commented on #790
@fedeci this looks amazing! It is suuuch a big improvement over the Web Inspector console, I think.

And yeah we already use `autocomplete.log`, we could go with `specs.log` instead. (Or this file could be saved somewhere other than `~/.fig/logs`)

The DX would definitely get benefits from replacing `console.log` and companion methods!

For completion spec developers, I think the behavior is that

[2022-01-27 22:22] tonysorensen opened #840 "Could not get iTerm version"
![Screenshot 2022-01-27 at 2 19 46 PM](https://user-images.githubusercontent.com/63228541/151453250-0e1c987d-8ae0-4448-bdc2-37f1e3c962bb.png)

Fig Doctor can't get iTerm version because it's checking for /Appllications/iTerm.app and on my machine it's /Applications/iTerm2.app

[2022-01-27 22:26] 6ui11em commented on #819
@mschrage yes I restarted the terminal. After close the terminal that is opened during the installation Fig doesn't work anymore. It's a shame because Fig was working fine some time ago, I don't know in which update stops working.

[2022-01-27 22:29] mschrage commented on #819
Can you run `fig doctor` and share your zshrc/bashrc?

[2022-01-27 22:38] mschrage commented on #28
A preview of the Alacritty integration is available. However, currently the integration is a bit tricky to setup which is why it is hidden by default.

**Instructions for those who are brave enough to attempt it:**

1. Run `fig settings integrations.experimental true` and then restart the Fig app
2. Click the Fig menubar icon > Integrations > Alacritty > "Attempt to Install"
3. Go to a terminal an

[2022-01-27 22:39] mschrage commented on #837
Hey @harrytran998 currently Alacritty has experimental support. See this issue for more details: https://github.com/withfig/fig/issues/28#issuecomment-1023706180

Fig should support `tmux` out of the box. Please open another issue if autocomplete isn't working inside of tmux sessions.

[2022-01-27 22:39] #837 closed

[2022-01-27 22:41] mschrage commented on #835
Hey @wallie-pl it looks like you have [Secure Keyboard Entry](https://fig.io/docs/support/secure-keyboard-input) enabled. I think if you disable it for Terminal.app, Fig will start working for you :)

[2022-01-27 22:41] 6ui11em commented on #819
@mschrage

`fig doctor` 👍

✅ Everything looks good!

Fig still not working?
Run fig issue to let us know!
Or, email us at hello@fig.io!

.bashrc:

[code]

zshrc

[code]
bash_profile

[code]

[2022-01-27 22:50] localpcguy commented on #738
It doesn't appear that you can disable CLIs via the Settings panel either. Adding `git` in the provided field does not persist.

[2022-01-27 22:54] fedeci commented on #790
I'll enable it for development only then replacing `console.log`, it may be useful in the future to keep an error.log of generators for prod.

[2022-01-27 23:51] mschrage commented on #819
Hmm I'm not sure exactly what's going on here.

Can you run the following commands for me?
-  `export  FIG_LOG_LEVEL=DEBUG`
- `fig diagnostic` and share the output

Then in a different terminal, can you run `fig debug logs`.

Now take a screen recording of both terminal sessions so we can see the output of the debug logs while you type in the original terminal window.

Are you free to jump on a de

[2022-01-27 23:54] mschrage commented on #836
Hey @kubahasek, this might have been in a terminal session that you launched before installing Fig? Try restarting your terminal emulator and let me know if the problem goes away.

[2022-01-27 23:57] mschrage commented on #833
@klueless-io I believe the autocomplete engine defers to locally-defined completion specs over community completions.

Try deleting the existing `j.ts` completion spec and then rerun `npm run create-spec j`?

[2022-01-28 00:06] mschrage commented on #830
This is exactly what we want :)

The problem is we just pushed a few changes to `fig doctor` so it actually may be less reliable the the app itself haha

[2022-01-28 00:07] mschrage commented on #790
We can even get fancy and have `console.error` and `console.warn` write to different log files and get output as different colors. (Not necessary at all for the first iteration)

[2022-01-28 00:09] mschrage commented on #49
@marggx not yet!

@etcook it is coming - I promise!

[2022-01-28 02:22] bobTheHands opened #841 "[website] [ux] email field is almost unreadable when the screen rendering has a little bit of contrast"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

<codebase:website>, <usability>
As stated, an easy

[2022-01-28 05:45] kr-anurag opened #842 "style: contrast issue on fig.io website"
### Discussed in https://github.com/withfig/fig/discussions/838

<div type='discussions-op-text'>

<sup>Originally posted by **kr-anurag** January 27, 2022</sup>
so I noticed that the input field for email at fig.io's landing page has a contrast issue.

![image](https://user-images.githubusercontent.com/77309809/151413551-0e76d53e-3017-4957-9e60-1cb42eb49bd9.png)

⬆️ as you can see, the colors don

[2022-01-28 08:23] wallie-pl commented on #835
Yes, but I cannot turn it off. So far I have found that this is not an Terminal.app issue and some other apps might be blocking this option. Will be looking for a solution.

[2022-01-28 08:52] 6ui11em commented on #819
Hi @mschrage , today I'm on my laptop, where Fig is not working too. Below the `fig diangostic`:

[code]

And below a fragment of debug log:

[code]

It's constantly showing this messages without typing in an another terminal.

[2022-01-28 09:12] digeomel commented on #35
I understand that Windows terminal support is not done yet, but I'm a big confused about vscode on Windows, because your README writes that it works on vscode terminal. I assume it only works on vscode terminal on MacOS, right?

[2022-01-28 09:42] fedeci commented on #738
If I am not wrong that should just be a UI issue, we should check if that persists in defaults.

[2022-01-28 09:57] kubahasek commented on #836
I ended up having to uninstall FIG because I couldn't figure out the issue, now it works fine

[2022-01-28 10:06] Integralist commented on #28
Thanks @mschrage!

So interestingly, although I got the following error UI...

<img width="252" alt="Screenshot 2022-01-28 at 09 57 28" src="https://user-images.githubusercontent.com/180050/151526663-acf4bc7d-7f9d-4c17-bf56-88f6576a1c0c.png">

It looks like it still worked fine 🤷🏻

<img width="611" alt="Screenshot 2022-01-28 at 10 06 06" src="https://user-images.githubusercontent.com/180050/151527

[2022-01-28 14:12] RyKilleen commented on #35
Here's the master feature list for extensions on Windows Terminal.

https://github.com/microsoft/terminal/issues/4000

As far as I can tell, the command palette is fully extensible but doesn't provide the sort of inline support you're probably looking for. They seem very open to feature requests though

[2022-01-28 16:11] aPinix opened #843 "Doctor found errors. Please fix them and try again."
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/usr/local/Cellar/zsh/5.8_1/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Portuguese]
UserShell: /usr/local/bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility:

[2022-01-28 18:17] soundsystems opened #844 "❌ PATH and PseudoTerminal PATH do not match"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/jguala/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integrat

[2022-01-28 18:36] brendanfalk commented on #714
Offline mode is possible:
* Git clone withfig/autocomplete to the ~/.fig dir
* Build the specs

We need to add this to docs!

[2022-01-28 18:36] webdevnerdstuff commented on #806
This is also happening for me as well.

I do have my own custom PS1 in my bash profile. I do have a newer version that works with ZSH (I used that one in a linux box so can't test it atm), but generally this one has been good for me for years now. Adding it here in case it helps with the problem solving.

[code]

[2022-01-28 18:44] brendanfalk commented on #797
@sullivan-sean did you fix this?

[2022-01-28 18:44] brendanfalk commented on #797
Or @fedeci

If so, please add the v1.0.56 milestone!

[2022-01-28 18:46] brendanfalk commented on #792
@paulrostorp Glad it's working now. We just pushed a fix. Am going to close this issue but will re-open if this is still occuring.

[2022-01-28 18:46] #792 closed

[2022-01-28 19:04] webdevnerdstuff commented on #809
Following as I'm also having this issue. So far I've done all the suggested and get the same results. One thing I didn't see mention, and I'm not sure if it matters, but I'm using iterm2.

<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>
Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /usr/local/bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: tru

[2022-01-28 19:39] webdevnerdstuff opened #845 "Turn off "hello from figrc" on load message"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:
The ability to turn off the `hello from figrc` welcome message, without having to edit the (managed.bash, managed.fish, managed.zsh) files to remove it.

I already have my own custom setup, so I don't rea

[2022-01-28 19:47] grant0417 commented on #845
Hey @webdevnerdstuff, sorry about this, you must have ran `fig alpha sync` which currently is not complete but soon will sync you dotfiles. Currently this overwrites the "managed" dotfiles with that message. Just be sure not to runs `fig alpha sync`.

[2022-01-28 19:50] mschrage commented on #833
@klueless-io did that help?

[2022-01-28 19:50] mschrage commented on #836
Did reinstalling Fix this issue @kubahasek ?

[2022-01-28 19:52] grant0417 commented on #831
Hey @mmoncera, can you try running `fig settings pty.path "$PATH"` then run `fig doctor` again. Also are you having any issues other than `doctor`?

[2022-01-28 19:52] webdevnerdstuff commented on #845
Thank you @grant0417 . I think I ran that command when trying to debug a problem I was having. That was suggested as one of the things to try in the Issue that is already open and being problem solved.

[2022-01-28 19:52] grant0417 commented on #844
Hey @soundsystems, can you try running `fig settings pty.path "$PATH"` then run `fig doctor` again. Also are you having any issues other than `doctor`?

[2022-01-28 19:53] grant0417 commented on #843
Hey @aPinix , can you try running `fig settings pty.path "$PATH"` then run `fig doctor` again. Also are you having any issues other than `doctor`?

[2022-01-28 19:54] mschrage commented on #843
It looks like @aPinix has [Secure Keyboard Entry](https://fig.io/docs/support/secure-keyboard-input) enabled. Try following [this guide](https://fig.io/docs/support/secure-keyboard-input) to turn it off.

[2022-01-28 20:00] grant0417 commented on #845
Do you remember what issue? Definitely don't want more people running that right now.

[2022-01-28 20:10] webdevnerdstuff commented on #845
@grant0417 I just checked the two Issues, and that command wasn't in there.

I just checked my hist, and it looks like I did run `fig alpha source` when I was just messing around seeing what things did.

Here are the tickets for reference anyway, just in case you need them for whatever reason:
https://github.com/withfig/fig/issues/809
https://github.com/withfig/fig/issues/806

[2022-01-28 20:15] grant0417 commented on #845
@webdevnerdstuff

Glad everything is working now, let us know if you run into any other issue!

[2022-01-28 20:15] #845 closed

[2022-01-28 20:20] mschrage commented on #842
Closing as duplicate of #841.

[2022-01-28 20:20] #842 closed

[2022-01-28 20:50] Glacier-Luo commented on #844
It's useful.Thank you!

[2022-01-28 21:06] drKaramazin opened #846 ""Could not get iTerm version" error"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.15.6 19G2021|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/nikolajgriskin/.fig/bin/fig
Accessibility: true
Number of specs: 0

[2022-01-28 21:09] #844 closed

[2022-01-28 21:10] grant0417 commented on #844
@Glacier-Luo

Glad that worked! Let us know if you run into any other issues.

[2022-01-28 21:11] grant0417 commented on #846
Hey @drKaramazin, was this an issue with `fig doctor`?

[2022-01-28 21:20] klueless-io commented on #833
I haven't tested it yet, I'll be looking into it over the weekend

[2022-01-28 21:22] mschrage commented on #833
Sounds good! 👍

[2022-01-28 22:35] mschrage commented on #809
@NoirJ0e from the video I can see that commands aren't being run in the pty.
[code]

I am not 100% sure why this is happening. Could you share your bashrc/zshrc with me?

---

@webdevnerdstuff can you run `fig debug logs c_pty unix pty` and share the output!

[2022-01-28 22:36] furkan-vibely opened #847 "Makefile command is not recognized"
### Description:

[2022-01-28 22:41] mschrage commented on #835
Try running through the debugging steps outlined [here](https://fig.io/docs/support/secure-keyboard-input).

[2022-01-28 22:42] mschrage commented on #847
Hey @furkan-vibely! Thanks for reporting this.

Can you share the contents of your `Makefile`?

Also I am going to move this issue to the [withfig/autocomplete](https://github.com/withfig/autocomplete) repo.

[2022-01-28 23:35] webdevnerdstuff commented on #809
@mschrage

<details><summary><code>fig debug logs c_pty unix pty</code></summary>
<p>
<pre>
unix: buffer =
unix: Recieved hook message!
unix: {"editBuffer":{"context":{"pid":20345,"ttys":"/dev/ttys004","processName":"bash","sessionId":"w0t0p1:4214086F-ED3A-4FE4-9621-AD36717282FF","integrationVersion":5,"hostname":"somename@some-computer.local"},"text":"c","cursor":"1"}}
unix: Recieved hook message

[2022-01-29 00:04] soundsystems commented on #844
the command `fig settings pty.path "$PATH"` did nothing for me.

doctor is my only issue so far. Is this a breaking error or will i be able to use it fine with the Path being unmatched?

[2022-01-29 00:13] mmoncera commented on #831
@grant0417 Thank you, that worked!

[2022-01-29 00:44] mschrage commented on #809
@webdevnerdstuff that is helpful information. Can you share your zshrc/bashrc here?

Does autocomplete work for other commands, like `git`?

[2022-01-29 00:44] grant0417 commented on #831
@mmoncera Let us know if you have any other issues!

[2022-01-29 00:44] #831 closed

[2022-01-29 00:47] grant0417 commented on #844
@soundsystems

This shouldn't be a breaking error if everything else works, if you could send me the output of `fig diagnostics` I could help diagnose if there are any other issues though.

[2022-01-29 01:35] brendanfalk commented on #797
This is fixed for normal search but not fixed for fuzzy autocomplete

[2022-01-29 02:24] mschrage commented on #798
@Eugeny just published the [npm package](https://www.npmjs.com/package/tabby-plugin-fig-integration). Fixes should go out in the build next week.

Thanks for all your help!

[2022-01-29 03:39] abhishekkh opened #848 "[aws] Loadspec doesn't show autocomplete results when nested by 2 levels"
I have a master CLI which wraps around all the CLIs like terraform, kubectl and aws using loadspec. I have had no issues with tf and k8s, but for aws since we have another level of nesting with loadspecs I am not seeing any autocomplete options.

`mycli -- terraform plan` works
`mycli -- aws s3` does not

Had a quick chat with @mschrage and he was able to reproduce it. Here is my spec for referenc

[2022-01-29 04:04] mschrage commented on #848
Thanks for reporting this @abhishekkh!

@fedeci can you look into what's going on here? My initial thought was that it had something to do with the "--" naming. However, I tried renaming the subcommand and could still reproduce.

<img width="724" alt="Screen Shot 2022-01-28 at 8 03 23 PM" src="https://user-images.githubusercontent.com/3155109/151646609-58c6d0a5-8a82-47db-8ecf-d4ee22c9d6d8.png">

T

[2022-01-29 05:22] crellisonii opened #849 "init install and running of fig doctor"
### Description:
This is an issue when running thru the initial install process. Was recommended to run fig doctor and then this issue came up

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Setting

[2022-01-29 05:49] brendanfalk opened #851 "Fig not recognizing what window user has open when using Keyboard Maestro"

[2022-01-29 06:56] kubahasek commented on #836
Yes it did.

[2022-01-29 09:25] Alalalalaki commented on #819
Same problem here.

[2022-01-29 09:55] JayGhiya opened #852 "Fix does not work to solve the below issue"
### Description:

❌ PATH and PseudoTerminal PATH do not match

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC – India]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/jayghiya/.fig/bin/f

[2022-01-29 12:01] luokuning opened #853 "Fig does not work with powerlevel-9k"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

![Screen Recording 2022-01-29 at

[2022-01-29 13:24] kcds commented on #851
This is under Mojave (10.14.6) on a Mac Pro 5,1 (Mid 2012), 12 cores, 48 GB RAM, and Keyboard Maestro 10.0.2

[2022-01-29 14:23] omeraloni opened #854 "Fig breaks bashrc and messes up SwiftBar display"
### Description:
Please see the last few comments in [697;DoneSourcing proceeds plug-in output · Issue #269 · swiftbar/SwiftBar](https://github.com/swiftbar/SwiftBar/issues/269), specifically [this comment](https://github.com/swiftbar/SwiftBar/issues/269#issuecomment-1024795348) that explains how Fig breaks bash and thus causing SwiftBar to show wrong text in macOS menu bar.

### Details:
|macOS|F

[2022-01-29 16:02] NoirJ0e commented on #809
No problem, this is it.

[code]

[2022-01-29 21:05] webdevnerdstuff commented on #809
@mschrage yes it does work for things like git, npm, and similar. I even created some personal shortcuts, and those work as well.

My iTerm2 uses bash-profile instead of bashrc and I don't source zshrc/bashrc. I also decided to try testing in the default iTerm, as well as VSCode but ran into the same problems. So at the very least I don't think it's an issue with any of the terminals apps.

To hel

[2022-01-29 21:26] sabbirahmed007 opened #855 "❌ PATH and PseudoTerminal PATH do not match"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6 20G165|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [British]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/itsa1/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integ

[2022-01-30 16:10] Gr8Gatsby opened #856 "Path was not updated correctly"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/kevinhill/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integ

[2022-01-31 05:58] pcgeek86 commented on #35
The "Hyper" terminal from Vercel runs on Windows as well as MacOS. It'd be great to see Fig work with Hyper  on Windows 11, at least, even if Windows Terminal integration doesn't work yet.

[2022-01-31 07:07] yackinn opened #861 "Spotlight indexing is triggered after each macOS restart"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details
On every startup spotlight indexing is triggered by

[2022-01-31 07:22] crebuh commented on #855
Same for me

### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/crebuh/.fig/bin/fig
Accessibility: true
Number of specs: 0

[2022-01-31 08:06] aleksanderwalczuk commented on #855
Same,

### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.15.7 19H1323|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Polish - Pro]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/alexander/.fig/bin/fig
Accessibility: true
Number o

[2022-01-31 09:28] wallie-pl commented on #835
Thanks, Guys! I have managed to make it work in VS Code Terminal. Which is enough for me.

[2022-01-31 09:28] #835 closed

[2022-01-31 12:13] ZilvinasKucinskas commented on #840
Same issue, but my iTerm is located at `$HOME/Applications/iTerm.app`. I believe `~/Applications` is the default brew cask directory.

[2022-01-31 16:23] MBAiBake opened #862 "Path and Pseudoterminal Path Do Not match"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.0.1 21A559|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/taylorbaker/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH

[2022-01-31 19:12] xedef opened #863 "Not working in iterm"
### Description:

Fig is working correctly in both Apple and VSCode terminals but not in iTerm. Autocompletion is not shown for any command.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Dev] [Canadian English]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomple

[2022-01-31 19:52] jscheel opened #864 "After installation, fish scripts fail (seems to mix bash and fish syntax)"
### Description:

Immediately after installation, fig opened a terminal window and the fish configs threw syntax errors.

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.0|Version 1.0.55 (B365)|/usr/local/bin/fish|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B365) [U.S.]
UserShell: /usr/local/bin/fish
Bundle path: /Applications/Fig.app
Autocomplete: true
S

[2022-01-31 19:55] jscheel commented on #864
Hmm, my fish scripting is pretty bad, but it looks like fig has mixed bash and fish in the same file.

[2022-01-31 20:21] jscheel commented on #864
Closing, I had downgraded fish below 2.7.0 at some point apparently.

[2022-01-31 20:21] #864 closed

[2022-01-31 21:38] mschrage commented on #35
@digeomel that's exactly right. Fig supports VSCode, but only on macOS.

 @pcgeek86 Same thing for Hyper.

[2022-01-31 22:32] grant0417 commented on #806
This will be fixed in 1.0.56

[2022-01-31 22:32] #806 closed

[2022-01-31 22:33] grant0417 commented on #812
This will be fixed in 1.0.56

[2022-01-31 22:33] #812 closed

[2022-01-31 22:38] cankaya07 opened #865 "fig terminal issue"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Turkish Q]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/cankaya/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH In

[2022-01-31 22:44] advania-tomi opened #866 "iTerm integration fail"
### Description:

![image](https://user-images.githubusercontent.com/61293271/151885417-dd1d9be6-98dc-4ae3-8d1c-058b7890f960.png)

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.1 20G224|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Finnish]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json:

[2022-01-31 22:55] mschrage commented on #865
Hey @cankaya07! Can you elaborate on what's going on?

[2022-01-31 22:59] mschrage commented on #861
Hmm thanks for reporting this @yackinn. Is it possible for you to kill the Jamf daemon? I have a suspicion there might be some conflict between Fig and Jamf that triggers Spotlight search re-indexing.

[2022-01-31 23:01] SeparateRecords opened #867 "No scroll bar in fig settings"
This impacts users that don't have an input device with a scroll wheel eg. stylus, trackball, eye tracking.

Scrolling with arrow keys is still possible but not nice. Showing the scroll bar by default would be preferable IMO

[2022-01-31 23:08] LifeIsStrange opened #868 "Add support for Hyper on linux"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

The Readme says:

Currently, Fig is only available on MacOS.

But at the same times it says:

Hyper is a cross platform electron based terminal so if your amazing library works on Hyper, it should work on Hyper on every O

[2022-01-31 23:11] mschrage commented on #868
This is unfortunately not the case. While Hyper (and VSCode) are both cross-platform, Fig only works with these applications on macOS.

I am going to close this issue in favor of #34.

[2022-01-31 23:11] #868 closed

[2022-01-31 23:15] mschrage commented on #853
Hmm very strange. Thanks for reporting @luokuning! Would you mind sharing your `zshrc`?

Also could you run `FIG_LOG_LEVEL=DEBUG`, then in a separate terminal run `fig debug logs` and take a screen recording of both terminal sessions.

[2022-01-31 23:26] LifeIsStrange commented on #868
Hmm strange, I guess adding support for it on hyper on linux would be easier to achieve than adding support for it on linux native terminals but OK no problem, good luck with the port :)
BTW out of curiosity I was reading comments that autocomplete was initially written in swift and then planned to be rewrotten in Rust. Have those plans been canceled in favor of typescript or will there be two imp

[2022-02-01 00:14] brendanfalk opened #869 "Git aliases not working for some users"
It appears git aliases aren't working for some users. However, they should be. See example screenshot below

![CleanShot 2022-01-31 at 15 37 34](https://user-images.githubusercontent.com/4949076/151890729-b6192a96-c1e3-47a7-9c48-94e8d88ddf1d.png)

We aren't quite sure what's going on.

If you are facing this issue:
1. Please try restarting Fig (`fig restart`) and see if it works
2. If still not wo

[2022-02-01 01:39] SeparateRecords commented on #757
Adding to this: it would be great to allow people to deselect shells they don't want support for (so fig won't create the profile/rc), eg.

- [x] zsh
- [x] fish
- [ ] bash

I didn't even have a bashrc/bash_profile before installing fig since I just... never needed to use bash. Helps keep the home dir cleaner

[2022-02-01 02:23] brendanfalk opened #870 "Fig showing loading indicator instead of suggestions"
This issue is very similar to this: https://github.com/withfig/fig/issues/779 however the cause is different so we have created a new issue!

https://user-images.githubusercontent.com/8764375/149586610-32dd56b6-5346-4230-9ac1-572a93b17abd.mov

[2022-02-01 04:35] SeparateRecords opened #871 "Suggest all known subcommands"
A way to quickly suggest all subcommands, eg by typing `run` i would be suggested:
[code]

[2022-02-01 06:00] alimagedayad opened #872 "Fig doesn't show up"
### Description:

Fig with working just fine before installing oh-my-zsh and installing the theme but now it doesn't show and the fig icon in the menu bar shows Debugger ??? when I open the terminal.

fig doctor output
[code]
My .zshrc  https://pastebin.com/sAf7Z2Pr

![Screen Shot 2022-02-01 at 7 54 18 AM](https://user-images.githubusercontent.com/16190163/151919595-2d3f462f-3eea-4fb9-8463-ab978b0

[2022-02-01 06:01] alimagedayad commented on #872
I'm using Apple's Terminal.

[2022-02-01 13:35] pronovaso commented on #49
Hi. Is normal, if combination of Webstorm + ZSH shell not work together?

[2022-02-01 15:42] DjDeepDive opened #873 "Fig stopped working after OH-MY-ZSH"
### Description:

After installing OH-MY-ZSH, fig integration stopped working.  I even embedded the ZSH .zshrc script in between the proper fig pre/post setup.

fig doctor gave me this:

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B366) [Beta] [U.S.]
UserShell: /bin/zsh
Bun

[2022-02-01 19:11] tyler-austin opened #874 "Support for oh-my-zsh"
### Description:

I was wondering if there was planned support for oh-my-zsh? I haven't used `cd` in a long time, I don't need it to change directories but I would like some intelisense when I start typing.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.2|Version 1.0.55 (B365)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh

[2022-02-01 19:12] csalmeida opened #875 "Mac M1: PATH and PseudoTerminal PATH do not match"
### Description:

Came across this error when setting up FIg on a Mac M1. Installed fine on an Intel based one but this one showed the following error when running `fig doctor`:

[code]

It also tried to run the following:

[code]

Any pointers would be helpful. 🙏

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>F

[2022-02-01 19:32] #875 closed

[2022-02-01 19:54] craigz opened #876 "Fig "not linked to terminal session""
### Description:

fig was not providing autocomplete at all, so i ran `fig doctor` and everything looked fine, then quit and restarted fig, however it remained not working. i then rebooted and when fig wasn't working, quit and restarted fig. still no luck. i've also both restarted iTerm and tried again with a new window, as well as firing up the stock macOS `terminal.app` however the results were

[2022-02-01 23:01] lorensr opened #877 "Not working in Hyper"
### Description:

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>
It looks like Fig is not running.
Try running: fig restart

</pre>
</p>
</details>

[2022-02-01 23:24] tonysorensen opened #878 "Email verification timeout"
User is unable to get email verification code in time to respond.

Please subscribe to this issue to get an update when Fig's email verification timeout is fixed.

[2022-02-01 23:39] tonysorensen opened #879 "Nushell integration"
"I use nushell and the autocomplete does not show"

Learn more about [nushell](https://www.nushell.sh/).

[2022-02-01 23:40] luokuning commented on #853
@mschrage Sorry for the late response, here is my `zshrc`content:

[code]

and here is the `fig debug logs` output when I enter `git status` in a new terminal window:

[code]

[2022-02-02 00:12] brendanfalk commented on #819
I am also getting this :(

**Reproduce**
It was working just fine. I ran `fig report`. This crashed fig. then I reopened Fig and it is now not tracking window.

@grant0417 was able to reproduce but had to be using iterm and had to run `fig report` twice

**`fig diagnostic` output**

[code]

[2022-02-02 00:17] brendanfalk opened #880 "[warning message] Fig needs to be update and may not work with future versions of macos warning message"
![CleanShot 2022-02-01 at 16 13 44](https://user-images.githubusercontent.com/4949076/152072730-898a7b36-1a22-4326-be23-6fed0156b3a2.png)

!!! This warning message is just a warning. Fig still works totally fine. Just click OK then login. We are working on removing the message !!!

**Reproduce**
1. `brew uninstall fig`
2. `brew install fig`
3. cmd+space -> select Fig
4. Click "okay" when it says t

[2022-02-02 00:23] brendanfalk commented on #819
Also - I have confirmed that this ONLY happens on the beta (1.055 - 366). It does NOT happen on the prod version.

To fix, you have to do a clean uninstall then reinstall: `brew uninstall fig; brew install fig`

[2022-02-02 00:36] alimagedayad commented on #872
Apparently, I forget to restart my terminal and the `exec zsh` wasn't enough. After restarting the terminal it worked.

[2022-02-02 00:36] #872 closed

[2022-02-02 00:37] brendanfalk commented on #819
@6ui11em and @Alalalalaki you will have to do a clean uninstall then re-install to get fig working. My apologies! :(

Out of interest, were you on the beta?

Also don't run `fig report`!

[2022-02-02 00:57] brendanfalk commented on #878
When users login to fig, we send a verification code via email to verify their identity. The timeout for verifying the email is 60 seconds. In some cases, these emails are taking more than 60 seconds to be received meaning the user can't login in the first place.

We believe this could have something to do with user's using VPNs, using specific work emails, or even logging in from certain countrie

[2022-02-02 01:05] brendanfalk commented on #799
As an FYI for any users seeing this, you may have to toggle accessibility off then on again to fix (even if it's checked)

[2022-02-02 01:32] grant0417 opened #881 "VsCode Powershell Extension stalls"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

PowerShell 7.2.1 and tested both the Release and Pr

[2022-02-02 06:02] drewauff commented on #795
Just a quick upgate, I
- uninstalled Fig
- Updated OS
- cleared everything ie.caches etc
- killed the processes that needed to killed (figterm did not want to give up easily)
- went through syslogs (the relevant ones) nothing unusual found.
- reset smc/pram
- reinstalled Fig

Today is day 3 of smoooth running, no cpu spike or memory hogging etc.

Thankyou for EVERYTHING!
-
Andy

[2022-02-02 07:26] yechielw opened #883 "Stuck at white screen after confirming email adress"
### Description:

<img width="703" alt="Screen Shot 2022-02-02 at 9 24 44" src="https://user-images.githubusercontent.com/41305372/152111371-430f8945-9b24-4008-b20d-8d6c99d2f81a.png">
<img width="222" alt="Screen Shot 2022-02-02 at 9 24 56" src="https://user-images.githubusercontent.com/41305372/152111392-1239c37e-8b0d-472c-9d9d-247b3fb11faf.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.0.0|Ve

[2022-02-02 08:48] 6ui11em commented on #819
Hi @brendanfalk ,
I unisntall and re-install fig several times. After fresh install works on the tour terminal, but after close that termial stop working.
I'm I was on beta, but after the problem I didn't turn on the beta in the new installations.

[2022-02-02 10:12] fedeci commented on #878
Couldn't we increase the timeout to two minutes and a half? Would that solve the issue?

[2022-02-02 10:13] fedeci commented on #880
I can investigate this one to see if any deps is using old python.

[2022-02-02 15:13] rohannagpal opened #884 "❌ PATH and PseudoTerminal PATH do not match"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC – India]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true
Number of specs: 0
SSH Integrati

[2022-02-02 15:26] bohemier opened #885 "Terminal freezes when running mc (https://midnight-commander.org)"
### Description:

install fig
brew update; brew upgrade mc
Warning: mc 4.8.27 already installed
mc -> terminal freezes in mc

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Canadian French – CSA]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings

[2022-02-02 15:42] bohemier commented on #885
I removed my midnight commander configuration (/.config/mc) and started fresh, then it worked fine. I know mc was working before I installed fig, but I cannot say what created this blip... Thanks this is a great tool!

[2022-02-02 15:42] #885 closed

[2022-02-02 18:47] mschrage commented on #883
Hey @yechielw, can you check your internet connection? If you are using a firewall or on a VPN, there might be issues. Try using a different network or cellular hotspot.

[2022-02-02 18:50] mschrage commented on #880
Would be great if you can investigate this @fedeci, but I am pretty sure that we don't have any Python dependencies.

Also I am going to close this as a duplicate of #551.

[2022-02-02 18:50] #880 closed

[2022-02-02 18:57] mschrage commented on #853
Hey @luokuning! It looks like all of the editbuffer events are missing the first character.

Rather than seeing `git status`, the autocomplete engine is receiving `it status`. Since there is no completions spec for "it", no suggestions are displayed.

This likely is the result of an incompatibility with your prompt or another shell integration.

Can you try commenting out the iTerm integration and

[2022-02-02 18:58] brendanfalk commented on #878
we are switching login providers and will do this then. I don't think we can change the timeout with current login providers unfortunately :/

[2022-02-02 19:08] mschrage commented on #874
Hey @tyler-austin! Fig should automatically work with oh-my-zsh. Could you elaborate on the behavior that is missing for you?

[2022-02-02 19:09] mschrage commented on #873
Hey @DjDeepDive! To confirm, does autocomplete no longer appear in `zsh`? What if you switch to `bash`?

Would you mind sharing your `zshrc` file?

[2022-02-02 19:19] mschrage commented on #876
Can you run `FIG_LOG_LEVEL=DEBUG` in one terminal session, then run `fig debug logs` in another and take a screen recording of the output while typing in the first terminal?

[2022-02-02 19:20] mschrage commented on #876
Potentially related to #819

[2022-02-02 19:23] mschrage commented on #819
@6ui11em @Alalalalaki are either of you free to do a debugging call? It would be super helpful to have a reproducible environment to investigate this issue.

https://calendly.com/mschrage/30min

[2022-02-02 19:24] mschrage commented on #877
Hey @lorensr, it looks like the macOS app is not running. Can you try launching it from Spotlight search rather than using the terminal?

[2022-02-02 19:29] DjDeepDive commented on #873
For clarity: the popup completion window on Fig no longer shows up in my `zsh` Mac Terminal, but if I hit <tab>, it shows all completion possibilities, including command flag options.  It was working great before installing OH-MY-ZSH.

When I typed "`bash`" in the zsh, Fig stopped working entirely in that window.  Even after manually running the pre.sh and fig.sh, and typing `fig restart`.  Fig sa

[2022-02-02 19:34] mschrage commented on #873
Hmm interesting. If you comment out the line `source ~/.zshrc.ohmyzsh` and open a new terminal, does Fig start working again?

[2022-02-02 19:36] mschrage commented on #877
Hmm. Can you type "git " in Hyper and then take a screenshot of the debugger (click the Fig icon in the menubar).

Then run `fig diagnostic` and share the output here.

[2022-02-02 19:43] lorensr commented on #877
![image](https://user-images.githubusercontent.com/251288/152225282-b78dfe31-0995-4e15-b3e5-a82e1ceda966.png)

[code]

no

[2022-02-02 20:04] mschrage commented on #877
Can you run `ls $TMPDIR` and share the output here?

[2022-02-02 20:13] craigz commented on #876
here's a movie with the requested sequence of events. btw, after the test/recording, i changed `FIG_LOG_LEVEL` from `debug` to `info`. is the the best 'default' setting?

https://user-images.githubusercontent.com/1929275/152229701-41a49419-b6be-4645-a70e-7c8f5749c212.mp4

[2022-02-02 20:16] lorensr commented on #877
[code]

[2022-02-02 20:28] mschrage commented on #877
Hmm can you run `echo $TMPDIR` and also would share your zshrc/bashrc file?

[2022-02-02 20:42] mschrage commented on #876
It seems like unix socket events aren't being sent on each keystroke - this is why the debugger says that the terminal is not linked.

However, it seems like the unix socket connection is working. When you run `fig doctor`, we could see in the logs that a connection was made (see at 0:22).

This makes me think that the issue might be related to your dotfiles. Would you mind sharing your zshrc?

[2022-02-02 20:51] tonysorensen opened #886 "Need company approval - data collection"
**Summary**
Tracking issue for users who work at companies that need to approve data collection by Fig

[What Information Fig Collects and Why](https://fig.io/privacy)

[2022-02-02 21:07] DjDeepDive commented on #873
After commenting that out, and restarting Terminal altogether, nothing from Fig worked.  `fig doctor` said all was good, but it lied to me.  So I put the `source ~/.zshrc.ohmyzsh` back in, quit Terminal and relaunched.... and what do you know... Fig works perfectly.

So I'm not sure what happens in the Oh My Zsh! configuration, or how it butchers Fig.... but now it seems everything is working fine

[2022-02-02 21:34] tonysorensen opened #887 "Fig changes user's prompt configuration"
**Summary**
Fig made changes to the user's prompt configuration. Fig should NOT be changing the prompt.

If you have experienced this please upload your .zshrc/.bashrc and indicate where Fig made unwanted changes.

[2022-02-02 22:08] tonysorensen opened #888 "Any prompt command breaks Fig"
**Summary**
User reports that on opening a terminal window Fig appears normal. After running a command, whether it invokes Fig or not, Fig stops working. Debugger reports everything is normal.

The problem has been reproduced with starship and oh-my-bash themes, but the reporting user did not use either.

[2022-02-02 22:20] n3d1117 opened #889 "Fig autocomplete not showing up"
### Description:

No matter what I do, autocomplete popup never shows for me. I'm using default Terminal.app with zsh shell.
Debugger says "Everything seems to be working" and `fig doctor` shows no issues.
Tried reinstalling multiple times to no avail.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version:

[2022-02-02 23:36] craigz commented on #876
i've just tidied up my .zshrc and have shared it here as a gist:
[.zshrc](https://gist.github.com/craigz/67b06aaa36c40f0ac08f004cf6b9e519)

i've removed a lot of the commented out config notes and unset options for a degree of clarity.

[2022-02-02 23:55] craigz commented on #876
shortly after updating this issue, `fig` sprung back to life in the terminal.
perhaps 'cleaning' .zshrc (basically migrating aliases & functions to separate files) seems to have changed something enough to restore functionality to `fig`.

[2022-02-03 00:37] mustafasoylu opened #890 "fig doctor finds "Figterm socket does not exist at" error"
### Description:
After updating to the below version, fig doctor finds this error "Figterm socket does not exist at /tmp/figterm-w0t0p0:xxxxx.socket" while using iterm2. I have no idea what this is and what is the reason for the error. However, it seems like the fig works without problem.

I checked this problem with terminal and vs code integrated terminal and both look good, **only iterm2 gives

[2022-02-03 01:59] luokuning commented on #853
Hi @mschrage, Thanks for commenting out the sensitive message in my `zshrc` 😄. After replacing my zsh theme with `robbyrussell`, everything just works well! So I guess maybe `powerlevel9k` or `powerlevel10k`(I also tried this one) has some compatibility issues with Fig in some way.

Any way, my problem is solved for now, so I'll just close this issue. Thanks again!

[2022-02-03 01:59] #853 closed

[2022-02-03 02:31] SeparateRecords commented on #625
Can we confirm if this issue is fixed on v1.0.55?

[2022-02-03 02:35] mschrage commented on #890
@soylumutu does inserting text in this terminal session work correctly?

[2022-02-03 03:02] SeparateRecords commented on #180
I think this is already implemented - should we close this? @mschrage

Unless this is about something other than the ctrl+r search like showing history suggestions merged in with the other suggestions.

[2022-02-03 04:13] SeparateRecords opened #891 "Autocomplete spec option sets / parameter sets"
This would be necessary to fully support powershell, but is relevant to many more CLIs.

A lot of CLIs use different sets of parameters / options for different behaviour. Git does this a lot:
[code]

Currently it isn't possible to truly model this kind of exclusivity.

Powershell does this _a lot_ - most commands have two parameter sets, but some have 5+, and I've seen some with way more. Active D

[2022-02-03 05:23] SeparateRecords opened #892 "Show history suggestions inline with options/arguments"
Related: #180

Some people find it more ergonomic to see history suggestions inline - this, plus fuzzy matching, would also make typing frequent long commands easier without having to hit ctrl+r

[2022-02-03 11:48] anthwinter commented on #625
Yeah, this is doing much better for me! Happy to enable Fig again :) Thanks

[2022-02-03 15:26] jithinlalpr opened #893 "fig seems to not work after I restart"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC – India]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/jithin/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH I

[2022-02-03 16:12] smlombardi opened #894 "Path completion stopped working"
### Description:

It used to work fine, but now when I type the beginning of a path like `../` I get the progress ".." animation tooltip indefinitely and have to type the path myself.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.0|Version 1.0.55 (B365)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applicat

[2022-02-03 18:31] mschrage commented on #894
Hey @smlombardi - oof, this sounds super annoying.

Have you made any changes to your zshrc recently? Would you mind sharing this file here so I can take a look at your configuration. Using zplug can cause issues with the psuedoterminal #713.

Also try running `fig doctor` and share the output here.

[2022-02-03 19:36] mschrage commented on #49
@pronovaso yes, currently Webstorm is not yet supported.

[2022-02-03 20:01] ubmit opened #895 "❌ PATH and PseudoTerminal PATH do not match"
### Description:

![image](https://user-images.githubusercontent.com/8797405/152419697-d5c60446-a80e-4cca-b843-7f14f2922c05.png)

![image](https://user-images.githubusercontent.com/8797405/152419790-7b79df0f-46c6-4dab-9c98-704c53f3da0c.png)

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/opt/homebrew/Cellar/fish/3.3.1/bin/fish|
<details><summary><code>fig diagnostic</code></summary>
<p

[2022-02-03 20:16] smlombardi commented on #894
[code]
and my zshrc :

[code]

[2022-02-03 20:40] mschrage commented on #894
Try restarting Fig, then:
Take a screen recording of two terminal windows:
 - In one, run `fig debug logs unix pty c_pty`
 - In the other, type `cd `

[2022-02-03 22:47] smlombardi commented on #894
[code]

[2022-02-04 00:16] afmsavage opened #896 "autocomplete window not working after the tutorial"
### Description:

Fig not working on M1 MacOS laptop.  Have tried to install it via `brew` and by downloading the latest `.dmg`.  Each time I have uninstalled and reinstalled, it works in the tutorial terminal that opens, but as soon as I close that and try to open my own, it never works.

Have tried the dev mode instructions from the `autocomplete` repo, have tried terminal, iterm2, vscode's term

[2022-02-04 00:17] SeparateRecords opened #897 ""Insert common prefix" keybinds with fuzzy search feels wrong"
Everything here is working correctly but the end result doesn't feel good.

Easy reproduction: type this, then hit tab.
[code]

To me, it feels and looks like it should have inserted "autocomplete." but because some fuzzy search matches weren't at the beginning of the name, the only common prefix was "a" so it actually _removed_ the "uto" instead of inserting anything.

What I think should happen:

[2022-02-04 00:52] mschrage commented on #894
@smlombardi would you mind taking a screen recording so I can see what happens as you type "cd " in the terminal?

[2022-02-04 00:55] mschrage commented on #896
@afmsavage thanks for reporting this. The fact that Fig works in the onboarding but then fails afterwards suggests to me that there is a conflict with something in your dotfiles.

Would you mind sharing your `bashrc` & `bash_profile` here?

Also try running `exec zsh` to see if Fig works in zsh.

[2022-02-04 01:11] SeparateRecords commented on #637
@danielehrhardt @myodan can either of you confirm if this is fixed on v1.0.55?

[2022-02-04 01:13] SeparateRecords commented on #893
Hi @jithinlalpr - so to confirm what's happening, after you restart does the ◧ menu item show up? Or is it just the autocomplete popup that doesn't show?

[2022-02-04 01:18] SeparateRecords commented on #866
Hi @advania-tomi - sorry for the issue! Does this still happen after re-running the install script?

<img width="768" alt="CleanShot 2022-02-04 at 12 17 37@2x" src="https://user-images.githubusercontent.com/52195359/152456460-b3745a41-270c-4d4c-a2c3-b515a2e7b198.png">

[2022-02-04 01:23] mschrage commented on #637
There definitely is a fix for this. Would be good to get confirmation, but I'm pretty confident that everything is working now.

[2022-02-04 02:07] tonysorensen opened #898 "[Placeholder] Autocomplete popup doesn't appear"
If you're facing this issue, please try the following -

**Debugging steps**
* Run `fig update` to make sure you're on the latest version
* Run `fig doctor` to self-heal common issues
* Try restarting - `fig restart`
* Check for error messages in our built-in debugger: click the Fig icon in the menu bar

**If the above steps do not resolve your issue**
Please create a new issue in withfig/fig with

[2022-02-04 02:48] jithinlalpr commented on #893
Menu did show up. And it started working when I did something inside it. But not sure what. But at the first time the auto complete wasn't working

[2022-02-04 03:36] SeparateRecords opened #899 "Adding a longer-form "help" popup"
It can be jarring to context switch to either the manual or read `--help` output.

I imagine this as being a floating window, similar to Raycast or CheatSheet, that displays some help text.

Long form help could be done in a couple of ways:
1. Include a string literal description in specs
2. Generate from the man page: you can get the location of a manual page with `man --path <name>`. There could

[2022-02-04 12:30] advania-tomi commented on #866
Hi @SeparateRecords
Apart from that fail on fig doctpr fig seems to work fine.

That re-running did not have noticeable difference. I still get that same indication...

I noticed that on my integrations menu there is no iTerm
and that's because I don't think I have that app installed...

![image](https://user-images.githubusercontent.com/61293271/152529092-ea670b27-3906-47ec-9797-6f4b9012d1cc.png)

[2022-02-04 12:32] smlombardi commented on #894
I didn't realize I had to type the space after cd.  Here is the recording

https://user-images.githubusercontent.com/835148/152529549-098615f7-bbf1-4af5-97c3-ff28b576cc85.mp4

[2022-02-04 13:43] Sufiane commented on #815
@mschrage the issue is resolved now, i feel like its related to the latest release (better recognition of shell aliases maybe ?)

Thank for you help guys, i'll close the issue :)

[2022-02-04 13:43] #815 closed

[2022-02-04 14:30] ankitbrahmbhatt1997 commented on #810
Any update on this ? facing the same issue
@SeparateRecords

[2022-02-04 16:13] mschrage commented on #815
Hmm I'm not sure why this would have been resolved. I think the underlying issue is that Fig attempts to expand the alias before providing completions. Since we have no completion spec of `npq-hero`, no suggestions will appear.

One fix is to use a **shell function instead of an alias**, like this` npm() { npq-hero }`. Fig does not expand shell functions.

Another fix would be to add a completion

[2022-02-04 18:22] brendanfalk commented on #819
We will do a build on Brendan's computer with fig report re-enabled and reproduce

[2022-02-04 18:34] brendanfalk commented on #699
Fig should now officially support tmux. If it doesn't, it is likely due to a special tmux plugin you have.

If you use vim-tmux-navigator: https://github.com/christoomey/vim-tmux-navigator/issues/295#issuecomment-1021591011

If it's something else, please create an issue with your tmux.conf file and bashrc/zshrc and we will investigate

[2022-02-04 18:34] #699 closed

[2022-02-04 18:35] brendanfalk commented on #888
When we fix this, we need to add tests!

[2022-02-04 18:35] brendanfalk commented on #888
@sullivan-sean will investigate

[2022-02-04 18:38] brendanfalk commented on #888
This should work fine with a basic PROMPT_COMMAND - if you have something more custom please comment it below and we will look into it

[2022-02-04 18:44] brendanfalk commented on #878
This will be fixed today!

[2022-02-04 18:47] brendanfalk commented on #870
If you are facing this issue, please comment a video with the output of the following:

1. Open two terminals side by side
2. In the left terminal, run `fig debug logs unix pty c_pty`
3. In the right terminal, type some example commands: e.g. `cd[space]`, `git push[space]`, `ls[space]`

[2022-02-04 18:58] #799 closed

[2022-02-04 19:03] brendanfalk commented on #897
This is happening because insert-common prefix is turned on. When a user types a short string, then inserts, it will insert the common prefix, which may be nothing...

[2022-02-04 19:35] brendanfalk commented on #869
Note: this usually happens because our pseudoterminal (the background terminal we spawn up to run commands) gets blocked somehow. This often happens because something you have in your bashrc/zshrc prompts you for an update - e.g. oh-my-zsh asks you if you want to update. This blocks the loading of the remainder of your shell. But obviously you can't respond because it is a background process.

Res

[2022-02-04 19:35] #760 closed

[2022-02-04 22:02] mschrage commented on #35
What is the unix-like environment you use on Windows most often?

I'm assuming WSL, but I could be completely wrong.

[2022-02-04 22:17] jasonwashburn commented on #35
Usually WSL through windows terminal , but I also use git bash occasionally through windows terminal….I believe it runs msys2 or something like that
On Feb 4, 2022, 4:02 PM -0600, Matt Schrage ***@***.***>, wrote:

[2022-02-04 23:01] TheOnlyTails commented on #35
I actually almost never use WSL, I use Git Bash (via Windows Terminal), with Zsh installed on top of it.

[2022-02-05 05:00] mschrage opened #900 "Only show suggestions for arguments"
![CleanShot 2022-02-04 at 20 01 48](https://user-images.githubusercontent.com/3155109/152629341-87014bb0-8fbb-45e7-a7e4-75dd6c13b1f3.png)

[2022-02-05 12:21] yoavbls opened #901 "Ability to add more then one CLI tool with same command"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

I noticed that I get a wrong autocomplete suggestions for the `task` command,
That's because I refer to task runner called "Task" (https://taskfile.dev/)
And Fig got auto-completion for a different CLI t

[2022-02-05 13:23] Sufiane commented on #815
the thing is, it now works perfectly and I couldn't be happier 😅

I'll se if I can squeeze a PR about duplicating the npm spec to npq-hero.
if it's good with you ?

Le ven. 4 févr. 2022 à 17:13, Matt Schrage ***@***.***> a
écrit :

[2022-02-05 19:26] afmsavage commented on #896
When I run `fig doctor` for the first time, I always get this fix from it:

[code]

Gist with my dotfiles (sanitized).  The other few files at the top that are imported are just secret token env vars being imported so no logic being imported.

https://gist.github.com/afmsavage/7a212d0e7c0c8305cc4a70d122ebcece

[2022-02-05 22:39] afmsavage commented on #896
Been messing around with changing up and removing different pieces of my `~/.bash_profile` and `~/.bashrc`.  I think it may have something to do with the fact that fig is trying to reference `~/.bashrc` on a Mac, but bash uses `~/.bash_profile` on a mac when opening a new terminal.  And then if I try to source `~/.bashrc` somewhere in the middle of my `~/.bash_profile`, the fig scripts run but are

[2022-02-05 23:59] UtkuBilenDemir opened #902 "Unresponsive in tmux"
### Description:

Hi everyone,

fig works great both on iTerm and macos terminal until I start tmux. There are similar issues but in my case there is no flicker, no error or any other feedback, it is just unresponsive.

Thanks for your help!

https://user-images.githubusercontent.com/84389167/152662877-5d785d84-7383-4b35-84cd-1c7248e365fb.mov

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0

[2022-02-06 01:55] SeparateRecords commented on #250
This behaviour would also help with the twilio CLI spec I'm working on.

Summary:
The spec uses an optional argument that has a generator. The generator helps you build a (hidden) subcommand. Once you've finished building the subcommand, because the name now matches, it shows up in the suggestions list:
<img width="709" alt="CleanShot 2022-02-06 at 12 51 38@2x" src="https://user-images.githubuserc

[2022-02-06 10:25] pronovaso opened #903 "Fig sometime overflows memory"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Quite often when I use fig in my t

[2022-02-06 11:24] fedeci commented on #880
Found this for 10.15 patch notes:

[2022-02-06 12:07] fedeci commented on #903
Duplicate of #593

[2022-02-06 12:18] #902 closed

[2022-02-06 12:35] fedeci commented on #903
@pronovaso is there any command you are running often?

[2022-02-06 14:09] pronovaso commented on #903
Today this problem with npx. If I play with npx and paste command from my Alfred snippet.What I try now. In my terminal (iTerm2) I write npx and -- version and then write sudo npx npm-check - u -g from history, then overflows memory. Always in each test.

[2022-02-06 14:32] fedeci commented on #903
Thanks! I'll see if I can reproduce it easily.

[2022-02-06 14:48] fedeci commented on #903
I cannot reproduce, do you have xCode installed? It would be helpful if you could profile the app using Instruments.app.

[2022-02-06 14:52] pronovaso commented on #903
xCode I have. Now I try same steps to reproduce and bum, overflows. IniTerm2 I have with zsh.

[2022-02-06 15:04] pronovaso commented on #903
I made video. You can watch it.
https://wetransfer.com/downloads/f5d73900ded4e904151686fa63f5860320220206150102/7c9974c96b23155019ae0e331a12876020220206150121/95af4f

[2022-02-06 15:06] fedeci commented on #903
This helped! I thought you was using zsh history and not iterm one.

[2022-02-06 15:10] pronovaso commented on #903
This issue in not only from zsh history but if I write this command as well and if I have sniper in Alfred app and write snip shortcut.

[2022-02-06 15:19] fedeci commented on #903
Could you do the following for me:
1. Search Instruments in Alfred or in Spotlight and open it (it has an icon similar to the app store one but with dark background)
2. Select leaks from the collection
3. On the top of the window you should see "Choose a profiling template for: ", select the Fig app.
<img width="836" alt="Schermata 2022-02-06 alle 16 17 06" src="https://user-images.githubuserconte

[2022-02-06 16:32] jaenwawe commented on #452
Hi!  Did you get Fig working yet?

[2022-02-06 17:35] astrobound commented on #855
same issue.

### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/brandonthomas/.fig/bin/fig
Accessibility: true
Number of s

[2022-02-06 21:10] pronovaso commented on #903
It doesn't works. Each time I get error with gain my pass.

[2022-02-06 21:22] fedeci commented on #903
What do you mean by "gain my pass"?

[2022-02-06 21:36] pronovaso commented on #903
It looks as dont right recognize authorization. But I found solution and have a test.
https://wetransfer.com/downloads/025a4325dfe2f3f7a209e46e7620036220220206212357/c6aaa8caa171ef8d1df00100e566a31520220206212427/eefdc1

[2022-02-06 21:48] fedeci commented on #903
That trace does not contain any memory leak however 🤔

[2022-02-06 21:54] pronovaso commented on #903
But overflows came in. In App monitor memory usage of fig grows up.

[2022-02-06 22:29] EmranMR commented on #49
any chance to get Fig working with https://nova.app by panic somehow? 😁

[2022-02-06 22:49] fedeci commented on #903
I suppose you were recording using Instruments when the leak(overflow) occurred, right? It's really strange it wasn't detected by instruments🤔
Tomorrow I'll try to reproduce partially your oh-my-zsh config and investigate further.

[2022-02-06 23:11] pronovaso commented on #903
According to the instructions.

[2022-02-06 23:20] SeparateRecords commented on #810
@mschrage @grant0417 do we know if this fixed in the beta?

[2022-02-06 23:33] mschrage commented on #810
@ankitbrahmbhatt1997 have you changed the setting that hides the Fig from your menubar?

[2022-02-07 06:47] ankitbrahmbhatt1997 commented on #810
@mschrage Fig remains in my menu bar all the time

[2022-02-07 07:57] myodan commented on #637
I've checked the troubleshooting. I will close this issue.

[2022-02-07 07:57] #637 closed

[2022-02-07 09:07] 6ui11em commented on #819
@mschrage , Sorry for the late reply, I was out for a few days. If you still need it I can make a call.

[2022-02-07 14:28] fmoore opened #904 "Figterm socket exists but is not writable"
### Description:

❯ fig doctor
❌ Fig is not running

I can fix this!
Running > fig launch

→ Launching Fig...

Fix applied!
Rerunning fig doctor to see if the problem is resolved.....

❌ PATH and PseudoTerminal PATH do not match

I can fix this!
Running > fig app set-path

Setting $PATH variable in Fig pseudo-terminal...

Fig will now use the following path to locate the fig executable:
/usr/local

[2022-02-07 15:44] Brendonjhawkins opened #905 "Fig not loading in sync with Terminal"
### Description:

Lately when I open my terminal, if my computer has been sleep for some time, fig does not load, and I have to restart fig and my terminal for them to sync.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1.0|Version 1.0.52 (B315)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.52 (B315) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.a

[2022-02-07 18:17] ClaudiusSeibt opened #906 "'PATH and PseudoTerminal PATH do not match' Fig Doctor after reinstall"
### Description:

<img width="1904" alt="Screenshot 2022-02-07 at 18 15 56" src="https://user-images.githubusercontent.com/57871362/152847603-f0669fe7-a642-49ab-8fa5-d852f94a283e.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [German]
UserShell: /bin/zsh
Bundle path: /App

[2022-02-07 20:25] mschrage commented on #819
Getting on a call would be great :)

[2022-02-07 21:35] speciale opened #907 "Just installed on 10.13 (High Sierra) and here I am."
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.13.6 17G14042|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [French - Numerical]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/speciale/.fig/bin/fig
Accessibility: true
Number of

[2022-02-07 22:25] mschrage commented on #907
Hey @speciale! What seems to be the issue?

[2022-02-07 23:13] mschrage commented on #904
Hey @fmoore! Thanks for reporting this. Is everything working for you?

[2022-02-07 23:14] speciale commented on #907
When I run doctor I get this

[code]

[2022-02-07 23:15] mschrage commented on #905
Hey @Brendonjhawkins! You're on an old version of Fig. Try running `fig update` to download the latest build.

I'm going to close this issue for now, but will reopen it you're still running into problems on v1.0.56.

[2022-02-07 23:15] #905 closed

[2022-02-07 23:16] fmoore commented on #904
I restarted iTerm2 and the bug disappeared! Thanks.

From: Matt Schrage ***@***.***>
Date: Monday, February 7, 2022 at 5:14 PM
To: withfig/fig ***@***.***>
Cc: Jocelyn Desbiens ***@***.***>, Mention ***@***.***>
Subject: Re: [withfig/fig] Figterm socket exists but is not writable (Issue #904)

Hey @fmoore<https://github.com/fmoore>! Thanks for reporting this. Is everything working for you?

—
Repl

[2022-02-08 00:18] benthecoder commented on #890
I have the same issue

[2022-02-08 00:34] mschrage commented on #890
This will be fixed in the next release! It is a bug with the `fig doctor` diagnostic rather than the app itself.

[2022-02-08 02:45] mschrage commented on #907
Does Fig show autocomplete suggestions for you?

[2022-02-08 11:22] speciale commented on #907
Yes, it works.
![Screen Shot 2022-02-08 at 11 59 39](https://user-images.githubusercontent.com/1444636/152977036-cdb750cf-1307-45e8-8694-b4c01d2e1018.png)

I just did as I was told, I did run `fig issue` and here we are.

[2022-02-08 13:23] SeparateRecords opened #908 "Option to toggle folders template with no spec selected"
Some shells allow you to `cd` into a directory without explicitly writing `cd` - eg writing `~` will take you back home.

An option to display the `folders` template by default would enable completions for the users with this enabled.

[2022-02-08 15:31] chrisgrieser opened #909 "Hyper integration failing"
### Description
I am using Hyper and got this info that the integration isn't installed.

![image](https://user-images.githubusercontent.com/73286100/153019396-b5f36a06-be59-44bb-b641-3aa6a8327dbe.png)

Attempting to install fails, and the "learn more" button leads me to a 404 page: https://fig.io/support/terminals/hyper
if fig has some sort of integration plugin, it's also not listed in the Hyper

[2022-02-08 18:04] iWECon opened #911 "fig doctor error"
### Description:

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|-zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true
Number of specs: 0
SSH Integration:

[2022-02-08 18:07] iWECon commented on #911
same as #890

[2022-02-08 18:07] #911 closed

[2022-02-08 18:46] fedeci commented on #903
@pronovaso what happens if you comment all your `.zshrc` apart from Fig env variables and run `source .zshrc`? Does the leak occur?

[2022-02-08 19:09] pronovaso commented on #903
I try disabling all apart from fig. Then all works well. Next I try disabling different settings.It seems that ENABLE CORRECTION="true" caused overflows.
If this helps forever :-) then I must saing... thanks a lot @fedeci

[2022-02-08 19:27] fedeci commented on #903
At least we isolated the part that's making the app leak
/cc @mschrage any idea what may be the problem in our codebases?

[2022-02-08 19:27] fedeci commented on #593
@CobreDev can you post your `.zshrc`? Are you using `ENABLE_CORRECTION="true"` in it?

[2022-02-08 20:32] jtexi001 opened #912 "PATH and PseudoTerminal PATH do not match after installation"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/usr/local/Cellar/bash/5.1.4/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /usr/local/bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/jorge/.fig/bin/fig
Accessibilit

[2022-02-08 20:59] mschrage commented on #903
@fedeci @pronovaso I'm unfamiliar with `ENABLE CORRECTION=true`. This is not a Fig setting or environment variable as far as I know.

[2022-02-08 21:08] fedeci commented on #903
https://blog.confirm.ch/zsh-tips-auto-completion-correction/

It is🤔, I think Fig API is also considered part of that, so we should take also that in consideration while searching for this issue. I still can't reproduce it with the basic oh-my-zsh setup and `ENABLE_CORRECTION=true`.

[2022-02-08 21:13] tommasoperitoree opened #913 "Fig is disabled in Terminal.app"
### Description:
When running terminal, none of the settings from fig appear, while on the fig menu from the mac menu bar it says terminal not supported (see picture)

### Details:
<img width="660" alt="Screenshot 2022-02-08 at 22 12 20" src="https://user-images.githubusercontent.com/91907382/153076467-e13a0699-0200-4b3c-a00b-e81e7d53fa7a.png">

|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/ba

[2022-02-08 21:16] tommasoperitoree opened #914 "Not linked to terminal session"
### Description:
Not sure what setting I didn't set correctly
<img width="662" alt="Screenshot 2022-02-08 at 22 15 08" src="https://user-images.githubusercontent.com/91907382/153076937-160799c0-f516-4646-bca5-44c4ed9a9dc1.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [I

[2022-02-08 21:34] brendanfalk commented on #914
This is a duplicate of https://github.com/withfig/fig/issues/819

[2022-02-08 21:36] brendanfalk commented on #819
https://github.com/withfig/fig/issues/914

[2022-02-08 22:43] mschrage commented on #913
It looks like you've disabled autocomplete for Terminal.app!

You can check by running `fig settings integrations.terminal.disabled`. If this returns `true`, then you can resolve this issue by `fig settings integrations.terminal.disabled --delete`.

Try this and then let me know if you're still running into issues!

[2022-02-08 22:44] tommasoperitoree commented on #913
It returns false

[2022-02-08 22:48] brendanfalk opened #916 "Shell parser should account for environment variables on one line of command"
It is totally valid for users to prefix any shell command with the definition of an env variable. e.g.
[code]

Fig does not offer suggestions when users do this. We should!

This requires an update to our shell parser.

A common use case of this is:
[code]

[2022-02-08 23:11] mschrage commented on #913
Can you run `cat ~/.fig/settings.json` and share the output here?

[2022-02-08 23:20] tommasoperitoree commented on #913
{
  "app.hideMenubarIcon": false,
  "autocomplete.disable": false,
  "autocomplete.theme": "dark",
  "pty.path": "/Users/tommasoperitore/.pyenv/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Library/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/tommasoperitore/.fig/bin"
}

[2022-02-08 23:24] brendanfalk opened #917 "Deploying with fastlane with Fig installed causes computer to crash"
Title says it all...

I solved this, uninstalling Fig. but that's the only issue I had.

User is referencing https://fastlane.tools/

[2022-02-08 23:31] brendanfalk commented on #917
If you are facing this issue, could you please try
1. running `fig doctor`
2. restarting `fig restart`
and seeing if this issue persists

[2022-02-08 23:56] brendanfalk opened #918 "Folder suggestions should enable users to navigate hierarchy without inserting text"
Currently if I want to see what's in a directory, I have to actually enter the text for the directory + the slash

![CleanShot 2022-02-08 at 15 42 59](https://user-images.githubusercontent.com/4949076/153094450-d78a3691-4a15-4573-9642-c8048fab13cc.png)
![CleanShot 2022-02-08 at 15 43 33](https://user-images.githubusercontent.com/4949076/153094474-7102b8cf-b355-430f-9ebd-23d3a170f103.png)

It would

[2022-02-09 00:44] chrisgrieser commented on #909
solved on Discord thanks to Matt 👍

for anyone finding this later on: adding the following line to the `.hyper.js` solves it:
[code]

[2022-02-09 00:44] #909 closed

[2022-02-09 00:57] mschrage commented on #913
Hmm interesting. Can you run `defaults read com.mschrage.fig` and share the output?

[2022-02-09 01:35] CobreDev commented on #593
[code]

[2022-02-09 01:40] SeparateRecords opened #919 "Popup doesn't go away after successful SSH command"
<img width="500" alt="Screen Shot 2022-01-31 at 11 42 24 PM (2)" src="https://user-images.githubusercontent.com/52195359/153105455-308fcc35-c741-4af4-86a3-fcff09b78969.png">

I don't have a spare machine to reproduce this on right now

[2022-02-09 04:35] SeparateRecords commented on #679
This is also useful on user accounts that don't have admin permissions, or for when you don't want it to be installed system-wide (eg. partner's laptop).

Generalising this to "create symlinks to wherever the app is running from" will also allow people to install to, say, `/Applications/Development/Fig.app`.

[2022-02-09 05:35] SeparateRecords opened #920 "Not working with zplug"
With zplug loaded, fig does not work

<img width="256" alt="image" src="https://user-images.githubusercontent.com/52195359/153128314-8b5e5ba2-945c-411d-aa4e-890f36c71663.png">

I replaced `zplug load` with this snippet, then restarted Fig, and it resumed working for me.

[code]

[2022-02-09 05:39] SeparateRecords commented on #809
Looks like this could also be #920 actually - zplug breaks fig on my machine and someone else's too.

[2022-02-09 07:50] tommasoperitoree commented on #913
Here the results from running

defaults read com.mschrage.fig

{
    " 2022-02-09T00:00:00+0100#terminalUsage" = 391;
    "NSWindow Frame Main Window" = "400 400 300 300 0 0 1440 875 ";
    "NSWindow Frame NSSpellCheckerSubstitutionsPanel2" = "692 407 425 137 0 0 1440 875 ";
    SUAutomaticallyUpdate = 1;
    SUEnableAutomaticChecks = 1;
    SUHasLaunchedBefore = 1;
    SULastCheckTime = "2022-02-

[2022-02-09 08:43] gumerovk opened #921 "PATH and PseudoTerminal PATH do not match"
### Description:
PATH and PseudoTerminal PATH do not match

I can fix this!
Running > fig app set-path

Setting $PATH variable in Fig pseudo-terminal...

Fig will now use the following path to locate the fig executable:
/usr/local/opt/python@3.10/bin:/usr/local/sbin:/Library/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/opt/python@3.10/bin:/u

[2022-02-09 09:00] gr1ng0wf opened #922 "not working from phpstorm terminal"
### Description:

i use zsh terminal from my phpstorm and fig not working.
PhpStorm version: 2021.3.1

My ~/.zshrc code:

#### head code:
[code]

#### bottom code:
[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.ap

[2022-02-09 11:55] fedeci commented on #593
I can confirm ENABLE_CORRECTION="true" is the cause of the memory leak, I was able to successfully reproduce it!

[2022-02-09 11:56] fedeci commented on #903
<img width="899" alt="Schermata 2022-02-09 alle 12 54 32" src="https://user-images.githubusercontent.com/38510000/153196317-52322eb8-ff55-4eb8-917d-083f118b119c.png">

Reproduced!

[2022-02-09 14:12] CobreDev commented on #593
Ah interesting, i’ll play around with it!

[2022-02-09 15:55] NoirJ0e commented on #809
I tried to switch the `zplug load` to the snippet you mentioned, but sadly it still not working for me

[2022-02-09 16:47] mschrage commented on #809
@NoirJ0e did you restart Fig?

[2022-02-09 17:30] webdevnerdstuff commented on #809
@mschrage I am not using zplug, and never got a response to my last comment. This does not solve the path suggestion problem, so please open this ticket back up. I'd rather not open a new Issue for the same exact reason and have to copy paste everything over.

[2022-02-09 18:10] mschrage commented on #922
Hey @gr1ng0wf! Currently JetBrains IDEs aren't supported yet. See #49 for more details.

[2022-02-09 18:10] #922 closed

[2022-02-09 18:17] mschrage commented on #913
This is very strange. The "Terminal is disabled" text only appears if a setting has been changed to prevent Fig from appearing when using Terminal.app.

However, it looks like you don't have that setting enabled.

Does Fig work in other terminals? eg. iTerm or VSCode?

[2022-02-09 18:19] webdevnerdstuff commented on #809
@mschrage My fig diagnostic is in this comment: https://github.com/withfig/fig/issues/809#issuecomment-1024521154

For the bash_profile I tested with bare bones and removed anything I had it in, the info is in this comment: https://github.com/withfig/fig/issues/809#issuecomment-1024986196

After making changes, I restarted fig multiple times when I was testing things out.

[2022-02-09 18:24] mschrage commented on #809
Hmm then can you schedule sometime get on a call? https://calendly.com/mschrage/30min

[2022-02-10 05:13] brendanfalk opened #923 "[Beta] Noticeable delay in autocomplete suggestions showing up after insertion"
After updating to the most recent beta (build 374), I started to notice the suggestions popped up slower than before. This was especially in the cd suggestions after inserting the first directory. e.g. going from `cd[space]` to `cd desktop/`

According to the videos, the time between the text being inserted and the popup showing has almost doubled (from ~60ms to ~110ms). Unfortunately, these stati

[2022-02-10 05:24] mschrage commented on #923
This is not actually a Rust issue.

Sean and I removed a delay around the insertion lock in the previous version that we thought was no longer necessary. Getting rid of the delay introduced a bug (folder suggestions not appearing after an insertion). We reintroduced the delay in the latest version to fix this issue. It has nothing to do with the figterm rewrite.

We have an idea for how to fix thi

[2022-02-10 05:33] brendanfalk commented on #923
Got it updated title and issue info accordingly

[2022-02-10 20:07] btmurrell opened #924 "How to configure secure keyboard input for Hyper on MacOS?"
### Description:

`fig doctor` diagnoses no secure keyboard input.  [This document](https://fig.io/docs/support/secure-keyboard-input) explains how to configure secure input for terminals other than Hyper.  The details included in my generated issue content below show this, which is misleading:
[code]

Why is doctor telling me there's a problem with secure keyboard input?

[code]

### Details:
|ma

[2022-02-10 20:39] Rcwynter opened #925 "fig not integrating into terminal"
### Description:

When I run fig doctor it return the following:
**
❌ PATH and PseudoTerminal PATH do not match

Looks like we've already tried this fix before and it's not working.
**

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Appli

[2022-02-10 23:32] SeparateRecords opened #928 "Folder suggestions not shown after slash"
Folder suggestions were not being shown after accepting a suggestion, this persisted even through restarting the app.

Will be following up with more details

[2022-02-11 05:14] SeparateRecords opened #929 "Suggest creating a mixin for commonly repeated commands"
Say you common run this command:
[code]

Fig could suggest creating a mixin for it, and pre-populate the mixin itself. This would be a faster and smoother UX than having people manually follow the guides.

[2022-02-11 05:24] SeparateRecords commented on #855
Hey everyone! Sorry about this bug. Can you try running this command and let me know if it fixes it for you?

[code]

[2022-02-11 07:26] jithinlalpr commented on #893
It happens from time to time

[2022-02-11 15:56] cori-afs commented on #912
Here to open the same issue

### Description:

[code]

but I think my shell is perfectly parseable

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]

Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /User

[2022-02-11 15:58] tclancy commented on #819
Same issue here. Happy to try to debug as I found out it broke right after writing my first spec.

<details>
  <summary>fig diagnostic</summary>

[code]
</details>

[2022-02-11 17:14] TheFahim opened #930 "cannot add new variable path"
### Description:

and when i tried to add variable path with command vim ~/.zshrc command this weird message shows up

#### FIG ENV VARIABLES ####
# Please make sure this block is at the start of this file.
[ -s ~/.fig/shell/pre.sh ] && source ~/.fig/shell/pre.sh
#### END FIG ENV VARIABLES ####

#### FIG ENV VARIABLES ####
# Please make sure this block is at the end of this file.
[ -s ~/.fig/fig.s

[2022-02-11 17:47] fedeci commented on #930
Fig edits config files to add variables required to make fig work. You can add new variables manually between the two Fig "block". Are you using Fig dotfiles beta?

[2022-02-11 18:13] brendanfalk commented on #928
Will be fixed with v1.0.56

[2022-02-11 18:29] brendanfalk commented on #916
In progress, @fedeci

[2022-02-11 18:29] brendanfalk commented on #900
Not a priority right now.

One suggestion is a hot key that filters suggestion types (e.g. subcommands, options, args, all)

[2022-02-11 18:39] brendanfalk commented on #701
We implemented the solution discussed above except do not yet have a notification telling users that their wifi is enabled.

We still need to enable users to download the specs locally so it can work offline

[2022-02-11 18:41] brendanfalk commented on #701
We will likely enable users to download specs locally by running `npm install -g @fig/autocomplete`

[2022-02-11 18:41] fedeci commented on #916
Ready by Monday!

[2022-02-11 22:23] jtexi001 opened #931 "Fig is not working for Iterm2"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/usr/local/Cellar/bash/5.1.4/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /usr/local/bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true

[2022-02-11 22:50] mschrage commented on #931
Hey @jtexi001! So sorry that Fig isn't working for you.

Can you do the following debug steps?

1. Run `fig doctor` and share the output here.

2. Upload your `~/.bashrc` file

3. Take a screen recording with two terminals open. In the first, run `fig debug logs`. In the second, type "git commit" & "cd ".

[2022-02-11 23:13] grant0417 opened #932 "Docker Integration"
Currently docker is not integrated with Fig, the integration needs to be updated to work again.

[2022-02-11 23:30] grant0417 opened #933 "Set psudoterminal path before doctor is ran"
The psudoteminal path should be set before doctor is ran if it is currently unset.

[2022-02-11 23:43] brendanfalk opened #934 "Stop using /tmp for socket connections"
Currently Fig's callback files for running shell commands are put in the `/tmp` folder.

Some users use `/tmp` as a core part of their workflow. Fig pollutes this folder.

We should namespace our connections under something like `/tmp/fig/`

[2022-02-11 23:47] grant0417 opened #935 "Fig not working and `doctor` is stuck"
M1 MacBook, on beta. Debug states all is fine but not working.

Also fig doctor is stuck and has no output

[2022-02-11 23:58] bryanparadis opened #936 "Restart from Fig App menu only succeeds in restarting Fig if it started recently <60s ago."
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
If I restart Fig from the system t

[2022-02-12 11:42] dfucci commented on #935
output of `fig diagnostic`

[code]

[2022-02-12 13:38] yackinn commented on #861
Unforunately not. The system restarts the daemon immediately after shutting it down.

[2022-02-12 18:10] mschrage commented on #935
I can reproduce as well.

[2022-02-12 18:12] mschrage commented on #924
Hey @btmurrell! Check out this support guide: https://fig.io/docs/support/secure-keyboard-input

Hyper might not be responsible - it could be a password manager.

[2022-02-13 23:20] SeparateRecords commented on #935
FWIW I can too.

[2022-02-14 01:17] SeparateRecords opened #937 "Prints "\033]697;DoneSourcing" when using `ssh -J` in Fish"
Report from emails (unable to follow up)

[2022-02-14 01:19] SeparateRecords commented on #936
Super weird, I can't reproduce this. Fig restarts perfectly for me. @grant0417 is this a known problem?

[2022-02-14 05:22] SeparateRecords opened #938 "Persistent window with custom content"
Idea: A customizable floating window with programmatically generated content (much like the OG sidebar!)

@brendanfalk let me know if there's a better place for this kind of suggestion

<img width="967" alt="Terminal with floating window display CWD and git branch" src="https://user-images.githubusercontent.com/52195359/153803270-6ac00ac4-93f5-4554-8518-c1371f7f73e1.png">

[code]

[2022-02-14 07:55] tommasoperitoree commented on #913
Yup, says the same thing with VSCode as well.
Do you suggest manually uninstalling and cleaning all related files?

[2022-02-14 15:12] colinknebl opened #939 "Incorrect cursor position"
### Description:

There is a UI issue in both iTerm2 and Terminal where the cursor starts at the wrong position and writes over the path text when the window is a minimum width.

When fig is not running, this bug is not present in either iTerm2 or Terminal.

Screen recording of issue:
https://user-images.githubusercontent.com/24233575/153889710-53ad261c-9d3f-4ab2-82f3-0f57596ba98e.mov

### Details

[2022-02-14 20:27] mschrage commented on #937
This seems to be related to #854. cc @sullivan-sean

[2022-02-14 20:30] mschrage commented on #939
Hey @colinknebl, I think this has to do with your theme.

Are you using af-magic? See #739for an explanation of what's going on and potentially how to fix this.

Would you also mind sharing your zshrc?

[2022-02-14 20:56] mschrage commented on #936
Restarting Fig can sometimes be a little flakey. I'll investigate to see if I can reproduce this behavior @bryanparadis.

[2022-02-14 21:40] jeregrine opened #940 "Fig Accessibility Warning won't go away"
### Description:
Run fug:
See popup about fig accessbility, check and uncheck. No change popup stays. Doctor says Accessibility is disabled.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3 21E5206e|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settin

[2022-02-14 23:17] SeparateRecords commented on #940
Does this persist even after running `fig restart`? Is this on a personal computer?

[2022-02-15 01:19] mschrage commented on #940
Hey @jeregrine. Try deleting Fig from the Accessibility pane by clicking the "-" button. Then add it back by pressing the "+" button.

Sometimes the macOS database that manages this gets locked in a weird state.

[2022-02-15 01:37] mschrage commented on #913
@tommasoperitoree - yeah, try a fresh install. Also make sure you follow these instructions when uninstalling: https://fig.io/support/other/uninstall

[2022-02-15 02:41] SeparateRecords commented on #888
Here's another config that is a minimum reproduction for one person, but works fine for me. Not sure what's causing this to break. Possibly another condition is causing PROMPT_COMMAND to fail?

[code]

[2022-02-15 04:26] SeparateRecords opened #941 "SSH error when using `ssh -J host1 host2` when config is shared"
From emails:

On a laptop without my main Mac so I don't have a remote to test this on yet.

[2022-02-15 07:08] SeparateRecords commented on #598
As far as I can see this only happens if your login shell is powershell

[2022-02-15 07:19] SeparateRecords opened #942 "Fig breaks setup based on zsh-quickstart-kit"
https://github.com/unixorn/zsh-quickstart-kit

Haven't had time to test this myself.

[2022-02-15 08:02] fuykun opened #943 "fig not works"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [Dev] [Turkish Q]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/furkanuykun/.fig/bin/fig
Accessibility: true
Number of spe

[2022-02-15 08:28] SeparateRecords opened #944 "Support autocomplete in GCP Cloud Shell"
https://cloud.google.com/shell

Related: #406

Could be solved by a browser extension?

[2022-02-15 09:55] sandervspl opened #945 "Fig install "fig doctor" errors"
Fixed with restart.

[2022-02-15 11:44] #945 closed

[2022-02-15 13:36] jeregrine commented on #940
@mschrage that seems to have worked.

[2022-02-15 13:36] #940 closed

[2022-02-15 13:57] colinknebl commented on #939
Hi @mschrage, Yes, I am using af-magic theme.

I looked at #739, and if I re-added the 2 lines that were removed:
[code]
which seems to fix the cursor position, but the spacing on the right is still off.

Below is my zshrc

[code]

[2022-02-15 15:24] lobatolais commented on #855
It didn't work for me 😔
I'm still getting the same error when running `fig doctor`

[2022-02-15 15:36] torqu3e opened #946 "Fig does not work except first time after install"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Fig only works right after the ini

[2022-02-15 16:22] mschrage commented on #939
Glad to hear that everything is working now.

You can also fix this by updating to the latest version of oh-my-zsh.

[2022-02-15 16:25] mschrage commented on #946
@torqu3e if you quit all terminal sessions and then reopen them does this issue go away?

[2022-02-15 19:04] DKroot commented on #941
OK, here are additional details.

1. The issue is reproducible once I install the latest Fig (1.0.55) on Mac (`brew install fig`).  If I revert Fig's changes in Bash profile files on the Mac, the issue goes away. This seems to be not related to the Linux profiles.
2. I get `kex_exchange_identification: banner line contains invalid characters` error when trying to SSH using a jump host to `host2`.

[2022-02-15 20:19] brendanfalk opened #947 "Emoji characters mess with fig"
### Bug 1

quits fig app
https://user-images.githubusercontent.com/4949076/153948453-0f10c9e4-042a-4203-a6d4-d3991d762b3d.mp4

### Bug 2 and bug 3
emoji insertion messes up backspace + figterm and/or autocomplete

https://user-images.githubusercontent.com/4949076/154142102-bd520b0f-7dd0-4972-98ea-35d09122a6f5.mp4

helpful note: javascript uses utf-16

[2022-02-15 20:50] #943 closed

[2022-02-15 21:44] mschrage commented on #941
I wonder if this is related to #937?

[2022-02-15 22:06] tomchkk commented on #888
Hey @mschrage - I just found that if I change `PROMPT_COMMAND` as below, it starts to work! The semi-colon is required, as there is another function, `__bp_install`, that is already assigned to `PROMPT_COMMAND`.

[code]

[2022-02-15 22:43] mschrage commented on #888
Yup! There will be a fix for this in the next release of Fig, but simply not overriding the `PROMPT_COMMAND` works as well!

[2022-02-15 22:44] mschrage commented on #505
See #888

[2022-02-15 22:46] mschrage commented on #946
The fix is to change this line:
[code]

to

[code]

[2022-02-15 23:12] RobertLowe commented on #888
yes, don't override

[code]
👍

[2022-02-15 23:33] grant0417 opened #948 "a"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.1.0 (21C52)|1.0.55|/opt/homebrew/Cellar/zsh/5.8_1/bin/zsh|
<details><summary>Fig Diagnostic</summary>
<p>

# Fig Diagnostics

## Fig details:

  - Fig version: Version 1.0.55 (B378) [Beta] [U.S.]

  - Bundle path: /Applications/Fig.app

  - Autocomplete: true

  - Settings.json: true

  - Accessibility: true

  - Number of specs: 0

[2022-02-16 03:54] mschrage commented on #925
Hey @Rcwynter, besides this warning is Fig working for you?

[2022-02-16 04:28] SeparateRecords commented on #446
I can reproduce this with withfig/autocomplete, haven't tried elsewhere.

https://user-images.githubusercontent.com/52195359/154195986-ebdc5428-70d5-4944-b7a3-2dccb58c2cff.mp4

_(autocomplete not showing because Chrome decided it really likes secure input today)_

[2022-02-16 04:33] torqu3e commented on #946
@mschrage changing that leads to an error on a new prompt, show below.
[code]

Your comment pointed the fact that the prompt does not need to be set since starship dictates the prompt I use. Commenting the PS1 and PROMPT_COMMAND line has made fig work. Thank you for pointing it out. This issue is resolved.

[2022-02-16 06:27] SeparateRecords commented on #446
Same thing happens using a raycast shell script.

https://user-images.githubusercontent.com/52195359/154207756-852c117c-39c9-46c7-a363-2faf57edb29b.mp4

[2022-02-16 11:54] tlaak commented on #326
I just bumped into this same issue. Fig version 1.0.55 (B365) on macOS Monterey 12.2.1, fish shell version 3.3.1.

Any remote git operation (e.g. pull, push) will fail with the error: `fatal: protocol error: bad line length character: ?]69` and it took me a good while to be able to figure out the cause!

After removing the lines added by Fig from my `.ssh/config`, the problem got resolved.

Runnin

[2022-02-16 13:47] colinknebl commented on #939
@mschrage thank you for the help on this issue.

[2022-02-16 13:47] #939 closed

[2022-02-16 13:53] Rockgecko opened #949 "Fig doctor error: PATH and PseudoTerminal PATH do not match"
### Description:

Error found by fig doctor, which created this issue.

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.14.6 18G9323|1.0.55|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [British - PC]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /

[2022-02-16 19:49] kshitijlohani opened #950 "detailed step to turn of secure keyboard input in documentation"
### Description:

Could you please add a detailed process to disable secure keyboard input in your documentation?
Thanks

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>
It looks like Fig is not running.
Try running: fig restart

</pre>
</p>
</details>

[2022-02-16 19:50] kshitijlohani commented on #950
My bad. it's already there.

[2022-02-16 19:50] #950 closed

[2022-02-16 22:56] ReinBentdal opened #951 "Select suggestion by tab"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:
I often that I have to press esc to prevent Penc from selecting suggestion instead of executing command. My suggestion is to add an option to select suggestion with the tab key instead of the enter key.

[2022-02-17 00:06] SeparateRecords commented on #951
Hey @ReinBentdal! This is already something you can configure - run `fig settings`, click on the Keybindings tab. Sounds like you want to set tab to "insert selected" and enter to "execute"?

Give that a go and let me know if it's what you're looking for. Would love to discuss UX improvements for this use case.

[2022-02-17 00:23] ReinBentdal commented on #951
wow that did the trick! setting tab to "insert selected" and enter to "ignore" did the trick.

Tested enter with "execute" with `cd` command. However after inserting suggestions with tab a few times and then pressing enter did not work. It did not. execute with the path I had set, but only the `cd` keyword.

Fig is such a nice program which greatly simplifies my terminal experience! Thanks!

[2022-02-17 00:42] SeparateRecords commented on #951
That's super strange, glad you got it working though!

I think keybindings has a discoverability problem at the moment. To fix, maybe we could have "⌘ Keybindings" underneath "⚙️ Settings" in the dropdown, and a `fig keybindings` subcommand.

Thoughts? @ReinBentdal @brendanfalk @mschrage

---

@fedeci is that what "execute" should be doing? Seems like it's executing everything up to the _previous_

[2022-02-17 01:39] ReinBentdal commented on #951
I think leaving it as a separate tab is ok. Not quite sure why I didn't recognize it straight away. Might be because I was looking for a specific checkbox😅

All though I think it would make more sense to just have listed all commands and which key they are assigned to, instead of having the keys listed and to which command they run.
Maybe show the commands which are assigned to a key oat the top a

[2022-02-17 03:34] jiteshdhamaniya opened #952 "PATH and PseudoTerminal PATH do not match"
### Description:

<img width="972" alt="Screenshot 2022-02-17 at 8 53 11 AM" src="https://user-images.githubusercontent.com/46275049/154398762-ff040357-e7a9-4caa-b412-74537de71b52.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D48|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC – India]
UserShell: /bin/zsh
Bundle path

[2022-02-17 05:40] torqu3e commented on #946
@mschrage sorry I take part of my previous comment back. The prompt was being set because kitty's or terminal's tab title comes from the prompt, removing that does not let me figure the difference between multiple tabs. Ideally I'd like for this to be solved and not stop using fig completely.

[2022-02-17 06:30] mschrage commented on #946
This will be fixed in the next release. In the meantime, try:
[code]

[2022-02-17 07:38] crebuh commented on #855
Solved it for me 👍

[2022-02-17 08:49] BR1Software opened #953 "fig doctor tried twice to set $PATH and PseudoTerminal PATH and failed"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2 21D49|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [British]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/paul/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integra

[2022-02-17 14:14] linxuyalun commented on #605
after new fig version released, this issue seemed to be fixed.

Thx for you guys effort 👍🏼

[2022-02-17 14:14] #605 closed

[2022-02-17 14:59] torqu3e commented on #946
That is better as in the new window/tab does not break on the prompt but the title bar does not pick up the `basename pwd` part with that.

[2022-02-17 17:03] fedeci commented on #951
Definitely not what we want. Execute should behave accordingly to what enter does in a "normal" shell.

[2022-02-17 19:18] lucasteligioridis opened #954 "Fuzzy enabled has weird redraw when autocomplete kicks in"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

If I type a command like or have

[2022-02-18 02:01] rootsongjc opened #955 "❌ PATH and PseudoTerminal PATH do not match"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [搜狗拼音]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/jimmy/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integra

[2022-02-18 02:01] rootsongjc commented on #952
I just submitted a same issue https://github.com/withfig/fig/issues/955

[2022-02-18 05:29] SeparateRecords opened #956 "Enable immediatelyExecuteAfterSpace by default"
This was brought up in an email - there's no downside to having this enabled by default. This will enable more people to use the app without being annoyed and shouldn't impact people who don't do this.

[2022-02-18 08:26] laampui commented on #714
`git clone https://github.com/withfig/autocomplete.git ~/.fig/autocomplete`

`cd ~/.fig/autocomplete`

`npm install`

`npm run build`

and make sure check the `Dev Mode` and fill in the `Specs Folder` with `~/.fig/autocomplete/build` in fig setting panel

[2022-02-18 13:13] xty1992a commented on #955
+1

got same error

[2022-02-18 17:16] tmvanetten opened #958 "PATH and PseudoTerminal PATH do not match Unresolved by Fig Doctor"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C51|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/todd/.fig/bin/fig
Accessibility: true
Number of specs: 0
SSH Integratio

[2022-02-18 18:20] brendanfalk commented on #932
likely coming in v1.0.57 or v1.0.58 - will be pretty simple once SSH is live

[2022-02-18 18:24] brendanfalk commented on #822
@jakemalachowski have you seen this issue occur in the last 3 weeks?

[2022-02-18 18:36] brendanfalk commented on #379
This is likely going to be be quite hard unfortunately :/

[2022-02-18 19:05] pszalko commented on #49
Looking forward for phpStorm support! 🔥

[2022-02-18 19:10] pszalko opened #959 "Autocomplete does not work in SSH session"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
I open ssh session in iTerm2 termi

[2022-02-18 20:33] brendanfalk commented on #956
The downside here is users will have to press the down arrow in common cases like this

![CleanShot 2022-02-18 at 12 32 52](https://user-images.githubusercontent.com/4949076/154757223-1768681f-088a-4ed2-9c84-fcfd3523430d.png)

I think the best solution here is we make users more aware of this functionality, rather than default on.

[2022-02-18 21:50] vordenken opened #960 "Autocomplete in initial walkthrough not working, works fine after that"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

Installed fig via Homebrew on my

[2022-02-19 07:42] magicer0126 opened #961 "安装白屏"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B381)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B381) [搜狗拼音]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/mahuiying/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux In

[2022-02-19 14:31] AlexNodex commented on #606
It's also a bit of a pain to uninstall afterwards, it leaves lots of scripts lying about after you remove it from Applications!

[2022-02-19 14:34] mschrage commented on #606
Yeah, you can’t just move the app to Trash which is unusual.

If you’re still running into issues fully uninstalling, check out this guide: https://fig.io/support/other/uninstall

[2022-02-19 21:45] chrisgrieser commented on #693
I noticed the very same behavior, trying to symlink my fig settings

[2022-02-19 22:26] mschrage commented on #693
@chrisgrieser are you updating your settings using the `fig` CLI or the settings UI?

[2022-02-19 22:28] chrisgrieser commented on #693
mostly via UI (which I trigger via `fig settings`)

[2022-02-19 23:39] brendanfalk commented on #942
@SeparateRecords in future please tag anything that is shell related like this as "codebase:shell_integrations"

[2022-02-19 23:43] brendanfalk commented on #446
@tyriar - perhaps you could help here.

How exactly does VSCode tasks send code to the terminal? Is it pasted in at the OS/xterm level or done through the shell?

What's happening is your shell session loads, then immediately after, Fig's pseuodterminal, figterm, is loading. The time difference there is tiny and effectively not noticeable if the user is typing. But it seems like automated processe

[2022-02-19 23:45] brendanfalk commented on #955
@SeparateRecords could you please make a canonical issue with all the ❌ PATH and PseudoTerminal PATH do not match issues (all of [these](https://github.com/withfig/fig/issues?q=is%3Aissue+is%3Aopen+PATH+and+PseudoTerminal+PATH+do+not+match)) and then link to all of these + use that for user association.

One hunch here is that package manager version managers are causing this issue (e.g. ruby vers

[2022-02-20 10:45] chrisgrieser opened #962 "Importing the fig lines into the `.zshrc` leads to false debugger warning"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description
I tried putting the fig lines from

[2022-02-20 11:23] aantn opened #963 "Autocompletion for kubectl logs is wrong"
### Description:
`kubectl logs` should be completed to a list of pod names, not a list of kubernetes resources.

<img width="962" alt="Screen Shot 2022-02-20 at 13 23 13" src="https://user-images.githubusercontent.com/494087/154840118-465ff446-484f-4c8b-80a6-ccf70cb9d3fd.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.5.2|Version 1.0.55 (B381)|/bin/zsh|
<details><summary><code>fig diagnostic</co

[2022-02-20 17:05] sleifer opened #964 "fig doctor never reports anything or returns"
### Description:

First time exploring Fig. Debugging in Fig menu thinks everything is good. running 'fig doctor' prints nothing and never returns. Can't kill with control-c.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B381)|/usr/local/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B381) [U.S.]
UserShell: /usr/local/bin/zsh
Bundle path

[2022-02-20 17:07] sleifer opened #965 "no path completions after typing 'cd '"
### Description:

First time exploring Fig. Debugging in Fig menu thinks everything is good. trying 'cd ' to get path completion shows animated ellipses for a bit then nothing. I've yet to have this work once even during onboarding.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B381)|/usr/local/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.

[2022-02-20 22:43] sleifer commented on #965
I did some searching of open issues and wonder if this is not related to zplug or secondarily powerlevel10k or zsh-z.

[2022-02-20 22:43] sleifer commented on #964
I did some searching of open issues and wonder if this is not related to zplug or secondarily powerlevel10k or zsh-z.

[2022-02-21 02:42] SeparateRecords commented on #964
I think this is a duplicate of #935 - this is an issue on the latest beta.

@grant0417 @mschrage  do we know the cause of the issue?

[2022-02-21 08:38] pwkeyser opened #966 "fig thinks Accessibility is not enabled."
### Description:

Accessibility is enabled, but fig doctor shows it's not ...

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B381) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/

[2022-02-21 10:01] tomgreenhill opened #967 "Potential issue with Fig?"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B381) [British]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/tomgreenhill/.fig/bin/fig
Accessibility: true
Number of specs: 0
S

[2022-02-21 11:17] ikoruk commented on #606
Really not normal to require an email to install. If you don't use collaboration features it shouldn't be necessary.

[2022-02-21 11:42] fedeci commented on #967
Hi @tomgreenhill, could you explain what's the issue?

[2022-02-21 12:25] mschrage commented on #966
Open System Preferences > Privacy & Security > Accessibility, then toggle the checkbox next to the Fig icon off and in again.

Usually this resets any problems with permissions, but let me know if you’re still running into issues.

[2022-02-21 13:40] okwasniewski opened #968 "Figterm socket does not exist, PATH and PseudoTerminal PATH do not match"
### Description:

Fig is just not working, when i type fig doctor it yells two errors:

<img width="931" alt="CleanShot 2022-02-21 at 14 39 42@2x" src="https://user-images.githubusercontent.com/52801365/154966097-12256d34-4ad5-4df0-827c-fe5601039648.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|-zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version:

[2022-02-21 13:54] tomgreenhill commented on #967
Hi @fedeci, apologies that got posted without my addition! I have since resolved things by running `fig doctor` - worked perfectly, thank you!

[2022-02-21 13:55] #967 closed

[2022-02-21 14:15] gawlk opened #969 "Be more user friendly by making email optional and making telemetry an opt in feature rather than an opt out"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

Fig is an awesome tool which works great and is open source. Yet it follows that same dark patterns as many more money focused and evil products by forcing users to enter their email for a product that i

[2022-02-21 16:20] kidsamort commented on #35
I also always use Git Bash

[2022-02-21 16:23] MystPi commented on #35
Honestly I mostly just use Powershell; not WSL or Git Bash.

[2022-02-21 17:18] alwwwd opened #970 "hello"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|10.13.6 17G14042|1.0.55|-bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B381) [Beta] [Dev] [U.S.]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true
Number of specs: 0
SSH

[2022-02-21 17:34] liby opened #971 "When I close the autocomplete window, I can't use the ↓ down arrow to show Fig window again"
### Description:

https://user-images.githubusercontent.com/38807139/155003286-750b0761-31e5-4f91-99b7-d944ac4f6506.mp4

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B365) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI insta

[2022-02-21 17:50] fedeci commented on #970
Hi!

[2022-02-21 17:50] #970 closed

[2022-02-21 20:39] Anis1988 opened #972 "Issue with my terminal"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B381)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B381) [Beta] [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/anismedini/.fig/bin/fig
Accessibility: true
SSH Integration: false

[2022-02-21 22:43] thiagorp opened #973 "`cd` autocomplete freezes on loading spinner"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

It might or might not be a coincidence, but ever si

[2022-02-22 00:44] SeparateRecords commented on #973
Looks like zplug is in your path - do you use zplug? I think this might be #920 🙂

[2022-02-22 02:14] SeparateRecords commented on #971
I can reproduce this with Fish. Seems like it's broken in at least B365 and B381

[2022-02-22 04:13] mschrage commented on #963
Hey @aantn, thanks for reporting this! I'm going to transfer this issue to [withfig/autocomplete](https://github.com/withfig/autocomplete) since it is related to a specific completion spec rather than the Fig app itself.

Would you be interested in contributing a fix to the [kubectl](https://github.com/withfig/autocomplete/blob/master/src/kubectl.ts) spec?

[2022-02-22 04:29] thiagorp commented on #973
Oh wow I would have never imagined it was zplug! Thank you.

[2022-02-22 04:29] #973 closed

[2022-02-22 05:29] SeparateRecords commented on #972
Hello! What was the problem with your terminal? Was it crashing? Fig not showing up?

[2022-02-22 05:35] SeparateRecords commented on #973
Yeah, it's super weird! If I hadn't spent time looking into before, it I would never have guessed it was zplug either.

The goal is that you shouldn't have to make _any_ changes to your config to use Fig, and _quite a lot of people use zplug_, so hopefully we can get this fixed very soon.

[2022-02-22 05:40] Anis1988 commented on #972
Hi ,
First of all let me say this is one of the best tool I’ve ever used , it’s just amazing Thank you for your hard work

Sometime when I log out from my computer and log in later, Fig doesn’t work on my terminal (like I said sometime not all the time )

To be honest it’s not a big deal if you have any tip from I could try it ,otherwise I’m still happy !!

Thanks again for this amazing tool :)

[2022-02-22 12:00] thiagorp commented on #973
Just for the record, fig was also breaking non-interactive shells, and that was preventing me to run commends like `sudo -u thiago -i {command}` because it would load an interactive shell instead of running `{command}` as `thiago`.

To fix it I had to add this to my zsh's `.profile`:  https://github.com/thiagorp/nix-config/blob/main/home/thiago/zsh.nix#L77

[2022-02-22 12:34] pwkeyser commented on #966
Thanks for the feedback. I tried what you suggest at the time without success. Problem is resolved after reboot. Many thanks

Wouter Keyser

[2022-02-22 13:33] cverond opened #974 "fig doctor hangs"
Using the `fig doctor` command in macOS terminal, shell hangs. The command cannot be stopped with `^C`, I have to close the terminal window.

[2022-02-22 13:45] cverond commented on #974
Forgot OS version: Catalina 10.15.7, shell is `bash`

[2022-02-22 15:15] Tyriar commented on #446
You can see exactly how the shell gets launched by setting log level to trace via the command palette and checking the devtools console. Here's an example of a task running on macOS:

<img width="590" alt="Screen Shot 2022-02-22 at 7 10 12 am" src="https://user-images.githubusercontent.com/2193314/155161164-f1081574-5c91-46d5-bdd6-ece884fd5945.png">

So it's essentially `bash -c <command>` here. I

[2022-02-22 16:32] simonbohnen opened #975 "Fig doctor does not output anything"
### Description:

fig doctor never completes, does not output anything, and cannot be canceled using Control+D or Control+C. I am using the experimental Alacritty integration.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B381)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B381) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig

[2022-02-22 16:43] jimkil commented on #935
Experiencing same issue. Running with verbose shows it hangs after checking socket exists.
`$ fig doctor --verbose

Let's make sure Fig is running...

✅ Fig bin exists
✅ Fig in PATH
✅ Fig is running
✅ Fig socket exists at /var/folders/bb/b0mqnk813gd719_p7lj213h80000gn/T/fig.socket`

[2022-02-22 17:06] mschrage commented on #935
@jimkil this is a really helpful but of information! We will investigate.

[2022-02-22 17:07] jimkil commented on #935
Note output from `fig debug logs`
`CLI: Executing: fig doctor --verbose
1645549534646 | cursor [Accessibility.swift:251] | DEBUG | couldn't get selected range
figterm (3781): [figterm/src/ipc/mod.rs:138] Error decoding Figterm message: failed to decode Protobuf message: unexpected end group tag`

[2022-02-22 17:13] macintacos commented on #854
I'm seeing a very similar thing for when I'm running `kubectx` in iTerm. Funnily enough, I can't reproduce the issue in VSCode's terminal.

[2022-02-22 17:26] macintacos commented on #937
Just noting that I see a roughly-similar thing with `kubectx` (commented on #854 as well https://github.com/withfig/fig/issues/854#issuecomment-1048023933)

[2022-02-22 18:19] harisarang commented on #975
Even I am facing this issue 😢

[2022-02-22 18:26] mschrage commented on #966
Good to know! Glad to hear that everything is working now.

[2022-02-22 18:26] #966 closed

[2022-02-22 18:55] mschrage opened #976 "The text `]697;DoneSourcing` appears unexpectedly"
Tracking issue for all the occurrences of bugs related to  `]697;DoneSourcing`. A fix is ready for the next release.

#854 #937

[2022-02-22 19:08] grant0417 commented on #935
The doctor issue should be fixed in a patch going out soon.

@dfucci Was the Fig autocomplete not appearing?

[2022-02-22 19:09] grant0417 commented on #975
@simonbohnen @harisarang Sorry about this issue, a fix should be going out soon!

[2022-02-22 19:09] #975 closed

[2022-02-22 19:09] grant0417 commented on #974
@cverond Sorry about this issue, a fix should be going out soon!

[2022-02-22 19:09] #974 closed

[2022-02-22 19:11] grant0417 commented on #958
Hey @tmvanetten, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:11] #958 closed

[2022-02-22 19:12] grant0417 commented on #955
Hey @rootsongjc and @xty1992a, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:12] #955 closed

[2022-02-22 19:12] grant0417 commented on #952
Hey @jiteshdhamaniya, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:12] #952 closed

[2022-02-22 19:12] grant0417 commented on #949
Hey @Rockgecko, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:12] #949 closed

[2022-02-22 19:12] #933 closed

[2022-02-22 19:13] grant0417 commented on #933
Fix with this is going out soon!

[2022-02-22 19:13] grant0417 commented on #921
Hey @gumerovk and @lobatolais, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:13] #921 closed

[2022-02-22 19:14] grant0417 commented on #912
Hey @jtexi001, this is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:17] grant0417 commented on #912
@cori-afs that is weird, could you try running `dscl . -read $HOME UserShell` and see what the output is.

[2022-02-22 19:18] grant0417 commented on #906
Hey @ClaudiusSeibt, this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:18] #906 closed

[2022-02-22 19:18] grant0417 commented on #895
Hey @ubmit, this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:18] #895 closed

[2022-02-22 19:18] grant0417 commented on #884
Hey @rohannagpal, this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:18] #884 closed

[2022-02-22 19:18] grant0417 commented on #862
Hey @MBAiBake, this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:18] #862 closed

[2022-02-22 19:18] grant0417 commented on #856
Hey @Gr8Gatsby, this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:18] #856 closed

[2022-02-22 19:20] grant0417 commented on #855
@sabbirahmed007 @crebuh @aleksanderwalczuk @astrobound @lobatolais @crebuh

This is really not an issue and `fig doctor` is giving bad output. A fix should be going out soon though!

[2022-02-22 19:20] #855 closed

[2022-02-22 19:20] grant0417 commented on #821
This is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

[2022-02-22 19:20] #821 closed

[2022-02-22 19:21] grant0417 commented on #964
Hey @sleifer, sorry about the issue with `fig doctor`, a fix should be going out soon.

[2022-02-22 19:21] #964 closed

[2022-02-22 19:23] grant0417 commented on #925
Hey @Rcwynter , this is really not an issue and fig doctor is giving bad output. A fix should be going out soon though!

If you are still having any other issues with Fig please open another issue!

[2022-02-22 19:23] #925 closed

[2022-02-22 19:24] grant0417 commented on #907
Hey @speciale, this is really not an issue and fig doctor is giving bad output. Sorry about the confusion! A fix should be going out soon though!

[2022-02-22 19:24] #907 closed

[2022-02-22 19:25] grant0417 commented on #953
Hey @BR1Software, this is really not an issue and fig doctor is giving bad output. Sorry about the confusion! A fix should be going out soon though!

[2022-02-22 19:51] sentry-io[bot] opened #977 "Terminal crashing with message: `panic: index out of bounds: the len is 0 but the index is 18446744073709551615`"
The terminal is crashing with the following message:

[code]

This has been confirmed to have occurred in PHPStorm

[2022-02-22 19:52] grant0417 opened #978 "Terminal crashing with message: `panic: index out of bounds: the len is 0 but the index is 18446744073709551615`"
The terminal is crashing with the following message:

[code]

This has been confirmed to have occurred in PHPStorm

[2022-02-22 19:54] ubmit commented on #895
thank you! @grant0417

[2022-02-22 20:01] dfucci commented on #935
No, it wasn't.

[2022-02-22 20:20] grant0417 commented on #935
@dfucci Are you able to run `fig update` and get the latest version? Also can you send your `.zshrc` file?

[2022-02-22 21:01] kusti420 opened #979 "Integrate Fig with Termux (terminal emulator for Android)"

[2022-02-22 21:10] mschrage commented on #822
In that case, I'll close this issue for the time being. Please let us know if you experience this bug again, I will reopen it.

[2022-02-22 21:10] #822 closed

[2022-02-22 21:14] brendanfalk opened #980 "Instant execute not showing up for chained options that are the same"
I have the following alias
![CleanShot 2022-02-22 at 13 10 52](https://user-images.githubusercontent.com/4949076/155220081-6c67c6b0-28dc-49e6-aa55-29a5393249de.png)

I forgot that I had this alias. When I typed the following, it didn't allow instantexecute:

Not working:
![CleanShot 2022-02-22 at 13 05 15](https://user-images.githubusercontent.com/4949076/155219232-8623391a-9781-4f64-9f56-4adafdcc

[2022-02-22 22:50] SeparateRecords commented on #980
I think this could be solved on the spec level, since `ls` allows its options to be repeated (`isRepeatable` should be true on each option).

Most modern CLI frameworks will eagerly fail in this case, unless explicitly told that an option is repeatable (eg: [`lsd`](https://github.com/Peltoche/lsd/blob/93af717e707f50269d92072f8e35e3dd0632fcae/src/app.rs#L13)), so I think the correct behaviour is to

[2022-02-22 22:54] SeparateRecords commented on #979
Links:
* https://termux.com/
* https://github.com/termux/termux-app

[2022-02-22 23:05] SeparateRecords opened #981 "Can't ⌘V paste into the sign in screen"
Right click -> paste still works.

@phuctm97 did this change recently? Is it intentional?

[2022-02-22 23:50] mschrage commented on #969
Hey @gawlk, thanks for your feedback. I'm closing this as a duplicate of #606.

<img width="702" alt="Screen Shot 2022-02-22 at 6 32 45 PM" src="https://user-images.githubusercontent.com/3155109/155237777-d698a2cb-37e3-40d7-9396-53545fa057ee.png">

When you install Fig, this message is part of the onboarding. We do our best to make it very clear to the user what information is collected. If you ha

[2022-02-22 23:50] #969 closed

[2022-02-23 00:53] brendanfalk opened #982 "Press up arrow to go to history"
If the user has the top most suggestion in a list selected, they should be able to press the up arrow to go to history. This will then show history in Fig rather than in the shell.

This is likely a setting we should have turned on.

<img width="410" alt="CleanShot 2022-02-22 at 16 52 29@2x" src="https://user-images.githubusercontent.com/4949076/155244796-92ac29aa-f12b-43c1-87c3-228068d02fbd.png">

[2022-02-23 01:21] rootsongjc commented on #955
@grant0417 Thanks for the notice, and it really doesn't seem like this issue is affecting my usage at the moment either.

[2022-02-23 01:43] sleifer commented on #964
Thanks. Installed 1.0.55 (B383) and fig doctor is working.

[2022-02-23 01:44] sleifer commented on #965
Installed 1.0.55 (B383). No change to this issue for me with fig doctor reporting Everything looks good!

[2022-02-23 02:03] brendanfalk commented on #965
Very likely related to https://github.com/withfig/fig/issues/920

[2022-02-23 02:08] brendanfalk opened #983 "Switching tabs in terminal emulator is slow"
Using a hotkey to switch between tabs is slow when Fig is installed.

Need to understand which terminal emulator this is occurring in so we can help.

If this is happening to you, please comment:
* your terminal emulator
* the output of `fig diagnostic`

[2022-02-23 04:16] SeparateRecords commented on #942
Heard back from someone with this problem - because fig modifies zshrc, updating zqs fails every time since it only wants you to put files in `~/.zshrc.d` (similar to fish).

I think this should be easy enough to detect ZQS and symlink the correct scripts to zshrc.d, but it would be good to have a unified way of doing this so the installer and fig doctor don't need to be updated separated.

[2022-02-23 07:01] jimkil commented on #935
The update to 1.0.55 (B383) resolved the issue on my system. Much thanks for the quick resolve!

[2022-02-23 07:42] schmurfy opened #984 "Not linked to terminal sessions"
### Description:
I installed fig successfully by downloading the app and following the setup to the end but fig is not enabled for my terminal (iTerm2) (even within the setup tutorial), all I have is this (with iTerm2 in focus):

<img width="425" alt="screenshot_799" src="https://user-images.githubusercontent.com/2983/155277633-31d0f82f-9a0b-43f7-ba9a-ecd1d60cc08a.png">

And when trying to run `fi

[2022-02-23 08:22] dfucci commented on #935
`fig update` but it puts on version 1.0.55 (B381), not B383 as pointed out by @jimkil.

<details>
<summary>contents of .zshrc</summary>

[code]
</details>

[2022-02-23 09:32] jwbackhouse opened #985 "fig alpha command opens blank window"
### Description:

When running `fig alpha` it opens up a Fig application window, but it is blank. Same behaviour using both Alacritty and Terminal
![Menubar_and_jamesbackhouse____documents_tmx_sh_and_Slack_____Unread_messages___eduMe___1_new_item](https://user-images.githubusercontent.com/42476198/155292730-dff3050a-699c-41f2-9a0a-f06be563c8da.png)

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 2

[2022-02-23 09:40] fedeci commented on #985
It should take a couple seconds to load, is it not loading at all for you?

[2022-02-23 09:45] abseralvo opened #986 "No Fig in embedded terminal of IntelliJ"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1 21C52|1.0.55|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B383) [ABC]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /usr/local/bin/fig
Accessibility: true
Number of specs: 0
SSH Integration: fa

[2022-02-23 09:59] pvds commented on #49
@mschrage would love to test the pre-release version to get the kinks out!

@pronovaso Fig doesn't work the same as 'normal' Zsh plugins (by adding them in your `.zshrc`).
This has the advantage of not slowing down your terminal (as much?) but the disadvantage that it doesn't work 'out-of-the-box' in any app running Zsh.

[2022-02-23 10:41] ShawnCockburn opened #987 "Fig has completely stopped working after updating."
### Description:

updated to `1.0.55 (B383)` and fig has completely stopped working.

`fig doctor` detects no issues.

is it possible to downgrade???

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1 21D62|1.0.55|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Fig Version: Version 1.0.55 (B383) [British]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete:

[2022-02-23 10:42] ShawnCockburn commented on #987
I will add computer restart does not fix and this: https://github.com/withfig/fig/issues/476#issuecomment-934680931 does not fix

[2022-02-23 10:46] Sillium opened #988 "Own custom autocompletion spec not loaded on startup"
### Description:
I wrote a custom completion spec in ~/Source/private/github.com/fig-autocomplete which is my fork of https://github.com/withfig/autocomplete.git. I have a file /src/awshelper.ts and after running `npm run build` I have a file /build/awshelper.js.

When I run `npm run dev`, I get the desired autocompletion in iTerm2 for `awshelper` (one of my own shell scripts). Even when I abort t

[2022-02-23 10:48] #988 closed

[2022-02-23 10:57] Sillium commented on #988
I was not aware that I have to create an `autocomplete` folder inside `~/.fig` and copy the `awshelper.js` file there.

[2022-02-23 13:17] fedeci commented on #988
Exactly, you figured out the solution! However it's strange that after ctrl+c the `npm run dev` process fig continues to show those suggestions🤔

[2022-02-23 14:24] fedeci commented on #986
Duduplicate of #49

[2022-02-23 14:24] #986 closed

[2022-02-23 15:47] Lioness100 commented on #35
I always use git bash :)

[2022-02-23 17:36] ionut-botizan commented on #35
**Terminal:** Windows Terminal
**Default Shell:** Powershell Core (Not sure if it matters, but a heads up: there's the default, older version of _Powershell_ and there's _Powershell Core_, which is the better, open source version, that also runs on Linux and MacOS)
**\*Nix env**: WSL Ubuntu with Bash/Fish (but I rarely need it)

-- Used Cygwin in the past (feels like a lifetime ago)
-- Never under

[2022-02-23 18:46] grant0417 commented on #984
@schmurfy Can you try updating to the latest version? It should be Version 1.0.55 (B383)

[2022-02-23 19:05] fedeci commented on #848
This will be fixed with the next AE version!

[2022-02-23 19:05] #848 closed

[2022-02-23 19:06] fedeci commented on #903
This will be fixed in the next autocomplete-engine version!

[2022-02-23 19:07] fedeci commented on #593
This will be fixed in the next autocomplete-engine version!

[2022-02-23 19:07] #593 closed

[2022-02-23 21:14] ShawnCockburn commented on #987
interestingly fig works on my personal account but not my work account (same fig version, same computer).

what could be causing this, @mschrage any ideas?

[2022-02-23 21:16] mschrage commented on #987
@ShawnCockburn want to jump on a debugging call right now?

[2022-02-23 21:17] ShawnCockburn commented on #987
sure!

[2022-02-23 21:18] mschrage commented on #987
https://zoom.us/j/96871404279?pwd=R0RqaCt6ME1BMGhJaDJIOVl6RUxLdz09

[2022-02-23 22:09] #987 closed

[2022-02-23 22:10] ShawnCockburn commented on #987
was fixed by running: `rm ~/.fig/insertion-lock`

thanks @mschrage

[2022-02-23 22:42] mschrage commented on #985
Hey @jwbackhouse, can you right click the window and click "Inspect Elements" - there might be some clues as to what is going wrong in the console or network tab?

[2022-02-23 22:44] mschrage commented on #984
Hey @schmurfy, this is potentially similar to #987. Could you run `file ~/.fig/insertion-lock` and share the output here?

If a file exists, running `rm ~/.fig/insertion-lock` will resolve the issue.

[2022-02-23 22:55] brendanfalk commented on #819
Hey @tclancy @6ui11em - this sounds potentially similar to https://github.com/withfig/fig/issues/987.

If this happens again, could you please check if the `~/.fig/insertion-lock` file exists? If yes,
1. Please share the contents here
2. Just run `~/.fig/insertion-lock` to remove the file. This should solve the issue

If no, then it sounds like it's another bug!

[2022-02-23 22:56] brendanfalk commented on #876
Hey @craigz - I know you have since fixed it, but this sounds potentially similar to https://github.com/withfig/fig/issues/987.

If this happens again, could you please check if the `~/.fig/insertion-lock` file exists? If yes,
1. Please share the contents of the file here
2. Run `~/.fig/insertion-lock` to remove the file. This should solve the issue!

If the file doesn't exist, then it sounds like

[2022-02-23 23:33] craigz commented on #876
@brendanfalk indeed, all is working now.

i've just checked and currently have no such file in my `~/.fig` directory.
if the issue crops up again, i'll check for it and share the file's contents prior to deleting it.

[2022-02-24 02:51] Palanx opened #989 "I can't see suggestions in the tutorial"
### Description:
I can't see suggestion in the tutorial, I restarted the service and nothing happens.
I'm using right now a Macbook Pro 14 M1 A2442

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1.0|Version 1.0.55 (B381)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.55 (B381) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Setti

[2022-02-24 03:17] grant0417 commented on #989
Hey @Palanx, this is a known issue on the version you are on, please update to the latest version `v1.0.55 (B383)` and it should be fixed!

[2022-02-24 03:17] #989 closed

[2022-02-24 06:19] jwbackhouse commented on #985
Hey @mschrage . Nothing that I can see unfortunately. Here's the console and network tabs following a reload:

![Web_Inspector_—_app_withfig_com_—_mission-control_and_jamesbackhouse____documents_tmx_sh](https://user-images.githubusercontent.com/42476198/155468907-8cd1d73c-e088-4f47-8abe-47cbbc6f5261.png)

![Web_Inspector_—_app_withfig_com_—_mission-control](https://user-images.githubusercontent.co

[2022-02-24 06:22] jwbackhouse commented on #985
Ah, well it turns out that right-clicking and hitting reload solves the issue 🎉.
I noticed that the network tab had additional content after the reload, which I've circled for you. This wasn't visible when I first opened the inspector 🤔

![Web_Inspector_—_app_withfig_com_—_mission-control](https://user-images.githubusercontent.com/42476198/155469388-71724e22-6c08-4770-bea0-9947f9f3299c.png)

[2022-02-24 09:40] schmurfy commented on #984
No lock file:
[code]

I updated to the latest version and restarted iTerm to be sure, now if I run `fig doctor` it no longer hangs and I get some output:
[code]

it's annoying but I moved `Fig.app` anyway, reinstalled the iterm integration which had issues and now I am left with:

[code]

Here is the new diagnostic:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.55 (B383)|/usr/local/b

[2022-02-24 12:57] ShawnCockburn opened #990 "Fig does not work when logged into account via command line"
### Description:

**Steps to reproduce:**

1. have two or more accounts on computer
2. login to an account from another account via the `login` command. (eg logged into work then `login` to personal).
3. try use fig auto complete, the dialog will show up but will not insert.

this did work before **fig** version `1.0.55 (B385)`.

https://user-images.githubusercontent.com/60285801/155528203-08d7d2a

[2022-02-24 13:49] tclancy commented on #819
No `~/.fig/insertion-lock` here.

[2022-02-24 16:15] mschrage commented on #985
Glad that everything is working now. I feel like I have run into this as well @phuctm97. Any ideas what might be happening here?

[2022-02-24 16:15] #985 closed

[2022-02-24 16:22] mschrage commented on #972
Hey @Anis1988! Thanks so much for the kind words.

Next time this happens can you run `fig debug logs` in one terminal sesson, then type 'git commit' in another and share the output here?

[2022-02-24 19:04] mvuk27 commented on #819
Just FYI. I had the same problem and it helped deleting all fig sockets inside `/tmp` folder

[2022-02-24 20:43] sergiubacioiu commented on #35
Please consider adding support for Tabby on Windows.
[https://tabby.sh/](url)