[2022-03-25 18:15] mschrage commented on #1160
@phuctm97 can you fix the keybinding issue?

Essentially, if the user removes a keybinding that was a default, it must be explicitly set to `ignore` (unless it is defined elsewhere).

For example, if I open the Keybindings page and remove enter from "Insert selected", the value for `autocomplete.keybindings.enter` must be set to `ignore`.

[2022-03-25 18:23] mschrage commented on #1163
Hey @saifazmi just want to follow up here. I think the underlying issue is that Fig is not able to determine the text you've typed in the terminal because of the prompt you have configured.

I'd love to get this fixed! If you can share more details about which prompt you are using that would be very helpful! :)

[2022-03-25 18:24] mschrage commented on #1155
Hey @HugoA44! Did this setting turn on the behavior you were expecting?

[2022-03-25 18:25] mschrage commented on #1152
Hey @ZilvinasKucinskas! Without more information it's hard for me to help debug.

Can you schedule some time on my calendar so we can investigate this together? https://calendly.com/mschrage/30min

[2022-03-25 18:27] dnrm opened #1189 "Huge "figterm_dev_ttys001.log" Log File (523.6GB) in MacOS"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

Hello, today i got a notificatino

[2022-03-25 18:31] mschrage commented on #1107
Hey @paullongtan! Sorry for the slow response.

Can you run `mkdir -p ~/test-fig/{a,b,c}/{1,2,3}`

Do filepath suggestions work for these folders? (If so, this might be a unicode issue)

[2022-03-25 18:32] mschrage commented on #1189
Hey @dnrm! Woah, that is definitely not expected behavior.

Quit all terminal sessions and then delete this file. We have a hotfix in the works. cc @grant0417

[2022-03-25 18:35] grant0417 commented on #1189
I believe this should already be fixed on stable, make sure you are updated to the latest version. I'll check out the logic again to make sure it's all good.

[2022-03-25 18:39] dnrm commented on #1189
Thank you! I'll make sure to update

[2022-03-25 18:39] dnrm commented on #1189
<img width="293" alt="image" src="https://user-images.githubusercontent.com/49281837/160181831-ab3fece6-68f7-427a-a457-7088831a391f.png">
I'm in the latest version.

[2022-03-25 19:23] sullivan-sean commented on #1139
This is deployed!

[2022-03-25 19:35] Tarik02 opened #1190 "Freezes after using cd with cyrillic symbols"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
In order to reproduce:
[code]

And

[2022-03-25 19:37] Tarik02 commented on #1190
<img width="223" alt="Знімок екрана 2022-03-25 о 21 36 43" src="https://user-images.githubusercontent.com/12175048/160189705-405b1255-4b97-4328-a549-eed7a6079a7a.png">

[2022-03-25 19:37] Tarik02 commented on #1190
an interesting note is that completion for other commands still work

[2022-03-25 22:24] #482 closed

[2022-03-25 22:32] jonmwood commented on #1181
[code]

[2022-03-25 23:18] #877 closed

[2022-03-25 23:30] mschrage commented on #1190
I can't seem to reproduce the issue:

https://user-images.githubusercontent.com/3155109/160214357-ebf2d1e9-d73a-462e-a093-b9395e6164cc.mov

Can you let me know which terminal and shell you are using? Also can you run `env` and share the output?

Finally, can you record a similar screen recording to mine?

[2022-03-25 23:36] mschrage commented on #1181
Can you try commenting out different parts of your zshrc and see if the issue persists? (Try your

Also would you mind running `export FIG_LOG_LEVEL=TRACE` in the terminal session where you are typing and then taking another screen recording while you type "git com"?

Make sure to export the environment variable _before_ running `fig debug logs` in a **different** terminal.

[2022-03-25 23:52] lorensr commented on #877
Sorry I missed responding to this. Switched to Warp. Not perfect, but
better than Hyper :)

On Fri, Mar 25, 2022 at 7:19 PM Grant G ***@***.***> wrote:

[2022-03-26 01:34] mschrage commented on #1083
I'm investigating this now! @thmsrmbld @Ronserruya

Can you confirm that this only happens in bash?

[2022-03-26 02:16] mschrage commented on #1038
Related to #1069

[2022-03-26 02:24] mschrage commented on #1038
PS. @overcat @duong-le @chrisgrande @mzeeb I think I've figured out what's going wrong here. Thank you for all of the debugging information you've provided. It was really helpful.

This should be fixed in the next release!

[2022-03-26 05:43] mjwaghmare commented on #1171
When I use fig in VS Code in terminal its opens up a dialog of auto complete, but same thing not comes up in the Android studio terminal

[2022-03-26 05:44] mschrage commented on #1171
Ah I see. Thanks for clarifying @mjwaghmare.

This is actually a duplicate of #49 - we should have support coming soon!

[2022-03-26 05:44] #1171 closed

[2022-03-26 05:46] mjwaghmare commented on #1171
Great so there will be an update for Android studio right?

[2022-03-26 05:50] mschrage commented on #1171
It is on the roadmap!

[2022-03-26 05:56] mjwaghmare commented on #1171
🥳🤩

[2022-03-26 06:13] tanepiper opened #1191 "Fig internal update breaks brew installed version"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

* Install Fig with Homebrew - ins

[2022-03-26 06:52] mschrage commented on #1171
No time like the present to turn the roadmap into reality. Thanks for reminding me to do this :)

<img width="521" alt="Screen Shot 2022-03-25 at 11 49 38 PM" src="https://user-images.githubusercontent.com/3155109/160228457-42fab959-a49a-4f64-867a-2873f8d75309.png">

Support for Android Studio will be available as an experimental integration in the next release!

[2022-03-26 06:56] mschrage commented on #49
Support for PyCharm CE and Android Studio is coming in the next release as well as fixes for some issues that have popped up with conflicts between Fig and JetBrain's shell integrations.

#1083 #1038 #1099 #1069

[2022-03-26 07:04] rovente commented on #88
Exactly same here, in march 2022.
I've tried several time, since a year ago, hoping that this bug will be fixed, but I'm exactly in the same situation.
Even the mac terminal is crashing, the only solution is uninstall fig at the moment.

System information:
OS: MacOS Mojave 10.14.4
Terminal: iTerm2
Version of Fig: Latest, as of now, just reinstalled.

[2022-03-26 07:13] mschrage commented on #88
Can you run `fig doctor` @rovente?

I think the issue may be that you are on Mojave.

[2022-03-26 07:25] rovente commented on #88
How can I run `fig doctor` ? @mschrage
All my terminal crashes

[2022-03-26 07:33] rovente commented on #88
@mschrage  the debugger menu, after opening a terminal window, display:
"not linked to terminal session."
"window 2218/%"
"run 'fig doctor' for more details"

the big mess is that also after uninstall fig, all my terminals doesn't work anymore.
I try to restart my mac.

[2022-03-26 07:42] rovente commented on #88
In my case I was able to restart terminals after activate/deactivate the "Toggle debug logging" in iTerm2.
For some reasons now my terminals work again, also the native mac terminal.
Maybe this operation have reset some files settings, don't know.
Fig is a great idea, had use it in the early times, but after some upgrades last year is become unusable for me.
Hope that this issues will be fixed, th

[2022-03-26 09:02] Tarik02 commented on #1190
Tested both in iTerm 2 and Terminal.app, both in bash and zsh. All these don't make a difference.

https://user-images.githubusercontent.com/12175048/160232454-9cb92685-ef5b-4a80-8d20-7c17349d6afb.mov

Nothing interesting in env:
[code]

[2022-03-26 09:32] #1104 closed

[2022-03-26 09:37] saifazmi commented on #1163
Hey @mschrage I'm using:
- `zsh` as shell
- `oh-my-zsh`
- with my own slightly customised terminal theme: https://github.com/saifazmi/dotfiles/blob/master/.oh-my-zsh/themes/classyTouch.zsh-theme

[2022-03-26 16:07] phuctm97 commented on #1160
Oh didn't know about `ignore` value, will implement this on monday!

[2022-03-26 17:31] liby commented on #26
@mschrage

I have some questions about this. After downloading the third-party input method, don't you need to apply it? I don't see it in the list.
<img width="780" alt="image" src="https://user-images.githubusercontent.com/38807139/160250761-105d1aa9-437c-45a6-8369-af2d5960ef0e.png">

[2022-03-26 18:14] mschrage commented on #1163
Can you try switching to the default “robbyrussell" theme and see if that resolves the issue? (This will narrow down the bug to something related to your theme)

[2022-03-26 20:21] Mellbourn opened #1192 "Fig had an Error!: Failed to init logger"
### Description:

Fig stopped working. When I create a new pane in tmux, I immediately get this error message

[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B416)|/opt/homebrew/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B416) [Swedish]
UserShell: /opt/homebrew/bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Setti

[2022-03-26 22:24] saifazmi commented on #1163
Can confirm that the default theme works fine with `fig`

[2022-03-26 23:40] browneye1826 opened #1193 "App Wont Reopen Once Hidden from Menu Bar"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
After enabling `app.hideMenubarIco

[2022-03-27 00:51] mschrage commented on #1193
@browneye1826 are you trying to open this page?
<img width="942" alt="Screen Shot 2022-03-26 at 5 50 46 PM" src="https://user-images.githubusercontent.com/3155109/160261905-2e3d5273-ca3d-40f6-88df-3065898c0fe7.png">

If so, you can just run `fig` and that will open this window!

(PS. All of these `app` subcommands are more or less internal and probably should be hidden)

[2022-03-27 01:02] mschrage commented on #58
@wez pushed an updated that improves Wezterm's IME support on macOS!

(It also _seems_ like it is now turned [on by default](https://wezfurlong.org/wezterm/config/lua/config/use_ime.html) as well, but the docs have conflicting information.)

<img width="572" alt="Screen Shot 2022-03-26 at 6 02 07 PM" src="https://user-images.githubusercontent.com/3155109/160262216-84b4d1c4-edf3-41ad-a1fa-e922106f9

[2022-03-27 01:06] browneye1826 commented on #1193
Haha bravo, that did it! In a million years I wouldn't have thought of just 'running `fig`'
But what do you mean though by 'more or less internal'?! These settings are super useful.
P.S. I'm in love with Fig! I recommend it to EVERYONE!

[2022-03-27 01:20] wez commented on #58
Nice!  Yes, IME is default enabled on all platforms since the most recent release.  I've updated the docs on that page to make them clearer and internally consistent!

[2022-03-27 06:14] paullongtan commented on #1107
I tested the directories made and path suggestion do work in them.
I have further tested fig in other folders and for the ones that has (traditional) chinese character in the path, path suggestion generally doesn't work properly. I think it might be a unicode issues as you suggested.

Is there any thing I can do to fix this issue?

[2022-03-27 06:39] mschrage commented on #1107
Can you share some of the paths so I can try to reproduce?

Also make sure you have updated to the latest version.

[2022-03-27 07:03] paullongtan commented on #1107
The version I am using is 1.0.56 (the newest one).

Some path examples are:

cd /Users/wangyanpu/Desktop/台灣大學/
cd /Users/wangyanpu/Desktop/實習申請/
For these paths the autosuggestion generally load for a few second then give up.
<img width="660" alt="截圖 2022-03-27 下午2 58 35" src="https://user-images.githubusercontent.com/47477883/160270451-a52b460f-b78f-4cd7-8c32-76852452ae7c.png">

cd /Users/wangyan

[2022-03-27 13:20] Ronserruya commented on #1083
Thanks @mschrage
I tried switching to zsh,
with zsh looks like issue 1 is fixed, it does run the full .zshrc file and all my aliases/env vars are defined
However 2 and 3 are still unfixed, that being said I never used zsh in pycharm before so I can't say if that's a bugged behavior or normal

Weird thing is that even if I comment out the fig lines in .zshrc this behavior continues to happen, and f

[2022-03-27 16:57] mjwaghmare commented on #1171
Awesome Please ASAP

[2022-03-27 19:08] #395 closed

[2022-03-27 19:08] fedeci commented on #982
Out!

[2022-03-27 19:08] #982 closed

[2022-03-27 23:55] SeparateRecords opened #1194 "Fig doctor reports "could not read vscode extensions" if directory doesn't exist"

[2022-03-28 00:05] SeparateRecords commented on #1192
cc @grant0417

[2022-03-28 00:07] grant0417 commented on #1192
It looks like there are some permission issues with your `.fig` folder.

Try running `sudo chown -R user ~/.fig` where the user is your username.

[2022-03-28 00:51] SeparateRecords opened #1195 "Option with insertEquals and required arg should insert equals"
Current workaround is to manually add `={cursor}` to the `insertValue`:
[code]

This should insert equals:
[code]

This should **not** insert equals:
[code]

[2022-03-28 03:11] SeparateRecords opened #1196 "Fig doesn't create ~/.config/fish/conf.d"
Creating conf.d manually and then running fig install --dotfiles got it working.

[2022-03-28 03:17] SeparateRecords commented on #1102
See also #487 - likely same underlying cause. Weird that I can't repro this at all!

[2022-03-28 03:59] SeparateRecords opened #1197 "Fig menubar icon not removed"

[2022-03-28 04:43] SeparateRecords opened #1198 "Not working with starship"
If you use starship and Fig isn't working for you, please let us know!

* Do you use any other plugins?
* Have you customized starship at all?
* Does it only fail in _some_ directories or all of them?
* How is it broken? Not showing up? Prompt is gibberish?

[2022-03-28 04:58] SeparateRecords opened #1199 "Sign in not working"
Please leave a comment if you're unable to sign in. We'll follow up to understand what's happening and get it fixed!

[2022-03-28 06:16] phuctm97 commented on #1160
A fix has been shipped. Please check and let me know if you still have the issues or we can close the issue @vvzvlad.

[2022-03-28 08:31] SeparateRecords commented on #1141
@han4wluc could you try writing out `git ` again then take a screenshot of the debugger?
<img width="418" alt="image" src="https://user-images.githubusercontent.com/52195359/160358251-40bf11c5-907c-4a37-ba2b-523e5de1f397.png">

[2022-03-28 10:17] bengry opened #1200 "Ignore fig autocomplete on certain commands/refine auto-detect"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Fig does a great job at figuring o

[2022-03-28 11:41] vvzvlad commented on #1160
And how do I delete all the settings at all to check the application's behavior when I install it from zero? When I deleted ~/.fig/settings.json, it was restored as soon as I went into settings and changed a single item.

[2022-03-28 12:03] HugoA44 commented on #1155
Hello @mschrage !
It hasn't fixed the problem yet, though the box is well checked in the settings.
Thanks for the feedbak

[2022-03-28 12:09] #1087 closed

[2022-03-28 12:09] fedeci commented on #1087
Fixed, it will be out in the next AE release!

[2022-03-28 17:31] jopsa opened #1201 "iTerm integration is enabled: fig-iterm-integration.scpt is missing."
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 11.6.0 (20G165)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B416) [Spanish - ISO]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles:

[2022-03-28 17:47] #1201 closed

[2022-03-28 18:57] mschrage commented on #1160
@vvzvlad you can `fig settings setting-name --delete` to restore the default value for that specific setting.

Currently there is no way to restore all settings at once.

[2022-03-28 19:01] mschrage commented on #1200
Should be resolved by this PR: https://github.com/withfig/autocomplete/pull/1036

[2022-03-28 19:11] #1200 closed

[2022-03-28 19:15] #1169 closed

[2022-03-28 19:34] mschrage commented on #1163
I think that the issue may have to do with the `%~%` sequence here: https://github.com/saifazmi/dotfiles/blob/2c500b72551da5322f651991fdc8c58855a2e6d0/.oh-my-zsh/themes/classyTouch.zsh-theme#L5

I think it should be replaced with `%~` as it doesn't seem like `%~%` is a valid prompt expansion.

https://zsh.sourceforge.io/Doc/Release/Prompt-Expansion.html

[2022-03-28 20:06] cabneydp opened #1202 "Fig breaks VSCode PowerShell Extension"
### Description:
When I attempt to load the PowerShell extension on macOS it says "Loading PowerShell extension is taking longer than expected" and will eventually time out. I uninstalled Fig and it immediately worked. Tried this on multiple machines and can reproduce the issue. If Fig is installed, VSCode's PowerShell Extension won't run. If Fig's removed, it works. No issues found in Fig Doctor.

[2022-03-28 20:22] felipejinli opened #1203 "Fig breaks `react-native run-android`"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

Launching `react-native run-andro

[2022-03-28 23:13] SeparateRecords commented on #1202
Unfortunately a known bug, see #881

[2022-03-28 23:14] #1202 closed

[2022-03-28 23:17] mschrage commented on #446
@SeparateRecords I can't seem to reproduce this.

[2022-03-28 23:39] sullivan-sean opened #1204 "Add automatic spec generation integration for Ruby CLIs using Shopify's cli-kit"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

Similar to our existing generators for `commander`, `clap`, `oclif`, etc. it would be nice to add an integration to support automatic generation of autocomplete specs for Ruby CLIs using Shopify's framew

[2022-03-28 23:39] mschrage opened #1205 "Cannot enabled Accessibility permissions"
**If you are running into this issue, please do the following:**
1. Quit Fig
2. Run `tccutil reset Accessibility com.mschrage.fig`
3. Relaunch Fig (you will be prompted to grant accessibility permissions again).

[2022-03-28 23:41] brendanfalk commented on #1145
Wow, also didn't know global aliases existed. This is awesome

[2022-03-28 23:41] brendanfalk commented on #1145
(we will get working for you)

[2022-03-28 23:50] SeparateRecords opened #1206 "Fig stopped showing completions after adding spec to ~/.fig/autocomplete"

[2022-03-29 00:01] mschrage commented on #1095
@taophp this is resolved in the next release.

#1069

[2022-03-29 00:01] #1095 closed

[2022-03-29 00:05] mschrage commented on #798
Forgot to close this issue ages ago, but this has been resolved.

[2022-03-29 00:08] mschrage commented on #1092
Hey @qubist! Thanks for letting us know. My suggestion is to use enter or tab to select suggestions. Using a keyboard to insert suggestions prevents focus from switching between the terminal and Fig.

[2022-03-29 00:10] mschrage opened #1207 "Text insertion not working"
`Version 1.0.56 (B416)`

[2022-03-29 00:34] brendanfalk opened #1208 "[Placeholder] Fig using a lot of RAM/memory"
This is a placeholder issue for when Fig is using a lot of memory / RAM.

If you are facing this issue, could you please run `fig issue` and create a new issue referencing this one? Would also be useful to have a screenshot of the amount of memory being used + any ideas on how to reproduce.

Thanks :)

[2022-03-29 02:18] SeparateRecords commented on #446
@mschrage Weird, this is super reliably reproducible for me - maybe a fish thing? Although a lot of people seem to have this bug with zsh too. You're welcome to remote into my machine to debug stuff.

[2022-03-29 03:35] qubist commented on #1092
Thanks @mschrage, that's what I normally do. Ideally, though, the described behavior would not happen.

[2022-03-29 04:22] orirori512 opened #1209 "fig"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B414) [ABC]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false
  -

[2022-03-29 05:18] mschrage commented on #1209
Hey @orirori512 - is something not working with Fig? If so, please add some additional information explaining what is going wrong.

[2022-03-29 05:23] #1209 closed

[2022-03-29 05:39] mschrage commented on #446
Narrator: it was a fish thing.

[2022-03-29 09:50] maxesse opened #1210 "iTerm integration is enabled: Unknown error with iTerm integration"
### Description:
If I run fig doctor on a fresh install of Fig using iTerm and oh-my-zsh, it says that there has been an unknown error with the iTerm integration.
Other than that, Fig seems to run normally though.

![Screenshot 2022-03-29 at 11 45 40](https://user-images.githubusercontent.com/10496725/160584542-b6e2e671-4bf7-47e3-83b8-4cff6fc976ab.png)

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 1

[2022-03-29 09:52] maxesse commented on #1210
Sorry, just fixed it myself, by installing the iTerm integration from the Fig menu. I should have played a bit longer before opening this issue, but the message was a bit cryptic I guess.

[2022-03-29 09:52] #1210 closed

[2022-03-29 13:05] cabneydp commented on #881
Adding additional information on the same bug below.

### Description:
When I attempt to load the PowerShell extension on macOS it says "Loading PowerShell extension is taking longer than expected" and will eventually time out. I uninstalled Fig and it immediately worked. Tried this on multiple machines and can reproduce the issue. If Fig is installed, VSCode's PowerShell Extension won't run. If F

[2022-03-29 14:18] ginsoul opened #1213 "TTY Error in bash_profile after including Fig in .bash_profile"
### Description:

Hello,
my bash_profile is sourcing different scripts. I wrote a check before sourcing to prevent it from sourcing scripts with errors.
So this check is saying:
Failed at /Users/cegin/.bash_profile >> 1565: tty

Which is strange because my bash_profile only has  1180 lines. The last lines are:

Fig post block. Keep at the bottom of this file.
eval "$(fig init bash post)"

The miss

[2022-03-29 15:50] dreamorosi commented on #1206
Hi, I was the one encountering the issue. To be honest I'm not sure it's a bug in the tool but more of a chance of improving the docs.

I was following the docs to create the specs for an internal tooling and the documentation only shows how to publish the spec & share it with my team; which I don't necessarily want to do (but I realise why you consider it as happy path as this helps you strengthe

[2022-03-29 16:52] mschrage commented on #1213
Can you share your bash_profile?

[2022-03-29 17:08] JeffLabonte opened #1214 "tmux with fig"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

I would like to be able to use fig with tmux. I do a lot of work in my terminal and I come from a Linux setup. So I am using tools that I used to use on Linux, such as tmux and alacrity. I know you guys

[2022-03-29 17:18] grant0417 commented on #1214
Hey @JeffLabonte, are you using any plugins with `tmux` such as vim-tmux-navigator https://github.com/withfig/fig/issues/460

[2022-03-29 23:48] SeparateRecords commented on #1206
This is definitely a good opportunity for improving the docs. We need to do a major revamp of them.

My usual workflow for editing personal specs:
[code]

This avoids switching to dev mode. Developer mode in autocomplete makes it _only_ load from ./build, instead of doing a normal lookup. You can still do `npm run dev`, but this means no other specs will load.

Hope that made sense! We'll have to

[2022-03-30 02:00] SeparateRecords commented on #881
Thanks so much for adding the videos @cabneydp !

I spent some time looking into this today.

* The powershell extension launches pwsh with `-Login`
* [`pwsh -Login` makes powershell run zsh in emulation mode](https://github.com/PowerShell/PowerShell/blob/9f722ef95072fddd975b1b7b584bf11b2e857a69/src/powershell/Program.cs#L336-L340), causing it to source your `/etc/profile` and `~/.profile`
* Fig *

[2022-03-30 04:48] SeparateRecords commented on #598
Got a fix for this, will be resolved along with #881

[2022-03-30 04:52] SeparateRecords opened #1216 "Popup appears on wrong screen"
Waiting for more info on this. If you're having this issue, can you let us know:
* Your Fig version (in the ◧ Fig menu, eg. v1.0.56 B416)
* Your monitor setup: What do you have? How are they configured? Is monitor 1 the left or right? What resolution?

[2022-03-30 05:00] SeparateRecords commented on #58
Positioning seems a little broken for me - is there an easy fix?

<img width="606" alt="image" src="https://user-images.githubusercontent.com/52195359/160754562-802f19f4-ba61-40a4-8a78-5f9964007f35.png">

[2022-03-30 05:53] mschrage commented on #881
Nice sleuthing @SeparateRecords - I looked into this briefly and was super confused about what was going on.

[2022-03-30 05:55] #881 closed

[2022-03-30 05:57] mschrage commented on #58
Hmm that is interesting! I wonder if this is based on the version (notice how you have native tabs and I don't).

[2022-03-30 06:06] rockymontana opened #1217 "Toggling the accessibility setting on update"
### Description:
When fig self updates it wants me to enable accessibility just when installing it. If it's already enabled I'm asked to toggle the setting. This literally never works but I have to remove fig from that setting and then restart fig. I'd rather just get that check if it's not already checked. Is it not possible to store whether or not that has been set in a config, or even better -

[2022-03-30 06:43] SeparateRecords opened #1218 "Fig prevents tmux from running script"

[2022-03-30 06:48] SeparateRecords commented on #1217
Unfortunately there's not a lot we can do about this since it's a macOS thing - it's rather finicky with permissions. #1205 has the workaround 🙂

[2022-03-30 07:23] SeparateRecords opened #1219 "Creating spec makes global specs disappear"

[2022-03-30 07:59] SeparateRecords opened #1220 "Suggestions disappear very quickly"

[2022-03-30 08:22] SeparateRecords commented on #804
Hey hey! Same Robert from the email. Let's look into what's going on here 🙂

I'd like to try and reproduce your setup as close as I can - are you able to share your fish config? Can also email us if you're not able to share it publicly.

[2022-03-30 10:08] dreamorosi commented on #1206
Thanks for the update, I can confirm that I wasn't in dev mode. Before resorting to uninstalling I have tried with different terminal sessions and nothing worked.

I'll keep in mind your workflow though, thanks!

[2022-03-30 11:09] pcrandall opened #1221 "Figterm socket: No file at path ..."
### Description:

![image](https://user-images.githubusercontent.com/45416860/160821303-af5f9fa6-c871-4b63-8e18-ca2477d74f6f.png)

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|-zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B416) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete:

[2022-03-30 13:24] wez commented on #58
@mschrage: FWIW, the version number in Cargo.toml isn't used for wezterm: `wezterm --version` has the correct version info.
Is the caret location taken directly from what wezterm sends to the IME?

[2022-03-30 14:10] joaomedeiros95 commented on #1220
Here is the video of the bug happening:
https://user-images.githubusercontent.com/5972729/160854895-1b641ec9-d2bc-4edf-ba5b-e511c7b98aca.mov

[2022-03-30 17:21] joaomedeiros95 commented on #1220
@SeparateRecords just realized that the bug is not consistent, sometimes works well for a while.

[2022-03-30 17:53] mschrage commented on #1221
Hey @pcrandall! We should improve this error message. Based on the output from `fig diagnostic`, it seems like the underlying issue is that Fig's shell integration is not set up correctly.

Can you run `fig doctor --verbose` and share the output here?

Could you also post your zshrc/zprofile?

[2022-03-30 20:13] oliveratgithub commented on #1074
Did so – but unfortunately it's still not working for me. None of my aliases are suggested by fig (only default shell autocomplete works).

Here's my fig diagnostics:

[code]

[2022-03-30 21:21] mschrage commented on #1074
I don't think we have completion specs for any of your aliases. Can you please elaborate on the behavior you are expecting @oliveratgithub?

[2022-03-30 21:29] oliveratgithub commented on #1074
When I have fig launched & type the first characters of any of my custom `aliases` in Terminal, I would expect fig to autocomplete/propose the matching aliases.

Eg:
`% mam`
-> fig suggest command completion:
`mamp`
`mamp_stop`

But raising the question here, if fig even is built to propose/autocomplete the command part in the terminal? Is that a feature?
Like typing "gi" it would already propose

[2022-03-30 21:52] mschrage commented on #1074
I see! This functionality makes total sense. Would you mind creating a separate issue for it.

This issue was referring to a different bug where aliases were not being loaded at all. (Currently we load them so that if you have aliased `git` to `g`, we can still present suggestions for git subcommands.)

[2022-03-30 23:21] awahbah opened #1222 "fig_pre.fish does not exist"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B416) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false

[2022-03-30 23:31] ex-nerd opened #1223 "No clear way to quit"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

When you open the desktop app, it

[2022-03-30 23:31] SeparateRecords opened #1224 "Post init should be guarded (breaks emacs, securecrt, warp prompt in fish)"
Solution: we need to guard the post init with a check for `test "$TERM_PROGRAM" = WarpTerminal`. This will also allow us to better fix the SecureCRT and Emacs weirdness (figterm is no longer launched but escape codes are still printed)

<img width="616" alt="image" src="https://user-images.githubusercontent.com/52195359/160947215-81ba497f-1ab0-40fb-a7e0-492be9cd7e58.png">

[2022-03-30 23:49] mschrage commented on #1223
Hey @ex-nerd, thank you for the feedback. This is definitely not the experience that we want our users to have.

In fact, we're in the process of completely redoing the onboarding so that it is CLI first and gives more control about writing to dotfiles.

If you'd like, I can jump on a 1:1 call with you right now to help make sure Fig is installed/uninstalled correctly? (I'll be in this Zoom for th

[2022-03-30 23:50] mschrage commented on #1223
Also clearly, we should add `fig quit` and `fig uninstall` to the CLI help text.

[2022-03-31 00:25] SeparateRecords opened #1225 "Feels weird when used with default autocomplete"
I agree with this - after disabling shell autocomplete entirely, Fig _feels_ way better.

Possibly solutions:
* Prompt to disable autocomplete - hard to implement, wouldn't come across well
* Prompt to enable only-show-on-tab - should implement #995 first

[2022-03-31 00:26] ex-nerd commented on #1223
I'm good.  Eventually found the uninstall docs (which is how I learned about Fig's menu item) ... though I think those might need to mention `rm -rf ~/.fig.dotfiles.bak/` as well.

[2022-03-31 02:01] SeparateRecords commented on #1220
That's weird - @mschrage any clue what's happening here?

[2022-03-31 02:13] mschrage commented on #1220
@joaomedeiros95 @SeparateRecords potentially prompt related? Or maybe some other macOS app that you use?

This is pretty unusual. Could you share your zshrc and also run `fig debug logs` while this is happening?

[2022-03-31 03:07] SeparateRecords opened #1226 "Add requiresSeparator"
An expansion of `requiresEquals?: boolean | undefined`

`requiresSeparator?: boolean | string | undefined` would allow for options such as [Clojure's `-X:<name>`](https://clojure.org/reference/deps_and_cli#_execute_a_function)

We could keep `requiresEquals` but deprecate it, since `requiresSeparator` can entirely replace it. `requiresSeparator: true` should be equivalent to `requiresEquals: true`

[2022-03-31 03:18] alexreardon commented on #1205
I ran into this problem too. The suggested fix worked great 👍

[2022-03-31 04:17] SeparateRecords opened #1227 "Chained option with `insertValue` should break option chain"
Paraphrasing @sullivan-sean:

[2022-03-31 04:28] SeparateRecords opened #1228 "Unable to select suggestions"

[2022-03-31 04:36] SeparateRecords opened #1229 "Autocomplete window does not appear in fullscreen applications"
Waiting for more info. If this is happening to you, please let us know if you use any windowing tools (eg. magnet, amethyst) and any other relevant info. Multiple monitors? Quake mode?

[2022-03-31 05:53] SeparateRecords commented on #1167
Reverting to files would also allow us to also use early returns / exits since it wouldn't be evaluated in the same context.

Another thing I wanted to bring up would be to use process substitution with an absolute path, that way we can still get early exits:
[code]
[code]

[2022-03-31 05:57] mschrage commented on #1167
@SeparateRecords @sullivan-sean is working on this migration now. Any qualms about switching back to files?

[2022-03-31 05:59] SeparateRecords commented on #1167
No problem with files! The nice thing about the binary is that it can do stuff like produce entirely different config depending on the environment, but plain-old-text-files are much simpler and users can modify them too if theres a bug

[2022-03-31 06:10] mschrage commented on #1167
I think we are going to split the difference.

The idea is that `~/.fig/zsh/pre` will contains the following:
[code]

This lets us not worry about the user's `PATH` while still producing the configuration at runtime.

[2022-03-31 06:40] clstaudt commented on #1229
I just installed fig and had a similar issue: The Fig overlays disappear once Terminal.app is in fullscreen mode. Unfortunately fullscreen is how I use the terminal every day.

[2022-03-31 09:00] Abhiram4572 commented on #34
Waiting!!

[2022-03-31 10:18] MichaelBell commented on #35
Fig looks very interesting, would be great to see this working with [PuTTY](https://www.putty.org/) on Windows too.

[2022-03-31 12:53] tfitz237 commented on #1219
Thanks for making this. If fig uses websockets for inter-communications, this might be the reason for the majority of my failures. I think the corporate proxy software installed on my work laptop breaks this stuff. I will try to make some time to add some better docs on the issues.

[2022-03-31 13:22] amitkot opened #1230 "Add xonsh shell support"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Xonsh shell is not supported:

[co

[2022-03-31 13:33] robinsimonklein opened #1231 "Pre shell integration not sourced error when running fig doctor"
### Description:
Hi,
I just installed **fig** on my Mac, but after following the onboarding bash tutorial, when I run `fig doctor` I get an error message. Here is the full log :

[code]

For more context, I am using iTerm2 with OhMyZsh.
My `.bash_profile` looks like that :

[code]

I tried to add `source ~/.iterm2_shell_integration.bash` as first line following iTerm2's documentation, but nothing

[2022-03-31 13:47] robinsimonklein commented on #1231
Also when I open the fig menu in the menu bar, I get those warnings. If I click on "Rerun install script", nothing happens :/

[2022-03-31 14:21] mvolkmann opened #1232 "Unix socket does not exist"
### Description:

I can't get any completions to work, including typing "cd" followed by a space in zsh.
"fig doctor" is not happy with my setup.
See this screenshot.

<img width="430" alt="Screen Shot 2022-03-31 at 9 19 49 AM" src="https://user-images.githubusercontent.com/79312/161077501-30e4206d-590e-495b-a292-6a77f4386934.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B4

[2022-03-31 14:21] mvolkmann commented on #1232
A minor note ... "receiving" is misspelled in the screenshot.

[2022-03-31 14:37] shyward1 opened #1233 "fig doctor - issue: ✘ Daemon: TLS error: webpki error: UnsupportedCriticalExtension"
### Description:

`fig doctor` commands fails with - "✘ Daemon: TLS error: webpki error: UnsupportedCriticalExtension"

https://user-images.githubusercontent.com/3516608/161081307-b9d9fa0a-c83e-4c58-b91e-675a8a9bdefd.mov

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.0.1|Version 1.0.56 (B416)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B416) [U.S.]
UserS

[2022-03-31 14:38] fedeci commented on #1226
I like this expansion! I'm implementing it later.

[2022-03-31 14:45] fedeci commented on #1206
we load specs from `~/.fig/autocomplete/build` and `~/.fig/user/autocomplete/build`. I should have updated the `copy-to-global` script a while ago.

[2022-03-31 14:46] joaomedeiros95 commented on #1220
Hi, @mschrage here is the output I got from `fig debug logs`:

[code]

Seems like these logs are in an infinite loop.

[2022-03-31 14:47] dreamorosi commented on #1206
Understood, I've created the spec 5 days ago.

[2022-03-31 16:56] misolori opened #1234 "No way to skip email sign in"
### Description:

I would like to not share my email to setup a local tool and there is no way to continue

<img width="590" alt="CleanShot 2022-03-31 at 09 54 24@2x" src="https://user-images.githubusercontent.com/35271042/161109132-3c826ccb-2b30-407b-a0a3-a3e9952489df.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B416)|/bin/zsh|
<details><summary><code>fig diagnostic</code

[2022-03-31 18:03] vijay-tumati opened #1235 "FIG - Stop Working"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B416)|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B416) [British]
UserShell: /bin/bash
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/vijaytumati/.fig/bin/fig
Accessibility: true
SSH Integration: false

[2022-03-31 19:03] #1235 closed

[2022-03-31 19:18] mschrage commented on #1234
Hey @misolori! Thanks for this feedback. This is actually the expected behavior.

 I think the confusion is that Fig is not just a local autocomplete tool. Fig lets you con_fig_ure and syncing your development environment across devices.

<img width="942" alt="Screen Shot 2022-03-31 at 11 25 08 AM" src="https://user-images.githubusercontent.com/3155109/161124560-c84e8539-e601-4982-9678-10c538aaa1e

[2022-03-31 19:18] #1234 closed

[2022-03-31 19:23] mschrage commented on #1233
Thanks for reporting this @shyward1! This is fixed on the latest beta. You can update by running `fig settings app.beta true`.

[2022-03-31 19:25] foresthpark opened #1237 "Fig stopped working on all terminals"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.1.0 (21C52)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B416) [Canadian English]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfile

[2022-03-31 19:28] mschrage commented on #1231
Hey @robinsimonklein! Thanks for reporting this.

It seems like Fig's shell integration isn't being added to `~/.bash_profile`.

Can you run `ls -l ~/.bash_profile` and share the output here?

Also, besides these warnings, is autocomplete working for you?

[2022-03-31 19:41] shyward1 commented on #1233
Thank you!

[2022-03-31 19:43] mschrage commented on #1237
Hey @foresthpark, this is very strange. Can you take a screen recording of two terminals. In one, run `fig debug logs` and in the other type "git com"

[2022-03-31 19:46] Pound-Hash commented on #34
If you're eager for the app, you can give them a thumbs up or some other similar gesture.

If you're expressing impatience, it's best not to say so.

[2022-03-31 19:49] sanjay75409 opened #1238 "Setup error in MacOS"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.4|Version 1.0.56 (B416)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B416) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/sanpate/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux Integ

[2022-03-31 19:56] mschrage commented on #1238
Hey @sanjay75409, thanks for reporting this error.

When exactly did it appear? Had you logged in already? Also are you using a VPN? I can't reproduce this.

[2022-03-31 19:59] misolori commented on #1234
but what if I don't want to sync across devices? this is essentially blocking me from using this.

[2022-03-31 20:02] #1230 closed

[2022-03-31 20:04] mschrage commented on #1229
I have figured out what's going on here. If you've launched run `fig` and have this window open, the activation policy of the app changes. This prevents the autocomplete window from appearing over full-screen applications.

<img width="942" alt="Screen Shot 2022-03-31 at 1 03 10 PM" src="https://user-images.githubusercontent.com/3155109/161139903-e7d10296-1fdc-4466-8a31-d9940fbd7e13.png">

[2022-03-31 20:05] ikoruk commented on #606
It honestly feels like those reasons are just excuses, and the real reason is that this is more of a start-up than a useful tool and VC/start-up mentality calls for having quantifiable users and as much data as possible.

[2022-03-31 22:53] SeparateRecords opened #1239 "Fig displays with tiny font"
![image](https://user-images.githubusercontent.com/52195359/161162440-821bbf68-2130-423a-9593-7db778d312d2.png)

[2022-03-31 23:46] SeparateRecords opened #1240 "Proposal: Add blank `metadata` field to `Fig.Subcommand`"
The Fig schema is fantastic for quickly writing a CLI skeleton. Currently, it is only written to _model_ an existing CLI's behavior. There are no current libraries to use the schema as the source of truth for parsing -- I am experimenting with this in my own time, more people doing this would be welcome!

Such a framework may want to implement a subset of Fig's functionality and schema, maybe supp

[2022-03-31 23:57] SeparateRecords commented on #1240
Thinking about this more, I'll change this idea a bit - closing.

[2022-03-31 23:57] #1240 closed

[2022-04-01 00:14] SeparateRecords opened #1241 "Improve history mode"
Fully agree with this.

[2022-04-01 04:04] SeparateRecords commented on #1208
Definitely another memory leak - not sure where yet.

[2022-04-01 05:43] SeparateRecords opened #1242 "`overmind` spawns fish shell"

[2022-04-01 06:07] oliveratgithub commented on #1074
@mschrage Okay got it! Yes will raise this as a separate feature then. Sorry for the confusion

[2022-04-01 06:22] cherry-tom opened #1243 "disabled using an .oh-my-zsh plugin alias"
### Description:

alias pnx="pnpm nx --"

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B416)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B416) [Australian]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/christhompson/.fig/bin/fig
Accessibility: t

[2022-04-01 07:10] SeparateRecords opened #1244 "Auto update causes failure in non interactive shell"

[2022-04-01 07:25] SeparateRecords commented on #1234
@misolori The dotfiles / plugins features are completely optional, if you don't want to sync then you don't have to! To avoid entering my main email, personally I use Fastmail's [masked email](https://1password.com/fastmail/), and there are plenty of other temporary email services out there too.

We don't have immediate plans to skip entering an email, but I totally get that not everyone wants to

[2022-04-01 08:02] fedeci commented on #1241
"autocomplete.navigateToHistory" does exactly that! You press the up key when the popup is open and you get history suggestions

[2022-04-01 08:06] amk221 commented on #1239
https://user-images.githubusercontent.com/382061/161222037-469f84de-4147-4e43-bd5d-c24867cf27ac.mp4

[2022-04-01 09:22] #1025 closed

[2022-04-01 12:55] JeffLabonte commented on #1214
No, I am not. It really is basic tmux. Well with a few tweaks.

[2022-04-01 13:48] SeparateRecords commented on #1239
Really weird, I can't reproduce this. Just installed hasklig myself. Where did you get the font from? Maybe homebrew? Or was it the [GitHub repo](https://github.com/i-tu/Hasklig/releases/tag/v1.2)?

[2022-04-01 14:08] Vofchuk opened #1245 "Fig is not working on my mac... its just stoped working"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B416) [ABC]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false
  -

[2022-04-01 14:57] amk221 commented on #1239
I think the font is a red herring, I can reproduce it by just entering a size.

[2022-04-01 15:32] misolori commented on #1234
@SeparateRecords I think you are missing the point: requiring a login upfront for a desktop/local tool is gatekeeping, if you want people to use features like syncing/collaboration, then require it when they want to enable those features. I think the comments https://github.com/withfig/fig/issues/606 make it clear that I am not the only one feeling this way.

That's a shame

[2022-04-01 15:34] misolori commented on #606
[Comment](https://github.com/withfig/fig/issues/1234#issuecomment-1085528770) from @SeparateRecords:

Just in case if people were waiting around for this to change

[2022-04-01 16:23] ntindle commented on #35
I ended up just getting a Mac to use fig so this no longer applies to me.

[2022-04-01 17:13] brendanfalk commented on #1205
To fix:
Run `fig debug accessibility refresh` and follow the prompts

[2022-04-01 17:33] DefinitelyADev commented on #35
You got a Mac just for fig? I mean, who am I to judge but ok.

[2022-04-01 17:37] brendanfalk commented on #1137
Running `fig debug accessibility refresh` should fix!

[2022-04-01 17:38] brendanfalk commented on #1007
Running `fig debug accessibility refresh` should fix!

[2022-04-01 17:38] #1007 closed

[2022-04-01 17:38] #1140 closed

[2022-04-01 17:38] brendanfalk commented on #1140
This is live

[2022-04-01 17:38] #1137 closed

[2022-04-01 17:49] brendanfalk commented on #1224
@SeparateRecords are you able to fix this for us?

[2022-04-01 17:52] Milo123459 commented on #35
No need to flex... haha

[2022-04-01 17:54] #1218 closed

[2022-04-01 17:54] brendanfalk commented on #1217
To fix run `fig debug accessibility refresh`

[2022-04-01 17:54] #1217 closed

[2022-04-01 17:55] brendanfalk commented on #1198
May be related to emojis...

[2022-04-01 17:56] brendanfalk commented on #1197
Likely a settings sync issue which will be fixed in v1.0.58?

[2022-04-01 17:58] brendanfalk commented on #1196
If ~/.config/fish/conf.d doesn't exist, we should check if ~/.config/fish/ exists and if so create it

[2022-04-01 18:08] incubusnb commented on #35
Getting a mac is not a flex in any way. More like a terrible life choice unless you're just interested in having a status symbol.

[2022-04-01 18:14] haltcase commented on #35
Could we please keep the comments here limited to the issue and move other comments to a discussion? I'd like to stay connected with progress to Fig coming to Windows, but notifications like these last few can be very noisy.

[2022-04-01 18:15] j9ac9k commented on #1142
Hello @SeparateRecords

I just got he first error.  To answer your questions

- I am WFH, and while I have WireGuard installed, it is not currently active
- This is a work device, but there is no "management" software on here
- Network configuration is that I have my laptop connected to a thunderbolt 3 dock (WD19TB), and using the wired LAN connection from there.  The WiFi device is also connected

[2022-04-01 19:33] grant0417 commented on #1214
Would you mind sharing your tmux config?

[2022-04-01 22:18] mschrage commented on #1245
Can you run `fig doctor —verbose` and share the output?

[2022-04-02 02:37] halostatue opened #1246 "Fish initialization needs improvement"
### Description:

I believe that `conf.d/00_fig_pre.fish` are `conf.d/00_fig_post.fish` should be improved.

[code]

[code]

1. `conf.d` scripts by third-parties should not modify `fish_user_paths` for common directories like `~/.local/bin`. I know that `fig init fish pre` is _also_ modifying `fish_user_paths` (twice). Since you’re aiming for Fish 3.1 or later, it is better to use `fish_add_path`,

[2022-04-02 03:03] halostatue commented on #1246
The change to use `| source` is _not currently_ correct because of the calls to `exit` in the script of `fig init fish pre`. Unlike `bash` and `zsh`, `return` can be used outside of a function definition, and will abort the execution of any sourced script at that point. Replace `exit` with `return` and then `| source` will work correctly.

[2022-04-02 05:12] Rhythmicc opened #1247 "postProcess in generators can't get the output of script"
### Description:

I'm trying develop the completion plugin of fig for my own command line script, when I use the generators like `bat.ts` did, postProcess can't get the output of the script.

here's the code:
![image](https://user-images.githubusercontent.com/29839231/161367417-7eb2b6ad-57b5-4b86-a187-c7f3353aa628.png)

here's the output of the script:
![image](https://user-images.githubuserconten

[2022-04-02 05:48] sasial-dev commented on #35
Could we lock this issue to the fig team only (for updates) and then create a discussion post for this issue for discussion on it?

[2022-04-02 05:56] mschrage commented on #35
Good idea @sasial-dev and thanks for moving the conversation in a more constructive direction @haltcase.

I’ll lock this issue for now.

[2022-04-02 07:29] shawnmcclelland opened #1248 "Theme not properly set from Settings interface"
### Description:
Setting the theme from the Settings -> Autocomplete -> Theme dropdown doesn't actually set the theme. Tested in both Terminal and iTerm. Manually overriding the theme using `fig settings autocomplete.theme theme` will take immediate effect and also properly update the Settings interface. Gif shows the results and differences between the two methods.

![fig-autocomplete-theme](http

[2022-04-02 07:39] LukasCBossert opened #1249 "Fig not working after logging in from CLI"

[2022-04-02 08:12] SeparateRecords commented on #1224
Will do! o7

[2022-04-02 08:34] #1249 closed

[2022-04-02 10:18] adavidzh commented on #1100
Thanks @mschrage and thanks for `fig` (and the `brew` cask).

I just found that I have the same problem with `fish` on `fig` `1.0.56 (B421)` and indeed the `figterm` executables look universal:
[code]

For some reason it is being run as `Intel`; the process tree for me looks like:
<img width="922" alt="Screenshot 2022-04-02 at 12 06 37" src="https://user-images.githubusercontent.com/4256469/161378

[2022-04-02 10:23] ellizonn opened #1250 "Fig doesn't work on 10.13"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 10.13.6 (17G14042)|1.0.56|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [Italian]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: f

[2022-04-02 10:34] ellizonn commented on #907
I'm using 10.13 too.
Can you gently describe how do you solve the problem with Fig?
Your help would be extremely important, thanks.

[2022-04-03 03:05] hangaoh opened #1251 "test"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [搜狗拼音]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/gangh/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux Integr

[2022-04-03 09:33] #1251 closed

[2022-04-03 10:39] saifazmi commented on #1163
Previous version:
[code]

Updated it to the following two variations and still doesn't work:
[code]
[code]

[2022-04-03 15:49] LeSnake04 commented on #34
is it like a terminal multiplexer that can be run in any terminal or does it have to be integrated in each terminal.

[2022-04-03 16:02] sachinraja commented on #34
@mschrage Could you lock this issue? There are a lot of people subscribed to this who only want to be notified on actual updates.

[2022-04-03 16:23] fedeci commented on #34
Post feature requests, ideas and suggestions here: https://github.com/withfig/fig/discussions/1252

[2022-04-04 00:09] SeparateRecords commented on #1142
@j9ac9k thank you for the details! In the ◧ Fig menu, what version does it say you're on? Would love to know if this is fixed for you on v1.0.56 B421 🙂

[2022-04-04 00:55] j9ac9k commented on #1142
I'm on that version, and no longer seeing that error with `fig doctor`; I think an update got applied since I opened the issue (silly me for not putting version info in the issue).

[2022-04-04 02:30] SeparateRecords commented on #1142
Great! I'll close this issue since it seems to be properly resolved, if it ever happens again definitely comment (or just make a new issue)

[2022-04-04 02:30] #1142 closed

[2022-04-04 02:36] SeparateRecords commented on #1247
Hey there! Try right clicking the fig popup, then click "Inspect element", then go to the console tab and watch what happens as you type. If there's an error it'll show up in the logs.
<img width="946" alt="image" src="https://user-images.githubusercontent.com/52195359/161464644-7b52521a-41f7-4b6b-a161-6ece01e04406.png">

It's possible that it's just not able to find your CLI in your path (like th

[2022-04-04 03:11] SeparateRecords commented on #1243
Hi @cherry-tom! Are you meaning that when you have that alias, fig doesn't work at all? Or that it doesn't work for that alias?

[2022-04-04 06:56] SeparateRecords opened #1253 "Suggest top level commands"

[2022-04-04 17:04] adenix opened #1254 "Autocomplete stoped working"
### Description:
Autocomplete stoped working a week after installing fig. `fig doctor` reports no issues and restarting fig does not resolve the issue.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [U.S.]
  - Bundle path: /Applications/

[2022-04-04 17:06] adenix commented on #1254
[code]

[2022-04-04 17:11] adenix commented on #1254
Attaching debug logs while typing `git comm`
[fig.log](https://github.com/withfig/fig/files/8411774/fig.log)

[2022-04-04 19:49] LeonardoLeite opened #1255 "Auto-complete can't reach deeper files/folders."
### Description:
Fig does not show autocomplete inside some deeper folders, even after I gave it full access to my disk.
When trying to access some folders deep inside my OneDrive local folder, fig does not show autocomplete for further files/folders. It goes only 2 levels of hierarchy. ex. "OneDrive/level2Folder/" Anything inside "level2Folder" can't be reached by de autocomplete tool.

![Captura

[2022-04-04 19:54] mlego opened #1256 "Autocomplete keybinding not working"
### Description:

I have my settings to insert a common prefix via the `tab` key and insert selected via the `enter` key. Neither are working. The autocomplete shows a list of suggested commands, but they do not get inserted. This was definitely working before and I have not changed any settings.

Thank you for your help!

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|/bin/zsh|

[2022-04-04 21:42] mschrage commented on #1255
Hey @LeonardoLeite! Thanks for reporting this. I think the issue is actually related to the unicode character in "Acadêmico".

Can you run `env` and share the output here?

Would you mind also copy the name of the folder and pasting it here so I can try to reproduce?

[2022-04-05 01:12] #598 closed

[2022-04-05 01:12] SeparateRecords commented on #598
Fix is merged!

[2022-04-05 02:48] mschrage commented on #1256
Hey @mlego, it looks like your shell integration is out of date. Can you share your zshrc and zprofile here?

[2022-04-05 04:32] SeparateRecords opened #1257 "Causes CLI to incorrectly position elements"

[2022-04-05 04:44] SeparateRecords opened #1258 "Display histogram of executed commands"
This is similar to `fig wrapped`. Could be displayed in the new settings app!

[2022-04-05 04:54] SeparateRecords opened #1259 "Refresh token causes laptop to crash"
Waiting for more info. If you have this error, could you send us:
* `fig doctor`
* `fig diagnostic`
* When would this happen? A screenshot would help a lot.

[2022-04-05 10:43] Rhythmicc commented on #1247
Can FIG can customize the Python third-party library location? It has been positioning the third party library through the Python3.9 installed by Homebrew. . So can't find the relevant library when `qrun` .

[2022-04-05 13:51] Rhythmicc commented on #1247
But I solved my problem through your method.. Tks!

[2022-04-05 13:51] #1247 closed

[2022-04-05 17:39] LeonardoLeite commented on #1255
At the home folder
`TERM_PROGRAM=Apple_Terminal
ANDROID_HOME=/Users/leonardo/Library/Android/sdk/
TERM=xterm-256color
SHELL=/bin/bash
TMPDIR=/var/folders/zx/zg_klpk547n1l54x3y62q99m0000gn/T/
GRADLE_HOME=/usr/local/Cellar/gradle/7.4.2
TERM_PROGRAM_VERSION=444
OLDPWD=/Users/leonardo/OneDrive
TERM_SESSION_ID=065AF3C3-16ED-4F5B-8CB0-6107526B8F87
USER=leonardo
SSH_AUTH_SOCK=/private/tmp/com.apple.launc

[2022-04-05 19:35] mlego commented on #1256
Thanks @mschrage. Here is my .zshrc (blocked out some sensitive entries)
![image](https://user-images.githubusercontent.com/736880/161835237-b05d9d78-c08c-48c3-8439-0a3f1514436b.png)

And my .zprofile
![image](https://user-images.githubusercontent.com/736880/161835158-2188a449-8d87-489d-9320-6ca89673b90f.png)

[2022-04-05 19:54] mlego commented on #1256
@mschrage Just noticed something additional - on terminal launch I am getting:

`No such file or directory .fig/bin/fig_get_shell`

[2022-04-05 20:11] mschrage commented on #1256
Hmm interesting. Thanks for sharing these details.

Can you try uninstall and reinstalling Fig? (Run `fig uninstall`)

[2022-04-05 20:19] mlego commented on #1256
Fixed! I am not sure why it worked this time - I tried reinstalling it before. Thank you for your help!

[2022-04-05 21:41] mschrage commented on #1250
![image](https://user-images.githubusercontent.com/3155109/161854277-706b8e03-446e-4bab-bb0f-31a28f49450e.png)

Seems like the underlying issue here has to do with a missing polyfill for `globalThis`. Should be a quick fix.

Can you take a look @fedeci?

[2022-04-05 23:38] KamalMicheal opened #1260 "Fig issue: Secure keyboard input disabled: Secure keyboard input is on"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 11.6.5 (20G527)|1.0.56|/bin/zsh|
<p>

[2022-04-06 00:02] Landyncai opened #1261 "Error: ENOENT: no such file or directory"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

I followed the steps to execute t

[2022-04-06 01:51] c-kirkeby opened #1262 "Completions appearing on focused terminal when connected to tmux session via SSH"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

1. Open a tmux session with `tmux

[2022-04-06 02:48] SeparateRecords commented on #897
This is fixed now - common prefix now filters for suggestions that start with the search term. Feels _way_ better to use with fuzzy search!

[2022-04-06 02:48] #897 closed

[2022-04-06 02:49] SeparateRecords commented on #995
@qubist this is now resolved! Fig now inserts the suggestion if there's only one.

[2022-04-06 02:49] #995 closed

[2022-04-06 02:49] SeparateRecords commented on #1090
🙌 @fedeci thank you for implementing this!

[2022-04-06 02:49] #1090 closed

[2022-04-06 02:52] JimtotheB commented on #1234
Yeah, I installed this, hit this block and immediately uninstalled it. I have more I could say, but I'll leave it at that.

[2022-04-06 02:58] mschrage commented on #1260
Hey @KamalMicheal!

Check out [this guide](https://fig.io/docs/support/secure-keyboard-input) on turning off Secure Keyboard Entry for instructions on how to get Fig working.

I am going to close this issue but let me know if you are struggling to disable Secure Keyboard Entry.

[2022-04-06 02:58] #1260 closed

[2022-04-06 03:15] SeparateRecords commented on #1247
Not 100% sure I follow, is the issue that your python 3.9 installation doesn't have some libraries you need to run the script?

Fig copies your $PATH variable to run commands, so it should execute programs exactly like how you would. Note that if the `eval "$(fig init zsh post)"` line isn't the final line in your config, this may not work right.

[2022-04-06 07:18] SeparateRecords commented on #1189
Going to close this issue for now but @dnrm please let us know if it happens again! We'll reopen and fix 🙂

[2022-04-06 07:18] #1189 closed

[2022-04-06 08:34] SeparateRecords opened #1263 "Autocomplete UI doesn't "fit in" to the terminal"
Autocomplete feels at home on the OS, but some people expect it to fit in more with the terminal. The rounded corners and bold colors look out of place.

This could be mitigated with a TUI overlay, or possibly #794. For now, it's not really a feature request or a bug - this is as intended.

[2022-04-06 08:36] ellizonn commented on #1250
![Schermata 2022-04-05 alle 23 28 16](https://user-images.githubusercontent.com/73301705/161932653-7c42fb7d-0e16-4c97-a8b3-3b4da77cea3c.png)
Safari is 13.1.2

[2022-04-06 08:49] fedeci commented on #1250
That's really strange.

[2022-04-06 09:12] zyflovelam opened #1264 "I don't get get any suggestion in iTerm right now, can anybody help?"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [ABC]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false
  -

[2022-04-06 09:13] ellizonn commented on #1250
Hope we can try to solve this

[2022-04-06 09:31] mortezasabihi commented on #1264
The same problem

[2022-04-06 09:40] ellizonn commented on #1250
As I reported on Discord to @mschrage , when I try "git co" the fig debugger output is:
![Schermata 2022-04-06 alle 11 32 43](https://user-images.githubusercontent.com/73301705/161945241-1a4cb514-83dc-422f-9d3a-3646f5756770.png)

Meanwhile, the globalThis error occur doing "fig debug autocomplete-window" > it appear a red box > "inspect elements" > it open Web Inspector, and here we can see the er

[2022-04-06 09:51] adenix commented on #1254
Update: Toggling Autocomplete off and back on seems to have restored the feature. Restarting the full app doesn't fix but simply toggling does.

[2022-04-06 10:08] adenix commented on #1254
That didn't last long. Breaks the moment you enter full screen.

[2022-04-06 10:27] Rhythmicc commented on #1247
Tks! It was my fault, and I solved. 🙏🏻

[2022-04-06 12:27] ellizonn commented on #1250
In every condition I inspect the red box, it appear the error.
When I'm typing `git co`, when I'm typing `cd Desk`, and so on

[2022-04-06 12:57] JayGeorge opened #1265 "Fig sometimes doesn't initiate"
### Description:

Fig is not autocompleting e.g. it won't autocomplete directory names like it usually does.
This happens every now and again. Fig sometimes works too.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [ABC]
  - Bundle path:

[2022-04-06 16:44] foresthpark commented on #1237
@mschrage Thank you for the reply. The recent update fixed the issue and is now working without issues. I love the product! Thanks again!

[2022-04-06 16:44] #1237 closed

[2022-04-06 18:51] fedeci commented on #1226
This may require extra work and I need to discuss with sean the best way to implement it since currently we rely on the fact that `=` is the separator when we parse options. Does adding a new prop to `parserDirectives` seem a viable alternative to you?
e.g.
[code]

[2022-04-06 20:28] mschrage commented on #1264
@mortezasabihi do you use the same prompt?

Can both of you type `git co` and then take a screenshot of the Fig debugger (click the Fig icon in the macOS menu bar).

[2022-04-06 23:00] EmilioVar opened #1266 "not work. why?"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 10.13.6 (17G14042)|1.0.56|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [Spanish - ISO]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfi

[2022-04-06 23:52] kbick675 commented on #1188
I tried updating to the beta as requested and that didn't seem to matter. Updated to latest stable today and now get the following error.

`Daemon: IO error: invalid peer certificate contents: invalid peer certificate: UnknownIssuer`

This is likely related to this being on my work MBP and their use of n+∞ security tools. I'll test on a personal machine when I get a chance.

[2022-04-06 23:55] kbick675 commented on #1188
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 10.15.7 (19H1824)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false

[2022-04-07 00:10] zyflovelam commented on #1264
Like this?

https://user-images.githubusercontent.com/19360803/162094848-52ceb2eb-0660-42de-a120-fef0d5e74a59.mov

[2022-04-07 00:11] zyflovelam commented on #1264
@mschrage

[2022-04-07 00:47] NV opened #1267 "`fig install --dotfiles` doesn't work for Fish shell"
[code]

I manually added `eval "$(fig init fish pre)"` to ~/.config/fish/config.fish, but it doesn't seem to be a valid fish code.

[code]

https://fishshell.com/docs/current/cmds/eval.html#cmd-eval

---

### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.x.x (x)|1.0.56|-fish|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig versio

[2022-04-07 00:50] NV commented on #1267
`eval (fig init fish pre)` appears to be valid Fish code, but adding it to `~/.config/fish/config.fish` doesn't change anything, as far I could see.

[2022-04-07 01:00] mschrage commented on #1264
Type `git co` but don't press enter. I want to understand if the macOS app is getting events from the shell.

[2022-04-07 01:03] mschrage commented on #1267
Hey @NV! What version of fish are you using? (`fish --version`)

Also can you run `ls ~/.config/fish/conf.d` and share the output here?

[2022-04-07 01:04] mschrage commented on #1188
Thanks for letting us know @kbick675

Any ideas @grant0417?

[2022-04-07 01:06] mschrage commented on #1264
@zyflovelam @mortezasabihi also is this only true in iTerm? Does Fig work in other Terminal apps?

[2022-04-07 01:21] zyflovelam commented on #1264
Sure, here it is, Iterm2 and Terminal, both not working.

https://user-images.githubusercontent.com/19360803/162101130-d4266a71-4cfc-4b85-8a3a-5e500717c560.mov

https://user-images.githubusercontent.com/19360803/162101136-1c4274c6-2323-4ae6-b94c-30447118930a.mov

[2022-04-07 02:36] mschrage commented on #1264
Can you run `fig debug autocomplete-window`. You should see a red rectangle popup. Can you right click it (control+click) and then press "Inspect Elements"?

[2022-04-07 02:59] NV commented on #1267
Hey @mschrage! My bad, I was running fish 3.0.2 (from 2019!) on that machine. I updated fish to 3.4.1, and `fig install --dotfiles` worked fine!

[2022-04-07 02:59] #1267 closed

[2022-04-07 03:03] SeparateRecords commented on #1226
Genuinely can't imagine a time when one option would use `:` and another would use something else, so this would almost certainly be fine! We'll take this up on discord to discuss implementation (and by we I mean mostly you and sean 😄)

[2022-04-07 05:17] SeparateRecords opened #1268 "Typing feels sluggish"
Some people have reported that typing feels slow. We can't reproduce this (it's just as fast for us!) but if you can, please get in touch! We'd love to see a video of this so we can dive in deeper.

[2022-04-07 05:32] fedeci commented on #1226
It is pretty easy to change that using `parserDirectives`, I'll just open a PR and see if sean has suggestions!

[2022-04-07 05:34] SeparateRecords opened #1269 "Locks up in large directory"
Waiting for more info

[2022-04-07 05:47] SeparateRecords commented on #1266
Hi @EmilioVar - sorry it's not working. Was it just not showing up for you? Did you get to run `fig doctor`?

Looks like you're on an old macOS version which may be the reason why. As far as I'm aware the oldest version we test on is macOS 10.14 (from 2018) - you're running 10.13?

@mschrage can you confirm if Fig should be running on this version?

[2022-04-07 05:50] SeparateRecords commented on #1265
Hey @JayGeorge ! Sorry for the bug. Next time this happens, could you take a video of running `fig debug logs` in one terminal, move that to one side, then in another window try typing something that should have suggestions? (like `ls`)

[2022-04-07 05:53] EmilioVar commented on #1266
ok it seems that the problem is that I have an old version of macos. Thank you very much for answering!

[2022-04-07 05:59] JayGeorge commented on #1265
Will do!

On Thu, 7 Apr 2022 at 06:50, Robert ***@***.***> wrote:

--
Sent from my mobile, please excuse any brevity.

[2022-04-07 06:00] SeparateRecords commented on #790
@fedeci this is implemented now, right? Or did we want to keep it open to track adding more features?

[2022-04-07 06:01] SeparateRecords opened #1270 "[Placeholder] Suggestions are slow to appear / take a long time"

[2022-04-07 06:16] zyflovelam commented on #1264
@mschrage  Sure, and I got some error message, see the picture:
![Xnip2022-04-07_14-14-24](https://user-images.githubusercontent.com/19360803/162132455-5e9c970d-f6cc-49d4-bfed-a0e50c3f1d77.png)
![Xnip2022-04-07_14-14-41](https://user-images.githubusercontent.com/19360803/162132459-f7d5d0fb-7b63-4fe9-b160-aba46ad97c17.png)

[2022-04-07 06:18] pzp12 opened #1271 "aa"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.1.0|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [搜狗拼音]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/lorenzop/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux Int

[2022-04-07 06:19] Wassap124 opened #1272 "autocomplete common prefix doesn't add the correct characters"
### Description:
it seems like when I try to get the common prefix - the entire completion is added on top
of what I already typed, instead of appending:
1. typing `git st`
2. pressing `tab`
3. expecting to have `git sta` on my terminal
4. getting `git ststa`

pics:
<img width="469" alt="Screen Shot 2022-04-07 at 9 07 30" src="https://user-images.githubusercontent.com/17432424/162131478-1d60afbd-2

[2022-04-07 06:19] SeparateRecords opened #1273 "Unable to log in / sign in"
Please leave more information about what was happening as a comment 🙂

If you're seeing an error, try right-clicking the window, select "inspect element", and send us a screenshot of the console tab so we can look at the log.

[2022-04-07 06:21] SeparateRecords opened #1274 "Prisma error: P2025. Sentry ID: undefined"
Unfortunately this error happens before sign-in, which means we can't contact anyone encountering this.

[2022-04-07 06:48] #1266 closed

[2022-04-07 07:24] mortezasabihi commented on #1264
@mschrage

https://user-images.githubusercontent.com/35567646/162143330-043c51ba-fc2d-4f5c-ab38-9f8560497295.mov

[2022-04-07 07:27] mortezasabihi commented on #1264
I use the default mac terminal :)

[2022-04-07 07:36] fedeci commented on #790
Let's close this one! It is completed and I left a comment in the engine with the todo!

[2022-04-07 07:37] #790 closed

[2022-04-07 07:41] ellizonn commented on #1250
@fedeci have you any idea to solve this issue?

[2022-04-07 07:52] fedeci commented on #1250
I have no clue honestly and I hadn't had a change to look deeper into this, sorry!

[2022-04-07 07:54] ellizonn commented on #1250
No worry!

[2022-04-07 08:13] JayGeorge commented on #1265
Recorded a vid of it happening (restarting Fig fixed the issue) _but_ I totally forgot to run `fig debug logs` in a separate window, sorry.
Leaving the video here in case it helps. Next time this happens I'll run `fig debug logs` and re-record the video.

https://user-images.githubusercontent.com/693601/162151832-1af5a2d5-b435-4d61-9387-b235a990c2de.mp4

.

[2022-04-07 08:27] sietzekeuning opened #1275 "Support Warp"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

Will Warp also be supported in the future? https://www.warp.dev/ looks like a promising new terminal app.

[2022-04-07 09:21] #1273 closed

[2022-04-07 09:22] SeparateRecords commented on #786
Seems like there's still a bug with this.

[2022-04-07 09:34] NV opened #1300 "SSH integration fails with error `$$ is not the pid. In fish, please use $fish_pid.` in `fish`"
### Sanity checks

- [X] My issue relates to a specific CLI completion spec (e.g. `git checkout` is missing options in `git` completion spec). If your issue is more general, please create your issue here: [withfig/fig](https://github.com/withfig/fig/issues/new?assignees=&labels=NEED_TO_LABEL&template=main_issue_template.yml)
- [X] I have searched [github.com/withfig/autocomplete/issues](https://gi

[2022-04-07 10:37] mschrage commented on #1275
Closing as a duplicate of #785

[2022-04-07 10:37] #1275 closed

[2022-04-07 10:39] SeparateRecords opened #1276 "Make red auto-execute icon a different color"

[2022-04-07 10:41] mschrage commented on #1272
Thanks for reporting this! @fedeci can you investigate?

Likely a bug with the insert common prefix keybindings logic.

@nickygerritsen @Wassap124 can you share the output or `cat ~/.fig/settings.json` ?

[2022-04-07 10:49] Wassap124 commented on #1272
[code]

[2022-04-07 11:01] nickygerritsen commented on #1272
[code]

[2022-04-07 11:05] sidpremkumar commented on #785
+1 willing to help in any way possible as well! Would love to see Fig in warp!

[2022-04-07 11:07] fedeci commented on #1272
/cc @SeparateRecords this is the bug you fixed, right?

[2022-04-07 11:59] pistazie commented on #26
Worked well for a few days and then stopped. tried repeating with no success :(

[2022-04-07 12:16] RinkiyaKeDad opened #1277 "resolving environment variables when loading suggestions based on generators"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

Would be useful if Fig could resolve the environment variables in a command like `cd` and then run the generators. The attached screenshot should make it more clear:
<img width="1105" alt="Screenshot 202

[2022-04-07 16:47] mschrage commented on #26
@pistazie run `fig doctor --verbose`

[2022-04-07 19:25] #1271 closed

[2022-04-07 19:40] fedeci commented on #1272
My fault! Fixed by Sean🚀

[2022-04-07 19:41] #1272 closed

[2022-04-07 19:54] rogorman9 opened #1278 "Can't see autocomplete in fullscreen VSCode"
### Description:

I'm using Fig inside VSCode, and I can't see the autocomplete suggestions if I have VSCode in fullscreen mode. I think they're being drawn behind the window. I can see the suggestions if I use the VSCode terminal without the application in fullscreen mode.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></su

[2022-04-07 22:21] Integralist commented on #28
@mschrage I've just got a new MacBook Pro M1 and it seems the instructions above no longer apply 😞
<img width="1512" alt="Screenshot 2022-04-07 at 23 19 18" src="https://user-images.githubusercontent.com/180050/162328925-6bf55d38-7057-411d-9fa5-0a9cba0a0187.png">

[2022-04-07 22:35] mschrage commented on #28
Did you restart Fig @Integralist ?

[2022-04-08 00:34] clonezone opened #1279 "Documentation: CONTRIBUTING.md refers to a withfig/docs repository, which apparently does not exist."
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

https://github.com/withfig/fig/bl

[2022-04-08 00:42] clonezone opened #1280 "Add documentation for users installing via `brew`"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

The documentation is completely l

[2022-04-08 01:12] clonezone opened #1281 "Fig attempts to modify dot files without asking permission first."
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

In my case, because I'm using zsh, it wrote to `~/.

[2022-04-08 02:36] mschrage commented on #1280
@clonezone thanks for reporting this. Where did you expect further documentation?

The CLI help text is one location we definitely can add more information. Anywhere else? Also what type of information are you looking for?

[2022-04-08 02:38] mschrage commented on #1281
Completely agree @clonezone. We have a new installation flow landing in an upcoming release that should address this.

[2022-04-08 02:39] mschrage commented on #1278
Hey @rogorman9! Thanks for reporting this. I believe it is a duplicate of #1229

[2022-04-08 02:39] #1278 closed

[2022-04-08 02:40] mschrage commented on #1279
Hey @clonezone, are you interested in contributing to Fig's documentation? Or are you just requesting that we remove this stale link?

[2022-04-08 02:50] clonezone commented on #1280
In `README.md` would be good.

If you install via Homebrew, you run the installation, then you’ve basically got the `fig` command, and, if you aren’t paying attention to messages that go by, don't realize that a GUI app has been installed. The docs should say to run the GUI app prior to attempting to use anything.

It would be helpful if the `fig` command would, on first run, if setup hasn’t happe

[2022-04-08 02:52] clonezone commented on #1279
Sorry, I've got too much on my plate as it is. 😄

Just mentioning a documentation bug; I'm not volunteering.

[2022-04-08 04:01] mschrage commented on #1280
This makes a lot of sense. Will add in to the next release.

[2022-04-08 04:03] mschrage commented on #1279
Either way, thanks for reporting. I'll fix this right now.

[2022-04-08 04:03] #1279 closed

[2022-04-08 04:46] mschrage commented on #1277
Hey @RinkiyaKeDad! This is a great suggestion. Slightly tricky to implement but I have some idea on how we can make it work.

[2022-04-08 06:49] H4ckint0sh opened #1282 "Fig does not work even after runnig "fig doctor"."
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [Swedish]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false

[2022-04-08 07:03] SeparateRecords opened #1283 "GUI for creating completions and mixins"
This is something we already plan to add, but we don't have a tracking issue for it.

[2022-04-08 07:47] zyflovelam commented on #1264
Any updates on this issue?  @mschrage

[2022-04-08 09:25] crezra opened #1284 "Add a setting to hide fig when the next input is flags"
### Description:
Sometimes when typing a command with arguments, I'm prompted to select a flag, which requires me to either press backspace or escape to cancel and close fig to run my command without flags.

Example : Here I am trying to run the `valet` command with `start` as argument, I press enter, then I'm prompted to select flags :

https://user-images.githubusercontent.com/81156495/162406289

[2022-04-08 10:09] benvp opened #1285 "Fig fully crashes MacBook"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

After using Fig for a while it will eventually full

[2022-04-08 10:13] Integralist commented on #28
OK that is working now.

It took...

- Restart (x2, first time didn't indicate any difference, second time it did).
- Install of Alacritty integration plugin (x2, first time failed).
- Allow custom keyboard cursor (x2, first time failed).

[2022-04-08 12:24] fedeci commented on #1284
It seems that `valet start` is accepting a required argument, it does not happen with optional args.

[2022-04-08 13:35] stoopman commented on #1229
When I use my terminal (in my case embedded terminal in Jetbrain phpstorm editor) in fullscreen, it the 'autocomplete' window does not show, when I quickly change spaces it see it popping up on the non full screen space :D

![Screenshot 2022-04-08 at 15 32 38 1](https://user-images.githubusercontent.com/5067761/162446443-6b2022dd-f09b-48f1-825d-02c56089a32e.png)

[2022-04-08 15:29] Manu1400 opened #1286 "[npm run <task_name>] Display the task description from package.json"
### Documentation:
https://github.com/ruyadorno/ntl#using-task-descriptions

### Steps
- read `ntl.descriptions` (if exists) in package.json
- find description by task name

### labels
[type:feature-request](https://github.com/withfig/fig/issues?q=is%3Aissue+is%3Aopen+label%3Atype%3Afeature-request)

[2022-04-08 15:33] Angelk90 commented on #1274
@SeparateRecords : I have the same problem.

<img width="327" alt="Schermata 2022-04-08 alle 17 30 23" src="https://user-images.githubusercontent.com/20476002/162474310-be3a522a-8218-4386-9dff-ed74916e8294.png">

If you are on mac, are you using an email other than `@icloud`?

Maybe @mschrage  will be able to tell us some information.

[2022-04-08 16:30] mschrage commented on #1229
Yeah, this is super reproducible. It is just tricky to resolve now that we want Fig to occasionally appear in the dock and behave like a normal application. This is a weird quirk of Apple's APIs.

[2022-04-08 16:39] fedeci commented on #1286
We provide this property for descriptions https://fig.io/docs/guides/autocomplete-for-npm-scripts#adding-the-fig-object, feel free to create a PR that supports also `ntl`. It should not take priority over the fig one tho because we support some specific properties useful for our suggestions!

[2022-04-08 17:32] mschrage commented on #1220
Hey @joaomedeiros95, thanks so much for sharing these additional details!

Would you mind sharing your zshrc?

Can you also take a screen recording of two terminal windows. In the first one, run `FIG_LOG_LEVEL=TRACE`. In the second one, run `fig debug logs`.

Then just type normally in the first window, something like "git co".

[2022-04-08 17:36] mschrage commented on #829
This would be really cool. We can look into how[ base16 shell](https://github.com/chriskempson/base16-shell) does this.

[2022-04-08 17:53] mschrage commented on #1274
This is fixed! We weren't normalizing the case of the email on login and this created issues.

[2022-04-08 17:59] mschrage commented on #1253
We actually already have support for this but it's been hidden behind a beta flag. We will add it to the settings.

[2022-04-08 18:09] mschrage commented on #1179
Hey @SeparateRecords can you investigate this? Does Homebrew run our uninstall script whenever the user updates?

https://github.com/Homebrew/homebrew-cask/blob/master/Casks/fig.rb

[2022-04-08 18:13] mschrage commented on #1250
Hey @ellizonn, if this is not a quick fix, I think we may just drop support for High Sierra ('officially' we already don't support it).

Sorry that we couldn't get this working for you.

[2022-04-08 18:13] #1250 closed

[2022-04-08 18:17] mschrage commented on #1015
Sorry I missed this. I like this API, if you want to add support for this @fedeci.

[2022-04-08 18:22] mschrage commented on #237
In order to add support for `pwsh`, we need to:
1. Rewrite our shell integrations in powershell
2. Update our tokenizer to support powershell syntax
3. Add completions for powershell builtins (and add a way indicating what shells are supported by a completion spec)

[2022-04-08 18:37] mschrage commented on #1261
Hey @Landyncai, thanks for reporting this. I think this is a bug with our dev environment. @fedeci can you investigate?

[2022-04-08 18:53] mschrage commented on #1285
Hey @benvp, are you free to jump on a call so we can figure out what's going on here? https://calendly.com/mschrage/30min

[2022-04-08 18:59] mschrage commented on #1282
Hey @H4ckint0sh! Thanks for reporting this

Can you type "git co" (don't press enter), then click the Fig icon in the menubar and take a screenshot of the debugger?

[2022-04-08 19:17] mschrage commented on #1276
Customizable icons make sense, but probably not a priority.

[2022-04-08 19:56] yuff1006 opened #1287 "Github not registering my contributions after using Fig"
### Description:

Ever since I installed fig, when I make commits and use git push, the GitHub page is not registering the commits displayed on that green lit up commit tree. It shows up on the repo pages but it won't show on the green lit up commit tree.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre

[2022-04-08 20:02] Angelk90 commented on #1274
@mschrage : I keep getting the error.

[2022-04-08 20:05] Angelk90 commented on #1274
@mschrage : I keep getting the error.

https://user-images.githubusercontent.com/20476002/162518525-d9c5f79a-24ad-46bc-ad31-f8af84a6764b.mov

[2022-04-08 20:51] fedeci commented on #1287
This seems to be unrelated to Fig, I'd suggest you to check out https://docs.github.com/en/github/setting-up-and-managing-your-github-profile/why-are-my-contributions-not-showing-up-on-my-profile

[2022-04-08 21:23] mschrage commented on #1274
Hey @Angelk90 thanks for letting me know! Just realized the deploy didn't go through. @sullivan-sean is investigating now.

[2022-04-08 22:23] H4ckint0sh commented on #1282
<img width="422" alt="Skärmavbild 2022-04-09 kl  00 22 27" src="https://user-images.githubusercontent.com/44159647/162541768-4cc14d9d-3c33-44a4-beb0-c2b86daeabe0.png">

[2022-04-09 02:06] lonrun commented on #1261
Welcome to Fig Dev Mode

 1. Edit your spec(s) in the src/ directory
 2. On save, they will compile to the local build/ directory
 3. Test your changes instantly in your terminal
 4. When done, hit ctrl + c to exit

Error setting setting:
defaults read failed
Error setting setting:
defaults read failed
node:fs:585
  handleErrorFromBinding(ctx);
  ^

Error: ENOENT: no such file or directory, open '

[2022-04-09 02:08] lonrun commented on #1261
I also encounter this issue.

[2022-04-09 06:51] Angelk90 commented on #1274
@mschrage : Inserting the e-mail what is it for?

[2022-04-09 09:28] pistazie commented on #26
thanks @mschrage in my case the issue was that `Secure keyboard input disabled` was not disabled.
I fixed it using your documentation and `fig+kitty` are awesome again.

[2022-04-09 10:53] ph3nac opened #1288 "visual studio code integration causes lag"
### Description:

With Visual Studio Code integration enabled, there is a lag when entering text in the editor. This occurs when "editor.quickSuggestions" is "on" in version 1.66.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 10.15.7 (19H1824)|1.0.56|/usr/local/Cellar/zsh/5.8.1/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Ve

[2022-04-09 15:47] harjotgill opened #1289 "Shell integration should not run on unsupported platforms"
### Description:

I share my dotfiles across machines (macOS and Linux). It would be nice if the fig pre/post blocks could be enclosed in a conditional statement that runs only on Darwin architecture. Also, it would be better to use the `test` command to check for the presence of `fig` binary and `~/.local` path before exporting it.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.5

[2022-04-09 20:08] MaxVynohradov opened #1290 "Why fig-darwin-universal process running even when I closed app?"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

Hi! Awesome project.
But I just noticed that fig-da

[2022-04-10 12:09] danilo-lopes opened #1291 "Tab Suggestions Doesnt Work After Install - brew"
### Description:
Installed it with brew and tab suggestions  doesn't work.

**Inicialization on bash_profile:**
[code]
**Debug when press tab:**
<img width="1245" alt="image" src="https://user-images.githubusercontent.com/28878816/162617191-30e7401a-691d-4907-a260-0fbe217c39ce.png">

[code]

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/opt/homebrew/Cellar/bash/5.1.16/bin/bash

[2022-04-10 12:26] danilo-lopes commented on #1291
I'm using bash on my terminal, changed to zsh and worked.

bash version: 5.1.16

I dont know nothing about bash compatibility.

[2022-04-10 14:34] fedeci commented on #1261
Fixed in the latest autocomplete-tools, you can run `rm -r node_modules && npm i` to get it working!
Thanks for reporting this issue @lonrun @Landyncai

[2022-04-10 14:34] #1261 closed

[2022-04-10 15:55] harjotgill opened #1292 "Integrate autocomplete with OpenAI Codex"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

E.g. see https://github.com/tom-doerr/zsh_codex

[2022-04-10 22:05] lextir opened #1293 "Works in terminal but not in VSCode terminal"
### Description:

Fig works like it should in Terminal (Mac), but it doesn't work in the VSCode integrated terminal.

I have "editor.accessibilitySupport" set to off.
In the Fig preferences, VScode is not disabled.

Thank you.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 11.6.5 (20G527)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:

[2022-04-11 02:40] SeparateRecords commented on #1179
I _think_ this is actually working as intended. My hunch is that people habitually run `brew upgrade --greedy` or use a script copied from somewhere that does this. That will uninstall and reinstall casks.

---

If this is happening to you and you _don't_ use `--greedy`, let us know and we'll reopen the issue!

[2022-04-11 02:40] #1179 closed

[2022-04-11 06:46] SeparateRecords commented on #1242
Closing as duplicate of #1186

[2022-04-11 06:46] #1242 closed

[2022-04-11 07:04] SeparateRecords opened #1296 "Fig causes issues with Chinese input"

[2022-04-11 07:26] SeparateRecords opened #1297 "Freezes vscode on startup"

[2022-04-11 09:50] diguage opened #1298 "fig does not work on full screen"
[code]

iTerm2 3.4.15

When I open iTerm2  as Full Screen, the autocomplete of fig does not work.

[2022-04-11 09:51] tomdracz commented on #1186
This seems to be fixed when running the latest version. Thanks!

cc @SeparateRecords

[2022-04-11 09:51] #1186 closed

[2022-04-11 16:01] mv-stns opened #1299 "Lock screen, no autocompletion"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## NOTE: Fig is not running, run `fig launch` to get the full diagnostics
## Fig details:
## Hardware Info:
  - Model Name: MacBook Pro
  - Model Identifier: MacBookPro16,1
  - Chip:
  - Cores: 6
  - Memory: 16 GB
## OS Info:

[2022-04-11 17:00] mschrage commented on #1290
Hey @MaxVynohradov! Great question. This is a background agent that handles settings and dotfiles syncing.

We could probably change the behavior so that quitting the app also kills the daemon.

[2022-04-11 18:37] mschrage commented on #1293
Hey @lextir! Thanks for reporting. Can you share the version of VSCode that you are using?

[2022-04-11 18:38] mschrage commented on #1298
Hey @diguage! This is a known issue unfortunately. It is the result of a regression and we will hopefully have a fix soon.

Closing this as a duplicate of #1229

[2022-04-11 18:38] #1298 closed

[2022-04-11 18:40] mschrage commented on #1289
Hey @harjotgill! This totally makes sense. We are currently working on Fig for Linux (#34), so hopefully won't be an issue for too much longer.

[2022-04-11 18:46] mschrage commented on #1287
Hey @yuff1006!

Can you run `fig _ local-state shell-integrations.enabled false` and then open a new terminal, make a commit and push to Github? This will turn off Fig and we will be able to see if the issue still occurs.

[2022-04-11 20:39] #1254 closed

[2022-04-11 22:23] andrerfcsantos opened #1301 "Unable to access settings after "something went wrong" error"
### Description:

I tried to login into fig. It asked for my work email to connect with my colleagues:

<img width="826" alt="image" src="https://user-images.githubusercontent.com/6928620/162843087-29dcb961-652b-43bf-a5c2-c859b7305e11.png">

It sent an email with a code to insert. I inserted the code and apparently, nothing happened, so I decided to try the process again. It sent a second code to

[2022-04-12 02:54] dsnovaes opened #1302 "Autocomplete is showing a very narrow list"
### Description:

Autocomplete feature is showing a very narrow list.. on Terminal and VS Code, zsh or bash...

<img width="388" alt="image" src="https://user-images.githubusercontent.com/67075160/162869620-e2b22bd0-7c06-4737-b55b-05d51e0dfc10.png">

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagno

[2022-04-12 03:04] SeparateRecords commented on #1229
It's worth noting that Raycast also has the same problem, if you open the raycast settings it no longer displays over fullscreen apps.

Is there a way to detect if the current app is fullscreened? Could possibly show it as a check in fig doctor, since as of right now this is the expected (although not desired) behavior

[2022-04-12 03:57] SeparateRecords commented on #1254
Sounds like it may be #1229 ?

[2022-04-12 03:58] mschrage commented on #1302
Hey @dsnovaes my guess is that somehow your settings got misconfigured.

Try running `fig settings autocomplete.width --delete` to restore the default.

[2022-04-12 04:00] mschrage commented on #1301
Hey @andrerfcsantos! Thanks so much for reporting this. I'm really sorry you run into this issue.

We will investigate this tomorrow.

[2022-04-12 04:02] mschrage commented on #1299
Hey @mv-stns! Sorry that Fig isn't working for you.

Have you check out this [guide](https://fig.io/docs/support/secure-keyboard-input) on resolving issues related to secure keyboard entry?  ?

[2022-04-12 04:04] mschrage commented on #1288
Hey @ph3nac! Thanks for reporting this. Can you share a screen recording of this behavior?

[2022-04-12 05:15] mv-stns commented on #1299
Yes, I've managed to solve it. 1Password 8 (Beta) was causing the issue. After closing it completely, everything worked fine. Thanks alot!

[2022-04-12 05:15] #1299 closed

[2022-04-12 05:35] SeparateRecords opened #1303 "Add support for ServerCat"
https://apps.apple.com/us/app/servercat-linux-status-ssh/id1501532023

[2022-04-12 05:50] ph3nac commented on #1288
I did not know that fig automatically installs extensions and rewrites vscode's settings.json, so I disabled all extensions and left vscode's settings.json empty for verification.
So at first we thought the problem was caused by the version of vscode.
However, I noticed that fig was automatically enabled, and when I disabled fig(quit fig), this lag did not occur anymore, so I think fig may be the

[2022-04-12 07:26] intersides opened #1304 "unix socket"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.0|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [Swiss French]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/marco/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmu

[2022-04-12 08:08] #526 closed

[2022-04-12 12:30] adamlaz opened #1305 "WarpTerminal is not supported"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 11.6.0 (20G165)|1.0.56|-zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: true
  - Onl

[2022-04-12 12:34] adamlaz commented on #1305
...I'm pretty sure it was actually working the other day, but as of right now, Fig does not seem to be supported in Warp.

![Screenshot on 2022-04-12 at 08 33 51 of  in Warp](https://user-images.githubusercontent.com/2012381/162963290-1fb2a3b0-81ae-4520-9eb2-2322f3588f75.png)

[code]

[2022-04-12 12:45] smlombardi opened #1306 "Requested but did not find extension point"
### Description:

Lately the first time I start terminal I see this
<img width="850" alt="st016lo — st016lo@US-ST016LO-MLT — ~ — zsh (figterm) ▸ zsh-20220412_084338@2x" src="https://user-images.githubusercontent.com/835148/162965165-ee68f627-9732-4776-b6be-53e494546711.png">

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code

[2022-04-12 15:40] dsnovaes commented on #1302
@mschrage nailed it! restoring the default settings made it work perfectly again

[2022-04-12 15:40] #1302 closed

[2022-04-12 16:23] lextir commented on #1293
Version: 1.66.1 (Universal)

[2022-04-12 17:07] mschrage commented on #1306
Hey @smlombardi! Hmm that's strange. Fig doesn't use watchOS or Xcode.IDEKit. Do you do iOS development? Is it possible this logging is coming from somewhere else?

[2022-04-12 17:08] mschrage commented on #1304
Hey @intersides! Can you elaborate on what isn't working? I don't have much to go on from this.

Have you tried running `fig doctor`?

[2022-04-12 17:09] mschrage commented on #1293
Can you run `fig doctor --verbose` in the VSCode terminal?

[2022-04-12 17:12] mschrage commented on #1305
Hey @adamlaz! Warp is closed-source and not backwards compatible with the existing shell ecosystem. Building out a custom integration is not a priority for us right now, however we plan to expose an API so any terminal can add support for Fig. :)

I'm going to close this as a duplicate of #785

[2022-04-12 17:12] #1305 closed

[2022-04-12 17:53] lextir commented on #1293
Yes, I get this in the VS code terminal:

[code]

[2022-04-12 19:38] mschrage commented on #1293
Is VSCode full-screen? If so, this might be related to #1229

[2022-04-12 19:43] lextir commented on #1293
Ah indeed, this is the same issue. It only doesn't work in full-screen. With the default terminal app the same happens.

[2022-04-12 20:16] mschrage commented on #1293
Thanks for reporting @lextir! I am actively working on this. A fix should go out in the next release.

I'm going to close this as a duplicate of https://github.com/withfig/fig/issues/1229.

[2022-04-12 20:16] #1293 closed

[2022-04-12 20:18] mschrage commented on #1229
As a workaround, I think I may close the Fig window if the user changes workspaces. Might be a little weird but still better than current behavior.

cc @SeparateRecords

[2022-04-12 22:01] JasonTheAdams commented on #49
I just got this working and PhpStorm and...

![so beautiful](https://media.giphy.com/media/RerCdHV8yuhSgNML2Q/giphy.gif)

[2022-04-13 00:39] SeparateRecords commented on #1229
That's a good solution I think. Realistically if the Fig window is open and they've changed workspaces, they've probably forgotten that it was even open anyway.

[2022-04-13 05:48] ledney07 opened #1307 "term"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [U.S.]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/ledney/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux Integ

[2022-04-13 07:35] SeparateRecords opened #1308 "Cannot import ... from .."
If you're having this error:
* Where is it? Is it in the autocomplete logs? CLI?
* Is there any workaround?

[2022-04-13 08:13] SeparateRecords opened #1309 ""Updating fig" text in every shell session"

[2022-04-13 08:17] SeparateRecords opened #1310 "Kills shell after executing a command"

[2022-04-13 09:12] paradise-london commented on #1265
OK here it is, happening with debug switched on

https://user-images.githubusercontent.com/86011907/163142492-af6a88f8-6d68-4190-ac3b-be75dc14e3c2.mp4

[2022-04-13 10:16] danilo-lopes commented on #1291
I'm using oh-my-bash shell theme

[code]

[2022-04-13 10:22] Integralist commented on #28
Just going to leave another update, which is it seems it's working BUT not when within a tmux shell.

Still debugging and will give an update if I find anything interesting.

[2022-04-13 13:31] LanYunDev opened #1311 "Internationalize Fig app user interface"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### 描述：>请附上对该功能的详细说明（以及图像或屏幕录制，如果适用）
There are many programmers in China, if this program supports Simplified Chinese, there will be more promoters and users.
Thanks to the developer for listening to a Chinese programmer.

[2022-04-13 16:33] klauern opened #1312 "Alacritty not supported 😢"
### Description:

My primary terminal is [Alacritty](https://alacritty.org/) and I noticed that Fig wasn't working on it.  I have no clue how much work this is to add, but it would be swell if it was added

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [U.S.]
UserShell: /bin/zsh

[2022-04-13 16:52] smileart commented on #26
Here's the output of my `fig doctor --verbose` and still, it does not work in kitty:

[code]

[2022-04-13 17:49] vivekVells opened #1313 "unable to view autocomplete when iterm is opened in full/maximized window screen"
### Description:

Context: using Dual Monitor setup

Replication Steps:
- With fig installed & integrated with iterm, open iterm in "Full screen" -> type any autocomplete word

Issue: The autocomplete is not shown inline in the iterm; but it pops up on my another monitor screen

Note: Issue is not happening when iterm is not in "Full screen" maximized window view

(attaching video & screenshot for

[2022-04-13 19:14] mschrage commented on #26
@smileart have you followed the steps outlined here? https://github.com/withfig/fig/issues/26#issuecomment-1022537900

[2022-04-13 19:57] m-alama opened #1314 "Fig it's not working at all"
### Description:
it's simply not working like it's not installed

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.1.0 (21C52)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Numb

[2022-04-13 20:24] codewithsathya opened #1315 "fig-iterm-integration.scpt"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [ABC – India]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: f

[2022-04-13 20:25] #1315 closed

[2022-04-14 00:04] trinwin opened #1316 "Fix not show up"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B421) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false

[2022-04-14 00:12] #1316 closed

[2022-04-14 05:43] mschrage commented on #1312
Hey @klauern! You're in luck because we literally just added support for this today on the beta distribution :)

Run `fig settings app.beta true` and then just open a new Alacritty session. You should be prompted to install the input method integration.

I'm going to close this for now, but please let me know if you run into any issues.

[2022-04-14 05:43] #1312 closed

[2022-04-14 05:47] mschrage commented on #1311
Hey @LanYunDev! Thanks for this request. We definitely want Fig to work for international/non-english speaking users. 🌏

When you talk about adding support for Simplified Chinese, are you referring to the completions specs: eg. the description for the "git commit" subcommand. Or something else?

[2022-04-14 05:48] mschrage commented on #1313
Hey @vivekVells! Thanks so much for reporting this. It is a regression that slipped in with the last update. #1229

It should be fixed in the next release. You can try it out now by running `fig settings app.beta true`.

I will close this issue for now, but please let me know if the problem persists after updating!

[2022-04-14 05:48] #1313 closed

[2022-04-14 05:50] mschrage commented on #1314
Hey @m-alama! I'm so sorry to hear that Fig isn't working for you.

Can you run `fig doctor --verbose` and share the output here?

[2022-04-14 05:52] mschrage commented on #1307
Hey @ledney07! There is not enough information here to help me understand what's going wrong. Can you elaborate on the issue you're running into?

I am going to close this issue now, but will reopen if you can provide more details! 😀

[2022-04-14 05:52] #1307 closed

[2022-04-14 06:05] m-alama commented on #1314
Here is it

<img width="1419" alt="Screen Shot 2022-04-14 at 8 04 17 AM" src="https://user-images.githubusercontent.com/97005260/163323828-c65ae470-aba6-4af5-814f-1fa0003a617f.png">

[2022-04-14 06:11] SeparateRecords opened #1317 "ZSH precommand modifiers are not ignored"
See zshmisc(1) for more details (under heading "PRECOMMAND MODIFIERS")

These are "precommand modifiers" that affect the way the command is parsed and executed. These should actually be ignored by the parser. We can either build these into the parser to emulate the shell's behavior, or create some very simple completion specs for them `{ name: "...", args: { isCommand: true } }`

- `-`
- `nocorrec

[2022-04-14 06:11] mschrage commented on #1314
Hmm @m-alama that's confusing...

What prompt are you using? Can you share you zshrc file here?

Can you also run `fig debug autocomplete-window on`. A red box should appear, can you go to the "Console" tab and then take a screenshot.

[2022-04-14 06:27] m-alama commented on #1314
I have run `fig debug autocomplete-window on` this is what I got

<img width="662" alt="Screen Shot 2022-04-14 at 8 21 30 AM" src="https://user-images.githubusercontent.com/97005260/163325942-0662df46-32e5-4e25-bc97-86a51416f31f.png">

start of my zshrc
<img width="1419" alt="Screen Shot 2022-04-14 at 8 24 44 AM" src="https://user-images.githubusercontent.com/97005260/163326381-ea859cf8-f791-471c-

[2022-04-14 06:28] m-alama commented on #1314
what do you mean by the "Console" tab ..?

[2022-04-14 06:45] SeparateRecords commented on #1314
If you right click the popup (it's very hard because it's only 1px wide), you'll see two options - reload, and inspect. Click inspect, then go to the console tab 🙂

[2022-04-14 06:58] m-alama commented on #1314
here is it
<img width="1031" alt="Screen Shot 2022-04-14 at 8 57 37 AM" src="https://user-images.githubusercontent.com/97005260/163331045-de5d7728-1c6e-4693-b368-9867fdb56148.png">

[2022-04-14 07:10] LanYunDev commented on #1311
It mainly refers to the FIg software interface. It is convenient for users to view or modify the setting options. But if the future can support the description of the command, I believe Fig will receive a lot of welcome and support!
<img width="830" alt="image" src="https://user-images.githubusercontent.com/95263282/163332576-07bead7f-0294-40af-b83f-f4c5ea5c66ff.png">

[2022-04-14 09:08] #1175 closed

[2022-04-14 09:28] dotlouis commented on #1153
Had the same issue.

Had the toggle "Hide Icon" turned on but it only got applied when I changed another setting (namely Appearance -> Theme).

Maybe the event handler for the "Hide Icon" setting is not properly triggered?

[2022-04-14 13:02] crebuh opened #1319 "Autocompletion stopped working - Restart of App also doesn't work"
### Description:

Hi, today out of the sudden fig stopped working. No autocompletion in the terminal. I also can not start the application so that it is shown in the menu bar. Very weird. But running fig doctor, tells me that everything is fine.

Anybody else having similar issues?

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</

[2022-04-14 17:09] mschrage commented on #1304
Check out the workaround here: #492

This should be fixed in the next updated :)

[2022-04-14 17:15] mschrage commented on #1175
@acarpe is this fixed for you on the latest version?

[2022-04-14 17:16] mschrage commented on #28
@Integralist can you run `fig doctor` and create a separate issue?

[2022-04-14 21:26] nikisaku opened #1320 "Despite being connected to the internet, autocomplete won't work."
### Description:

Hi, pretty much what's in the title.
If I type for example
`> fig `
I see for a split second that autocomplete tries to work, but it disappears instantly.
Info from fig:
<img width="512" alt="Screenshot 2022-04-14 at 23 23 37" src="https://user-images.githubusercontent.com/10388916/163479375-da9a1d65-2b2c-48b0-9854-1af8a0c92945.png">
Running fig doctor didn't help.
I tried updati

[2022-04-15 02:51] mschrage commented on #1319
Hey @crebuh! Sorry to hear that Fig stopped working for you...

If you run `fig` does a window appear?

Can you run `fig debug autocomplete-window`, then right click on the red box and finally press "Inspect Elements"?

This will bring you into the Web Inspector. If you can take a screenshot of the console tab, that would be super helpful! ❤️

----
PS. Also are you working in terminal application?

[2022-04-15 02:52] mschrage commented on #1320
Hey @nikisaku! Thanks so much for reporting this. Does this behavior only occur when attempting to load completions for "fig" or does it happen for all CLI tools?

[2022-04-15 02:53] mschrage commented on #1320
This might be worth poking around at @fedeci - maybe related to versioned specs? Idk.

[2022-04-15 03:02] mschrage commented on #1153
I think the underlying issue here has to do with debouncing the settings updates that are sent to the client - @sean.s @grant0417 is anyone working on this?

[2022-04-15 04:28] #1287 closed

[2022-04-15 04:31] yuff1006 commented on #1287
It might not have been fig but in the end, I found that the email that I was committing to git with was changed somehow and that happened after I installed fig. I have fixed it with git since. Thank you for your help!

[2022-04-15 05:18] grant0417 commented on #1153
This should hopefully be resolved on the new build 1.0.57 which is coming very soon, as well as the beta currently.

[2022-04-15 05:58] xiansen4 opened #1321 "事实上"
### Description:

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.2.1|Version 1.0.56 (B421)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI installed: true
CLI tool path: /Users/xiaonan/.fig/bin/fig
Accessibility: true
SSH Integration: false
Tmux Integ

[2022-04-15 06:09] crebuh commented on #1319
@mschrage

It's weird, after I updated to macOS Monterey 12.3.1 + rebooting everything was working again 😅. I will reopen this one if this happens again.

[2022-04-15 06:09] #1319 closed

[2022-04-15 10:44] joerg2503 opened #1322 "Autocompletion won't work after the last update"
### Description:

after the last update fig don't work anymore.
no autocomplete suggestions where show.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B436) [German]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.

[2022-04-15 10:54] enesdindas commented on #1322
can you try running `fig debug accessibility refresh` in your terminal pls ?

[2022-04-15 10:58] joerg2503 commented on #1322
same problem :(

[2022-04-15 11:00] joerg2503 commented on #1322
i have also reinstalled fig but without success

[2022-04-15 12:59] nikisaku commented on #1320
Thank you for reply, @mschrage!
All CLI tools won't autocomplete, but only "fig" blinked that autocomplete field briefly.
It occurs only on that one MacBook.

[2022-04-15 14:02] anoushk1234 opened #1323 "fig autocomplete not popping up at all"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.1.0 (21C52)|1.0.56|/opt/homebrew/Cellar/bash/5.1.16/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B436) [ABC – India]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of sp

[2022-04-15 16:36] mschrage commented on #1320
Can you run `fig debug autocomplete-window`? You should see a red box appear, right-click it and then press “Inspect Elements”.

This will open the Safari web inspector. Can you take a screenshot of the “console” tab?

[2022-04-15 17:14] mschrage commented on #1167
This should be fixed as of the latest build!

[2022-04-15 17:14] #1167 closed

[2022-04-15 17:15] #781 closed

[2022-04-15 17:16] mschrage commented on #49
In the latest version of Fig, support for JetBrain IDEs is turned on by default! 🎉

Just run `fig install --input-method`

[2022-04-15 17:16] #49 closed

[2022-04-15 17:18] mschrage commented on #1310
Hey @SeparateRecords can you try and get some more details about what commands were being executed?

[2022-04-15 17:21] mschrage commented on #1296
A potential workaround suggested by @chaynabors is to rebind the enter key in autocomplete.

[2022-04-15 17:23] mschrage commented on #1229
This is fixed in the latest version of Fig! You can update by running `fig update` in your terminal :)

[2022-04-15 17:26] mschrage commented on #1160
You can now remove default keybindings and the updates will be applied correctly!

[2022-04-15 17:26] #1160 closed

[2022-04-15 17:29] mschrage commented on #1321
Hey @xiansen4! Can you provide some additional details about what is going wrong?

[2022-04-15 17:32] mschrage commented on #1317
Hey @SeparateRecords! It seems like creating completion specs for these shell builtins is the easiest solution. Can you take lead on this?

[2022-04-15 17:35] mschrage commented on #1314
Hey @m-alama! Are you using a VPN? It seems like some JavaScript modules that need to be loaded are missing.

[2022-04-15 17:36] m-alama commented on #1314
No, I'm not

[2022-04-15 17:36] mschrage commented on #1301
@andrerfcsantos can you let me know if this issue occurs again? If so, let's jump on a call and debug together.

[2022-04-15 17:39] mschrage commented on #1291
Can you try commenting out all of the non-Fig related code from your bashrc? I think this might be related to either the iTerm Shell Integration or your oh-my-bash prompt.

[2022-04-15 18:24] mschrage commented on #1314
Can you try reloading the web view from the inspector by pressing command + R?

[2022-04-15 18:40] m-alama commented on #1314
This is the results
![Screen Shot 2022-04-15 at 8 39 30 PM](https://user-images.githubusercontent.com/97005260/163608512-da32a383-0f03-495c-849e-00855a8e07f0.png)

[2022-04-15 19:13] amilajack opened #1324 "tab shortcut broken when cycling through dropdown"
### Description:

In the recording below, I'm pressing tab

https://user-images.githubusercontent.com/6374832/163622525-7d24eb55-2228-4e84-bf29-445062a3759c.mov

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B436) [U.S.]
  - Bundle path: /App

[2022-04-15 19:51] andrerfcsantos commented on #1301
@mschrage The issue still happens. However, I think I know what might have caused it.

When I signed up with Fig, I used my personal email. I installed Fig and I used it for a few weeks. I don't remember logging in at any time during this period. But on the day I opened this issue, I think the login screen appeared when I tried to access the "Settings" menu. Since the wording in the screen was to

[2022-04-15 20:54] Phat0M opened #1325 "Not linked to terminal session"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.0 (21D49)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B436) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false
  -

[2022-04-15 22:05] nikisaku commented on #1320
Sure, here:
![image](https://user-images.githubusercontent.com/10388916/163644518-98c0e057-0158-4953-85ba-34389abe4abb.png)

[2022-04-16 06:05] chenzhekl opened #1326 "Fig tries to download everything from the Onedrive folder when providing autocompletion"
### Description:

Fig tries to download everything from the Onedrive folder when providing auto-completion. But most files there are pretty huge and are expected to be downloaded on demand.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|11.6.5|Version 1.0.56 (B421)|/usr/local/bin/fish|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56 (B421) [ABC]
UserShell: /usr/local/bin/

[2022-04-16 08:11] ramet commented on #1325
same issue for me with last update and iTerm. Completion is no longer working. Need to launch 'figterm' by hand...

[2022-04-16 08:12] ramet commented on #1322
same problem

[2022-04-16 15:27] robrichardson13 commented on #1322
same problem for me

[2022-04-16 15:36] robrichardson13 opened #1327 "Fig Not Working - No such file or directory (os error 2)"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Fig is not working at all after th

[2022-04-16 19:05] temrb opened #1328 "Debugger ????"
### Description:

<img width="187" alt="Screen Shot 2022-04-16 at 2 04 30 PM" src="https://user-images.githubusercontent.com/22056864/163688184-30bbd1f7-8c78-456d-9776-4f56fbd80d9b.png">

Autocomplete not working. Tried normal steps to fix.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.56 (B436)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.56

[2022-04-16 21:32] grant0417 commented on #1324
Hey @amilajack, you might want to look at rebinding the `tab` key, you can do that by running `fig` and going to `Autocomplete>Keybindings`.

[2022-04-16 21:40] MaxVynohradov commented on #1290
Not sure that it's good that smth running even when I exit the program.  Dotfiles sync disabled.
For instance Figma runs in background to - but anyway will be nice to understand what Fig does.

[2022-04-17 09:23] diguage commented on #1298
Today I use fig, it is OK. Thanks a lot.

[2022-04-17 11:06] joerg2503 commented on #1322
i have changed my default shell from bash to zsh and fig works again.

[2022-04-17 14:13] zyflovelam commented on #1264
Looks like just us met this issue? @mortezasabihi

[2022-04-17 15:46] mschrage commented on #1298
Yeah, it was fixed in the latest update! Glad everything is working. :)

[2022-04-17 17:05] Rhythmicc opened #1329 "Can't consume subcommand arg"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

[code]

Here's the code:

[code]

[2022-04-17 17:07] Rhythmicc commented on #1329
I want to know how I get the automatic complement of the FIG on the file path after typing `Qpro -smv`

[2022-04-17 17:19] KenWuqianghao opened #1330 "Not linked to a terminal session and (eval):196: parse error near `fi'"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

Fig not popping up after first installation and a w

[2022-04-17 18:56] mortezasabihi commented on #1264
Yes

[2022-04-18 00:25] #1020 closed

[2022-04-18 00:26] Auratelience commented on #1020
Am using zsh-autocomplete now

[2022-04-18 01:25] zyflovelam commented on #1264
@mortezasabihi  I just found this [page](https://forum.withfig.com/t/figs-autocomplete-popup-is-not-showing-up/43/4) to describe why the fig doesn't work, looks like it is correct, in the folder "~/.fig/autocomplete/", there is just a README.md file in there, no any js files.
![Xnip2022-04-18_09-20-24](https://user-images.githubusercontent.com/19360803/163740134-50dba708-cd04-4038-a2ec-d4785a7e355

[2022-04-18 04:02] F3n67u commented on #49
@mschrage great work!

[2022-04-18 08:43] rluvaton opened #1331 "Autocomplete not working in WebStorm and running fig doctor output Figterm socket: No file at path"
### Description:

fig did not open the autocomplete in iTerm so I ran `fig doctor` but no output, so I quit fig and relaunch it, and it worked but when opening WebStorm the autocomplete in the terminal did not work (yesterday it worked)

running `fig doctor` in the WebStorm terminal output:
[code]

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.56|/bin/zsh|
<details><summary><code>

[2022-04-18 14:47] mschrage commented on #1264
Hey @zyflovelam @mortezasabihi! Would either of you be free to get on a 1:1 debugging  all?

https://calendly.com/mschrage/30min

[2022-04-18 15:18] fhfuih opened #1332 "Fig breaks kitty shell integration (macOS & zsh)"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

Kitty will inject its shell integ

[2022-04-18 15:26] zyflovelam commented on #1264
Sorry, I don't have any free time for it lately, but maybe next week or the day after May 1st. how about you? @mortezasabihi

[2022-04-18 16:17] amatier2 opened #1333 "Not Linked to Terminal Session"
### Description:

I'm having an issue where fig is saying that it is "Not Linked to Terminal Session" I'm unsure what has caused this but it seems if my laptop shuts off and then I turn it back on fig seems to stop working.

Previously what worked was a reinstall of fig, this did not work this time. I'm taking a wild guess that maybe its an issue with my version of MacOS I'm running? I haven't tri

[2022-04-18 17:59] grant0417 commented on #1333
Hey @amatier2, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash pre`

[2022-04-18 17:59] grant0417 commented on #1330
Hey @KenWuqianghao, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash pre`

[2022-04-18 18:00] grant0417 commented on #1328
Hey @temrb, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash pre`

[2022-04-18 18:00] grant0417 commented on #1325
Hey @Phat0M and @ramet, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash pre`

[2022-04-18 18:00] grant0417 commented on #1323
Hey @anoushk1234, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash pre`

[2022-04-18 18:01] grant0417 commented on #1322
Hey @joerg2503 @robrichardson13 @ramet @enesdindas, are you able to get on a debugging call? https://calendly.com/withfig/debugging-not-linking

In the meantime can you provide the following:

- The output of `ls -al $HOME`
- The contents of `~/.bashrc` and `~/.bash_profile`
- The output of `ls ~/.fig/shell/`
- And run `fig doctor --verbose`
- And output of `fig init bash post` and `fig init bash

[2022-04-18 18:35] amatier2 commented on #1333
I should be able to hop on a call later today, I'll add it using that calendly link.

As for the rest please see below:

<details><summary><code>ls -al $HOME </code></summary>
<p>

## details:
[code]
</p>
</details>

<details><summary><code>~/.bashrc and  ~/.bash_profile</code></summary>
<p>

### ~/.bashrc
[code]

### ~/.bash_profile
[code]
</p>
</details>

<details><summary><code>ls ~/.fig/shell/

[2022-04-18 19:15] ramet commented on #1322
I am not available for a debugging call this week.

For information, with zsh it works perfectly, but I need to keep bash shell.

I fix the issue by sharing the same configuration for both .bash_profile and .bashrc.

I used to set my .bashrc empty (except the 2 lines added by Fig for pre and post block). All my configuration was defined in .bash_profile and Fig was not connected to my shell since

[2022-04-18 21:05] KenWuqianghao commented on #1330
❯ ls -al $Home
total 1040
drwxr-x---+  75 kenwu  staff    2400 Apr 18 23:01 .
drwxr-xr-x    5 root   admin     160 Mar 26 08:21 ..
-r--------    1 kenwu  staff       7 Mar 27 19:14 .CFUserTextEncoding
-rw-r--r--@   1 kenwu  staff   22532 Apr 17 18:32 .DS_Store
drwx------+   2 kenwu  staff      64 Apr 16 13:38 .Trash
-rw-r--r--    1 kenwu  staff     744 Apr 17 19:14 .bash_profile
-rw-r--r--    1 ke

[2022-04-18 21:08] grant0417 commented on #1330
Hey @KenWuqianghao, looks like you were using the pl10k plugin which had an issue with its spec, this should be fixed now if you run `fig source`

[2022-04-18 21:08] #1330 closed

[2022-04-18 21:10] KenWuqianghao commented on #1330
Awesome, but a new issue, the popup window just blinks and doesn't actually give me time to select an option.

[2022-04-18 22:13] KenWuqianghao opened #1334 "Conflict with `zsh-autosuggest`"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

Popup only shows for an instant when I press the sp

[2022-04-18 23:16] mschrage commented on #1264
@zyflovelam can you reopen the web inspector and run `enableFigDebugging()`. Then take a screen recording of the web console while you type "git com" into the terminal.

[2022-04-19 01:08] zyflovelam commented on #1264
https://user-images.githubusercontent.com/19360803/163899686-c178b326-9df9-47ad-8820-3134b87e2262.mov

@mschrage  Sure, here it is, it looks weird, last time I enable it, the big red window will show, but now, it is just a line, and in the console, I get the correct suggestion commands, but not show in the red window.
and in the `>functions:` mode after I ran `enableFigDebugging()`, the tokens are

[2022-04-19 01:47] mschrage commented on #1264
Hmmm what's strange is that all the suggestions seems to be calculated correctly. @fedeci any ideas on what's happening here?

[2022-04-19 01:49] mschrage commented on #1334
Hey @KenWuqianghao! It looks like the `zsh-autocomplete` plugin that you are using conflicts with Fig's shell integrations.

If you disable `zsh-autocomplete`, Fig will work as expected. Please let me know if you need help figuring out how to disable `zsh-autocomplete` :)

[2022-04-19 02:05] SeparateRecords opened #1335 "Add support for ttyd"
https://github.com/tsl0922/ttyd

[2022-04-19 06:04] pvds commented on #1241
@fedeci the key part in your sentence is "when the popup is open", I would like to be able to see the history suggestions popup without having to open the autocomplete popup with an arbitrary command.

[2022-04-19 06:40] Asdougl opened #1336 "Unix socket does not exist when Fig is installed by multiple users"
### Description:

Getting error from fig doctor: ✘ Fig socket exists: No file at path /var/tmp/fig/cameron/fig.socket
<img width="563" alt="image" src="https://user-images.githubusercontent.com/25199427/163940804-6fee6232-cb86-4a1f-98a1-74c26f80589d.png">

Getting error inside of fig debugger: "Unix socket does not exist"
<img width="399" alt="image" src="https://user-images.githubusercontent.com/

[2022-04-19 07:36] SeparateRecords commented on #1333
Feedback from a user with this issue:

[2022-04-19 07:49] SeparateRecords opened #1337 "Use stale while revalidate cache for autocomplete app"
The current behavior is that the autocomplete app is downloaded freshly every time. The completion specs are cached for about a week.

Ideally the autocomplete app should be cached so that users without internet can restart their devices and keep using fig.

[2022-04-19 09:45] anoushk1234 commented on #1323
Hey @grant0417 after updating fig to the latest release it seems to work now, a suggestion i have is to make it easier to revert to older versions of fig since this issue came up when it updated to a version of fig that had this bug

[2022-04-19 09:45] #1323 closed

[2022-04-19 12:08] KenWuqianghao commented on #1334
Thank you, that solved the issue.

[2022-04-19 12:08] #1334 closed

[2022-04-19 12:47] #1317 closed

[2022-04-19 13:39] kn0wn commented on #1304
Hey @mschrage, I'm still having this issue and the workaround did not work, what do you need from me to help with debugging?

[2022-04-19 14:07] amatier2 commented on #1333
Making those changes should it be done in  `~/.fig/shell/bash_profile.pre.bash` , `~/.fig/shell/bash_profile.post.bash` or an entirely different file?

[2022-04-19 14:21] sametcelikbicak commented on #49
@mschrage thanks for effort and great work 👍

[2022-04-19 15:32] georgefromohio opened #1338 "Sourcing scripts for macs"
### Description:

The following line that's added to `.zshrc` during updates does not fire for certain setups and ends up throwing an error on new terminal window.

[code]

I have to manually replace it with

[code]
And then on the next update it keeps adding lines since it can't find the changed line.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.57 (B437)|/bin/zsh|
<details><summar

[2022-04-19 16:34] mschrage commented on #49
And we just announced this on[Twitter](https://twitter.com/fig/status/1516450313271619584?s=20&t=rlIYY57PmXSyBqxIQ_lNlg)!

If you’re enjoying Fig + JetBrains, please share it with your friends :)

[2022-04-19 16:57] fedeci commented on #1264
Hi @zyflovelam `enableFigDebugging()` must be used in the web inspector console, not in the terminal, see the image below.

<img width="1912" alt="Schermata 2022-04-19 alle 18 54 56" src="https://user-images.githubusercontent.com/38510000/164055992-9a88846f-7991-4f08-9215-44b8b009a6ff.png">

[2022-04-19 17:02] fedeci commented on #1241
I misunderstood the question, it makes sense then. I'll give it a look soon!

[2022-04-19 17:44] amilajack commented on #1324
This seems like a regression. I remember this used to work at some point.

[2022-04-19 18:40] grant0417 commented on #1324
Did changing the setting make it work? Did you configure it in the past? This has always been the default behavior of tab.

[2022-04-19 20:43] mschrage commented on #1338
Hey @georgefromohio! Can you elaborate on the cases where it doesn't fire?

I'd love to understand how your dotfiles are configured. Would you mind sharing your zshrc as well as any other relevant information?

[2022-04-19 20:50] mschrage commented on #1336
The issue here is that when you run Fig on the other account it created the folder where the socket is stored. Now the application on this account is unable to create the socket.

Check out the workaround in this issue #492 - I think this should resolve the problem for you. Let me know if that's not the case.

[2022-04-19 20:55] mschrage commented on #1327
Hey @robrichardson13! Thanks for reporting this. Can you run `fig doctor --verbose` and share the output with me?

I think that updating to the latest version may also resolve your issue (we pushed a hotfix).

[2022-04-19 20:57] mschrage commented on #1304
Hey @kn0wn! I linked the wrong issue. I meant #1140.

Here is the workaround:

[2022-04-19 21:03] mschrage commented on #1336
@grant0417 can you add a `fig doctor` check for this?

[2022-04-19 21:31] #1304 closed

[2022-04-19 21:50] georgefromohio commented on #1338
Okay... After much searching, I realized this is not a bug, please close or ignore this post. I had inherited an alias list that had an alias for "."... And that's why it didn't work... My bad!

[2022-04-19 21:50] #1338 closed

[2022-04-19 22:15] mschrage commented on #34
Another exciting milestone: we've got the user interface for the autocomplete engine up and running.
https://user-images.githubusercontent.com/3155109/164110187-96d12957-428f-464e-9a36-1fd6285157e5.mp4

The team is making really good progress! We may have some early prototypes ready in the next couple of weeks (assuming everything goes according to plan 🤞).

[2022-04-19 22:23] mschrage commented on #35
The team just hit another milestone!

https://user-images.githubusercontent.com/3155109/164111286-efd8aa68-bb43-4703-89e0-97f599274233.mp4

This is a _really_ rough version of autocomplete running on Windows. Still more work to be done, but we're getting there! 🙌

[2022-04-19 22:40] mschrage commented on #1338
Ah! That's tricky. Thanks for letting us know @georgefromohio

[2022-04-19 23:50] robrichardson13 commented on #1327
Hi @mschrage , I just updated to the newest version and it did resolve the problem! Thank you.

[2022-04-19 23:50] #1327 closed

[2022-04-20 00:44] mschrage commented on #1327
Great to hear! Please let me know if run into any other issues @robrichardson13.

[2022-04-20 01:11] zyflovelam commented on #1264
Haha, sorry for that, here is the new video, btw, I just updated the latest version 1 min ago, the big red window show again. and is this video correct?

https://user-images.githubusercontent.com/19360803/164126979-e6a52b99-d383-4645-903a-2314fa259150.mov

[2022-04-20 01:24] mschrage commented on #1264
This video is exactly correctly. It is not obvious to me why autocomplete isn't showing up here. It looks like the suggestions are generated correctly and the window positioned in the correct location.

[2022-04-20 01:25] mschrage commented on #1264
Could you open then "state" and "updatedState" fields after you've typed "git co"?

[2022-04-20 01:30] zyflovelam commented on #1264
@mschrage  Sure, here it is:

https://user-images.githubusercontent.com/19360803/164128680-dc415ab4-032a-4cd4-8f03-481a1bd4908e.mov

[2022-04-20 01:35] mschrage commented on #1264
Can you run `cat ~/.fig/setting.json`?

[2022-04-20 01:39] zyflovelam commented on #1264
OK, here it is, you mean `~/.fig/settings.json`?
![Xnip2022-04-20_09-38-35](https://user-images.githubusercontent.com/19360803/164129555-838f5ed4-0101-4cf2-b620-aced10804d07.png)

[2022-04-20 02:10] Gautam-Arora24 opened #1339 "Fig consuming a lot of internet bandwidth."
Fig is consuming a lot of internet bandwidth when it is active. As per metrics from "Activity Monitor" on Mac, it consumed around 1 GB of data in around 15 minutes.

![Screenshot 2022-04-20 at 7 29 50 AM](https://user-images.githubusercontent.com/53913514/164132740-2a0ce8f6-2f8a-4476-841c-137ed40ae49a.png)

OS - MacOS 12.0.1

[2022-04-20 04:46] SeparateRecords commented on #1339
Not quite sure I follow - is this screenshot showing its high usage? Only seeing about 14MB total up/down there, which looks about right to me.

[2022-04-20 06:04] #1034 closed

[2022-04-20 06:05] SeparateRecords commented on #912
@cori-afs is it working for you now? I think this should be fixed.

[2022-04-20 06:07] SeparateRecords commented on #1176
Are we able to close this? Seems like this isn't something we can fix. @murilo is it working for you now after trying Matt's suggestion?

[2022-04-20 06:08] SeparateRecords commented on #615
I think this is fixed now? @grant0417 can you confirm?

[2022-04-20 06:10] SeparateRecords opened #1341 "node/npm not in path after installing fig"

[2022-04-20 06:38] #1176 closed

[2022-04-20 06:42] mschrage commented on #1264
Running `fig settings autocomplete.onlyShowOnTab --delete` will resolve the issue.

You have autocomplete configured to only appear when explicitly triggered by pressing the tab key.

[2022-04-20 06:45] zyflovelam commented on #1264
![Xnip2022-04-20_14-44-30](https://user-images.githubusercontent.com/19360803/164166922-a1ad35ef-bd6e-49b5-a94e-7770825652cd.png)

OMG, thanks, so silly am I, haha @mschrage

[2022-04-20 06:45] #1264 closed

[2022-04-20 11:23] reikrom opened #1342 "Insert working"
### Description:

Insert Focused not working.
Tried:
Reinstall, re-add accessibility permissions, change insert keybinding

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.56|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.56 (B401) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: tru

[2022-04-20 11:48] #1342 closed

[2022-04-20 11:49] vjpr opened #1343 "In iTerm, every key press causes this message to display and I can't get rid of it"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

Every key press I type in iTerm t

[2022-04-20 11:58] vjpr commented on #1343
Found I had an old `env .fig/...` command in a non-standard file.

[2022-04-20 11:58] #1343 closed

[2022-04-20 12:02] acarpe commented on #1175
yes, it is.
thank you.

[2022-04-20 15:43] AdamLeMmon01 opened #1344 "RubyMine still not supporting autocomplete"
### Description:

Still no autocomplete in Ruby Mine. Enabled the input method and restarted, but still no autocomplete in RubyMine.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B437) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autoco

[2022-04-20 17:40] AdamLeMmon01 commented on #1344
[code]

[2022-04-20 18:14] DKroot commented on #941
I've upgraded to 1.0.57 and retested. It's fixed! Thanks!

[2022-04-20 19:32] mschrage commented on #1344
Hey @AdamLeMmon01. It looks like you have _Secure Keyboard Entry_ enabled. Check out [this guide](https://fig.io/docs/support/secure-keyboard-input) for tips on how to turn it off.

I will close this issue for now, but please let me know if you're having trouble disabling it.

[2022-04-20 19:32] #1344 closed

[2022-04-20 20:21] CoderMiguel opened #1345 "Fig does not appear in RubyMine"
### Description:

I have stalled Fig from the website / download, then ran fig install --input-method enabled permissions and then restarted my machine, and the RubyMine terminals are non-responsive to Fig, but the normal MacOS terminals are responsive.

As part of the troubleshooting I uninstalled and reinstalled from HomeBrew, but with the same results.  Fig working in the MacOS terminals but no

[2022-04-20 20:23] mschrage commented on #1345
Hey @CoderMiguel, can you run `fig doctor --verbose` inside of the RubyMine terminal?

[2022-04-20 20:24] CoderMiguel commented on #1345
[code]

[2022-04-20 20:27] mschrage opened #1346 "Fig Mixins are not applied when not running in dev mode"
Reproduce:
1. Create a mixin for `cd` & compile it
2. Move compiled `cd.js` file to `~/.fig/user/autocomplete/build/cd.js`
3. Mixin will not be applied and logs do not indicate that loading the mixin was attempted.

[2022-04-20 20:28] CoderMiguel commented on #1345
Side Note:
I am now getting the following warning any time I close a terminal in RubyMine
[code]

Not sure if that adds any context / insight, or if this is an intended side effect

[2022-04-20 20:57] mschrage commented on #1345
We are at the mercy of macOS when it comes to the installation of the input method. This API is pretty finicky.

It may be worth running through the `fig install --input-method` process again to ensure everything worked.

Also try restarting Fig and restarting RubyMine.

Before you do that however, can you click the Fig menubar icon and take a screenshot of the debugger while you are in the RubyMi

[2022-04-20 20:58] mschrage commented on #941
Great! Thanks for letting us know @DKroot.

[2022-04-20 20:58] #941 closed

[2022-04-20 21:00] CoderMiguel commented on #1345
Looks like the Debugger is not supported

![Screen Shot 2022-04-20 at 4 59 47 PM](https://user-images.githubusercontent.com/52347827/164321936-236e85bb-e08b-4ceb-a9bb-72a15b810de3.png)

[2022-04-20 21:00] mschrage commented on #937
This issue has been resolved in more recent version. To make sure you're on the latest build, run `fig update`!

[2022-04-20 21:00] #937 closed

[2022-04-20 21:01] mschrage commented on #854
This issue has been fixed! I just forgot to close this issue.

[2022-04-20 21:01] #854 closed

[2022-04-20 21:02] mschrage commented on #1345
Interesting, can you run `echo $__CFBundleIdentifier` in the RubyMine terminal?

[2022-04-20 21:04] CoderMiguel commented on #1345
[code]

[2022-04-20 21:07] mschrage commented on #1345
Perfect! Thanks so much. This is an issue with the macOS app, which was matching against the wrong bundle identifier.

I'm fixing this right now. It will be go live in the next release.

[2022-04-20 21:44] #1345 closed

[2022-04-20 22:39] AdamLeMmon01 commented on #1344
I was able to disable the secure entry, but still no autocomplete in Jetbrains RubyMine

 fig doctor --verbose
Let's check if you're logged in...
✔ Logged into Fig

Let's check your dotfiles...
✔ /Users/adamlemmon/.bashrc contains valid fig hooks
✔ /Users/adamlemmon/.profile contains valid fig hooks
✔ /Users/adamlemmon/.zshrc contains valid fig hooks
✔ /Users/adamlemmon/.zprofile contains valid fi

[2022-04-20 23:19] mschrage commented on #1344
Looks like I fat fingered the bundle identifier for RubyMine #1345

Will be fixed when we push the next release (in a couple of days).

[2022-04-21 00:35] AdamLeMmon01 commented on #1344
Thanks. I appreciate the quick turnaround

[2022-04-21 04:12] SeparateRecords opened #1347 "Add support for Eternal Terminal"
Eternal Terminal is similar to Mosh. This may be easier to support once SSH is stable.

Related: #709 #30

[2022-04-21 05:59] PeterCardenas opened #1348 "Conflict with custom zsh prompt"
### Description:

The autocomplete window doesn't pop up anymore. My fish highlighting and suggestions work however. I've tried fig doctor, restarting fig, restarting the terminals, and restarting my computer.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.57|zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version

[2022-04-21 06:13] cocoonkid commented on #58
Awesome! Came here to suggest this. Wezterm is the only one supporting Ligatures through all platforms and I tried them all, was in love with alacritty for a looooong time but Wezterm beats them all.

Thanks so much for adding support!

[2022-04-21 07:06] mschrage commented on #58
@wez sorry I missed your response. We take it the cursor position directly from the ime (the offset @SeparateRecords  mentioned has been resolved).

WezTerm is officially supported! To enable it, run `fig install --input-method` and follow the instructions.

[2022-04-21 07:06] #58 closed

[2022-04-21 07:47] JasperSui commented on #1268
It feels sticky when you type some commands and you delete them char by char, it will try to search any possible keywords even if the deletion is not completed yet.

I understand it will take some time to display all possibilities when you are typing, but it's annoying when I try to fix a part of the command I just typed.

My laptop spec:
Mac OS X, Monterey
Apple silicon (M1 Chip)
iTerm2
zim + zsh

[2022-04-21 08:49] linkurzweg opened #1349 "JetBrains IDE integration not working"
### Description:
Hello, I was very happy to see that Fig can now be used inside of JetBrains IDEs. However I can not get it to work on my computer. I installed the input method with `fig install --input-method` and activated the integrations in Fig's menu:

![image](https://user-images.githubusercontent.com/4902517/164417047-8c4c0c5a-c152-4ad2-b0f8-af7d3ee42095.png)

I am using WebStorm (221.5080.

[2022-04-21 09:35] AdirYad opened #1350 "zshrc.post.zsh doesn't work"
### Description:
I've tried to reinstall fig since it didn't work for me. Once I run Iterm, it says `.zshrc:pwd:98: too many arguments`, which is the end of the file (runs `zshrc.post.zsh`), if I try to change `. "$HOME/.fig/shell/zshrc.post.zsh"` to `source "$HOME/.fig/shell/zshrc.post.zsh"`, it works perfectly but once I run `fig doctor` it returns to its default which is period.

### Details:
|

[2022-04-21 12:43] PeterCardenas commented on #1348
I believe this is because of my custom prompt I installed for oh-my-zsh. I think I got it to work for a short while after removing the %_ or some new lines or something else, but as I was trying to make more changes it reverted back to no pop up. Here's the theme code for reference:
[code]

[2022-04-21 15:29] mschrage commented on #1350
It seems like you might have “.” aliased. Removing that alias will resolve the issue!

[2022-04-21 15:58] AdirYad commented on #1350
Isn't it possible to change it to `source` without issues instead of `.`?

[2022-04-21 16:04] ELLIOTTCABLE commented on #331
How, exactly, does one do this? Right now, <key>⌃</key><key>N</key> / <key>⌃</key><key>P</key> works as I'd expect … *except* when I "<key>⌃</key><key>P</key> out" of the list entirely by going past the top item; then Fig closes, and a further <key>⌃</key><key>N</key> doesn't re-open it as I would expect from Vi/etc.

This should probably be the default behaviour …

[2022-04-21 16:27] ELLIOTTCABLE opened #1351 "Fig window captures ⌘- (shrink) but not ⌘+ (grow)"
### Description:
When I press <key>⌘</key><key>-</key>, the Fig window shrinks; but when I press <key>⌘</key><key>+</key>, it *doesn't* grow again — instead, the Terminal window does!

(Now my Fig is tiny. Like, *really* tiny. And I can't restore it.)

https://user-images.githubusercontent.com/200/164507263-63da8617-231f-4edb-aef9-1e79ff78a972.mov

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1

[2022-04-21 16:29] ELLIOTTCABLE commented on #1351
(I tried `fig settings --delete autocomplete.fontSize`, but that didn't restore my window. It's genuinely unusably tiny, and I can't figure out any way to restore it. I had to uninstall Fig.)

[2022-04-21 17:11] mschrage commented on #1350
What does the “.” alias do? We might be able to change to use `source` instead.

[2022-04-21 17:15] AdirYad commented on #1350
It does `cd ..`, I'm using it on an hourly rate

[2022-04-21 17:59] temrb commented on #1328
I think this issue got solved through the recent update

[2022-04-21 18:07] mschrage commented on #1350
I’d recommend changing that alias from “.” to “,” or some other character that is not already a shell-built in.

That will resolve the issue!

[2022-04-21 18:37] AdirYad commented on #1350
I have several aliases that are almost the same, like `..` for cd ../.., and `...` and etc.
I'm unsure if I'll change it since I don't really use the `.` command as it originates. I think `source` might be the best solution.

[2022-04-21 19:39] Jparrgam opened #1352 "Android studio support"
### Description:
which version of android studio is supported?

I have the version Android Studio Dolphin | 2021.3.1 Canary 8

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.57 (B438)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.57 (B438) [Beta] [Dev] [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json:

[2022-04-21 19:50] grant0417 commented on #1328
Sounds good!

[2022-04-21 19:50] #1328 closed

[2022-04-21 20:17] mschrage commented on #1350
Okay well I will close this issue for now, since we've identified a fix. If other users report similar issues, perhaps we can update how we source the shell integrations.

Doing these migrations are a bit of a pain, since we need to modify users' dotfiles - that's why I'm slightly hesitant to update the sourcing of integration for everyone.

[2022-04-21 20:17] #1350 closed

[2022-04-21 20:40] mschrage commented on #1352
Hey @Jparrgam, can you run `echo $__CFBundleIdentifier` in the Android Studio Dolphin terminal.

(Also what is Android Studio Dolphin? How is it different than the normal Android Studio application?)

[2022-04-21 21:33] gudstra commented on #1071
I would love to see this too!

[2022-04-21 23:17] mschrage commented on #1348
You need to make sure everything is escaped correctly (according to the rules in this [document](https://zsh.sourceforge.io/Doc/Release/Prompt-Expansion.html)).

If your prompt is not escaped correctly, Fig will not work since we won't be able to determine where the prompt begins and ends.

[2022-04-22 00:49] prenagha opened #1353 "Not working after initial install bash"
### Description:

fig not working. Tried commenting out prompt and iTerm shell integration, still could not get anything to work

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/opt/homebrew/Cellar/bash/5.1.16/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B438) [Beta] [Debug] [U.S.]
  - B

[2022-04-22 03:09] ryg139 opened #1354 "cool"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 11.5.2 (20G95)|1.0.57|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B437) [百度拼音]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false
  -

[2022-04-22 03:17] shriharip commented on #1332
Hi, I am facing the same issue. Fig itself is running fine and works with terminal. However, kitty is my main terminal and it does not show up in integrations.
<img width="411" alt="image" src="https://user-images.githubusercontent.com/3909110/164589445-b14e0bfe-0dcd-403f-a0e8-2c47dbd0b8e4.png">
### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1.21E258|1.0.53|-zsh|
<details><summary><code>fig diagnost

[2022-04-22 03:57] fhfuih commented on #1332
I think @shriharip your issue is different from mine. kitty shows up in my terminal integration with ✅, and kitty functions like autocomp works fine in my kitty. But my **kitty's shell integration** fails to inject due to fig.

[2022-04-22 04:04] fhfuih commented on #1332
I am not sure if fig developers are releasing new updates in an attempt to fix the issue. But now my situation got reversed. Now my kitty integration works fine, but fig integration fails.
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/11222265/164594300-ec7a029d-2c78-4578-9adf-432cb1a0e5fc.png">

Nonetheless, fig -> integrations -> kitty is still ✅ in my device. I ha

[2022-04-22 04:14] taneemishere opened #1355 "Add Fig Support for DataSpell an IDE From JetBrains"
Almost any other IDEs from JetBrains are now supported by Fig, but the one build specifically for data scientists and ML persons, is not supported. So integration will not be difficult because other similar do support.

[2022-04-22 05:02] shriharip commented on #1332
@fhfuih  Yes, sorry for the confusion. Your issue is something different and did not properly see that.

[2022-04-22 05:49] fhfuih commented on #1332
many issues happening in beta 🙈

[2022-04-22 06:01] SeparateRecords opened #1356 "Changing font doesn't work"

[2022-04-22 06:06] cocoonkid commented on #58
Amazing ! Thanks!

[2022-04-22 07:22] smileart commented on #26
@mschrage as I understood, it's not supposed to be experimental any more. Although I did not try enabling/installing Kitty support as per the instruction you're referring to, it started working out of nowhere. Before I surely tried reloading terminal, shell, tmux, laptop, triple checked all the .zshrc and such, it did not work, but yesterday it just suggested me some autocomplete. So, it'll remain

[2022-04-22 08:47] #28 closed

[2022-04-22 09:10] #1354 closed

[2022-04-22 09:22] linkurzweg commented on #1349
@mschrage Thanks for looking into it! Here's the screenshot
![image](https://user-images.githubusercontent.com/4902517/164677203-f1c7d283-e905-4393-810e-81761e5d0bdf.png)

[2022-04-22 13:27] derkan opened #1357 "(eval):source:79: no such file or directory: /Contents/plugins/terminal/.zshenv"
### Description:

Every time I open terminal in Goland I get this error:
[code]
There is no path starting with ` /Content/...` on my system.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B437) [Turkish Q]
  - Bundle path: /Applications/Fig.a

[2022-04-22 14:04] Jparrgam commented on #1352
@mschrage com.google.android.studio-EAP

[2022-04-22 15:33] mschrage commented on #1357
Hey @derkan! Can you run `echo $__CFBundleIdentifier` in your GoLand terminal? Also what version of GoLand are you using?

[2022-04-22 15:34] mschrage commented on #1349
Does Fig work in other terminals? (eg. the native macOS terminal?)

[2022-04-22 15:35] mschrage commented on #1355
@taneemishere support for DataSpell is coming in the next release!

[2022-04-22 16:31] mschrage commented on #28
Fig now fully supports Alacritty by default!

Run `fig install --input method` and follow the instructions to set it up.

[2022-04-22 16:42] Gautam-Arora24 commented on #1339
@SeparateRecords This is actually the second screenshot after I forced quit the Fig. Here's another example of Fig consuming a lot of data.
![Screenshot 2022-04-22 at 10 11 51 PM](https://user-images.githubusercontent.com/53913514/164757917-43710dbe-6eb4-4862-8f00-ddc86095d447.png)

[2022-04-22 17:14] mschrage commented on #1333
Hey @amatier2 @Ronserruya @SeparateRecords! The real fix for this has been pushed live. Can you undo these changes to avoid weird issues in the future?:)

[2022-04-22 17:14] #1333 closed

[2022-04-22 17:15] #1069 closed

[2022-04-22 17:36] mschrage commented on #1356
Hey @gsshiva! This seems like an issue with your proxy settings. Can you share more details about how your network is configured?

It seems like you might need to add something like this to your bashrc/zshrc:

[code]

[2022-04-22 17:49] mschrage commented on #1353
Hey @prenagha! Can you run `fig doctor --verbose` and share the output here?

[2022-04-22 17:56] mschrage commented on #1339
Hey @Gautam-Arora24! Did this increased bandwidth usage occur when using just the autocomplete app or were you also browsing plugins in the plugin store?

<img width="936" alt="Screen Shot 2022-04-22 at 10 55 37 AM" src="https://user-images.githubusercontent.com/3155109/164768822-bb1f0835-a36f-4516-831c-7dacd23c2d73.png">

[2022-04-22 17:58] #1336 closed

[2022-04-22 18:02] mschrage commented on #1332
@shriharip you are on an old build! Please update to the latest version v1.0.57 and kitty will start working!

@fhfuih thank you for reporting this. I will investigate what's going on and try to figure out a workaround

[2022-04-22 18:25] prenagha commented on #1353
[code]

[2022-04-22 19:28] mschrage commented on #1353
Hey @prenagha! Can you type (but not execute) `git com` in your terminal and then take a screenshot of the Fig debugger. (Click the Fig icon in the menubar and the go to the first tab.)

[2022-04-22 19:44] prenagha commented on #1353
Fig menu icon says "Debugger(???)" -> Not linked to terminal session

[2022-04-22 19:50] mschrage commented on #1353
Can you share your zshrc/bashrc file here?

[2022-04-22 20:12] ThnxFredrik commented on #1174
[code]

[2022-04-22 20:31] prenagha commented on #1353
### ~/.bashrc

[code]
### ~/.bash_profile

[code]

### ENV_HOME/profile

[code]

[2022-04-22 20:54] Christopher-Hayes commented on #1301
I just had this issue as well. It randomly asked me to log in when I tried to access the settings.

It would help if there was a message _why_ I suddenly now need to log in. Seemed weird that I was using Fig, updating the settings and then suddenly using the settings are gated by a login. (Logging in without an email would not work, probably because I put in my email at one point).

As @andrerfcsa

[2022-04-22 22:19] nihaals opened #1359 "[fig] Incorrect `--version` flags"
### Sanity checks

- [X] My issue relates to a specific CLI completion spec (e.g. `git checkout` is missing options in `git` completion spec). If your issue is more general, please create your issue here: [withfig/fig](https://github.com/withfig/fig/issues/new?assignees=&labels=NEED_TO_LABEL&template=main_issue_template.yml)
- [X] I have searched [github.com/withfig/autocomplete/issues](https://gi

[2022-04-23 00:19] mschrage commented on #1174
Great to hear! I'll close this issue for now, but we should add some documentation indicating the oldest version of `fish` that we support.

[2022-04-23 00:19] #1174 closed

[2022-04-23 00:23] mschrage commented on #1353
Hmm nothing looks too out of the ordinary.

Can you open two terminal sessions and take a screen recording. In the first, run `FIG_LOG_LEVEL=DEBUG` and then in the second, run `fig debug logs`.

Then can you just type a few commands into the first terminal sessions. It seems like events aren't being sent from Fig's shell integrations to the desktop app.

[2022-04-23 01:58] Ozandkr opened #1358 "fig not linked to the terminal session"
### Description:

hello ! i'm here to get help, because my fig autocomplete would not work. when i try to find out what's going on with the fig doctor, it just says to me that there is no issue with the terminal...

<img width="544" alt="Capture d’écran 2022-04-23 à 03 49 56" src="https://user-images.githubusercontent.com/74986465/164861955-c9dd4752-8da0-47d5-acd3-b93541da6e54.png">

<img width="4

[2022-04-23 02:56] mschrage commented on #26
For those who find this in the future, the command to enable Fig autocomplete in Alacritty is `fig install --input-method`

[2022-04-23 02:56] #26 closed

[2022-04-23 03:11] prenagha commented on #1353
[Screen recording](https://cln.sh/GhS7XKC3R2WYpMWel4Co)

[2022-04-23 07:17] pilif commented on #1281
Also, as I have my `.zshrc` synced via Dropbox but I don’t have fig installed in all machines, it should not unconditionally source its init code.

Worse, when I edited .zshrc to add a check for the files existence, next time I installed fig on another machine where the file was synced to, the installer left .zshrc with broken syntax

[2022-04-23 09:19] fedeci commented on #1346
@mschrage it is working correctly for me. It may happen that the mixins do not load correctly at the first attempt because we cache resolved specs (including mixings), but reloading the app make it work fine.

[2022-04-23 10:09] thmuch commented on #1358
Same here. Fig just stopped working this morning in macOS 12.3.1 Terminal. Same fig version as @Ozandkr, and "fig doctor" does not report a problem either.

What I did notice:
- brew upgraded my node to 18.0.0 this morning. Reverted to node 16 and node 12, fig is still not linked to the Terminal session.
- I think I saw a "auto-update fig" message in my bash(figterm) this morning, so maybe this is

[2022-04-23 11:33] Tamimi360 opened #1360 "can't install Fig tool over PyCharm 2021.3.3 CE"
### Description:
I am trying to install Fig tool over PyCharm 2021.3.3 (Community Edition) and keeps failing.
I have tried to restart fig and reinstall multiple times but it keeps failing.

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.57 (B439)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.57 (B439) [ABC]
UserShell: /bin/zsh
Bundle path: /Appl

[2022-04-23 11:55] sandervspl opened #1361 "Fig is not linking to my terminal session (iTerm)"
### Description:
Not sure why, but it just stopped working all of a sudden. Restarting iTerm or Fig does not work. Both are on the latest version (iTerm 3.4.15, Fig 1.0.57).

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.0 (21E230)|1.0.57|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B439) [Dutch]
  - Bu

[2022-04-23 11:56] fedeci commented on #1360
Can you run `echo $__CFBundleIdentifier` in the pycharm terminal?

[2022-04-23 13:05] Gautam-Arora24 commented on #1339
Hey @mschrage! It's just due to the autocomplete feature.

[2022-04-23 15:03] thmuch commented on #1358
Used the workaround mentioned in #1333, now my bash/Terminal is linked again and fig is working again: In my `.bash_*profile*`, I changed the pre and post scripts to `bash*rc*.(pre|post).bash`

[2022-04-23 16:10] isagarkanojia opened #1362 "Installation script: Install script not run"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.2.1 (21D62)|1.0.57|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B439) [ABC – India]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: fa

[2022-04-23 17:49] mschrage commented on #1358
Hmm not sure what’s happened here. cc @grant0417

A better fix is to revert your manual changes, run `touch ~/.bashrc` and then run `fig doctor`.

This should resolve the issue, but we’ll investigate the regression for users without a bashrc.

[2022-04-23 17:51] mschrage commented on #1360
Run `fig install --input-method` and follow the instructions. You will need to restart your computer.

[2022-04-23 17:51] mschrage commented on #1362
Can you run `fig doctor --verbose` and share the output here?

[2022-04-23 17:52] mschrage commented on #1361
Can you run `touch ~/.bashrc` and then run `fig doctor`

[2022-04-23 20:11] batwolf commented on #1268
For me, typing is sticky.

I've taken a video recording of some strange things.

I'm in my terminal, I start typing: `git push`.
When I get as far as `git pu` the autocomplete starts to kick in, showing `push` as an option, so I hit enter, and I end up with
`git puspush`

If i try it again, it works normally, but going to a new line reproduces this.

In general, typing is laggy, and I've had a few

[2022-04-23 20:40] burgessa23 commented on #1346
Hmm… I tried restarting the app, even reinstalling and copying again but still don’t see the mixin output unless in dev mode. What build number are you using?

[2022-04-23 20:43] isagarkanojia commented on #1362
Last login: Sat Apr 23 21:48:31 on console
➜  ~ fig doctor --verbose
Let's check if you're logged in...
✔ Logged into Fig

Let's check your dotfiles...
✔ .bashrc exists
✔ .zshrc exists
● /Users/sagarkanojia/.bashrc is not accessible
✔ ~/.bash_profile contains valid fig hooks
✔ ~/.zshrc contains valid fig hooks
✔ ~/.zprofile contains valid fig hooks

Let's make sure Fig is running...
✔ Fig bin exis

[2022-04-23 20:56] mschrage commented on #1362
This issue here is that `fig` is unable to install shell integrations for bash. This is why the app thinks that the install script didn't run.

You can ignore this error or you can resolve it by running `chmod 777 ~/.bashrc` and then rerunning `fig doctor`!

[2022-04-23 20:56] #1362 closed

[2022-04-23 21:46] jonatan-ivanov opened #1363 "brew upgrade completely reinstalls fig"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

After upgrading fig with homebrew

[2022-04-24 07:43] cnfzg opened #1364 "Zsh Autosuggestions plugin and Autocomplete plugin can't work together"
### Description:

Zsh Autosuggestions  plugin and Autocomplete plugin can't work together friendly when I enable both of them.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/35858039/164965655-598ae790-9dfb-4178-8290-2c6c096f9765.png">
<img width="462" alt="image" src="https://user-images.githubusercontent.com/35858039/164965690-ee1a6671-38f9-4fa7-a903-ef19aaba8f50.pn

[2022-04-24 08:47] thmuch commented on #1358
`.bashrc` had been created by fig before (with only the calls to  the bashrc pre/post scripts in it).

Reverting my changes, `touch`ing .bashrc and running `fig doctor` did unfortunately not resolve the issue.

For the time being, I'll have to keep the calls to the bashrc pre/post scripts in my `.bash_profile`.

Maybe `.bashrc` was created by 1.0.57? At least the timestamp (before `touch`ing it) s

[2022-04-24 09:40] TechWiz-3 commented on #1333
That's really weird cuz I have the same problem and it doesn't seem i have `~/.profile` file at all

[2022-04-24 09:44] TechWiz-3 commented on #1333
Anyways, I created it and then followed the steps like @amatier2 said and it worked. Thanks

[2022-04-24 11:03] fedeci commented on #1346
The last one both for fig app and for autocomplete engine. I can confirm it works correctly, I have just tried to create another mixin and it was loaded instantly. @burgessa23 it would be helpful if you could post the output of `fig settings all`

[2022-04-24 13:21] noctivityinc opened #1365 "Fig not working in iTerm"
### Description:

Fig no longer works in terminal or iTerm.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B439) [U.S.]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number

[2022-04-24 14:14] fedeci commented on #1339
I am investigating this issue.

[2022-04-24 14:57] fedeci commented on #1320
@nikisaku I thing the problem was related with the `fig` spec not being loaded correctly. Is it still not working? The `fig` spec is now fixed.

[2022-04-24 15:32] mschrage commented on #1358
cc @grant0417

[2022-04-24 18:51] Gautam-Arora24 commented on #1339
Here is my settings SS. ![Screenshot 2022-04-25 at 12 20 52 AM](https://user-images.githubusercontent.com/53913514/164991830-9bccffb3-08f9-494e-8153-f3881cd44dc8.png)

Mostly I use commands related to `git`

[2022-04-24 19:53] Nutlope opened #1366 "Fig absorbing keystrokes in VS Code"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:
Fig is absorbing keystrokes in VS

[2022-04-24 21:22] rusakov92 opened #1367 "Popup doesn't render"
### Description:
The autosuggestion popup doesn't render properly. I can see that it is trying to render something but it is a 1 px line. Trying out the autocomplete it does work when I hit enter. Any suggestions on what can cause this?
![Screenshot 2022-04-25 at 0 12 31](https://user-images.githubusercontent.com/7600983/164997008-f3da04b9-a34e-464e-a600-bc07c0d4639a.jpg)

### Details:
|OS|Fig|She

[2022-04-24 22:48] sandervspl commented on #1361
@mschrage Same message as before

[code]

[2022-04-25 01:30] burgessa23 commented on #1346
app.beta = true
app.launchOnStartup = true
autocomplete.devCompletionsFolder = "/Users/axburgess/.fig/user/autocomplete/build"
autocomplete.developerMode = false
autocomplete.developerModeNPM = false
autocomplete.developerModeNPMInvalidateCache = false
autocomplete.disable = false
autocomplete.firstTokenCompletion = true
autocomplete.scrollWrapAround = true
autocomplete.theme = "synthwave-84"
dotf

[2022-04-25 04:06] fhfuih commented on #1332
Thanks. And I am just writing again bc my situation got reversed back again: kitty integ. doesn't work but fig can. (in 1.0.57 still) anw either one must die 😂 Thanks so much for the debugging

[2022-04-25 08:11] jachinfrancke commented on #1338
Hi, I also have an alias `.` (and `..` and `...`) to traverse my directories quickly and stumbled upon the some issue. Thanks for the response, but I'm curious: what's the difference between them `source`-command and the `.`-command?

[2022-04-25 09:27] NedAckland opened #1368 "Autocomplete not showing up in VsCode terminal."
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

### Description:

It was working originally but lef

[2022-04-25 09:30] Integralist commented on #1062
Can we rename this issue to be shell agnostic as I'm using Bash and seeing similar (and other) autocomplete issues.

I was going to open an issue titled "Alacritty autocomplete is a bit buggy" but and then discovered this issue before opening.

I'll put further comments/screenshots shortly.

[2022-04-25 09:50] Integralist commented on #1062
So to start with I've seen, just as a quick example, inside a project directory (which is a git repo with a Makefile), while testing whether autocomplete is working, when I type a bunch of commands I'll get varying success.

1. `git` command autocompletes fine.
2. `make` does nothing (NOTE: other times autocomplete will pick up the individual targets).
3. `git` command stops working (I typed this

[2022-04-25 10:50] linkurzweg commented on #1349
It does work fine in iTerm, but not in the native macOS terminal (which I never used, just tested this now).

[2022-04-25 12:37] Angelk90 commented on #1274
@mschrage : Are there any news?
Inserting the e-mail what is it for?

[2022-04-25 15:43] merkleID opened #1369 "slows my down a lot"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [ ] I have typed 'git ' and included a screenshot of the Debugger (click the Fig icon in the macOS menu bar)

### Issue Details

As discussed via mail with Brendan, I don't know wh

[2022-04-25 16:32] shriharip commented on #1332
@mschrage Thanks very much.. It started to work.

[2022-04-25 16:51] nssherif opened #1370 "PATH contains ~/.local/bin and ~/.fig/bin: Path does not contain ~/.local/bin"
### Description:

Fig doesn't work once I restart my laptop. I mostly have to uninstall and install fig to get it to work on both Zsh and VSCode terminals for some reason.

<img width="907" alt="Screen Shot 2022-04-25 at 10 51 22 AM" src="https://user-images.githubusercontent.com/78966535/165136270-eaabcbf5-05a4-44b6-9b08-b6c720c6c6f1.png">

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E25

[2022-04-25 17:19] georgefromohio commented on #1338
From my understanding, for bash both can be used interchangeably. I've almost always used `source`, and that's why it took a while for me to figure out what was going on.

[2022-04-25 18:00] mschrage commented on #1301
@Christopher-Hayes @andrerfcsantos this was related to an issue with our refresh tokens expiring prematurely. We believe we have pushed a fix. Please let me know if you run into this issue again.

[2022-04-25 18:00] #1301 closed

[2022-04-25 19:38] azeveco commented on #908
I was going to create an issue for this, but since there's already this one, here's my take:

If you're a zsh user, you can navigate directories without the need of `cd`. If the name matches a directory, it will cd into it.

Currently, Fig does not support this format of navigating and thus doesn't popup the autocomplete window to show the current directory's available folders.

Right now, the aut

[2022-04-25 21:57] adamegyed opened #1371 "Sign-up workflow loops back to email confirmation"
### Description:

When going through the sign-up workflow, upon progressing past the email sign-up and "How did you hear about Fig" dialog boxes, the window loops back to the email confirmation screen. This is still working and interactive, and sends another confirmation code to the email address. When force-quitting Fig and restarting, it appears like Fig is set up properly.

### Details:
|macOS|

[2022-04-25 23:50] theconsultant opened #1372 "fig not working in bash, built in terminal, macos 10.14.6"
### Description:

Opened Terminal today and fig no longer works. Restarted it, reinstalled it, updated it, nothing I can find changes it. Debugger shows 'not linked to terminal session'.

Suggestions welcome!

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 10.14.6 (18G9323)|1.0.57|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version:

[2022-04-26 00:02] camipozas opened #1373 "Autocomplete window flickers off after ~1 sec"
### Description:

https://user-images.githubusercontent.com/89259499/165193433-f68e21fd-fd48-4dbe-9d5c-7bfecb856373.mov

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.57 (B439)|/bin/zsh|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.57 (B439) [Beta] [ABC]
UserShell: /bin/zsh
Bundle path: /Applications/Fig.app
Autocomplete: true
Settings.json: true
CLI in

[2022-04-26 00:16] theconsultant commented on #1372
So I dug through some issues, found #1333 and did some digging in my old .profile (thank you for making backups in ~/.fig !) and changed the last line in my .profile:

was:
`# . "$HOME/.fig/shell/profile.post.bash"`

to
`eval "$(fig init bash post)"`

and now fig works. I did not touch the pre line at the top of .profile.

[2022-04-26 00:17] theconsultant commented on #1372
`fig doctor` complains.. but it works!
![Screen Shot 2022-04-25 at 8 16 56 PM](https://user-images.githubusercontent.com/1421526/165194678-f03235b4-2798-465d-9a16-7e9334779eed.png)

[2022-04-26 02:06] mschrage commented on #1338
Yeah, they are virtually identical. I think we may ultimately migrate back to using source to avoid edge cases like this.

[2022-04-26 02:07] mschrage commented on #1274
Hey @Angelk90! Are you still running into this issue?

[2022-04-26 02:19] grant0417 commented on #1373
Hey @camipozas, can you try switching off beta with `fig settings app.beta false` and run `fig update`.

[2022-04-26 02:21] grant0417 commented on #1372
Hey @theconsultant, can you try running `fig update` and reverting the change you made, we pushed out a new build today that should have fixed that issue.

[2022-04-26 02:26] camipozas commented on #1373
I tried what you said but the problem persists.

[2022-04-26 03:13] theconsultant commented on #1372
Awesome. It's all good now. ;-)

[2022-04-26 03:13] #1372 closed

[2022-04-26 03:44] grant0417 commented on #1368
Hey @NedAckland, this should be fixed on stable, run `fig update` to get the latest version.

[2022-04-26 03:44] #1368 closed

[2022-04-26 03:45] grant0417 commented on #1358
Hey @thmuch and @Ozandkr, this should be fixed on stable, run `fig update` to get the latest version.

[2022-04-26 03:45] #1358 closed

[2022-04-26 03:51] mschrage commented on #1371
Hey @adamegyed! This is very strange. Could you run `fig doctor --verbose` and share the output here?

Then try running `fig login --refresh`

[2022-04-26 03:53] mschrage commented on #1373
Can you share you `~/.zshrc` file?

Try running `exec bash` and see if the issue is still reproducible in a different shell. If not, then likely there is some conflict with your prompt or a shell plugin you use.

[2022-04-26 03:55] mschrage commented on #1370
@nssherif it looks like your shell integrations were not set up correctly.

Can you run `fig doctor --verbose` and share the output here? Also would you mind sharing your `~/.zshrc`?

[2022-04-26 03:56] mschrage commented on #1369
Hey @merkleID! Can you share a screen recording of the performance with Fig and then another one without Fig?

[2022-04-26 03:58] mschrage commented on #1367
Hey @rusakov92! I haven't seen this before - thanks for reporting.

 Can you try running `fig debug autocomplete-window on`. Then right click the red window, click "inspect elements" and take a screenshot of the "Console" tab.

[2022-04-26 03:59] mschrage commented on #1365
Hey @noctivityinc @johndel we've pushed a fix that I believe addresses this. Can you update and then see if your issue is resolved?

[2022-04-26 04:45] camipozas commented on #1373
The `~/.zshrc` file:

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/89259499/165218063-c00511e0-7e0b-4b62-8bdb-a38c87a96b3b.png">

Then I have the same issue or worst in a different shell:

https://user-images.githubusercontent.com/89259499/165222939-246feb77-9dcb-435e-9caf-7a43df65f861.mov

[2022-04-26 04:47] camipozas commented on #1373
Sorry here is the `~/.zshrc` file:
[code]

[2022-04-26 05:26] jachinfrancke commented on #1338
Thanks for the heads up!

[2022-04-26 06:30] thmuch commented on #1358
In the settings I had to opt-out of "Beta", otherwise `fig update` would not find a new version. But now the update is installed (fig 1.3.1, 1.0.57, B440) and everything's working smoothly – even with my manual changes reverted.

Bug resolved. Thank you!

[2022-04-26 07:18] rusakov92 commented on #1367
So the tokens are there but the window is 1px. Changing the window to 1000px does not show the text for some reason.
![Screenshot 2022-04-26 at 10 15 27](https://user-images.githubusercontent.com/7600983/165243377-9b264884-e30c-421b-a4ad-599eeaadfba2.jpg)
![Screenshot 2022-04-26 at 10 17 30](https://user-images.githubusercontent.com/7600983/165243843-04f7ee21-f8b9-430e-90bd-a874f88fe7f9.jpg)

[2022-04-26 07:46] joerg2503 opened #1374 "Fig cannot longer used due secure keyboard problem"
### Description:

secure keyboard is disabled in iTerm2 and terminal application but i can not use fig

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B440) [German]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.j

[2022-04-26 08:18] Buzzraider opened #1375 "debugger red dot/error loading spec"
### Description:

After newest update debugger shows with the red dot and info showed in the screenshot.
restarting fig and terminals didn't help. And im obviously connected to the internet so to be clear on that ;)

![Screenshot 2022-04-26 at 10 08 46](https://user-images.githubusercontent.com/69143224/165253981-24cef24c-3bab-4074-8f70-c5b8c79422f9.png)

After running fig doctor I have this.

![S

[2022-04-26 08:31] SeparateRecords opened #1376 "No such file or directory"
If this is happening to you, please let us know! Running `fig install --dotfiles` should fix it.

[2022-04-26 08:47] SeparateRecords opened #1377 "Plugin store needs better wording"

[2022-04-26 09:28] SeparateRecords opened #1378 "Fish shell crashes randomly on new tab"
This is very strange. I use fish, and haven't ever encountered this bug. If this is happening for you, please let us know so we can look into it 🙂

[2022-04-26 10:24] Integralist commented on #1214
👋🏻 @grant0417

I'm also using tmux and have found fig _not_ to work.

Until recently it would work intermittently (at best) but since today's update I've found it just plain doesn't work at all inside tmux 😢

I'm also using Alacritty so regardless of latest release: 'here be dragons' still 😬

My config can be found here:
https://github.com/Integralist/dotfiles/blob/main/.tmux.conf

The use of tmux

[2022-04-26 13:41] adamAtSlync opened #1379 "Fig errors (unknown cause, perhaps due to computer going to sleep)"
### Description:

After my computer goes to sleep (I think this is the cause), fig stops working and I get this error in every shell/terminal:
[code]

Error with `RUST_BACKTRACE=1`
[code]

Error with `RUST_BACKTRACE=full`
[code]

### Details:
|macOS|Fig|Shell|
|-|-|-|
|12.3.1|Version 1.0.57 (B439)|/usr/local/bin/fish|
<details><summary><code>fig diagnostic</code></summary>
<p>
<pre>Version 1.0.57

[2022-04-26 14:41] tuananh2508 opened #1380 "Fig cant link to the current terminal"
### Description:

Sometime Fig just can't link to the current terminal session. I have try `fig source` and `fig doctor` but nothing worked so far.

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/opt/homebrew/Cellar/bash/5.1.16/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B439) [ABC]

[2022-04-26 15:08] mschrage commented on #1367
Can you run `fig settings all` and share the output here?

[2022-04-26 15:22] mschrage commented on #1380
Run `fig update`! This issue is resolved on the latest version :)

[2022-04-26 15:22] #1380 closed

[2022-04-26 17:16] mschrage commented on #1375
Hey @Buzzraider! Thanks for reporting this. Just want to confirm that other than this error message, Fig appears to be working normally? (For instance, the autocomplete popup appears when you type "git co"?)

Have you noticed if there is a specific CLI tool that causes this warning to show up?

PS. You're exactly right. The VSCode warning is a bug with our `doctor` logic and not related to this is

[2022-04-26 17:20] mschrage commented on #1364
Hey @cnfzg! Thanks for reporting this. Can you share your full zshrc?

I use this setup (fig + zsh-autosuggest) and have no issues.

[2022-04-26 17:22] mschrage commented on #1097
Unfortunately, this is quite tricky to resolve. I'll leave this issue open but don't have an estimate as to when we'll be able to push a fix.

[2022-04-26 17:30] mschrage commented on #1378
@SeparateRecords is this new? Both of the linked issues are from October? (Since then we've fully rewritten `figterm` in rust, so stability should have improved.)

[2022-04-26 17:32] Buzzraider commented on #1375
Yes autocomplete works as usual, this is "git co" results:

![Screenshot 2022-04-26 at 19 25 02](https://user-images.githubusercontent.com/69143224/165357678-2d9b1bf8-2c7f-405a-852a-824603a4747d.png)

No, im using; Hyper.app, iterm.app, tabby.app, VSCode Insiders terminal and default macOS terminal.app every single of them starts with yellow dot "not linked to terminal session..." and then red dot

[2022-04-26 17:39] mschrage commented on #1375
Hmm strange. Can you share a screen recording of...
1. launching a new terminal
2. Checking the Fig debugger
3. Typing `git co`
4. Checking the Fig debugger

[2022-04-26 17:41] mschrage commented on #1373
@camipozas could you also take a screen recording of two terminal sessions. In the first, run `FIG_LOG_LEVEL=DEBUG` and in the second run `fig debug logs`.

Then type "git co" in the first terminal session.

[2022-04-26 17:42] JeffLabonte commented on #1214
Sorry for the delay, I didn't retry in the past weeks. I didn't have much time.

https://gist.github.com/JeffLabonte/f55f7373268aee374802b5eb4453bf56

[2022-04-26 18:00] adamAtSlync commented on #1379
@mschrage it's whenever I run any command, sorry should have included that!

[2022-04-26 18:04] mschrage commented on #1379
Thanks for the quick response @adamAtSlync! Are you free to jump on a call quickly to debug? https://calendly.com/mschrage/30min

[2022-04-26 18:18] mschrage commented on #1379
Can you do the following debugging steps:
1. What terminal are you using? Does this issue occur in other terminals?
2. What shell are you using? Does this issue occur in other shells?
3. If you launch a new terminal session, does the issue still occur?
4. Can you share a screen recording of the issue?

[2022-04-26 18:24] adamAtSlync commented on #1379
@mschrage I'm not able to reliably repro, so I'll get back to you as soon as I hit it again (so far I've run into it a few times at the start of the work day so it might have to do with putting my computer to sleep for an extended period of time)

[2022-04-26 19:03] mschrage commented on #1363
Hey @jonatan-ivanov! Thanks for reporting this.

I think we will need to modify our uninstall script so that it takes an additional flag (`fig app uninstall --zap`) which will perform a more comprehensive deletion procedure.

Then we can have slightly different behaviors for a normal uninstall vs a zap. We'll need to modify the cask as well.

[2022-04-26 19:33] camipozas commented on #1373
No, the only thing I have is fig and Logitech G HUB. So there would be no other app interfering with Fig.

Sure, here goes the video.

https://user-images.githubusercontent.com/89259499/165377829-454f7870-703a-4b86-9b77-53cf9a47d058.mov

[2022-04-26 20:18] Buzzraider commented on #1375
This is hyper.app terminal

https://user-images.githubusercontent.com/69143224/165384537-40e4e747-7d71-4070-8f3b-5f7bf963a019.mov

Notice that it instantly showed red debugger, but with tabby as it loads slower it shows the yellow dot for a brief sec. then red. Probably related (the yellow dot in debug) to loading time of tabby.app

[2022-04-26 20:58] rusakov92 commented on #1367
Hello, I've stopped the app and after work, I've started it again, this time it is loading the popup without any issues. Not sure what fixed it. Here are the settings:
[code]

Looks like this can be closed? Are there any recent changes?

[2022-04-26 21:05] nikisaku commented on #1320
@fedeci, I updated fig on my personal machine, rebooted it, and now it's working like a charm. Thank you very much!

[2022-04-26 21:05] #1320 closed

[2022-04-26 21:19] nssherif commented on #1370
Sure here are the requested images.

<img width="649" alt="Screen Shot 2022-04-26 at 3 17 37 PM" src="https://user-images.githubusercontent.com/78966535/165393938-621d9712-7942-4746-9ca5-5eec733c7fd8.png">

<img width="682" alt="Screen Shot 2022-04-26 at 3 19 25 PM" src="https://user-images.githubusercontent.com/78966535/165394161-c17bc883-838d-4005-8114-f09df7d0b03c.png">

[2022-04-26 21:20] nssherif commented on #1370
@mschrage ^

[2022-04-26 22:37] mschrage commented on #1375
This is likely an issue with the autocomplete-engine. @fedeci can you look into why this warning might be appearing?

[2022-04-26 22:40] mschrage commented on #1370
@nssherif do you have an alias for "."?

Can you run `which .` and share the output here?

[2022-04-26 23:23] hisafgit opened #1381 "Not working at all although fig doctor says everything looks good"
### Description:

### Details:
|OS|Fig|Shell|
|-|-|-|
|macOS 12.3.1 (21E258)|1.0.57|/bin/bash|
<details><summary><code>fig diagnostic</code></summary>
<p>

# Fig Diagnostics
## Fig details:
  - Fig version: Version 1.0.57 (B439) [ABC]
  - Bundle path: /Applications/Fig.app
  - Autocomplete: true
  - Settings.json: true
  - Accessibility: true
  - Number of specs: 0
  - Symlinked dotfiles: false

[2022-04-27 03:24] Coffee0127 commented on #1357
@derkan have you installed plugin yet?
<img width="532" alt="image" src="https://user-images.githubusercontent.com/4252888/165433288-78d31efb-5e31-44cb-bb4e-3a8dd40e8c8e.png">
(👆 take PhpStorm for example, in your case, you could just install the plugin for GoLand)

After installing plugin and restart the IDE, problem solved.

[2022-04-27 03:50] mschrage commented on #1357
Hey @derkan! Did you also run into this issue (or are you just speculating on a potential solution)?

[2022-04-27 07:11] mschrage commented on #1381
Running `fig update` should resolve the issue you're running into!

[2022-04-27 07:11] #1381 closed

[2022-04-27 07:31] #1038 closed

[2022-04-27 08:03] SeparateRecords opened #1382 "Brew upgrade can uninstall fig"
Two methods:
- `brew upgrade fig`
- `brew upgrade --greedy`

[2022-04-27 08:05] #1382 closed

[2022-04-27 08:05] SeparateRecords commented on #1363
Same thing happens when running `brew upgrade fig`

[2022-04-27 08:31] derkan commented on #1357
Yes, I've already installed Goland plugin. When running inside Goland Teminal `fig` is trying to access non-existent path "/Content/..." at root

[2022-04-27 08:39] SeparateRecords opened #1383 "Configure "only show on tab" key"
This is _possible_ at the moment but it's unintuitive.
[code]

It would be much easier if you could just set a key as the dedicated "show fig" key instead of having to unbind tab and bind it to something else, since now tab doesn't work to insert.

[2022-04-27 09:53] Integralist commented on #1062
I take that back, the update didn't help.

I still find autocomplete is sketchy at best. Sometimes it will run other times it won't.

Another annoyance is when the autocomplete popup appears but then disappears almost immediately so you don't have a chance to select anything from the menu (e.g. even if the first item in the popup is what I want it'll disappear just before I have a chance to press

[2022-04-27 16:41] dreamorosi commented on #1206
This is happening again. For the past few days all autocomplete, except the ones I defined have disappeared.

I can confirm that **I am not in dev** mode and that autocomplete is enabled, I am running `v1.0.57`

Below my `fig doctor --verbose` output:
[code]

And if I start typing something like `npm i`, the debugger doesn't pick up anything useful:
<img width="958" alt="image" src="https://user-i

[2022-04-27 17:45] mschrage commented on #1285
Hey @benvp! Thank you for sharing this additional information. I'll add a similar alias to my zshrc and see if I can repro.

[2022-04-27 19:14] czegarram opened #1384 "Fig doesn't work on IntelliJ IDEA 2022.1"
### Description:

And when I open directly the IDE, it is misplaced.

<img width="496" alt="Screen Shot 2022-04-27 at 16 07 04" src="https://user-images.githubusercontent.com/4095996/165602171-a3419aa2-1917-477d-91bf-dfbda044ea37.png">
![Screen Shot 2022-04-27 at 16 07 13](https://user-images.githubusercontent.com/4095996/165602191-b0217b38-cf4f-4f1a-8654-a256b1f2bdfe.png)

PD1: Webstorm is workin

[2022-04-27 19:35] thebigsweatshirt opened #1385 "Autocomplete and suggestions stopped working"
### Description:
I downloaded Fig and used it a bit without problem. However, today the autocomplete and the suggestions stopped working (in the terminal and in VS Code as well).

### Screenshot
<img width="1002" alt="2022-04-27 -Terminal-julien — julien@Juliens-MBP-2 — ~ — zsh (figterm) ▸ zsh — One Dark — 80×31@2x" src="https://user-images.githubusercontent.com/17908630/165606819-a460ec41-70c0-41

[2022-04-27 20:01] mschrage commented on #1385
This issue is fixed on the latest version! Please run `fig update` :)