[2022-11-03 13:57] garbi commented on #1945
I have exactly the same problem here: it seems to be due to the fact that in Ventura (macOS 13) the application for controlling system preferences (now called system settings) have been deeply revamped.

Because of this, the step consisting in installing the third-party input method "FigInputMethod" blocks the setup process.

My guess is that you did not test Fig on Ventura at all because you woul

[2022-11-03 14:03] KirdesMF opened #1975 "Autocomplete doesn't display on the correct screen when multiple monitors are connected"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

In vscode, fig autocomplete screen should open correctly

[2022-11-03 14:12] arishoham opened #1976 "suggestions showing up on different window"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

Fig suggestions should show up above the text

### Actual

[2022-11-03 14:13] #1976 closed

[2022-11-03 14:13] zacKolton opened #1977 "Failed to connect to socket - update also timing out"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.4.0 (21F79)

### Expected behaviour

Downloads update and starts

### Actual behaviour

Request

[2022-11-03 14:15] zacKolton commented on #1977
# Additional Information

This is _similar_ to https://github.com/withfig/fig/issues/1971. However, attempting to apply possible fixes discussed in the thread did not work.

It get stuck on this:
<img width="342" alt="Screen Shot 2022-11-03 at 9 12 09 AM" src="https://user-images.githubusercontent.com/43692415/199744321-2b24e515-9df3-49f5-a275-c1cc337f7fe7.png">

zac.kolton@CP-Mac-010 ~ % fig doct

[2022-11-03 14:17] zacKolton commented on #1971
Referencing the above comment, I tried to use that fix and it did not work for me

[2022-11-03 14:26] HarshitRV commented on #1930
[code]

[2022-11-03 14:38] HarshitRV commented on #1930
I don't know how but fig is working perfectly now. You can close this issue. Really appreciate all the help 😊.

[2022-11-03 14:45] rama-kairi opened #1978 "fig not working in vs code from today"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

![Uploading image.png…]()

### Actual behaviour

![Upload

[2022-11-03 15:06] mschrage commented on #1349
@chaig15 can you run `fig doctor` in GoLand?

[2022-11-03 15:08] #1930 closed

[2022-11-03 15:17] yuzhanglong commented on #1357
same problem!
Has anyone solved it?

[2022-11-03 15:46] kawright129 commented on #1515
Ran into this as well

[2022-11-03 16:14] zacKolton commented on #1977
Never mind - just needed to restart the computer

[2022-11-03 16:14] #1977 closed

[2022-11-03 17:22] mschrage commented on #1974
Hey @Sergey-Ubogov! It seems like you are using an old version (and potentially have two versions of the app installed).

Try uninstalling all versions of Fig and the reinstall from our website!

[2022-11-03 17:22] lucianojsjr commented on #1346
@fedeci any news about it?

[2022-11-03 17:23] mschrage commented on #1971
@zacKolton has this been resolved for you as well?

[2022-11-03 17:25] mschrage commented on #1951
Thanks for reporting @anthonychitez @DecadentIpsum! We are investigating cc: @chaynabors

[2022-11-03 17:28] tanduong opened #1979 "Setting blank white screen"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Show settings screen

### Actual behaviour

Show blank sc

[2022-11-03 17:34] mschrage commented on #1979
Hey @tanduong can you right click the window and press "Inspect Elements". Then share a screenshot of the console?

[2022-11-03 17:50] tanduong commented on #1979
It has an error saying that `https://desktop.fig.io/onboarding/welcome` is unreachable.
<img width="587" alt="image" src="https://user-images.githubusercontent.com/7553677/199797344-4974c8ab-00d0-4316-b357-ef1bcc760086.png">

[2022-11-03 18:13] Thebassplayer commented on #1975
Same thing also.
![Screenshot 2022-11-03 at 15 10 47](https://user-images.githubusercontent.com/85585907/199801898-9cf6faf3-2d70-46cc-a7c8-eeacea9cb107.jpg)

[2022-11-03 18:17] mschrage commented on #1979
@tanduong do you have an internet connection? Are you using a VPN or an app like Little Snitch that blocks network connections?

[2022-11-03 18:38] mschrage commented on #1979
Where are you located? Perhaps our domain is blocked for some reason.

[2022-11-03 19:14] mschrage commented on #1357
@yuzhanglong did you also install via Toolbox? Can you run `mdfind kMDItemCFBundleIdentifier = com.jetbrains.intellij.ce` or whatever the bundle dd is for your JetBrains IDE?

[2022-11-03 20:58] chaynabors commented on #1951
Is this still an issue on 2.7.3-beta.0?

[2022-11-03 22:45] andriilive opened #1980 "bug: fig integrations status cmd is missing in suggestions"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Version 13.0 (22A380)

### Expected behaviour

Expecting `status` to be presented as  `fig integra

[2022-11-03 22:47] mschrage commented on #1978
Hey @rama-kairi, it looks like your images didn't upload properly. Can you try to upload them again?

[2022-11-03 22:47] mschrage commented on #1964
This _should_ be resolved on the next stable build - coming out in an hour or so.

[2022-11-03 23:00] grant0417 commented on #1980
This is an issue with our spec not being update, @fedeci are you able to generate a 2.0.0 version of the fig spec?

[2022-11-03 23:44] andriilive commented on #1941
Updated to `2.7.7` with `FIGTERM_SESSION_ID` fix. No effect. The **fig ssh integration continues to break ssh GitHub** connections to other apps. See the video: https://share.cleanshot.com/BkB25k

<img width="606" alt="CleanShot 2022-11-04 at 00 37 15@2x" src="https://user-images.githubusercontent.com/43708848/199854906-4a248216-ceda-467a-96f4-520892f4e25c.png">

[2022-11-03 23:53] SeparateRecords commented on #170
If you start the command with `./` it'll suggest folders and files! I've experimented with removing this restriction but it's categorically worse - gets in the way _all the time_. And this is coming from someone that uses this feature! `./` is a good compromize IMO

[2022-11-03 23:55] #1944 closed

[2022-11-03 23:57] SeparateRecords commented on #1980
I'll do this today @grant0417

[2022-11-04 00:07] grant0417 commented on #1980
Thanks @SeparateRecords

[2022-11-04 00:11] nautonk opened #1981 "Wont start automatically"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Run automatically after i run terminal

### Actual behavi

[2022-11-04 01:38] nhd2106 opened #1982 "Cannot open fig dashboard"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.0.1 (21A559)

### Expected behaviour

when open fig dashboard, i want everything showing up

##

[2022-11-04 01:41] nhd2106 commented on #1982
ps: i have update the new version (2.7.4) already but still get the same behavior.

[2022-11-04 02:01] mschrage commented on #1951
@anthonychitez @DecadentIpsum @stefanmatar -- this should be fixed for _real_ on the latest version of Fig.

[2022-11-04 02:03] natuan62 commented on #1982
I have same problem with macOS 13

[2022-11-04 02:04] grant0417 commented on #1951
The latest version 2.7.4

[2022-11-04 02:49] NguyenTheSon commented on #1982
I have the same problem with macOS 12.4 Monterey

[2022-11-04 03:11] tientaidev commented on #1982
I have the same problem with Macos Monterey

[2022-11-04 03:57] tanduong commented on #1979
I am in Vietnam.

[2022-11-04 03:59] tanduong commented on #1982
Same with my issue: https://github.com/withfig/fig/issues/1979. You may need vpn.

[2022-11-04 04:31] mlalitthapa commented on #1975
Same issue on MacOS 13

https://user-images.githubusercontent.com/6380157/199887846-48dab2cf-0521-44f2-9ad4-9c271cc93aa8.mov

[2022-11-04 04:47] gh-jir opened #1984 "`onlyShowOnTab` Autocomplete setting does not work in 2.7.4"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Autocomplete appears as normal in Terminal.

### Actual b

[2022-11-04 04:47] gh-jir commented on #1984
This was working yesterday but not sure why it's not working today anymore.

[2022-11-04 04:58] mschrage commented on #1982
I think this may be related to internet connectivity when you launch Fig. If you restart the app, does the issue persist?

Also could you right click the window and then press "inspect elements" and take a screenshot of any errors in the "Console"

cc @grant0417

[2022-11-04 05:00] DecadentIpsum commented on #1951
Great work! Everything seems to work fine on version 2.7.4 🤝

[2022-11-04 05:00] mschrage commented on #1984
@gh-jir can you check your internet connect and restart Fig?

[2022-11-04 05:02] mschrage commented on #1951
Amazing! I'm going to close this now, but please let us know if you run into other bugs.

And shoutout to @grant0417 and @chaynabors for debugging some very hairy window positioning logic.

[2022-11-04 05:02] #1951 closed

[2022-11-04 05:08] gh-jir commented on #1984
Hey @mschrage thanks for the reply.

Yeah I've checked my internet connection, restarted Fig, and even reinstalled Fig several times.

Autocomplete's still missing from my prompt; I've tried it with several applications (eg Terminal, iTerm2) as well.

[2022-11-04 05:13] #1925 closed

[2022-11-04 05:20] 0scarecrow0 commented on #1945
The same thing happened to me

[2022-11-04 05:21] SeparateRecords commented on #1984
Can you go to the ◧ Fig menubar icon → Developer → Autocomplete Devtools → Console tab, then take a screenshot? That'll show whether fig failed to load for whatever reason

Also I know it's a PITA but does a full system restart fix?

[2022-11-04 05:34] agronom81 commented on #1984
I have same error om my macOS 11.7
![Fig_2022-11-04 07-34-05](https://user-images.githubusercontent.com/3888562/199897858-65b299f4-4257-4b92-804d-b24d6d9dfbc9.jpg)

[2022-11-04 05:38] gh-jir commented on #1984
@SeparateRecords unfortunately no, full system restart didn't fix it.

Yeah @agronom81 I get the same console output as well.

![image](https://user-images.githubusercontent.com/97641518/199898359-d8e9a222-6a2a-4b36-a3ba-2dffe4d62ffa.png)

[2022-11-04 06:16] SeparateRecords commented on #1984
After a long debugging session on Discord we figured it out! Somehow there's been a regression with only show on tab. The fix was `fig settings --delete autocomplete.onlyShowOnTab`

@agronom81 do you have this setting enabled? Can you try deleting it?

[2022-11-04 06:29] grant0417 commented on #1984
Oh no! Regression with `onlyShowOnTab` seems to be because we are not intercepting tab by default any more, will try to get a fix to beta tomorrow (11/4)

[2022-11-04 06:38] dr2009 commented on #1984
open Autocomplete Devtools
then clear cache works for me (choose newwork tab, click the right button)

[2022-11-04 07:12] agronom81 commented on #1984
the @dr2009's  decision helped

[2022-11-04 08:22] AngeloKreienbuehl commented on #1945
Same 🥲

[2022-11-04 08:37] wxh06 commented on #1954
I can confirm that both iTerm2 and VSCode have experienced the same issue beginning from today with Fig `2.7.2` or `2.7.4-beta.0` installed on macOS 13.0.0 (22A380)

The autocomplete popup only appears on the first screen.

### Environment

[code]

![Screenshot 2022-11-04 at 16.19.02.png](https://user-images.githubusercontent.com/29367025/199928209-0755b034-7628-413c-aeb7-981c0fe58cac.png)

![Scre

[2022-11-04 08:37] wxh06 commented on #1954
I can confirm that both iTerm2 and VSCode have experienced the same issue beginning from today with Fig `2.7.2` or `2.7.4-beta.0` installed on macOS 13.0.0 (22A380)

The autocomplete popup only appears on the first screen.

### Environment

[code]

![Screenshot 2022-11-04 at 16.19.02.png](https://user-images.githubusercontent.com/29367025/199928209-0755b034-7628-413c-aeb7-981c0fe58cac.png)

![Scre

[2022-11-04 09:08] MatteoGauthier commented on #1954
Hey, as @wxh06 said the latest beta don't fix the issue.

[2022-11-04 09:52] fedeci commented on #1980
Thanks @SeparateRecords!

[2022-11-04 09:55] imanAzi commented on #1984
I have the same issue:
![image](https://user-images.githubusercontent.com/25829454/199943857-07f9e63d-90d3-480a-9d4a-93af921231b2.png)

I both tried:

[code]

And cleared cache via Autocomplete Devtools.

When putting a command in my shell I see a line appearing under the command but nothing more than that:
![image](https://user-images.githubusercontent.com/25829454/199944899-5f353d85-0158-4aac-ab

[2022-11-04 10:40] micpringle opened #1985 "Upgrading via Homebrew fails and leaves Fig in a corrupt state"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS Ventura 13.1

### Expected behaviour

Running `brew upgrade fig` should work as expected.

### Act

[2022-11-04 11:06] vladpalkanov commented on #1978
The same for me, it works in Iterm terminal, for instance, but it doesn't work in vscode terminal.

Fig vscode extension version: 0.0.7 / Last updated
04/11/2022, 11:45:02

[code]

[2022-11-04 11:08] vladpalkanov commented on #1978
<img width="533" alt="Screenshot 2022-11-04 at 12 07 50" src="https://user-images.githubusercontent.com/8327420/199958550-8dbf9fb2-d29d-4d3d-8ecf-f72d70b296cb.png">
<img width="570" alt="Screenshot 2022-11-04 at 12 08 29" src="https://user-images.githubusercontent.com/8327420/199958674-df7e4da7-11df-428f-8524-b42045ee130a.png">

[2022-11-04 11:24] Nah-Nova opened #1986 "Autocomplete onboarding does not appear on macOS Ventura"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

A working version of autocomplete, the only time autocomp

[2022-11-04 11:40] usr42 commented on #1964
@mschrage Which version should be the fixed one? I just updated to 2.7.4 and the issue is still in. But I was on an even older version before, so probably 2.7.4 does no include the fix, yet.
When the fix is out, I can test it.

[2022-11-04 14:40] Stubbs opened #1987 "bug: ` settings file is not a json object`"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

I want to open the Fig dashboard from the menu at the top

[2022-11-04 15:10] rwhite27 commented on #1986
Having the same issue 😢

[2022-11-04 15:23] robbiedavey commented on #1987
Getting the same error just now.

[2022-11-04 16:58] BobbyMcWho opened #1988 "[workflows] Allow previous input selection to be used in later input selection generators"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:
As a workflow builder, I want to I want to use the value of a previous input as a parameter to the next input's generator.

Example, I would like the workflow user to select a kube-context, and then based

[2022-11-04 17:39] mschrage commented on #1954
@wxh06 @MatteoGauthier are you using iTerm in full screen?

[2022-11-04 17:40] andy-blum commented on #1978
I noticed similar behavior to this issue, but after seeing #1975, the issue for me was the popover list wasn't appearing _only while VS code was in fullscreen mode_. Taking it out of fullscreen made the popover appear back in the right spot for me. While not a "fix" per se, it may re-enable functionality for you.

[2022-11-04 17:43] mschrage commented on #1978
@andy-blum thanks for clarify this. I think the issue is ultimately with full screen apps rather than VSCode specifically

[2022-11-04 18:13] grant0417 commented on #1987
If this is happening to you try running `rm ~/Library/Application\ Support/fig/state.json`

[2022-11-04 18:14] mschrage commented on #1945
@0scarecrow0 @AngeloKreienbuehl had you just downloaded Fig for the first time or were you upgrading from a previous version?

[2022-11-04 18:21] mschrage commented on #1984
@imanAzi can you run `fig issue` - it seems like you are running into a different bug.

[2022-11-04 18:28] mschrage commented on #1981
Hey @nautonk, when you say it doesn't "start automatically" are you talking about the Desktop app or about the autocomplete window?

[2022-11-04 18:33] mschrage commented on #1975
It looks like there may be two distinct issues here:

1. Autocomplete does not appear in non-fullscreen VSCode windows.

2. Autocomplete does not appear in fullscreen windows (potentially, limited to macOS Ventura)

[2022-11-04 18:35] archiekd opened #1989 "Fig not displaying auto complete on full screen iTerm2 on macOS Ventura"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

When I have iTerm in fullscreen fig should show autocompl

[2022-11-04 18:50] karlmarxlopez commented on #1973
Just to add more context to this, ENTER does work if you move the cursor to the left of the last character.

[2022-11-04 19:06] squili commented on #1985
@micpringle Could you try updating using homebrew again?

[2022-11-04 19:44] ZedMuir commented on #1989
I can confirm that I have the same issue. It is however, not just with iTerm; the same bug is occurring with the inbuilt Terminal.app and with the terminal window in VS Code. All three terminals work when the application is not in fullscreen; all three applications fail to show the fig overlay when in fullscreen.

fig-details:
  - 2.7.4
hardware-info:
  - model:
  - model-id:
  - chip-id: Apple M1

[2022-11-04 19:46] forivall opened #1990 "ignore keybinding blocks key in shell"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

After the latest update, keybindings with the setting "ig

[2022-11-04 20:06] imanAzi opened #1991 "Fig autocomplete doesn't work after update to 2.7.4 via Brew"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Autocomplete still be working in Iterm2 with an update to

[2022-11-04 21:19] mschrage commented on #1991
@imanAzi is your terminal in full screen?

[2022-11-04 21:21] mschrage commented on #1990
Hey @forivall! Thanks so much for reporting this - we are currently investigating and will hopefully have a fix out by EOD.

[2022-11-04 21:50] imanAzi commented on #1984
@mschrage yes both full screen and not in full screen it doesn't auto-complete, I get the following screen:
![image](https://user-images.githubusercontent.com/25829454/200080052-ad80f85f-08fe-4458-a10d-1e37cd10b8e0.png)

Where after my first command a line appears under the command, I don't see the suggestions but if I move around with the arrow keys and press 'Enter' it selects one of the suggest

[2022-11-04 21:52] imanAzi commented on #1991
@mschrage yes both full screen and not in full screen it doesn't auto-complete, I get the following screen:
![image](https://user-images.githubusercontent.com/25829454/200080394-7e5697c3-d9bf-46c0-9850-bd4820768f88.png)

Where after my first command a line appears under the command, I don't see the suggestions but if I move around with the arrow keys and press 'Enter' it selects one of the suggest

[2022-11-04 22:13] nautonk commented on #1981
Desktop app, autocomplete window works fine but I have to run the app manually. Previously when I opened iterm2, the fig app automatically opened but now it doesn't.

[2022-11-04 22:13] mschrage commented on #1991
Can you run `fig debug autocomplete-window`

[2022-11-04 22:16] imanAzi commented on #1991
I get this now:
![image](https://user-images.githubusercontent.com/25829454/200082830-a50930e8-123e-4bc3-9856-5dab0cf192bf.png)

[2022-11-04 22:17] mschrage commented on #1991
It looks like you are running in developer mode - I think that is the issue here.

Run `fig settings all`

[2022-11-04 22:24] imanAzi commented on #1991
I disabled the developer mode, shut down Iterm2, and started a new session but still no luck:
![image](https://user-images.githubusercontent.com/25829454/200083594-513cbcba-a040-486b-aa5f-a1618828b940.png)

[2022-11-04 22:36] JasonTheAdams opened #1992 "Stopped working with PhpStorm terminal in latest version of Fig"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Fig has worked well with PhpStorm (and other IntelliJ IDE

[2022-11-04 23:06] grant0417 commented on #1991
Might be your fontsize being = 0, try `fig settings --delete autocomplete.fontSize`

[2022-11-04 23:47] tonykay commented on #1989
Ah! This has been killing me. Never thought to put iTerm out of full-screen mode. I have the same issue. Ventura 13.1 (beta)

[2022-11-04 23:53] tonykay commented on #1989
Is this a duplicate of`[ issue: 1964](https://github.com/withfig/fig/issues/1964)`?

[2022-11-05 00:49] brendanfalk commented on #1941
Thanks for sharing this @andriilive

1. Now rust macos is pushed, fixing all issues associated with SSH integration is now our number one priority
2. Weirdly, our SSH integration specifically accounts for git. We shouldn't be running our integration for anything that involves git. So I am actually shocked that it's not working. We will download GH desktop and reproduce and fix!

Your repro video i

[2022-11-05 01:12] grant0417 commented on #1984
The `onlyShowOnTab` issues should be fixed on beta `2.7.5-beta.0`

[2022-11-05 01:47] mschrage commented on #1992
Try running `fig doctor` in the PhpStorm terminal?

[2022-11-05 02:49] yuzhanglong commented on #1357
The problem suddenly disappeared that day, and now everything is good 😄

[2022-11-05 03:36] natuan62 commented on #1991
it's worked. thanks!!

[2022-11-05 03:55] JasonTheAdams commented on #1992
Said there were no problems and that I should make an issue.

[2022-11-05 04:11] wxh06 commented on #1954
Yes. The issue occurred when VSCode and iTerm2 entered full screen.

[2022-11-05 04:11] #1991 closed

[2022-11-05 04:30] wxh06 commented on #1954
I noticed that those should actually be two separate issues. @MatteoGauthier's issue occurs when an external monitor is plugged in; mine occurs when the terminal enters full screen in macOS 13 Ventura, which is tracked in #1989 and #1964

[2022-11-05 04:36] mschrage commented on #1992
How did you install PhpStorm? Did you use JetBrain toolbox by chance?

If so can you run, `echo $__CFBundleIdentifier` in the integrated terminal.

[2022-11-05 04:41] wxh06 commented on #1964
I can confirm that both iTerm2 and VSCode have experienced the same issue with Fig `2.7.2` or `2.7.4-beta.0` installed and feature "input method" enabled on macOS 13.0.0 (22A380)

In fact, the autocomplete popup does appear on the desktop.

![Screenshot 2022-11-04 at 16.19.02.png](https://user-images.githubusercontent.com/29367025/199928209-0755b034-7628-413c-aeb7-981c0fe58cac.png)

![Screenshot 2

[2022-11-05 05:01] wxh06 commented on #1989
As @tonykay mentioned, this is probably a duplicate of #1964

[2022-11-05 06:35] tamnt1707 opened #1993 "Cannot login with another access"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Login prod use account prod

### Actual behaviour

I adde

[2022-11-05 08:38] veryteen123 opened #1994 "fig autocomplete not working"
### Checks

- [ ] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [ ] I have run `fig doctor` in the affected terminal session
- [ ] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

fig autosuggestion not working

### Actual behaviour

![i

[2022-11-05 08:50] #1994 closed

[2022-11-05 09:20] vladpalkanov commented on #1978
@andy-blum  @mschrage yes, the popover does not appear in the  fullscreen  Iterm2 too

[2022-11-05 09:24] gh-jir commented on #1984
Works great for me, awesome stuff! 🥇

[2022-11-05 09:24] #1984 closed

[2022-11-05 10:56] mlalitthapa commented on #1975
1. Autocomplete works in non-fullscreen VSCode windows.
2. Yes, I am using Ventura, and autocomplete does not work in any full-screen terminal, VSCode or iterm2.

[2022-11-05 11:39] jswent opened #1995 "bug: Ctrl+J binding overridden after update"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS

### Expected behaviour

Prior to updating, I would use Ctrl+J/K for navigating down/up similar to

[2022-11-05 14:16] francbartoli opened #1996 "Warp terminal not supported"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

Fig supported in Warp

### Actual behaviour

fig doctor

[2022-11-05 15:05] YousufSohail opened #1997 "bug: Failed setting previous_email: EOF while parsing a value at line 1 column 0"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

To be able to login

### Actual behaviour

Something went

[2022-11-05 15:38] MatteoGauthier commented on #1954
Yes I'm using VSCODE terminal autocompletion with Fig, and I got the bug using an external display

[2022-11-05 16:57] kuhnroyal commented on #1357
Installed with Toolbox:

[code]

The `mdfind kMDItemCFBundleIdentifier = com.jetbrains.intellij` doesn't return anything.

[2022-11-05 17:07] a1ecbr0wn opened #1998 "bug: Linux always complains about pre-cmd when sshing"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ubuntu 22.04

### Expected behaviour

I would expect to be able to start and to not print the warning on

[2022-11-05 17:12] nurielmeni commented on #1229
For me Autocompletion still doesn't work on VSCODE terminal, when VSCODE in fullscreen mode.
 - fig 2.7.5,
 - OS: 13.0 (22A380)

[2022-11-05 17:22] mschrage commented on #1996
Duplicate of #785

[2022-11-05 17:22] #1996 closed

[2022-11-05 17:37] KirdesMF commented on #1975
I can confirm

2. Autocomplete works in non-fullscreen VSCode windows.
3. `Ventura 13.0` autocomplete does not work in any full-screen terminal

[2022-11-05 20:19] Wail-Mohammed commented on #1997
i have the same issue, even after running fig doctor,  it is giving the same error message : "Error: Failed setting user_id: EOF while parsing a value at line 1 column 0 " I wonder how to get it to work.

[2022-11-05 21:13] usr42 commented on #1964
FYI Version 2.7.4 still has the issue for me.

[2022-11-05 21:26] mikejk8s opened #1999 "${FIGTERM_SESSION_ID} has no value"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

I should be able to run brew update without any SSH issue

[2022-11-06 09:17] H4ckint0sh opened #2000 "bug: Autocomplete pupup always in top left corner of Alacritty"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Mac OSX 12.6

### Expected behaviour

Aotocomplete box in expected position.

### Actual behaviour

Then

[2022-11-06 10:33] jswent commented on #1990
Is your control+j still working for navigating down? For some reason in most recent update control+j is overridden by newline for me.

[2022-11-06 12:55] achinth commented on #1985
I had this issue couple of times and this occurred again when I upgraded to 2.7.5 today.

[2022-11-06 12:56] achinth commented on #1985
Still not working

[2022-11-06 13:43] Deepak22448 commented on #1368
Open fig then navigate to "General" then set "Preferred Terminal" to "VSCode".
This worked me.

[2022-11-06 15:04] hanslemm commented on #1229
Same problem for same config... the fig window is behind the VSCode in fullscreen... therefore you cannot see it!

[2022-11-06 15:35] rostik32 commented on #1368
Thanks! It's work

[2022-11-06 19:01] ptg251294 commented on #1997
Same issue on MacBook Pro Core i9 16GB.

[2022-11-06 19:26] ptg251294 opened #2001 "Fig settings file is corrupted"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

The expectation was to open fig settings but was displaye

[2022-11-06 19:30] anthonyatp opened #2002 "Ohmyzsh not loading into terminal"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

I use oh-my-zsh and since im using fig, i uninstalled omz

[2022-11-06 19:33] boogiedimik commented on #1997
same issue when trying to login

[2022-11-06 19:35] ArAsHCoding commented on #1997
Exactly! I got the same error message when I tried to log in.

[2022-11-06 20:28] mcpeapsUnterstrichHD opened #2003 "it lauch it auto every less or more 10min."
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

it lauch it auto every less or more 10min.

### Actual be

[2022-11-06 21:34] beyazit commented on #1997
Same issue
MacBook Pro M2 16GB

[2022-11-06 22:36] ZenghaoWang opened #2004 "fig doctor: LaunchAgents directory is not writable"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

When I run fig doctor, I expect it to tell me that everyt

[2022-11-06 23:48] SeparateRecords commented on #2004
Hey @ZenghaoWang!

This could be caused by a number of things - first just to check, could you run `ls -ld ~/Library/LaunchAgents/` and send the output?

Also looks like you're running a version that's slightly out of date, latest is 2.7.5. You can get the latest from https://fig.io/download if going to the **◧ Fig menubar icon** → **Check for updates...** isn't working 🙂

[2022-11-06 23:54] SeparateRecords commented on #1997
Hey all! I can't reproduce this at the moment, can you confirm if it's still breaking? If it is, could you grab a time on my calendar? https://calendly.com/robert-fig/support

[2022-11-06 23:58] jcha0713 commented on #1997
Yeah it's still not working for me. Tested on MacOS Monterey 12.3
<img width="559" alt="Screen Shot 2022-11-06 at 15 56 25" src="https://user-images.githubusercontent.com/29053796/200202610-acd6e11b-115e-4b48-bb2f-d039b96c9a48.png">

[2022-11-07 00:03] ArAsHCoding commented on #1997
It's still not working on macOS 12.6.1 :(

[2022-11-07 00:22] SeparateRecords commented on #1229
Hmm... I can reproduce. Same setup too. Issue definitely not fully solved...

[2022-11-07 00:27] SeparateRecords commented on #1229
Actually, going to close this issue to keep count down. Will merge with #1964 🙂

[2022-11-07 00:27] #1229 closed

[2022-11-07 00:32] brendanfalk commented on #1997
Hi all. Thank you all for reporting. We are actively investigating. Bug appears to be related to our integration with AWS Cognito. We will hopefully have a fix within 24 hours.

In meantime, I suggest:
1. Run `fig login` - this should let you login from the CLI as opposed to the GUI
2. Run `fig restart`

Try these a few times and hopefully it should work.

[2022-11-07 00:36] BlackMoonWolf commented on #1997
Same issue here. Ventura on a 16" MBP 16".

[2022-11-07 00:40] BlackMoonWolf commented on #1997
This is my first time using Fig. Upon opening it fir the first time, I got a verification code, etc. I put it in but the app appeared to just freeze so I killed the process. Opening the app only starts the above problem in a circular manner.

I tried "fig login" and "fig restart" but fig only says:

`error: Already logged in as <_redacted_>@gmail.com, please logout first.`

I tried this repeatedly

[2022-11-07 00:45] BlackMoonWolf opened #2005 "Something went wrong :( Error: Failed setting user_id: EOF while parsing a value at line 1 column 0"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

New user. First time verifying code by email, the app fro

[2022-11-07 01:12] mrhappyma opened #2006 "linux: Autocomplete does not work on Ubuntu 22.04.1"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ubuntu

### Expected behaviour

It to do something

### Actual behaviour

Doesn't do anything. Fig doesn

[2022-11-07 01:13] mrhappyma commented on #2006
[(Originally from Fig Discord server)](https://canary.discord.com/channels/837809111248535583/1038622373693366333/1038622373693366333)

*(note: this has been the case for a bit, just getting to making a help thread and trying to get it fixed now lol)*

Hey hey! Fig doesn't launch and autocomplete doesn't show. I tried reinstalling back when this started and same result. I got the same situation a

[2022-11-07 01:42] brendanfalk commented on #2005
Try `fig logout` then `fig login`

[2022-11-07 02:38] SeparateRecords commented on #2003
Hey @mcpeapsUnterstrichHD, sorry for the bug. Just to confirm the behavior, is it launching the dashboard every 10 mins for you? What exactly is launching? Would love some more details so we can look into this more :)

[2022-11-07 02:39] SeparateRecords commented on #1997
Hey all, just to restate, if you have a moment I'd love to hop in a debugging call so we can find out what's happening and fix this bug! https://calendly.com/robert-fig/support

[2022-11-07 02:43] SeparateRecords commented on #2001
Hey @ptg251294! This is unrelated to settings, it's a weird auth bug. Going to close this now as duplicate of #1997

[2022-11-07 02:43] #2001 closed

[2022-11-07 02:44] SeparateRecords commented on #2005
Hey @BlackMoonWolf! Thanks for opening the issue 🙂 Going to close as dup of #1997, same root cause (not sure what it is yet though)

[2022-11-07 02:44] #2005 closed

[2022-11-07 02:54] SeparateRecords commented on #1995
Hey @jswent! Sorry about this bug. This is a pure oversight on our part and should be fixed soon, although I don't know exactly when and for which terminals.

Short description of the problem: we switched our keybinding logic from happening at the Fig app layer to happening in the terminal itself using our shell wrapper called Figterm. This has _loads_ of advantages, primarily reliability and spee

[2022-11-07 03:04] mcpeapsUnterstrichHD commented on #2003
The Dashboard

[2022-11-07 03:08] SeparateRecords commented on #2003
Have you got anything in your dotfiles that could be doing this? Any cronjobs or scheduled work on your system?

If you could send the contents of `~/.config/fish/config.fish` and `~/.config/fish/conf.d/*.fish` that would help heaps.

[2022-11-07 03:13] SeparateRecords commented on #2000
Just to check, have you added the input method integration? Double check by running `fig integrations install input-method

[2022-11-07 03:16] SeparateRecords commented on #1999
Looks like your SSH integration is installed but maybe fig's shell integration isn't working right? Try running `fig integrations install dotfiles` and let me know if that makes a difference 🙂

[2022-11-07 03:25] SeparateRecords commented on #1990
@forivall can you confirm if this is fixed for you?

@jswent have replied on your issue :)

[2022-11-07 05:31] SeparateRecords commented on #1997
Have sort of figured out what's going on here. `~/Library/Application\ Support/fig/state.json` contains an incorrect value.

Can you:
1. Run `cat ~/Library/Application\ Support/fig/state.json` and send the output here
2. Run `ls -ld ~/Library/Application\ Support/fig/state.json` and send the output here
3. Try `rm ~/Library/Application\ Support/fig/state.json`, then run `fig`, right click → Refres

[2022-11-07 05:33] SeparateRecords commented on #2000
Actually, I can reproduce. Only happens with alacritty. Weird.

[2022-11-07 07:16] brendanfalk commented on #1999
This issue is the ssh command is being run in a non-login shell. The non login shell does not have $FIGTERM_SESSION_ID. Therefore, it fails out.

We are prioritising a fix for this tomorrow. I think the solution will be very simple. We will post the code here and then push the fix by the end of the week. In the meantime, you might have to uninstall fig's ssh integration

`fig integrations uninstal

[2022-11-07 08:56] #1923 closed

[2022-11-07 08:57] vinodsptharsha commented on #1997
4th option did the trick! Thank you.

[2022-11-07 08:58] subskill-tsoulier commented on #1923
Hey @SeparateRecords , I have reinstall my computer, the problem is about my oS, I have updated Mojave to Monterey, and the compatibility is broken, sorry and thank you for your help ^^

[2022-11-07 09:10] mcpeapsUnterstrichHD commented on #2003
[fish.zip](https://github.com/withfig/fig/files/9949900/fish.zip)

[2022-11-07 09:50] Sergey-Ubogov commented on #1974
I removed 2 versions of fig and installed the version from the site, but now I get this error:
![image](https://user-images.githubusercontent.com/19286511/200279831-f0dba98a-80c8-4137-acae-87e594b4389e.png)

you can see that fig is running at this, but my console does not see it. after installing fig, the console was rebooted

[2022-11-07 10:40] H4ckint0sh commented on #2000
@SeparateRecords It does answer installed so i must have installed it.

[2022-11-07 10:42] AMaNong commented on #2005
Wow, me too. 😢

[2022-11-07 10:58] SeparateRecords commented on #2005
@AMaNong I posted a solution in that issue I linked!

[2022-11-07 11:18] jesalrathooddd opened #2007 "bug: generated suggestions do not appear for `cd`"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

after space auto options should populate and it's not pop

[2022-11-07 11:28] Mocha-- commented on #1964
still seeing the issue in v2.7.5

[2022-11-07 11:39] micpringle commented on #1985
Given the comment from @achinth, I shan't try again as I now have a working install that I don't want to corrupt (again).

[2022-11-07 12:54] Nah-Nova commented on #1986
got it to work sort of, when I type cd it does not autocomplete
![Screenshot 2022-11-07 at 13 53 37](https://user-images.githubusercontent.com/56248103/200315333-e106c035-05c3-4f5c-847c-21669413521b.png)

but when I type yr it does
![Screenshot 2022-11-07 at 13 54 46](https://user-images.githubusercontent.com/56248103/200315567-dee53d30-344c-4f5d-a356-09289e3e4d60.png)

[2022-11-07 13:10] Bubbleinpit commented on #1997
@SeparateRecords

[2022-11-07 13:22] Bubbleinpit commented on #1997
@SeparateRecords
`cat ~/Library/Application\ Support/fig/state.json`:
Nothing
`ls -ld ~/Library/Application\ Support/fig/state.json`:

[2022-11-07 13:23] drnserhio commented on #1964
oh my god, i updated new version 2.7.5, and my products jetbrains not correct auto complite outside the window 😭

[2022-11-07 13:37] Nah-Nova commented on #1986
issue has been fixed, the problem was my local ohmyzsh install

[2022-11-07 14:17] CoolJosh0221 opened #2008 "Error: Failed setting user_id: EOF while parsing a value at line 1 column 0"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

I face this error after logging in to fig.
<img width="585" alt="Screen Shot 2022-11-07 at 10 15 38 PM" src="https://user-images.githubusercontent.com/88709160/200332230-aa12a417-0b30-4dd1-bcac-a0cb77fab

[2022-11-07 15:36] odonckers commented on #1476
Unfortunately, this issue is present again now. I am unable to login into my account since no email ever comes.

[2022-11-07 15:39] odonckers opened #2009 "bug: No Confirmation Email with Token Arrives"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0

### Expected behaviour

To receive an email with the 6 digit token to login into my personal

[2022-11-07 15:40] odonckers commented on #2008
I was also having the same issue. All of the sudden, it stopped throwing an error and just stopped sending me confirmation emails. #2009

[2022-11-07 15:57] ArAsHCoding commented on #1997
It worked! After running the step 4 :)
Thank you.

[2022-11-07 16:49] skrollme commented on #2008
I was able to install fig.io (fresh installation on latest MacOS Ventura) and request the token via email. But after I enter the token I received, I get the same message as on the screenshot above.

[2022-11-07 18:09] mikejk8s commented on #1999
Thanks! This solved it for me. Re: install dotfiles, it told me that was already installed.

Appreciate the help!

[2022-11-07 18:24] squili commented on #1992
@JasonTheAdams Could you try running `fig integrations uninstall intellij` and then `fig integrations install intellij`? You may have an old version of the integrations installed.

[2022-11-07 18:25] lmeier commented on #2008
Getting this as well

[2022-11-07 18:38] fegrimaldi commented on #2008
Have this issue as well. New Installation (today). settings and state json are empty.

 fig doctor reports:

✘ Settings Corruption: Fig settings file is corrupted
Attempting to fix automatically...
Re-running check...

✘ Settings Corruption: Fig state file is corrupted

✘ Doctor found errors. Please fix them and try again.

[2022-11-07 19:07] skececi opened #2010 "`Something went wrong :(` post-auth code entry"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.3.0 (21E230)

### Expected behaviour

Log in and set up fig

### Actual behaviour

After enteri

[2022-11-07 19:08] #2010 closed

[2022-11-07 19:20] skrollme commented on #2008
Maybe related to https://github.com/withfig/fig/issues/1997. You also find some workarounds there

[2022-11-07 19:37] ascraig commented on #1997
I was also able to fix the issue using step 4.

Thank you! @SeparateRecords

[2022-11-07 20:11] mschrage commented on #2009
Hey @odonckers, if you try now is the confirmation email sent?

[2022-11-07 20:59] JasonTheAdams commented on #1992
Hi @squili, I'm afraid that didn't seem to make a difference.

Out of curiosity, why doesn't IntelliJ show up as an integration?
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/2024145/200414244-a919bbd0-f2c1-4808-a5ef-fd88046e6cfe.png">

[2022-11-07 21:01] squili commented on #1992
This page is definitely the source of a lot of confusion, we'll make sure to clarify it! It should be enabled by default - what's more confusing to me is why it's not showing up at all. Maybe try running `fig integrations install input-method`?

[2022-11-07 21:22] BlackMoonWolf commented on #1997
This appears to have cleared up the issue. ^

Thanks, @SeparateRecords!

[2022-11-07 22:04] gustavojuneo opened #2011 "bug: No such file or directory (os error 2)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

PopOS 22.04 LTS

### Expected behaviour

Fig launch correctly

### Actual behaviour

![image](https://us

[2022-11-07 22:09] mschrage commented on #2000
This is a change in behavior in the latest version of Alacritty. If you downgrade to a previous version of Alacritty, Fig will determine the caret position directly.

I'm investigating this currently.

[2022-11-07 22:13] #2011 closed

[2022-11-07 22:18] nandorojo opened #2012 "bug: incompatibility with `oh-my-zsh` plugin breaks terminal"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

I didn't run these commands ^ because my terminal was entirely unusable.

### Operating system

Mac 12.4 (21F79)

### Expected

[2022-11-07 22:18] mschrage commented on #2008
We have a fix coming for this soon. In the meantime, if you run `fig doctor` twice it should resolve the issue.

[2022-11-07 22:23] mschrage commented on #2012
Did you install oh-my-zsh through the Fig plugin store? It looks like this may have caused some issues.

It would be really helpful if you could reinstall Fig (without adding any plugins) and check if the issue presists?

[2022-11-07 22:25] mschrage commented on #2007
Hey @jesalrathooddd, if you open a new terminal session does the issue persist?

[2022-11-07 22:26] mschrage commented on #2003
Can you run `ls ~/Library/LaunchAgents`

[2022-11-07 22:27] mschrage commented on #2002
Try running `fig source` cc @brendanfalk

[2022-11-07 22:30] mschrage commented on #1978
We have a fix for this that should be released in the next day or so.

[2022-11-07 22:33] H4ckint0sh commented on #2000
Downgrading Alacritty is unfortunately not an option for me, hope to see a solution soon.

[2022-11-07 22:34] mschrage commented on #1975
We've figured out the underlying issues with autocomplete not appearing in full screen on Ventura.

[2022-11-07 22:36] squili commented on #1998
@a1ecbr0wn Please run the following to try a complete purge of Fig:
1. Uninstall Fig normally
2. Delete `~/.fig*` and `~/.local/share/fig` (if it exists)
3. Run `grep '\.fig/shell' ~/.* 2>/dev/null` and delete any lines that show up
4. Run `sudo rm -f $(which fig)`, `sudo rm -f $(which figterm)`, and `sudo rm -f $(which fig_desktop` to make sure the binaries are gone
And then perform a normal inst

[2022-11-07 22:42] nandorojo commented on #2012
Thanks for the quick response. Just reinstalled. Looks like I see this warning for `oh-my-zsh` still, I don't believe I installed it through Fig:

[code]

[2022-11-07 22:46] mschrage commented on #1979
i'm going to close this issue for now. We've added a better "offline" page.

[2022-11-07 22:46] #1979 closed

[2022-11-07 22:47] mschrage commented on #2012
Ah interesting. Do you still have the same issue is before or has that been resolved?

[2022-11-07 23:30] nandorojo commented on #2012
Looks like reinstalling with a new account fixed it!

[2022-11-07 23:30] #2012 closed

[2022-11-07 23:33] JasonTheAdams commented on #1992
Still no good I'm afraid. It's working well in iTerm and other places, just not in PhpStorm.

[2022-11-07 23:35] koppieesq commented on #1992
I'm having the same problem.  When I try to reinstall intellij, I get an error:

[code]

I'm on MacOS Ventura with intellij WebStorm, installed through the JetBrains toolbox.  Let me know if there's anything I can do to help troubleshoot.

[2022-11-07 23:37] squili commented on #1992
@JasonTheAdams Could you try Alacritty or Kitty?
@koppieesq Could you run `FIG_LOG_LEVEL=debug FIG_LOG_STDOUT=true RUST_BACKTRACE=1 fig integrations install jetbrains` and post the output?

[2022-11-07 23:40] koppieesq commented on #1992
@squili happy to help:

[code]

[2022-11-07 23:45] squili commented on #1992
@koppieesq How about `FIG_LOG_LEVEL=debug FIG_LOG_STDOUT=true RUST_LIB_BACKTRACE=1 fig integrations install jetbrains`?

[2022-11-07 23:50] grant0417 commented on #1999
This will be fixed in 2.7.6 (should be out on beta tomorrow)

[2022-11-07 23:51] #1990 closed

[2022-11-07 23:52] grant0417 commented on #1982
Seems this can happen if you do not have internet when Fig is loaded, this will be fixed in 2.7.6 (should be out on beta tomorrow)

[2022-11-07 23:53] grant0417 commented on #1995
We are trying to have a fix for this out in tomorrows beta (2.7.6), will update then on how to enable/status of ctrl keybindings

[2022-11-07 23:54] #1986 closed

[2022-11-07 23:54] grant0417 commented on #1986
This was fixed on 2.7.5

[2022-11-08 00:21] koppieesq commented on #1992
@squili same result, unfortunately:

[code]

[2022-11-08 01:44] mschrage commented on #2000
Figured out a workaround. Fix should go live to beta later this evening. Thanks for reporting @H4ckint0sh .

[2022-11-08 01:45] SeparateRecords commented on #2000
Woo! Go @mschrage!

@H4ckint0sh You can upgrade to beta by running `fig settings app.beta true` 🙂

[2022-11-08 02:26] mschrage commented on #1974
Run `/Applications/Fig.app/Contents/MacOS/fig-darwin-universal install --dotfiles`

[2022-11-08 02:42] 0scarecrow0 commented on #1945
I've upgraded from a prior installation, not a fresh one.

[2022-11-08 02:47] mschrage commented on #1945
Can you take a screenshot of the screen where you are being prompted to install the input method?

[2022-11-08 02:53] 0scarecrow0 commented on #1945
![CleanShot 2022-11-08 AM 10 51 45@2x](https://user-images.githubusercontent.com/45458124/200463518-50dcfe16-de0a-4417-8558-53fe85a3267f.png)
When I enter the third space, it will appear

[2022-11-08 02:55] 0scarecrow0 commented on #1945
![CleanShot 2022-11-08 AM 10 54 46@2x](https://user-images.githubusercontent.com/45458124/200463884-b8cd5046-2cf0-45ca-8786-b3ca031a4457.png)
Installation is normal

[2022-11-08 03:20] JasonTheAdams commented on #1992
@squili I just installed Alacritty and Fig is working in it (albeit a bit strangely):

<img width="389" alt="image" src="https://user-images.githubusercontent.com/2024145/200467294-4171aa88-c332-4b94-a30b-9f2823734ced.png">

[2022-11-08 04:22] yysofiyan commented on #1959
Thanks. Solved

[2022-11-08 04:22] #1959 closed

[2022-11-08 05:03] jesalrathooddd commented on #2007
Hey @mschrage

I just uninstalled Fig & again installed the same.

I just tried and when my terminal is minimised, it's working. But if I make my terminal to Full Screen it's not auto populating.

Any specific configuration needs to be changed for Full Screen in the latest release 2.7.5 ??

[2022-11-08 05:45] themashcodee commented on #1945
in my case it is working but not visible in the vscode, but when I have opening vscode not in fullscreen mode it is visible so basically modal is not able come on the top of vscode

Fig Version: 2.7.5
Mac Version: Ventura
VS Code version: 1.73.0 (Universal)

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/50915748/200484590-e0dd7a5c-e9d1-4cf6-9cb9-26decbd71468.png">

<

[2022-11-08 06:49] H4ckint0sh commented on #2000
@mschrage Thanks for the effort but this is still a problem for me, now it is always shown in first monitor att bottom left corner.

[2022-11-08 06:50] SeparateRecords commented on #2000
Hmm, still broken for me too. One of those really pesky bugs...

[2022-11-08 09:07] Sergey-Ubogov commented on #1974
HI! i did that:
![image](https://user-images.githubusercontent.com/19286511/200522183-60e0e937-80b1-447e-8b55-3e79ced14568.png)
then i rebooted my console, but still does not see fig
![image](https://user-images.githubusercontent.com/19286511/200522361-48be4915-4016-43f2-9373-453a117d7e8b.png)

[2022-11-08 09:25] jswent commented on #1995
I just updated to 2.7.6 and fig crashes my terminal when loaded. Tried on bash and zsh.

[2022-11-08 10:43] CoolJosh0221 commented on #2008
<img width="1023" alt="Screen Shot 2022-11-08 at 6 42 33 PM" src="https://user-images.githubusercontent.com/88709160/200544226-336d364d-328f-4349-996b-6149b8eedc1b.png">

Unfortunately, it does not work.

[2022-11-08 10:52] CoolJosh0221 commented on #2008
thanks, it works now!

[2022-11-08 12:57] victor-paumier commented on #1945
same as @themashcodee, the modal is not visible on fullscreen mode

Fig Version: 2.7.5
Mac Version: Ventura
PhpStorm: 2022.2.2

[2022-11-08 13:38] stevenmankins opened #2013 "fig is not showing up in terminal"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

fig autocomplete is not working even though doctor says i

[2022-11-08 14:18] NandoMB opened #2014 "EOF while parsing a value at line 1 column 0"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

to be logged in

### Actual behaviour

I can't use fig be

[2022-11-08 14:20] AkexStar commented on #1997
这个能够解决问题！Thanks a lot！多谢啦

[2022-11-08 15:02] zanza89 commented on #1964
Hi I have the same issue where autocomplete window doesnt appear in fullscreen mode.. tested in intelliJ, android studio and visual studio code -> all have issue

[2022-11-08 15:22] blakemorgan commented on #2007
I can confirm I have the same issue. Typing `git co` or `cd` will display autocomplete options only when the terminal is not full screen.

[2022-11-08 15:42] jkworth commented on #1368
For me it seems that if i am running VSCode in full screen mode. It appears to not be working. It works just fine if not in full screen mode. Seems there is an issue as to where the popup is rendering. If I swipe back to desktop I see it there.

[2022-11-08 16:16] yash-bhan commented on #1964
Hi

Mac OS: Ventura 13.0
I also have the exact same issue where autocomplete window doesn't appear when terminal is in fullscreen mode, I'm using iTerm2 and intelliJ.

[2022-11-08 17:40] H4ckint0sh commented on #2000
@mschrage @SeparateRecords I dont know why but it just started to work as expected! Very strange bug indeed!

[2022-11-08 18:00] mschrage commented on #2000
I think the logic that resolves this bug is live in the beta, however it might require restarting your computer (or at a minimum, restarting Alacritty, to be applied). I'll see if I can make the update a bit smoother before we push to stable.

[2022-11-08 20:45] Tooommm opened #2015 "autocomplete each time from root path"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

By changing the folder autocomplete with the child folder

[2022-11-08 21:12] mcpeapsUnterstrichHD commented on #2003
<img width="1606" alt="image" src="https://user-images.githubusercontent.com/56896217/200676500-473d9323-59b5-4c07-869e-ff4c009163b6.png">

[2022-11-08 22:44] jswent commented on #1995
Just ran `update` again and I can successfully load fig now, however the binding is still not working. Is there any way I can roll back to a previous version?

[2022-11-08 22:48] SeparateRecords commented on #1995
It's not enabled by default at the moment - you'll need to run these commands to enable it.
[code]
Would love to have your feedback on it 🙂

[2022-11-08 22:53] jswent commented on #1995
Ah, my apologies. Working perfectly now! Will this be enabled by default in the future?

[2022-11-08 22:57] SeparateRecords commented on #1995
Happy to hear it! And yes it'll be the default, still some minor kinks to work out first but we're making great progress :)

[2022-11-08 23:00] yaasin-raki2 commented on #1368
same here 😕

[2022-11-08 23:33] polds opened #2016 "FR: Optionally inject the "placeholder" value in a workflow if not specified"
I was directed here from [Discord](https://discord.com/channels/837809111248535583/839904509466640434/1039669348224213042).

It'd be nice if there was a checkbox or something that allowed you to inject the Placeholder value into the workflow if not otherwise set.

For example, even as something as simple as the "Forward requests from local to remote server" workflow in the workflow store, it'd be

[2022-11-09 01:20] mschrage commented on #1992
@JasonTheAdams the issue with Alacritty is actually the result of unrelated upstream changes to input method support in `winit`.

We have a fix on beta (`fig settings app.beta true`) but you might need to restart your computer for it to kick in, due to OS-level caching.

[2022-11-09 01:21] mschrage commented on #2015
Hey @Tooommm this is a bug on the beta channel. If you reinstall the stable build everything should work as expected. Also, we're pushing a fix to beta in the next hour or so.

[2022-11-09 01:23] mschrage commented on #2013
Could be related to this issue #1964 - we have a fix coming soon. Check if Fig works in non-fullscreen terminals in the meantime?

[2022-11-09 01:24] mschrage commented on #2014
Hey @NandoMB - so sorry you're running into this. We have a fix coming soon. In the meantime, run `fig doctor` twice! https://github.com/withfig/fig/issues/2008#issuecomment-1306303948

[2022-11-09 03:25] mschrage commented on #2016
Hey @polds! Really appreciate this feedback. I think we can add support for adding "default" values to parameters. 👍

[2022-11-09 03:49] kevinebaugh commented on #1964
Fixed for me in 2.7.6-beta.2 👍

[2022-11-09 04:12] mschrage commented on #1978
Fix is live on beta: `2.7.6-beta.2`. Run `fig settings app.beta true` to try it out now.

[2022-11-09 04:13] mschrage commented on #1981
Try enabling this setting: `fig settings app.launchOnStartup true`

[2022-11-09 04:14] mschrage commented on #1975
This is live on beta `2.76.-beta.2`. Run `fig settings app.beta true` to try it out now.

[2022-11-09 04:16] mschrage commented on #1973
Hey @karlmarxlopez - I believe this issue has been addressed on the latest beta (`2.7.6-beta.2`).

Can you run `fig settings app.beta true` and confirm that everything is working as expected?

[2022-11-09 04:17] mschrage commented on #1964
Thanks for confirming @kevinebaugh.

This should be resolved (🤞) on the latest beta `2.7.6-beta.2`. If you want to try it out now, run `fig settings app.beta true`.

Sorry again for the inconvenience.

[2022-11-09 04:20] mschrage commented on #1954
@wxh06 @MatteoGauthier

Both of these issues are fixed on `2.7.6-beta.2`.  You can update to the beta by running `fig settings app.beta true`.

Thank you for your patience.

[2022-11-09 04:23] mschrage commented on #1945
@victor-paumier @themashcodee the autocomplete window is correctly positioned in the latest beta. See this issue for details. #1964

[2022-11-09 04:24] mschrage commented on #1974
Try restarting the Fig desktop app?

[2022-11-09 04:25] mschrage commented on #1924
Hey @zxpzdtom we have a fix for this coming soon! cc @chaynabors

Thanks for your patience!

[2022-11-09 05:19] JasonTheAdams commented on #1992
@mschrage I appreciate it, but I don't actually care about Alacritty. I was just told to test it out. My real concern here is getting things working with PhpStorm.

[2022-11-09 05:50] nautonk commented on #1981
It works, but what i need is to automatic start fig when launching a new shell session. Btw at the moment i will use "launch on startup" feature. Thank you
![Screenshot 2022-11-09 at 12 46 42](https://user-images.githubusercontent.com/3839865/200749339-6e68f6a6-40f4-40d3-a63e-3214328f9bac.jpg)

[2022-11-09 05:51] #1981 closed

[2022-11-09 07:27] victor-paumier commented on #1945
👌 I confirm that everything is working properly now, thank you!

[2022-11-09 09:21] Sergey-Ubogov commented on #1974
Hi! rebooting didn't help me. I deleted the fig again and did brew install fig instead click on the link ([fig.io/download](https://fig.io/download))
![image](https://user-images.githubusercontent.com/19286511/200790721-6cf84542-c184-4730-97e4-371ad7e35469.png)
but i didnt see hint of autocomplete:
![image](https://user-images.githubusercontent.com/19286511/200791017-66dfa44b-b58f-4af9-8041-e6942d

[2022-11-09 09:32] Mocha-- commented on #1964
thanks guys. Working for me as well.

[2022-11-09 10:52] richardcase opened #2017 "bug: getting started configuration fails after entering confirmation code"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS Ventura 13.0

### Expected behaviour

I would expect the initial setup to continue after i have en

[2022-11-09 10:53] richardcase commented on #2017
If i look at the network trace from the devtools i can see that the login confirmation & login succeeds

[2022-11-09 10:57] richardcase commented on #2017
I also tried the suggestion of running this:

[code]

But i still get the issue.

[2022-11-09 11:10] richardcase commented on #2017
This part hadn't worked: `echo '{}' > '~/Library/Application Support/fig/state.json';`.

As soon as i added `{}` it worked.

[2022-11-09 11:10] #2017 closed

[2022-11-09 11:18] usr42 commented on #1964
Version 2.7.6-beta.2 fixed it for me as well. Thanks for the quick fix 👍

[2022-11-09 11:32] vladpalkanov commented on #1978
now it works for me

[2022-11-09 16:08] doThrow opened #2018 "bug:"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Big Sur

### Expected behaviour

suggestions pop-up to appear in-line when typing in IntelliJ IDEA

[2022-11-09 16:29] UltramanLeo opened #2019 "bug"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

✘ Settings Corruption: Fig state file is corrupted
Attemp

[2022-11-09 16:30] mschrage commented on #2018
@samuel-spencer have you run `fig doctor`?

[2022-11-09 16:33] KirdesMF commented on #1975
Seems to be good. Thanks for the work

[2022-11-09 16:37] #2015 closed

[2022-11-09 16:39] grant0417 commented on #2019
Hey @UltramanLeo can you run `fig doctor --verbose`, we actually do not use the "PATH and PseudoTerminal PATH match" check anymore and should remove it.

[2022-11-09 16:44] mschrage commented on #2007
This is fixed in the latest beta. See #1964 for details. @blakemorgan @jesalrathooddd

[2022-11-09 16:44] #2007 closed

[2022-11-09 17:06] ProfChaos opened #2020 "bug: Iterm2s 'Reuse previous session's directory' stopped working with fig update"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Monterey 12.6

### Expected behaviour

Iterm2 opens new window, tab or pane with the same session

[2022-11-09 17:17] imflash217 opened #2021 "fig not working in vscode integrated terminal FULL-SCREEN"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

`fig` should work in `vscode` integrated terminal after I

[2022-11-09 17:30] jesalrathooddd commented on #1964
@mschrage Run the beta command and now it's working. Thank you.

[2022-11-09 17:53] moratojoan commented on #2021
The same thing happens to me. I was going to open an issue but I saw this one.

[2022-11-09 18:11] mschrage commented on #1974
Two things to try:

1. Can you run `ls ~/.fig/bin` and `ls ~/.local/fig/bin`?
2. Can you try updating to the beta channel and see if this resolves the issue (`fig settings app.beta true`)

[2022-11-09 18:12] mschrage commented on #2021
We are pushing a fix live in the next hour or so. In the meantime, update to the beta. See this issue for details #1964

[2022-11-09 19:58] mcpeapsUnterstrichHD commented on #2003
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/56896217/200928851-ccb30fc1-803f-4ced-9fc6-5d668613a4a7.png">

[2022-11-09 21:22] reify-jorge-david-fernandez opened #2022 "Dotfiles disabled items visual feedback"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

It would be nice to have the dotfiles list give the user

[2022-11-09 21:25] Alohaoh commented on #1997
Same here
Something went wrong :(
Error: Failed setting user_id: EOF while parsing a value at line 1 column 0

mkdir -p '~/Library/Application Support/fig';
echo '{}' > '~/Library/Application Support/fig/state.json';
mkdir -p '~/.fig';
echo '{}' > ~/.fig/settings.json;

[2022-11-09 22:33] a1ecbr0wn commented on #1998
Thank you @squili.

That seemed to remove everything for sure, but then an install, reboot and try to run `fig` in my terminal (hyper), the gui starts, but it won't get past the screen below  where the `enable` button doesn't seem to work.  WhenI ssh in, it no longer compains about pre-cmd so the underlying issue was sorted.  Perhaps I just have a bad build and need to wait a few days and try the

[2022-11-09 22:36] squili commented on #1998
It definitely shouldn't be getting to that page on Linux. I talked with the systems engineering team lead and he says to spam click the enable button. Could you try that? If that doesn't fix it, I'm working on getting a new Linux build out soon, and that should fix all your problems!

[2022-11-10 00:14] a1ecbr0wn commented on #1998
When I press enable I get the next screen with "Checking Accessibility Permissions" and then gnome locks up, and through htop Insee something called "WebKitProcess" maxing out a few of my cores.

[2022-11-10 00:23] squili commented on #1998
While you wait, you can run `fig _ local-state desktop.completedOnboarding true` to bypass the window for now

[2022-11-10 01:50] mvila commented on #1964
I have the same issue with the last macOS update (v13.0.1).

[2022-11-10 02:38] BlueFalconHD opened #2023 "Wezterm Support"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:
My feature would just be integration with Wezterm. Wezterm is an awesome GPU accelerated terminal emulator that is written in Rust. It would be awesome to get Fig support for this to improve my (and proba

[2022-11-10 02:38] mschrage commented on #2021
2.7.6 is live! To upgrade to the latest version, run `fig update`.

[2022-11-10 02:38] #2021 closed

[2022-11-10 02:39] mschrage commented on #1982
2.7.6 is live! To upgrade to the latest version, run `fig update`.

[2022-11-10 02:39] #1982 closed

[2022-11-10 02:40] #2000 closed

[2022-11-10 02:40] mschrage commented on #1978
2.7.6 is live! To upgrade to the latest version, run `fig update`.

[2022-11-10 02:40] #1978 closed

[2022-11-10 02:41] mschrage commented on #1964
The fix for this is live in 2.7.6! To upgrade to the latest version, run `fig update`.

[2022-11-10 02:41] mschrage commented on #1954
The fix for this is live in 2.7.6! To upgrade to the latest version, run click the Fig icon in the menubar and then "Check for updates"

[2022-11-10 02:41] #1954 closed

[2022-11-10 02:42] #1964 closed

[2022-11-10 02:42] mschrage commented on #2013
The fix for this is live in 2.7.6! To upgrade to the latest version, run click the Fig icon in the menubar and then "Check for updates".

[2022-11-10 02:47] #2023 closed

[2022-11-10 03:52] mschrage commented on #2019
@UltramanLeo this should be fixed on the latest version!

[2022-11-10 03:52] #2019 closed

[2022-11-10 04:52] daolou commented on #1991
I meet same: not work in iterm2

iterm2:
![image](https://user-images.githubusercontent.com/22312092/201003546-a047341c-2514-4462-916d-7eab2d87c5f6.png)

fig:
![image](https://user-images.githubusercontent.com/22312092/201003409-bd67f6e9-fd71-491d-a5e4-b7ff97bea023.png)

![image](https://user-images.githubusercontent.com/22312092/201003040-22c8f26d-18eb-4d81-a1fa-61df0b17c0a0.png)

![image](https:

[2022-11-10 05:10] mschrage commented on #1991
Hey @daolou would you mind creating a new issue? Just run `fig issue`

[2022-11-10 09:09] tpluscode commented on #2018
I have been having that same issue recently (intellij 2022.2.3, macos 11.6, fig 2.7.7)

What I noticed is that the seemingly random position of the dialog is actually the last position of the terminal app. I assume it could also apply to any other tool which fig supports. Interestingly, fig remebers that position also after quitting the terminal

https://user-images.githubusercontent.com/588128/20

[2022-11-10 09:49] raymondcoding opened #2025 "Autocomplete still not working in iTerm2 and zsh"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

The autocomplete can work well.

### Actual behaviour

Th

[2022-11-10 10:55] samuel-spencer commented on #2018
I have run fig doctor and it says everything is ok and yes I used toolbox to install. thanks.

[2022-11-10 11:22] radzio opened #2026 "Fig display automplete in wrong place (not in Android Studio terminal window)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Fig autocomplete in the terminal window in Android Studio

[2022-11-10 12:56] el opened #2027 "Fig run takes time to list the options"
You can see from the screen recording that fig run does not list the options in the autocomplete, and it take time to list them if I run  `fig run`

https://user-images.githubusercontent.com/1488164/201096908-36362e92-48aa-43d5-bfaf-905c858525db.mov

[2022-11-10 15:03] Sergey-Ubogov commented on #1974
![image](https://user-images.githubusercontent.com/19286511/201128918-fe0c9608-72d5-4390-94f8-1ac05706fa5b.png)

[2022-11-10 16:28] wey-gu commented on #1543
Here is what I did:

[code]

And all solved!

[2022-11-10 17:05] mschrage commented on #2027
Can your run `fig diagnostic`?

[2022-11-10 17:08] mschrage commented on #2018
I believe there is a regression in the new rust rewrite that broke support for IDEs installed via JetBrains ToolBox.

If you install the IDE directly, autocomplete will work as expected.

[2022-11-10 18:28] grant0417 commented on #2025
Hey @raymondcoding, if you have time here is a link to schedule a debugging call with me https://calendly.com/grant-fig/debugging

[2022-11-10 18:29] grant0417 commented on #2008
This should be fixed on 2.7.7, make sure to update and let us know if the issue is fixed!

[2022-11-10 18:29] #2008 closed

[2022-11-10 18:29] grant0417 commented on #1997
This should be fixed on 2.7.7, make sure to update and let us know if the issue is fixed!

[2022-11-10 18:29] #1997 closed

[2022-11-10 18:29] grant0417 commented on #1987
This should be fixed on 2.7.7, make sure to update and let us know if the issue is fixed!

[2022-11-10 18:29] #1987 closed

[2022-11-10 18:30] grant0417 commented on #1989
This should be fixed on 2.7.7, make sure to update and let us know if the issue is fixed!

[2022-11-10 18:30] #1989 closed

[2022-11-10 18:32] grant0417 commented on #1980
This should be fixed by https://github.com/withfig/autocomplete/pull/1695 which will be live in the next day or so!

[2022-11-10 18:32] #1980 closed

[2022-11-10 19:12] mschrage commented on #2026
Hey @radzio, did you install Android Studio via JetBrains Toolbox? If so, this might be related to #2018.

[2022-11-10 19:28] andresfdel17 opened #2028 "Fig not working on versions below 11.3"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 10.15.7 (19H2026)

### Expected behaviour

Fig autocomplete work correctly, and fig dashboard work

[2022-11-10 19:31] grant0417 commented on #2028
Hey @andresfdel17, could you click on the "Autocomplete Devtool" button and show the output of the console?

<img width="417" alt="Screenshot 2022-11-10 at 11 30 48 AM" src="https://user-images.githubusercontent.com/7355421/201188862-b609b978-c5de-4712-ad44-5659739780af.png">

[2022-11-10 19:32] andresfdel17 commented on #2028
![Captura de Pantalla 2022-11-10 a la(s) 2 32 09 p  m](https://user-images.githubusercontent.com/53264064/201189201-352566e7-2f5c-41d9-8870-d85b0c606ac1.png)

[2022-11-10 19:33] grant0417 commented on #1985
This issue will be resolved by https://github.com/Homebrew/homebrew-cask/pull/135582

[2022-11-10 19:34] andresfdel17 commented on #2028
That icon i can´t see it

[2022-11-10 19:48] andresfdel17 commented on #2028
That problem was in last update

[2022-11-10 19:59] JasonTheAdams commented on #1992
I just updated to the latest version of Fig and it's working again! 🎉

[2022-11-10 19:59] #1992 closed

[2022-11-10 20:08] #1947 closed

[2022-11-10 20:14] danulqua opened #2029 "bug: Fig doesn't launch on start with the turned on setting"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS Ventura 13.0.1

### Expected behaviour

If the `Launch on Start` is turned on, Fig should launch o

[2022-11-10 20:21] bmeverett opened #2030 "bug: error fetching git repo in VSCode with Fig FIGTERM_SESSION_ID has no value"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Fig does not interfear with VSCode usage

### Actual beha

[2022-11-10 20:27] andresfdel17 commented on #2028
Continue the trouble, fig is not working

[2022-11-10 20:30] grant0417 commented on #2028
Can you run `fig debug devtools autocomplete`

[2022-11-10 20:31] grant0417 commented on #2030
Hey @bmeverett, try running `fig integrations install ssh` again, we just updated it so this issue should be resolved, otherwise @squili can help if this keeps happening!

[2022-11-10 20:42] andresfdel17 commented on #2028
![Captura de Pantalla 2022-11-10 a la(s) 3 41 55 p  m](https://user-images.githubusercontent.com/53264064/201201677-3c9fbff2-211d-405f-b0ba-594b067783a1.png)

[2022-11-10 21:01] grant0417 commented on #2028
Can you try typing into the console at the bottom: `window.location.href = "https://autocomplete.fig.io/"`

[2022-11-10 21:01] andresfdel17 commented on #2028
OK, give me a minute

[2022-11-10 21:02] andresfdel17 commented on #2028
![Captura de Pantalla 2022-11-10 a la(s) 4 02 27 p  m](https://user-images.githubusercontent.com/53264064/201205217-7744e2a2-14bc-4d45-a371-eddfbe7b2e0d.png)

[2022-11-10 21:10] grant0417 commented on #2028
Not sure what is going on here, it seems like the page is not loading, after you set the page it should look something like this:

<img width="987" alt="Screenshot 2022-11-10 at 1 09 31 PM" src="https://user-images.githubusercontent.com/7355421/201206467-09c3c85b-4193-4365-b2a9-81d3cca66b3f.png">

[2022-11-10 21:10] grant0417 commented on #2028
Can you go to `https://autocomplete.fig.io` in your browser and see if the page loads there?

[2022-11-10 21:11] andresfdel17 commented on #2028
![Captura de Pantalla 2022-11-10 a la(s) 4 11 18 p  m  (2)](https://user-images.githubusercontent.com/53264064/201206790-5755f453-64aa-4ec7-8bdb-c36f8267f630.png)

[2022-11-10 21:20] grant0417 commented on #2028
Hmm, seems like it did load properly in your browser, are you able to quit fig and run `FIG_LOG_LEVEL=info /Applications/Fig.app/Contents/MacOS/fig_desktop` and share the logs from there

[2022-11-10 22:06] bmeverett commented on #2030
I don't remember installing the ssh integration, but I tried the command you suggested, and still doesn't seem to work. I restarted fig and VSCode and still the same error.

[2022-11-10 22:08] squili commented on #2030
If you aren't using the ssh integrations, you can run `fig integrations uninstall ssh` to get rid of it. But if you want to keep it, could you run `cat ~/.fig/ssh` and let me know what it says?

[2022-11-10 22:30] jkworth commented on #1368
After the latest update of the Mac OS 13.0.1, everything is working fine now. IDK if there was also an update to fig but no issues now.

[2022-11-10 22:34] mschrage commented on #1368
@ulfbrehmer @yaasin-raki2 this was resolved in #1964.

[2022-11-10 22:34] #1975 closed

[2022-11-10 22:35] mschrage commented on #2029
Does anything come up if you run `fig doctor` ?

[2022-11-10 22:47] mschrage commented on #1992
Awesome to hear @JasonTheAdams! Thanks for bearing with us.

[2022-11-10 23:22] grant0417 commented on #1985
It might use the uninstall script from the older version which is unfortunately not correct, I'd try running `brew reinstall --cask fig`

[2022-11-10 23:44] SeparateRecords commented on #2020
![CleanShot 2022-11-11 at 10 44 27@2x](https://user-images.githubusercontent.com/52195359/201229206-8f06f018-f01a-4e12-bb7a-965eaba9dd79.png)

That's really strange. I can't reproduce this. Can you run `fig diagnostic` and send the output?

[2022-11-11 00:23] TofuTseng commented on #2028
same issue here.

[2022-11-11 00:25] Im-Fran commented on #1999
for some reason I can't comment there, anyway, it still presents the bug :p

It's still an issue (I'm running 2.7.6-beta.1) :p
![](https://user-images.githubusercontent.com/30329003/200715027-88953f8d-a114-4551-aa67-2f11433b33f9.png)

This is my mac:
![](https://user-images.githubusercontent.com/30329003/200715069-e6341bbe-bd78-4dc3-87cb-a7873597e8e2.png)

This is my server:
![](https://user-image

[2022-11-11 00:31] Im-Fran commented on #1999
This actually happens in vscode
![image](https://user-images.githubusercontent.com/30329003/201234394-8e07dba4-4bca-43fd-8a92-c29ac819b2e3.png)

[2022-11-11 00:49] grant0417 commented on #2028
If either of you are available for a debugging call here is a link to schedule one: https://calendly.com/grant-fig/debugging

[2022-11-11 01:03] mschrage opened #2031 "You can’t use this version of the application “FigInputMethod” with this version of macOS."
### Discussed in https://github.com/withfig/fig/discussions/2024

<div type='discussions-op-text'>

<sup>Originally posted by **tpluscode** November 10, 2022</sup>
While trying to troubleshoot issue #2018 I ran `fig update` (current ver 2.7.7). Now when I run `fig doctor` I see this

<img width="372" alt="image" src="https://user-images.githubusercontent.com/588128/201049411-f6191cb1-1fe3-42a6-9cd

[2022-11-11 02:05] bmeverett commented on #2030
Thanks, I installed and uninstalled the command and that fixed it.

[2022-11-11 02:05] #2030 closed

[2022-11-11 02:15] agallio commented on #2004
Hi @ZenghaoWang, what chmod command did you execute?
I have the same issue, but since the `LaunchAgents` directory contains other important macOS settings, I'm afraid that when I change the permissions it will break other apps.

[2022-11-11 03:26] ZenghaoWang commented on #2004
chmod 777

Definitely needlessly permissive... but it works

[2022-11-11 03:44] MattFisher commented on #1999
Ran into this problem in PyCharm as well.
Logged error:
[code]
I tried `fig integrations uninstall ssh` but it said `Not installed`.
I renamed `~/.fig/ssh` to `~/.fig/ssh.bak` and it works now.

[2022-11-11 03:47] grant0417 commented on #1999
Edit your `~/.ssh/config` and remove the line that looks like this:

![Screenshot 2022-11-10 at 7 47 37 PM](https://user-images.githubusercontent.com/7355421/201258802-ebfba15d-84f7-4b36-947a-e3b677e34a08.png)

[2022-11-11 07:03] redjohnzarravolvo commented on #2020
Same here (Working Directory settings
<img width="571" alt="image" src="https://user-images.githubusercontent.com/100835515/201280966-2ba9efb9-1dc1-4494-afa0-6fdc3587067c.png">

Whenever I open a new tab, it's using the `New Window` path instead of the previous session's path

`fig diagnostic`
=======================================================================================

`fig-details:

[2022-11-11 07:14] redjohnzarra commented on #2020
Same here (Working Directory settings
<img width="571" alt="image" src="https://user-images.githubusercontent.com/100835515/201280966-2ba9efb9-1dc1-4494-afa0-6fdc3587067c.png">

Whenever I open a new tab, it's using the `New Window` path instead of the previous session's path

`fig diagnostic`
=======================================================================================

`fig-details:

[2022-11-11 07:27] keisei77 commented on #2028
+1

[2022-11-11 07:41] danil0110 commented on #2029
@mschrage
![CleanShot 2022-11-11 at 09 40 18@2x](https://user-images.githubusercontent.com/38916225/201290644-696cbbcd-a0b1-4c2e-9a02-04b10a0c1cab.jpg)

[2022-11-11 08:21] DarthGigi opened #2032 "Updating Fig with brew update causes issues"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

To brew to update fig without any errors.

### Actual beh

[2022-11-11 08:38] DarthGigi commented on #2032
Oh I just noticed that this is a duplicate of https://github.com/withfig/fig/issues/1985

[2022-11-11 09:23] a1ecbr0wn commented on #1998
That works, thank you.

One more thing, how do I solve the `FIG_INTEGRATION_VERSION=None` issue
[code]

[2022-11-11 12:33] geggo98 opened #2033 "Fig breaks remote Git operations (clone, pull, push)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Git integrations in VS Code, WebStorm and Obsidian work w

[2022-11-11 12:34] geggo98 commented on #2033
Might relate to https://github.com/withfig/fig/issues/2030. At least the error message seems to be similar.

[2022-11-11 12:36] geggo98 commented on #2033
Commenting out the following in .ssh/config fixed the issue:

[code]

[2022-11-11 12:39] geggo98 commented on #2033
The workaround from #2030 did not fix the issue. Only manually editing the ssh config file had an effect. So it seems to be a separate issue, beside the similar error message.

[2022-11-11 13:53] BahaaMasmas opened #2034 "terminal default name in the vscode changed to figterm instead of the defauls zsh"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

to display zsh in the termianl name

### Actual behaviour

[2022-11-11 14:23] andresfdel17 commented on #2028
![Captura de Pantalla 2022-11-11 a la(s) 9 23 08 a  m](https://user-images.githubusercontent.com/53264064/201359735-e1d743cd-4b32-47f6-8921-172743add254.png)
![Captura de Pantalla 2022-11-11 a la(s) 9 23 11 a  m](https://user-images.githubusercontent.com/53264064/201359753-e1611224-9465-48d5-9ed5-85a8cf1e8f49.png)

[2022-11-11 14:27] andresfdel17 commented on #2028
For the meeting, i´m sorry. I work at home all day. I can´t join that meeting

[2022-11-11 15:06] glleroux commented on #2028
This is happening to me too — white screen + no autocomplete. Could it be the current version of Fig (2.7.7) being incompatible with with my Mac OS version (11.1)?

[2022-11-11 15:45] ProfChaos commented on #2020
https://user-images.githubusercontent.com/814580/201375004-4f0e1d7d-1e66-4023-987f-66fb92812100.mov

fig-details:
  - 2.7.7-beta.0
hardware-info:
  - model:
  - model-id:
  - chip-id: Apple M1 Pro
  - cores: 10
  - mem: 32.00 GB
os-info:
  - macOS 12.6.0 (21G115)
environment:
  - shell: /bin/zsh
  - terminal: iterm
  - cwd: /Users/dan
  - exe-path: /Users/dan/.fig/bin/fig
  - install-method: unkno

[2022-11-11 17:40] ZedMuir commented on #1989
Fixed for me. Completely fixed for iTerm, Terminal and VSCode terminal instances. Thanks for the great work.

[2022-11-11 18:34] grant0417 commented on #2034
This is a known regression with 2.7.7, will try to see how we can fix this in 2.8.0

[2022-11-11 18:52] antonydevanchi commented on #1997
fixed

[2022-11-11 21:07] Mhairi-Helen opened #2035 "Accessibility enabled: Accessibility is disabled when Fig is given permission in system preferences Ventura 13.0.1"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Fig to run normally once

### Actual behaviour

Fig not w

[2022-11-11 22:17] HuiSF commented on #2026
Similar behavior happens with vscodium. The autocomplete window appears in a random location on screen, and changes when resize vscodium window.

[2022-11-11 22:33] mschrage commented on #2026
@HuiSF can you open a separate issue by running `fig issue`?

[2022-11-11 22:47] kiberOgur4ik commented on #1845
have same   issue
[code]
![image](https://user-images.githubusercontent.com/87813123/201440983-efcfb9d4-66d5-4567-b134-afc0a190148c.png)

[2022-11-11 22:48] HuiSF opened #2036 "Fig autocomplete window displays at wrong position of vscodium window"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

The autocomplete window should stick to the cursor in the

[2022-11-11 23:31] mrhappyma commented on #2006
This was fixed with the new version 🎉

[2022-11-12 00:17] mschrage commented on #2036
Can you run `echo $__CFBundleIdentifier` inside of VSCodium? Also what version of VSCodium are you using?

Finally, can you check to see if Fig working in a normal VSCode installation?

[2022-11-12 01:03] HuiSF commented on #2036
[code]

VSCodium info
[code]

It seems working correctly in VSCode.
It was working correctly in VSCodium. This incorrect behavior appeared recently after certain fig updates (sorry I haven't tracked version change.)

[2022-11-12 04:37] wnmentau opened #2037 "how to use fig in pycharm"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

i can install input method in my macbookpro, my system is

[2022-11-12 05:22] o4suki commented on #2028
+1

[2022-11-12 12:42] glleroux commented on #2028
+1

[2022-11-12 15:03] arb85 commented on #2028
+1

[2022-11-12 16:10] drooJohnson commented on #2035
+1, experiencing this as well in Ventura 13.1 Beta 2

[2022-11-12 17:40] EliasLittle opened #2038 "Hotkeys not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.3.0 (21E5196i)

### Expected behaviour

For autocomplete keybindings I set "⌃k" set for Navigat

[2022-11-12 20:39] RostyslavDzhohola opened #2039 "fig not working well"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Regular prompt option should appear in the same window

#

[2022-11-12 22:24] mrhappyma commented on #2006
It's happening again :(

[2022-11-13 01:33] yanwen commented on #2031
I meet the same problem

[2022-11-13 01:35] leforgedroid commented on #2035
+1, experiencing the same mac os Monterey 12.6

[2022-11-13 09:41] arb85 commented on #2031
Same problem on macOS Mojave 10.14.6

[2022-11-13 10:39] galzo commented on #1997
Same here. couldn't login or logout.
eventually, I found out that the problem was with `~/Library/Application\ Support/fig/state.json` being empty.
I added `{}` to that file, and it fixed it.

[2022-11-13 14:36] blimey74 commented on #2006
Also happening for me with the latest version installed today on Linux Mint 20.3

[2022-11-13 14:37] CassianoThurow commented on #2028
+1

[2022-11-13 14:52] KevDCS opened #2040 "bug:"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 10.15.7 (19H2026)

### Expected behaviour

Autocomplete in command line and being able to see the

[2022-11-13 15:30] Aleksandr-Baranchuk opened #2041 "Failed to launch Fig: Failed to start fig.service: Unit fig.service not found."
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ubuntu 22.04.1

### Expected behaviour

fig service is working

### Actual behaviour

https://i.imgur.co

[2022-11-13 19:16] adamgreenhall opened #2042 "bug: dashboard blank, fig autocomplete not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
  - similar to https://github.com/withfig/fig/issues/1982, but sounds like the problem there was supposed to be fixed in newer versions
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the iss

[2022-11-13 21:22] nadworny commented on #1941
is the only solution for the moment to uninstall the fig?

[2022-11-13 22:24] grant0417 commented on #2028
Just want to say once again, if you are having this issue and are available here is a link to schedule a debugging call: https://calendly.com/grant-fig/debugging

[2022-11-13 22:25] grant0417 commented on #2042
Hey @adamgreenhall, if you have time here is a link to schedule a debugging call: https://calendly.com/grant-fig/debugging

[2022-11-13 22:26] grant0417 commented on #2040
Hey @KevDCS if you are available here is a link to schedule a debugging call: https://calendly.com/grant-fig/debugging

[2022-11-13 22:30] grant0417 commented on #2038
Hey @EliasLittle, we had to change how we intercepted keys which prevented us from intercepting these keys, we have a work around but it is experimental, if you run this command `fig settings figterm.csi-u.enabled true`, new terminal sessions should intercept those keys.

[2022-11-13 22:30] grant0417 commented on #2033
This should be resolved by 2.7.8 which is live

[2022-11-13 22:30] #2033 closed

[2022-11-13 22:31] grant0417 commented on #1941
We have a work around in 2.7.8 that should prevent this from happening any more, please make sure you are on that version and let us know if you have any more issues!

[2022-11-13 22:32] #1941 closed

[2022-11-13 22:48] mikebronner commented on #1941
I have no longer had this problem since updating, thanks!

[2022-11-14 00:31] camilocbarrera opened #2043 "Pycharm issue"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

The help bar should appears inside the terminal

### Actu

[2022-11-14 01:39] xPolar opened #2044 "bug:"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS

### Expected behaviour

Fig keeps you signed in during MacOS startup.

### Actual behaviour

Fig

[2022-11-14 02:35] zjfresh commented on #2042
Also dashboard blank and no fig's tip dialog, but has autocomplete.

MacOS 10.15.7, Intel Core i7.

When i start up my mac, finding no fig's tip dialog, and then I run fig. It start with auto update.

After update, the dashboard is blank, and still no tip dialog

[2022-11-14 06:41] pthoelken opened #2045 "bug: startup errror from your plugin in tabby"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS Ventura, MacBook Pro M1

### Expected behaviour

No Problems should be appear at startup?

### Act

[2022-11-14 06:45] AlwaysAwake commented on #1753
@mschrage
I'm still having this issue while setting up my new Mac.
It keeps finding the Oh My ZSH module even I already removed that all plugins

`% RUST_BACKTRACE=1 FIG_LOG_LEVEL=trace fig source`
error:
   0: Could not sync remote dotfiles
   1: Unexpected Server Error: Cannot find module '/node_modules/@fig/plugins/dist/cjs/plugins/Oh My ZSH/index.js' imported from /node_modules/@fig/plugins/di

[2022-11-14 07:32] hmps commented on #2035
I had this too (Ventura 13.0) and was able to fix it. Steps below.

1. Quit Fig
2. Open Privacy → Accessibility pref pane
3. Remove Fig from the list by clicking the "-" button and the bottom of the list
4. Start Fig
5. Give Fig permissions in the pref pane
6. Restart Fig

[2022-11-14 07:47] nadworny commented on #1941
hi @grant0417 , I'm on 2.7.8 😢

[code]

[2022-11-14 09:08] grant0417 commented on #1941
@nadworny can you share the error you are getting?

[2022-11-14 09:21] Rhythmicc opened #2046 "bug: Can't recognize iTerm2"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS

### Expected behaviour

Recognize iTerm2

### Actual behaviour

Not Recognize.

### Steps to repr

[2022-11-14 10:06] nadworny commented on #1941
It works now 😱
It was the same error as in the first post. Maybe a restart helped 😉

[2022-11-14 12:37] alejandro-fm commented on #2036
Hi just found this, experiencing the same here. On my case using IntelliJ
`com.jetbrains.intellij`

[code]

[2022-11-14 13:52] el commented on #2027
[code]

[2022-11-14 13:56] sowizz opened #2047 "Opening Dashboard and Settings displays empty window"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 10.15.7 (19H1824)

### Expected behaviour

Setting and Dashboard contents to be displayed.

### Ac

[2022-11-14 13:58] a1ecbr0wn commented on #1998
Ah, just noticed that this is a recognised bug #1955 so I will close this as the main issue is resolved.   Thank you for your help @squili

[2022-11-14 13:58] #1998 closed

[2022-11-14 17:18] mschrage commented on #2043
Can you run `fig doctor` in the PyCharm window?

Also is this instance of PyCharm installed via Toolbox? If so, this might be related to #2018

[2022-11-14 17:19] mschrage commented on #2037
@wnmentau what happens when you try to install the input method?

Can you run `fig doctor` inside of PyCharm?

[2022-11-14 17:29] mschrage commented on #2027
Currently, `fig run` makes a network request to load all of your workflows. We should add an option to hit the local cache first when listing workflows. cc @chaynabors

[2022-11-14 17:30] mschrage commented on #2039
Hey @RostyslavDzhohola, make sure you update to the latest version by running `fig update`. This issue should be resolved on v2.8.0.

[2022-11-14 17:30] #2039 closed

[2022-11-14 17:57] koppieesq commented on #1992
Still not working for me.  😭  Here's what I've tried:

1. Reinstall Fig manually from the website
2. Restarted my computer
3. Upgraded to the beta version of Fig
4. `fig integrations reinstall intellij` - gave errors because of missing `plugin` directories for PhpStorm and Rider.  I added the directories and now the command succeeds - but Fig still won't work
5. `fig doctor`: "Everything looks goo

[2022-11-14 18:04] squili commented on #1992
Could you make a separate issue?

[2022-11-14 18:12] koppieesq opened #2048 "Webstorm + Ventura: not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Fig should work in Webstorm on MacOS

### Actual behaviou

[2022-11-14 21:21] grant0417 commented on #2028
So it seems this is an issue with use using an API that requires macOS 11.3 or higher, working on a fix that will bring back support to lower versions!

[2022-11-14 21:34] grant0417 commented on #2040
Going to close this as duplicate of #2028

The current version broke support for macOS versions below 11.3, a new version 2.7.9 will be out soon to fix this!

[2022-11-14 21:34] #2040 closed

[2022-11-14 21:34] grant0417 commented on #2042
Going to close this as duplicate of #2028

The current version broke support for macOS versions below 11.3, a new version 2.7.9 will be out soon to fix this!

[2022-11-14 21:34] #2042 closed

[2022-11-14 21:35] grant0417 commented on #2047
Going to close this as duplicate of #2028

The current version broke support for macOS versions below 11.3, a new version 2.7.9 will be out soon to fix this!

[2022-11-14 21:35] #2047 closed

[2022-11-14 23:04] iBhokary-dev commented on #2031
Any update about it?

[2022-11-14 23:18] grant0417 commented on #2031
This will be fixed by 2.8.0 which should be out in two weeks

[2022-11-15 00:13] grant0417 commented on #2028
This should be fixed on version 2.7.9

You can update by running `fig update`

[2022-11-15 00:13] #2028 closed

[2022-11-15 00:16] grant0417 commented on #2046
It looks like there is something going on in the web side that is causing an error.

@fedeci any ideas why we would be getting lots of `undefined is not an object`

[2022-11-15 00:17] grant0417 commented on #2044
Can you send the output of `fig internal local-state all`

[2022-11-15 01:21] grant0417 commented on #2048
Hey @koppieesq, did you get any errors when running `fig integrations install intellij`?

Also is the window showing and not following the cursor or is it not showing at all?

[2022-11-15 01:23] grant0417 commented on #2048
Could you also try running `fig integrations install input-method`

[2022-11-15 01:25] grant0417 commented on #2035
@Mhairi-Helen @drooJohnson @leforgedroid

Can you try following the instructions @hmps gave and see if that resolves the issue?

[2022-11-15 01:26] grant0417 commented on #2032
Going to close since I think this is resolved and is a dupe of #1985

[2022-11-15 01:26] #2032 closed

[2022-11-15 01:27] grant0417 commented on #1985
Going to close since this seems resolved, let use know if any other issues come up!

[2022-11-15 01:27] #1985 closed

[2022-11-15 02:18] xPolar commented on #2044
[code]

[2022-11-15 02:22] grant0417 commented on #2044
Hmm, I can't really tell anything from that unfortunately, I thought it might be missing `desktop.completedOnboarding` but its there...

Can you also just confirm the credentials file is there `ls ~/Library/Application\ Support/fig/credentials.json`

[2022-11-15 02:28] xPolar commented on #2044
[code]

[code]

[2022-11-15 02:58] grant0417 commented on #2044
Very weird, not too sure what is going on here, if you are available here is a link to schedule a debugging call: https://calendly.com/grant-fig/debugging

[2022-11-15 02:59] xPolar commented on #2044
The thing is, it doesn't just log me out every time; it's completely random.

[2022-11-15 03:01] grant0417 commented on #2044
Hmm, well it might be good to check these things next time it happens:

1. `fig internal local-state all`
2. `cat ~/Library/Application\ Support/fig/credentials.json` and see if the credentials file looks normal
3. `fig user whoami`

[2022-11-15 03:02] xPolar commented on #2044
Alright!

[2022-11-15 03:17] Sneaken opened #2049 "how to fix "Accessibility is disable" in macOS13.0.1?"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

normal installation

### Actual behaviour

<img width="11

[2022-11-15 03:32] Sneaken commented on #2049
[how to fix(see issues 2035)](https://github.com/withfig/fig/issues/2035#issuecomment-1313212883)

[2022-11-15 03:32] #2049 closed

[2022-11-15 06:14] Rhythmicc commented on #2046
It seems that a syntax error occurred in one of the js files and it fixed itself after I restarted fig today. But there is another problem that you may need to be aware of. When I switch to another window, the fig console reports the following error:
![image](https://user-images.githubusercontent.com/29839231/201840216-569571f3-f481-4129-abdf-0cf678c7051e.png)

[2022-11-15 07:20] matanc1 commented on #2002
@mschrage this happened to me and running `fig source` didn't solve the problem.

I noticed that in the `zshrc.post.zsh` file you guys run `eval "$(~/.local/bin/fig init zsh post --rcfile zshrc)"`.
For some reason, the output of this file doesn't generate the ZSH_THEME and plugin variables correctly.
It would generate the following code.

[code]

The "neweset" setting would be at the top which cau

[2022-11-15 07:27] H4ckint0sh opened #2050 "bug: Confirmation codes does not work"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Mac OSX 12.6

### Expected behaviour

Can confirm email by confirmation code.

### Actual behaviour

It

[2022-11-15 09:34] vlad-diachenko opened #2051 "autocomplete window is shown outside of the terminal in Goland IDE"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

autocomplete window is shown inside of the terminal in Go

[2022-11-15 09:36] chao-xian opened #2052 "Plugin error popup in JetBrains IDE (RubyMine)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

For the integration to work for JetBrains and see the opt

[2022-11-15 14:55] PotatoSpud opened #2054 "bug: Terminal Title controls"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Monterey 12.6

### Expected behaviour

Using **zsh** with **Terminal** on **MacOS 12.6**, the expe

[2022-11-15 15:04] radzio commented on #2026
@mschrage  nope, I've used homebrew for installing AS

[2022-11-15 15:57] ProfChaos commented on #2020
I have version `2.7.9-beta.0` now and it seems to be working now

[2022-11-15 16:33] mschrage commented on #2026
@radzio can you run `echo $__CFBundleIdentifier` in the Android Studio terminal?

[2022-11-15 18:13] pnarielwala opened #2055 "Creating new workflow doesn't work"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Through the UI, when trying to create a custom workflow,

[2022-11-15 18:20] mschrage commented on #2055
@pnarielwala thanks for reporting this. We're investigating right now.

[2022-11-15 18:23] mschrage commented on #2054
This is specific behavior is out of our control. You can customize what appears in the title bar of the native Terminal in it's preferences page.

<img width="779" alt="Screen Shot 2022-11-15 at 1 22 02 PM" src="https://user-images.githubusercontent.com/3155109/201996470-3bd493d7-ce61-406e-9ab5-b7309fba9e78.png">

However, in general, we can support more customization here.

[2022-11-15 18:29] Bretzoule commented on #1831
Hello !
I do have the same issue, here's my `fig diagnostic` if it can help :

[code]

[2022-11-15 18:46] parssak commented on #2055
Hey @pnarielwala, just pushed a fix for this, should be good now

[2022-11-15 19:08] koppieesq commented on #2048
Both commands succeed, but the popup window is not showing at all.

![image](https://user-images.githubusercontent.com/5446321/202004763-9f8eb658-03f4-4856-9a6a-01e250b1f073.png)

When I run `fig integrations install input-method`, it opens my preferences window and asks me to approve an input method:

![image](https://user-images.githubusercontent.com/5446321/202003554-86a4331e-398d-49fa-99d5-141

[2022-11-15 19:24] H4ckint0sh commented on #2050
@mschrage It is resolved now, thankyou for all your hard work and the replay.

[2022-11-15 19:58] #2050 closed

[2022-11-15 19:59] lucasazevedonet opened #2056 "bug: EOF while parsing a value at line 1 column 0"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

![image](https://user-images.githubusercontent.com/262593

[2022-11-15 20:19] grant0417 commented on #2056
Hey there @lucasazevedonet, this was fixed by Fig 2.7.6 I believe (the current version is 2.7.9), update Fig and this should be resolved for you!

[2022-11-15 20:19] #2056 closed

[2022-11-15 20:22] mschrage commented on #2046
@fedeci I've noticed this as well. Can you repro?

[2022-11-15 20:43] fedeci commented on #2046
Yes, I am debugging it.

[2022-11-15 21:57] mschrage commented on #2002
This is super helpful debugging info! Thanks @anthonyatp

[2022-11-15 23:02] ccpalmer opened #2057 "no sudo privs for install on remote for ssh"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

Can't install remote end of `fig ssh` setup as I lack pri

[2022-11-15 23:16] grant0417 commented on #2057
This is a limitation right now of our SSH integrations, we are working on providing a root-less option but it isn't available at the moment for autoupdating. You can download the `.tar.xz` directly and place the binaries in `~/.local/bin` but this is not fully supported by us yet: https://repo.fig.io/generic/stable/asset/2.7.8/x86_64/fig_headless.tar.xz

[2022-11-16 00:49] lucasazevedonet commented on #2056
Thank you! You can close the issue.

[2022-11-16 01:18] PotatoSpud commented on #2054
The problem is that Fig adds allot of extra stuff to the title regardless of what a user sets it to.  For a heavy tab user, this is a problem.  Uninstalling Fig fixes the issue.

[2022-11-16 04:10] chungweileong94 commented on #2055
@parssak Is it a server-side fix? Because I'm still getting the same error with the latest version 2.7.9

[2022-11-16 04:33] mschrage commented on #2055
@chungweileong94 try running `fig quit` and trying again?

[2022-11-16 04:34] mschrage commented on #2055
Seems like there has been a regression cc @parssak

[2022-11-16 07:30] gv-sothebys-valdi commented on #1214
I'm using fig with tmux in Kitty without problems :)

[2022-11-16 08:55] chao-xian commented on #2052
Forgot to add this is RubyMine version 2022.2.2

[2022-11-16 09:24] admapop opened #2058 "Autocomplete renders in the wrong place"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.3.1 (21E258)

### Expected behaviour

When the autocomplete window appears it should be next to

[2022-11-16 13:17] tpluscode commented on #2018
@mschrage I see multiple similar issues from various editors. I don't think this was really an issue related to JetBrains ToolBox

See, I just updated to macOS Ventura and now it works 🤔

<details>
<summary>`fig diagnostic`</summary>

[code]

</details>

[2022-11-16 13:50] McAlm opened #2060 "pretty-time: function definition file not found"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Installing the plugin should make `pretty-time 1668606206

[2022-11-16 15:15] parssak commented on #2055
😓 my bad, fixed again

[2022-11-16 15:15] #2055 closed

[2022-11-16 16:16] mschrage commented on #2058
Hey @admapop, how did you install the JetBrains IDE you are using? This could be related to #2018.

[2022-11-16 16:59] reifsons opened #2061 "Daemon is not running"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

I ran fig doctor during the initial install and expected

[2022-11-16 21:04] grant0417 commented on #2061
Hey @reifsons, can you run `fig integrations install daemon` then `fig integrations status daemon`

[2022-11-16 23:34] brianlovin opened #2062 "Can't quit application or hide dock icon"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

I expect to be able to hit ⌘ + Q to quit the application

[2022-11-17 01:11] reifsons commented on #2061
➜  ~ fig integrations install daemon
Installed!
➜  ~ fig integrations status daemon
Status: None
➜  ~ fig doctor

✘ Daemon: Daemon is not running
Attempting to fix automatically...
Re-running check...

✘ Daemon: Daemon is not running

✘ Doctor found errors. Please fix them and try again.

If you are not sure how to fix it, please open an issue with fig issue to
let us know!
Or, email us at ***@***

[2022-11-17 01:25] grant0417 commented on #2061
Can you try running `launchctl load -F ~/Library/LaunchAgents/io.fig.dotfiles-daemon.plist`

[2022-11-17 01:33] reifsons commented on #2061
➜  ~ launchctl load -F /Library/LaunchAgents/io.fig.dotfiles-daemon.plist
Load failed: 5: Input/output error

On Wed, Nov 16, 2022 at 8:25 PM Grant G ***@***.***> wrote:

--
*“Friendship ... is born at the moment when one man says to another "What!
You too? I thought that no one but myself . . .”*
― C.S. Lewis, The Four Loves
<https://www.goodreads.com/work/quotes/14816053>

[2022-11-17 01:46] grant0417 commented on #2061
Can you try

1. `launchctl unload ~/Library/LaunchAgents/io.fig.dotfiles-daemon.plist`
2. `launchctl load -F ~/Library/LaunchAgents/io.fig.dotfiles-daemon.plist`
3. `fig debug logs daemon` and see if there are any errors?

[2022-11-17 03:39] reifsons commented on #2061
➜  ~ launchctl unload ~/Library/LaunchAgents/io.fig.dotfiles-daemon.plist
Unload failed: 5: Input/output error
Try running `launchctl bootout` as root for richer errors.
➜  ~ launchctl load -F ~/Library/LaunchAgents/io.fig.dotfiles-daemon.plist
Load failed: 5: Input/output error
Try running `launchctl bootstrap` as root for richer errors.
➜  ~ fig debug logs daemon
Could not set log level for daem

[2022-11-17 03:41] grant0417 commented on #2061
Can you try running the daemon directly with `FIG_LOG_LEVEL=warn fig daemon`

[2022-11-17 03:53] reifsons commented on #2061
2022-11-17T03:51:36.864095Z ERROR fig_ipc::unix_socket: 21: Failed to
connect err=No such file or directory (os error 2)
socket="/var/tmp/fig/dan/daemon.socket"
2022-11-17T03:51:36.864126Z ERROR fig_telemetry::daemon_dispatch: 61:
Failed to dispatch telemetry event to daemon: No such file or directory (os
error 2)

You have absolutely gone above and beyond and I really appreciate it.
Should I remo

[2022-11-17 03:57] grant0417 commented on #2061
Still not 100% sure what is going on but yeah reinstalling might help!

[2022-11-17 06:20] AlwaysAwake commented on #1778
@mschrage
Currently I'm having this issue too while setting up my new Mac.
It keeps finding the Oh My ZSH module even I already removed all fig plugins.

`% RUST_BACKTRACE=1 FIG_LOG_LEVEL=trace fig source`
error:
   0: Could not sync remote dotfiles
   1: Unexpected Server Error: Cannot find module '/node_modules/@fig/plugins/dist/cjs/plugins/Oh My ZSH/index.js' imported from /node_modules/@fig/pl

[2022-11-17 07:35] radzio commented on #2026
[code]

[2022-11-17 09:29] admapop commented on #2058
Hey @mschrage I installed it via its own .dmg file, didn't use any Toolbox or installer.

One thing I can add is that it happens more often if I switch between fullscreen mode and windowed mode.
Wildshot but I'm using [magnet](https://magnet.crowdcafe.com/) for window management.

[2022-11-17 13:52] marcinkrzeminski opened #2063 "bug: (eval):export:28: not an identifier: 003"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS

### Expected behaviour

No issues when starting a new terminal session

### Actual behaviour

I'm

[2022-11-17 15:29] Gap6769 opened #2064 "Fig hasn't been installed correctly"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.5.0 (21G72)

### Expected behaviour

Fig always show issue with installation and install shell

[2022-11-17 16:53] richardcase commented on #2058
I am encountering this when using Kitty.

[2022-11-17 17:29] ooleem opened #2065 "Cannot close "Try Fig Pro for Free" window"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.5.1 (21G83)

### Expected behaviour

When I click the "Maybe Later" button, it should close the

[2022-11-17 17:34] pix3lize commented on #2065
Yeah having the same problem

[2022-11-17 18:10] ooleem commented on #2065
Somehow it is closed when I reloaded from the right click menu.
It didn't work when I tried it before.

[2022-11-17 19:04] dluc opened #2066 "bug: Can't install"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ventura 13.0.1

### Expected behaviour

I can install fig

### Actual behaviour

Installation fails

(I

[2022-11-17 20:26] Gap6769 commented on #2064
Same here. I had fig working just fine before this.

[2022-11-17 20:36] mschrage commented on #2065
Hey @ooleem @pix3lize! Thanks for reporting. This should be fixed if you quit and restart the app.

[2022-11-17 20:36] #2065 closed

[2022-11-17 20:37] mschrage commented on #2062
Hey @brianlovin, thanks for opening this issue. I've never seen this behavior before. Very strange.

[2022-11-17 20:38] grant0417 commented on #2066
Are you using Fig on a remote macOS machine?

[2022-11-17 20:43] mschrage commented on #2063
Do you have any Plugins installed via Fig? Have you created any dotfiles?

[2022-11-17 20:52] grant0417 commented on #2066
Going to prioritize this for our 2.9 release (within the next 4 weeks)

[2022-11-17 21:00] enigmapr0ject opened #2067 "Autocomplete Window Wrong Place"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Linux 6.0.8-zen1-1-zen - "Garuda Linux"

### Expected behaviour

Fig's autocomplete menu should appear o

[2022-11-17 21:00] marcinkrzeminski commented on #2063
@mschrage I have imported the dotfiles I already had. As of plugins, it behaves the same with or without any. Should I remove the dotfiles?

[2022-11-17 21:10] grant0417 commented on #2064
Can you try running `fig integrations install dotfiles` and see if that fixes it

[2022-11-17 21:18] laffed commented on #28
`fig install --input-method`

[2022-11-18 00:21] Gap6769 commented on #2064
Perfect, thanks!

[2022-11-18 00:22] Grzechu335 opened #2068 "cd still doesn't working (v2.7.9)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Cd autocompletion doesn't work. I tried beta version but

[2022-11-18 03:07] pix3lize commented on #2065
😂 nice, something must have changed. Good job

[2022-11-18 04:13] pthreadself opened #2069 "installation of plugins not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

plugins installed by fig would work

### Actual behaviour

[2022-11-18 05:15] pthreadself commented on #2069
update: no matter how many times I had uninstalled and installed plugins, the directory `~/.local/share/fig/plugins/` is always empty.
I've also tried installing plugins by command line and it doesn't work either.
![image](https://user-images.githubusercontent.com/6374237/202624926-3b678ae8-f812-44fc-8fd8-3f536a75b85d.png)

[2022-11-18 08:15] miheuer opened #2070 "Figterm: No FIGTERM_SESSION_ID"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Let's make sure Fig is setup correctly...
✔ Fig bin exist

[2022-11-18 09:34] maclavgg commented on #1489
what is the solution?

[2022-11-18 15:10] sachamorgese opened #2071 ""zimfw: Unknown action" error on startup"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

No error logged when starting a new instance of the termi

[2022-11-18 15:52] benminer opened #2072 "Failed to swap app bundle dur - permission denied (failing with sudo as well)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Fig often notifies me that an update is available, in new

[2022-11-18 18:21] mschrage commented on #2068
Run `which cd` - you may have it aliases to another command.

[2022-11-18 18:23] mschrage commented on #2072
Hey @benminer, try updating by clicking the Fig menubar icon and then "Check for updates".

This error is related to changes in the permissions required to modify an application bundle that were introduced with macOS Ventura.

[2022-11-18 18:23] mschrage commented on #2071
Do you have the `zimfw` plugin installed via Fig?

[2022-11-18 19:35] mschrage commented on #2069
Can you run `fig doctor`?

[2022-11-18 22:07] Grzechu335 commented on #2068
When i ran `which cd` i got `cd is an alias for __enhancd::cd`.

[2022-11-19 03:21] jacob-8 opened #2073 "bug: autocomplete hidden off screen when used in terminal at bottom of screen"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Windows 11

### Expected behaviour

When using VSCode's terminal at the bottom of the window I expected

[2022-11-19 15:46] Grzechu335 commented on #2068
Sometimes it's appear for few seconds and disappear.

[2022-11-19 16:31] ericzorn93 opened #2074 "Permissions Granted Without Access"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Permission should be granted within the security and priv

[2022-11-19 17:38] AldeusAmorphous opened #2075 "fish integration error"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

no error on opening a terminal

### Actual behaviour

- (

[2022-11-19 17:56] sampath-paravasthu opened #2076 "Navigation with arrow keys for auto suggestion is not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

Navigation of auto suggestions should work with up and do

[2022-11-19 18:45] sampath-paravasthu commented on #2076
Attaching a gif of the issue

![ezgif com-gif-maker](https://user-images.githubusercontent.com/78723233/202866615-ded4555b-980a-470a-8de2-c7909329defa.gif)

[2022-11-20 02:16] morgante opened #2077 "Fig corrupted output"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

I don't have corrupted output in the terminal.

### Actua

[2022-11-20 02:49] EliasLittle commented on #2038
Hi @grant0417 Just tried it out, and unfortunately it doesn't seem to fix the issue for me. I'm still experiencing the same behavior as before.

[2022-11-20 12:40] mskora-dtiq opened #2078 "Could not run simple workflow"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.5.1 (21G83)

### Expected behaviour

I would like to run my custom created workflow.

### Actua

[2022-11-20 16:02] Grzechu335 commented on #2068
https://user-images.githubusercontent.com/95315359/202912440-70b34e52-052d-4576-8774-7638b6720d4c.mov

[2022-11-20 16:09] sachamorgese commented on #2071
Turns out I did have some plugins enabled that were causing that issue. Must have done it by mistake. Removing them fixed the error message!

[2022-11-20 16:12] Grzechu335 commented on #2068
Reinstalling plugins helped.

[2022-11-20 16:12] #2068 closed

[2022-11-20 18:15] brendanfalk commented on #2071
Will prioritise fix in the next 2 weeks. Thanks!

[2022-11-20 21:55] mschrage commented on #2075
Hey @AldeusAmorphous. Have you added anything to your Fig Dotfiles? It is possible this is causing issues.

[2022-11-21 01:44] pthreadself commented on #2069
yes.
![image](https://user-images.githubusercontent.com/6374237/202943251-ea662cbd-5425-4726-9f56-5d7f8e4278c5.png)
Now I've come up with a solution that I can download the plugins manually in to the plugin folder and then it worked.
But still, installation of plugins from fig is still problematic, although fig says the installation is OK.

[2022-11-21 05:19] connor-circle opened #2079 "bug: Fig uses above 200MB RAM"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Ventura 13.0.1

### Expected behaviour

 I think when Fig(UI) is closed, its process should be sto

[2022-11-21 08:06] MatteoGauthier commented on #1954
Hey thanks for the fix, but I keep having the problem...

[code]

[2022-11-21 09:55] chungweileong94 opened #2080 "bug: Workflow not found"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS 13.0.1 (22A400)

### Expected behaviour

Run the workflow as expected.

### Actual behaviour

It s

[2022-11-21 14:54] olivertzeng opened #2081 "Localization contributing support"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

### Description:

[2022-11-21 18:12] mschrage commented on #2080
If you run `fig run` without any parameters, do you see the workflow appear in the list?

[2022-11-21 20:09] JasonTheAdams commented on #2058
I've also started having this issue on MacOS since the latest update. I have PhpStorm running on one monitor, and when I type in the terminal on that screen the Fig pop _sometimes_ displays in the bottom-left corner of my main monitor.

[2022-11-22 00:46] grant0417 commented on #2081
Hey @olivertzeng, we don't currently have any localization but it is definitely something we are open to adding, what part of Fig are you most interesting in localization for autocomplete, CLI, dashboard, etc?

[2022-11-22 01:07] grant0417 commented on #2077
Hoping to have the fix for this + the `figterm` issue on beta next monday

[2022-11-22 01:08] grant0417 commented on #2076
Hey @sampath-paravasthu, could you run `fig debug key-tester` and press down arrow/up arrow and share the output

[2022-11-22 01:10] grant0417 commented on #2070
Hey @miheuer, can you try running `fig integration install dotfiles`

[2022-11-22 02:26] chungweileong94 commented on #2080
@mschrage It's not. However, after I shut down my computer and restarted on the next day, it seems to be fine now. Not sure if this is a bug or it's just my computer is was being slow or something 🤷

[2022-11-22 02:33] chungweileong94 commented on #2080
Off-topic, interestingly, when I run `fig run`, it still shows the list from my old username namespace, it there any way for me to remove those?
![Screenshot 2022-11-22 at 10 31 31 AM](https://user-images.githubusercontent.com/15154097/203205942-417fd6e3-b8e7-4192-a364-3e14c549f0ca.png)

[2022-11-22 02:38] chungweileong94 opened #2082 "Mixins doesn't show up after adding a new mixin"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

The new mixin should show up after adding a new mixin.

#

[2022-11-22 04:47] ziofil opened #2083 "fish: Unknown command '.om[1]'"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.5.1 (21G83)

### Expected behaviour

Hi, Fig Pro subscriber here.
The expected behaviour is tha

[2022-11-22 09:43] olivertzeng commented on #2081
All

Grant G ***@***.***>於 2022年11月22日 週二，08:47寫道：

--
曾嘉禾

[2022-11-22 09:44] Rhythmicc opened #2084 "Custom Autocomplete not appear"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Gives custom complements.

### Actual behaviour

No respo

[2022-11-22 11:30] miagg opened #2085 "bug: Fig plugin error on PHPStorm 2022.2.3"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Mac OS Monterey 12.6.1

### Expected behaviour

PHPStorm to launch without any errors

### Actual behavi

[2022-11-22 12:51] sampath-paravasthu commented on #2076
Hi @grant0417 , i was able to resolve it by changing the configs inside `.fig/settings.json`.

Got it working by changing the values to the below one

[code]

[2022-11-22 14:39] Im-Fran opened #2086 "bug: Install script is producing corrupt sources.list file"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Linux fran-popos 6.0.6-76060006-generic #202210290932~1667401208~22.04~d2df702 SMP PREEMPT_DYNAMIC Wed N

[2022-11-22 14:39] Im-Fran commented on #2086
the issue is inside the function run_root
this was producing a corrupt sources.list file without the channel. After adding CHANNEL="$CHANNEL" to the line 20 and 23 before bash the install script worked.

[2022-11-22 18:00] brianlovin commented on #2062
Hey @mschrage — I have uninstalled and tried reinstalling with both brew and the .dmg for macOS, same issue. I can't get rid of the app icon in the tray, and when I ⌘ + q, it instantly reopens.

Let me know how I can help debug here!

[2022-11-22 18:44] JasonTheAdams commented on #2058
To be clear, for me this is an intermittent issue. I just opened PhpStorm back up and the popup is in the correct place. I didn't update anything. I just opened it back up for work today; it wasn't working yesterday, it is today. Gotta love these kinds of bugs. 😅

[2022-11-22 19:39] brendanfalk commented on #2062
@brianlovin would you be open to getting on a v quick call with Grant to debug this? calendly.com/grant-fig/debugging

[2022-11-23 05:08] #1973 closed

[2022-11-23 08:41] pdaneshmand opened #2087 "Fig Integration: WarpTerminal is not supported"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

I'm extracted to integrate fig with my new terminal envir

[2022-11-23 13:16] rijans opened #2088 "Fig integration with WebStorm in my system is not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 11.7.1 (20G918)

### Expected behaviour

Fig integration with WebStorm Terminal

### Actual behavi

[2022-11-23 14:41] chungweileong94 opened #2089 "Dotfiles editor unreliable"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

- Dotfiles settings saved correctly
- Dotfiles applied co

[2022-11-23 15:04] samuel-spencer commented on #2018
Hello, wanted to check in to see if there has been any development on this. Noticed a few other tickets with the same issue.
To clarify, I have installed IDEA directly (not through toolbox) since this thread was started and the issue still persists. I've had to disable Fig for the time being.

[2022-11-23 19:25] mschrage commented on #2087
Duplicate of #785

[2022-11-24 03:59] RoyalHunt opened #2090 "Can't install Fig on WSL Ubuntu"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Window 11

### Expected behaviour

Should successfully installed [WSL2 Support](https://fig.io/user-manu

[2022-11-24 06:36] reifsons commented on #2061
So... I've uninstalled fig, reinstalled it using brew, same issue (Daemon
is not running). Uninstalled fig, downloaded the installer, same issue.
When I run doctor with verbose, everything is green except:

Let's make sure Fig is running...
✔ Fig is running
✔ Fig socket exists
✘ Daemon: Daemon is not running
✘ Daemon diagnostics: Daemon socket exists but could not connect
  Socket path: /var/tmp/f

[2022-11-24 12:36] cornips commented on #1483
Is it fixed for you @mamercad? I still have the issue. How did you fix it?

[2022-11-24 13:21] jdwholmes opened #2091 "Figterm is not running"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Windows 11

### Expected behaviour

Fig isn't working on one of my windows 11 PCs.

I get no autocomplet

[2022-11-24 15:14] andresfdel17 opened #2092 "bug:"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 10.15.7 (19H2026)

### Expected behaviour

Work normally

### Actual behaviour

Don´t work

### St

[2022-11-24 16:42] MPeloquin opened #2093 "bug: files and folders names are corrupted"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6 (21G115)

### Expected behaviour

Should display the normal  files and folders names

### Act

[2022-11-24 17:52] AldeusAmorphous commented on #2075
Before I started using fig I was already using some special funcitons and aliases in my Dotfiles so that may be the cause but I just installed the app so I dont think its because of that

[2022-11-24 19:17] kryonai opened #2094 "bug: workflow input type selector not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Mac 13.0.1

### Expected behaviour

I should be able to select branch names as input value for my workfl

[2022-11-24 21:04] #2084 closed

[2022-11-24 21:24] SimoneGuarneri opened #2095 "Unsupported init system"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ubuntu (WSL)

### Expected behaviour

fig starting

### Actual behaviour

fig not starting due an error

[2022-11-25 00:22] julianpinedayyz commented on #2064
I have the same issue. Running Fig on a M! and an Intel. On the Intel is failing. Running the command above on my Intel does not solve the issue. But the menu still shows up

<img width="432" alt="Monosnap Fig Autocomplete 2022-11-24 19-19-15" src="https://user-images.githubusercontent.com/918851/203877405-af51ef15-76ba-4e77-af9c-f284ed8691b6.png">

Now, here's the difference between both machines

[2022-11-25 02:53] julianpinedayyz commented on #2064
Spoke too soon. Installation on the M1 shows perfect on the dashboard but doesn't work on the terminal. So 2 different issues

[2022-11-25 08:12] worekleszczy opened #2096 "bug: Fix block signals from getting delivered to process in kitty"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

When having enabled **CSI u intercept mode** in **fig** a

[2022-11-25 11:36] drmikecrowe commented on #1811
OK, I'll chime in (having similar issue):

* Using `zprezto` plugin

![image](https://user-images.githubusercontent.com/90312/203976845-2de6ffd4-13d0-4293-abfe-8b234bdd75bf.png)

Output of `fig diagnostic`:

[code]

[2022-11-25 13:13] ehahn9 opened #2097 "fig's popup appears far from the cursor position (iterm2)"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.0 (22A380)

### Expected behaviour

iterm2: fig prompts appear reasonable near the source (e.

[2022-11-25 13:18] pettomartino commented on #2097
Same issue here

`macOS 12.6` and webstorm

<img width="248" alt="image" src="https://user-images.githubusercontent.com/101433/203993823-478b662c-7dfc-4bfd-a93f-4ec2331b994e.png">

[2022-11-25 14:19] mamercad commented on #1483
Yep, I can't remember what it took though, I'm guessing an update.

[2022-11-25 15:35] Im-Fran commented on #2086
Just want to report that this also happens with headless setup.

[2022-11-25 16:10] bognarlaszlo commented on #2048
Hi @grant0417,

For me fig autocompletion is working with the `input-method ` integration, however I was not able to successfully install the `intellij` integration and (I think) because of this fig plugins (eg: oh-my-zsh) are not loaded.

I'm not sure if this should be a separate issue but it I'm almost sure it's related.

Thanks

[2022-11-26 14:35] syn2ed commented on #1556
same issue here

[2022-11-26 14:36] syn2ed commented on #1855
same issue here

[2022-11-26 21:30] adamegyed commented on #2018
I have the same issue with JetBrains IDEs installed through Toolbox, where the autocomplete window appears at the last location of  a previous/other terminal.
Leaving my small bit of research into this issue - I think it has something to do with the macOS input methods installation. I've attempted reinstall, re-running `fig install --input-method`, and others, but no Fig-controlled input method ap

[2022-11-27 19:59] donmccurdy commented on #1762
Same issue here on MacOS Venture 13.0.1. Changing autocomplete-related settings in the Fig UI has no effect, even after restarting Fig, the shell, etc. Changing settings in the `fig settings` CLI works immediately. Happy to share more debugging details if helpful.

[2022-11-27 22:29] ynsemrk opened #2098 "Console output during zsh initialization detected."
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.1.0 (22C5050e)

### Expected behaviour

dont want to see this message

### Actual behaviour

ac

[2022-11-27 22:43] vniehues opened #2099 "CTRL + SPACE not working as "show autocomplete" shortcut"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

pressing CTRL + SPACE should open the autocomplete box bu

[2022-11-27 22:44] vniehues commented on #2099
offtopic: Awesome issue template! Makes reporting stuff really easy! :)

[2022-11-28 01:02] kurucu opened #2100 "bug:"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

When running fig ssh <host>, I assume that (from the seco

[2022-11-28 03:27] pfouilloux opened #2101 "bug: cannot exit fullscreen or access the menu bar when the fig dashboard is maximised"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

MacOS Monterey 12.3.1

### Expected behaviour

Expected:
- To be able to see and interact with the close

[2022-11-28 06:56] viduy opened #2102 "bug: autocomplete not working anymore"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

show autocomplete panel when type

### Actual behaviour

[2022-11-28 07:40] hussamalnees99 opened #2103 "Fig failed to launch, Backtrace omitted. Run with RUST_BACKTRACE=1 environment variable to display it."
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

Ubuntu 22.04.1 LTS

### Expected behaviour

for fig to work properly

### Actual behaviour

fig failed t

[2022-11-28 12:24] drmikecrowe commented on #1811
More details:
* Looks like that code comes from `.local/share/fig/shell/bash.json` (and in other shells)
* If I remove that folder and restart fig, the problem goes away
* In the new fig folder in `.local/share`, there isn't a `shell` folder any more

[2022-11-28 13:28] cornips opened #2104 "fig doctor: "iTerm Bash Integration is out of date." while updated"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.1 (21G217)

### Expected behaviour

`fig doctor` should not show errors on iTerm Bash Integra

[2022-11-28 18:24] mmmurphy4 opened #2105 "auto complete tab not working"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 12.6.0 (21G115)

### Expected behaviour

The arrow keys should allow me to choose between the auto

[2022-11-28 18:31] squili commented on #1530
Fixed in latest version

[2022-11-28 18:31] #1530 closed

[2022-11-28 18:32] #1300 closed

[2022-11-28 18:34] squili commented on #1046
This should just work for new installations now

[2022-11-28 18:34] #1046 closed

[2022-11-28 18:36] squili commented on #326
This should be fixed in the latest release

[2022-11-28 18:36] #326 closed

[2022-11-28 18:39] squili commented on #1919
@andriilive Are you still encountering this issue?

[2022-11-28 18:42] squili commented on #1875
Could you check if this is still happening on the latest version of Fig?

[2022-11-28 19:46] grant0417 commented on #2086
This is fixed now, thanks for reporting 👍

[2022-11-28 19:46] #2086 closed

[2022-11-28 20:36] mschrage commented on #2097
@ehahn9 @pettomartino if you navigate to a different window and then go back to iTerm does the autocomplete window get positioned directly.

[2022-11-28 20:39] mschrage commented on #2099
Thanks for reporting!

[2022-11-28 20:45] mschrage commented on #2105
Hey @mmmurphy4! Can you share a screen recording? Also what happens if you open a new terminal session?

[2022-11-28 21:02] mmmurphy4 commented on #2105
The same thing happens if I open up a new terminal.

https://user-images.githubusercontent.com/5483972/204380287-f217b74f-9e23-4c94-9f34-94327a4c5951.mov

[2022-11-28 21:02] grant0417 commented on #2092
Hey @andresfdel17, do you have any more details on what was going on here? The logs don't really help as these are not a real error and will be resolved in the next version.

[2022-11-28 21:03] grant0417 commented on #2093
Hey @MPeloquin can you share the output of this `env | grep COLOR`

[2022-11-28 21:05] grant0417 commented on #2083
Had a debugging call, seems the issue was lots of imported aliases/env vars did not play well in fish.

@brendanfalk we prob want to only import the dotfiles for the shell that they were imported from.

Going to close this however

[2022-11-28 21:05] #2083 closed

[2022-11-28 21:07] MPeloquin commented on #2093
@grant0417
[code]

[2022-11-28 21:09] grant0417 commented on #2104
You need to update your iterm integrations you, you can see how to here: https://iterm2.com/documentation-shell-integration.html

Will include this in the error in future version of Fig!

[2022-11-28 21:09] #2104 closed

[2022-11-28 21:12] andresfdel17 commented on #2092
Hi @grant0417 , actually my fig app is working normally. I don´t know what happened. You can close this issue

[2022-11-28 21:13] grant0417 commented on #2103
Hey @hussamalnees99 can you try to update to the latest version of Fig on Linux by running this: `curl -fSsL https://repo.fig.io/scripts/install.sh | bash`

[2022-11-28 21:13] #2092 closed

[2022-11-28 21:14] grant0417 commented on #2093
Seems that is the issues, those are causing the generators to include colors in the title, I will make sure this is resolved in Fig 2.9, the temporary fix is to run `unset CLICOLOR` and `unset CLICOLOR_FORCE`

[2022-11-28 21:15] MPeloquin commented on #2093
Working, thank you!!

[2022-11-28 21:15] #2093 closed

[2022-11-28 21:25] grant0417 commented on #2102
Are you using `fish` as your shell?

[2022-11-28 21:26] grant0417 commented on #2098
Hey @ynsemrk can you share a screenshot of what you are referring to?

[2022-11-28 22:05] Im-Fran commented on #2086
Awesome!

[2022-11-28 23:01] mmmurphy4 commented on #2105
hmm, after multiple restarts of fig and turn autocomplete off/on it has decided to work. Unsure why

[2022-11-28 23:01] #2105 closed

[2022-11-28 23:09] SupianIDz opened #2106 "Support for Guake Terminal"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

I think it will be lacking if Guake is not supported, because the guake terminal is very powerful and popular.

More information about this [terminal](http://guake-project.org/)

[2022-11-29 01:21] viduy commented on #2102
No, I'm using `zsh` but install `fish` before.

[2022-11-29 01:26] grant0417 commented on #2106
Will try to get this in before Fig 2.9 release

[2022-11-29 01:28] grant0417 commented on #2088
We have a fix in progress for the WebStorm not working

[2022-11-29 01:29] grant0417 commented on #2102
Could you try reinstalling it and see if fig works, not sure if this would resolve it but just want to see, of course fish should not be required but it might be breaking it since you had it in the past and not now.

[2022-11-29 01:31] grant0417 commented on #2094
Hey @kryonai, can you try to update to the beta with `fig settings app.beta true` and see if it is fixed there, we just did a big rewrite of the workflow interface that resolved a lot of bugs!

[2022-11-29 01:33] grant0417 commented on #2078
I believe this was a bug last week, it was resolved and should no longer occur, just run the workflow again and it should work!

[2022-11-29 01:33] #2078 closed

[2022-11-29 01:34] grant0417 commented on #2096
The "CSI u intercept mode" is still experimental, we are working on getting betters support for it in the next release, will update here when we make the changes.

[2022-11-29 01:36] #2035 closed

[2022-11-29 01:36] #2037 closed

[2022-11-29 02:11] grant0417 commented on #2082
Not too sure what is going on here, can you try restarting Fig and see if they appear?

[2022-11-29 02:12] grant0417 commented on #2101
Very weird! Think I understand what is going on however and will try to get this fixed for Fig 2.9

[2022-11-29 02:25] chungweileong94 commented on #2082
@grant0417 It actually fixed itself after one or two days, I am not sure what's going on, maybe it has something to do with the server side? But feel free to close this issue if necessary.

[2022-11-29 02:33] viduy commented on #2102
I uninstall `fish` by homebrew, but autocomplete still throws this error.

[2022-11-29 03:12] SimFG commented on #2051
I have the same problem, and look forward to solving the problem. 🤩

[2022-11-29 08:41] fabio-alkimia commented on #2088
PhpStorm too..

[2022-11-29 09:08] cornips commented on #2104
The problem is that I executed this command multiple times.
[code]

and in my ~/.zshrc I can find a line added to it:
[code]

But even after this, the response of `fig doctor` is as described.

[2022-11-29 11:43] felix-berlin commented on #2048
Looks like i have the very same issue like @koppieesq . I'm using Ventura (13.0.1) + PHP Storm.

[2022-11-29 15:00] mvgijssel commented on #1855
Updated Fig and macOS to the latest version

[code]

[code]

But unfortunately this did not resolve it, maybe even made it a little bit slower 😅.

[2022-11-29 16:37] pitosalas opened #2107 "What does (eval):3: no such file or directory: #!/bin/zsh tell me?"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Whenever my shell launches I get

(eval):3: no such file

[2022-11-29 19:08] #2025 closed

[2022-11-30 01:13] SupianIDz commented on #1779
I usually at work often deal with services / programs that need root privileges to do something, it's annoying every time commanding the service has to use `sudo` and enter the password over and over again, it's boring.

So since 2011 always login to my Linux always with root user to save a lot of time and the health of my fingers. While most people are against this, I've never had any damage issu

[2022-11-30 01:16] SupianIDz commented on #1779
Work as expected, thank you.

[2022-11-30 04:17] #1779 closed

[2022-11-30 04:34] u2633 opened #2108 "Enter or autcomplete doesn't work"
### Checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my issue
- [X] I have run `fig doctor` in the affected terminal session
- [X] I have run `fig restart` and replicated the issue again

### Operating system

macOS 13.0.1 (22A400)

### Expected behaviour

Enter Tab key to do autocomplete, or Enter key to execute

[2022-11-30 07:00] VaclavKlima opened #2109 "PHPstorm console incorrect location when using two or more monitors"
### Sanity checks

- [X] I have searched [github.com/withfig/fig/issues](https://github.com/withfig/fig/issues?q=) and there are no duplicates of my feature

### Feature Details

Hi, I'm using PHPstorm with the external monitor on my mac and every time fig opens in the right lower corner on the main mac monitor when using a console in the editor.

Mac: MacBook Pro 14-inch, 2021
Os version: 13.0.1

[2022-11-30 07:03] VaclavKlima commented on #2109
<img width="1498" alt="Screenshot 2022-11-30 at 8 02 30" src="https://user-images.githubusercontent.com/61498435/204729498-4db069f4-d57e-460a-8bc4-c7a7441802dd.png">

Here is the full screen with the position of the fig window.

[2022-11-30 07:11] Kogol1 commented on #2109
I have a similar problem with the same M1 model/MacOS version. It was fine before the macOS update to Ventura. Fig autocomplete is working fine without any external monitor, after connecting two DELL monitors I can not see autocomplete in PHP storm nor in Terminal.

[2022-11-30 11:35] imgrant commented on #1875
Yes, it still happens unfortunately. I am actually on a new Mac since I reported this, so I have had the luxury of setting it up again. Hence, I just installed the latest Fig, added fish (so a clean fish config), and it still happens.

I was further able to test, removing just the pre file, `~/.config/fish/conf.d/00_fig_pre.fish`, fixes the issue (i.e. post file is fine). Additionally, it doesn't

[2022-11-30 12:53] worekleszczy commented on #2096
@grant0417 sure, just letting you know that the problem exists 🙃 Fortunately after disabling it all works good, so it's not preventing me from using **fig** with **kitty**, which is great

[2022-11-30 18:32] jahirfiquitiva commented on #2064
I have the same issue 😫 ... It keeps showing it's not correctly installed, when I run the commands they always show the same, but the message never goes away. Still, fig works fine

![Shot 2022-11-30 at 13 31 04@2x](https://user-images.githubusercontent.com/10360816/204879622-3159df89-7c71-42df-b2c6-a45feb665f1e.png)

![Shot 2022-11-30 at 13 15 00@2x](https://user-images.githubusercontent.com/1036

[2022-11-30 20:54] mschrage commented on #2107
Have you added anything to your Fig Dotfiles?

[2022-11-30 20:57] pitosalas commented on #2107
Yes. And I think I figured it out. The actual script file had a weird order and so it was just a metter of reordering.

Still it would help for debugging if I could somehow see what command was generating the error, i.e. what the line:3 corresponded to.

Anyway, my immediate problem was solved.

Thanks

- Pito

[2022-11-30 21:52] adamgreenhall commented on #2042
@grant0417 did this bug get reintroduced in `v2.8.0`? Seeing the same problem today (it had been working since the update to `v2.7.9`)